<div [@routerTransition]>
    <app-page-header [heading]="'LIST OF DEBIT MEMO'" [icon]="'fa-th-list'"></app-page-header>
    <app-shortcut [listShortcut]='keyService.getKeys()'></app-shortcut>
    <div class="block anchor-scroll block-order">
        <section id="statusIndicator" class="status-indicator-section">
            <ul class="status-ctn dashboard-content">
                <li style="cursor: pointer;" (click)="filter(item.status)" *ngFor="let item of listMaster['count-status']" class="status-item dashboard-stat {{item.color}}">
                    <img *ngIf="item.img" [src]="item.img" alt="">
                    <div class="status-count">{{ item.count || 0 }}</div>
                    <div class="status-lbl text-uppercase">{{ item.name }}</div>
                </li>
            </ul>
        </section>
        <div class="block-content pd-bottom bg-gray-light short-width">
            <div class="row">
                <form class="form-horizontal form-search" role="form" [formGroup]="searchForm">
                    <div class="block-search">
                        <label for="sale_quote_num" class="control-label">DR No</label>
                        <input #drNo [keyConfig]="keyService.getKeyConfig()" appKeyNavigate="code"
                        autofocus="true" type="text" name="inv_num" formControlName="no" class="form-control" placeholder="">
                    </div>
                    <div class="block-search">
                        <label for="buyer_name" class="control-label" translate>Customer</label>
                        <input type="text" name="cus_name" formControlName="company_name" class="form-control" placeholder="">
                    </div>
                    <div class="block-search">
                        <label for="sts" class="control-label">Status</label>
                        <ng-select [multiple]="true" [items]="listMaster['status']" bindLabel="name" bindValue="id" formControlName="sts">
                        </ng-select>
                    </div>
                    <div class="block-search">
                        <label for="type" class="control-label" translate>Date Type</label>
                        <select class="form-control" formControlName="date_type">
                            <option *ngFor="let item of listMaster['dateType']" [ngValue]="item.id">{{item.name}}</option>
                        </select>
                    </div>
                    <div class="block-search">
                        <label for="" class="control-label" translate>From</label>
                        <div class="date-group">
                            <div clickOutside (clickOutside)="d1.close()" class="input-group">
                                <input [maxDate]="searchForm.value.date_to | dateObj" class="form-control" (keydown)="$event.preventDefault()" autocomplete="off" formControlName="date_from" placeholder="mm/dd/yyyy" name="dp" ngbDatepicker #d1="ngbDatepicker">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" (click)="d1.toggle()" type="button">
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="block-search" *ngIf="searchForm.value.date_type == 1">
                        <label for="" class="control-label" translate>From</label>
                        <div class="date-group">
                            <div clickOutside (clickOutside)="d1.close()" class="input-group">
                                <input [maxDate]="searchForm.value.due_date_to | dateObj" class="form-control" (keydown)="$event.preventDefault()" autocomplete="off"
                                    formControlName="due_date_from" placeholder="mm/dd/yyyy" name="dp" ngbDatepicker #d1="ngbDatepicker">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" (click)="d1.toggle()" type="button">
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <div class="block-search">
                        <label for="" class="control-label" translate>To</label>
                        <div class="date-group">
                            <div clickOutside (clickOutside)="dt2.close()" class="input-group">
                                <input [minDate]="searchForm.value.date_from | dateObj" class="form-control" (keydown)="$event.preventDefault()" autocomplete="off" formControlName="date_to" placeholder="mm/dd/yyyy" name="dp" ngbDatepicker #dt2="ngbDatepicker">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" (click)="dt2.toggle()" type="button">
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- <div class="block-search" *ngIf="searchForm.value.date_type == 1">
                        <label for="" class="control-label" translate>To</label>
                        <div class="date-group">
                            <div clickOutside (clickOutside)="dt2.close()" class="input-group">
                                <input [minDate]="searchForm.value.due_date_from | dateObj" class="form-control" (keydown)="$event.preventDefault()" autocomplete="off"
                                    formControlName="due_date_to" placeholder="mm/dd/yyyy" name="dp" ngbDatepicker #dt2="ngbDatepicker">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" (click)="dt2.toggle()" type="button">
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div> -->

                </form>
                <div class="block-btn-search">
                    <label class="control-label">&nbsp;</label>
                    <div class="group-btn-search">
                        <!-- <button type="button" class="btn-default-custom" (click)="moreFilter()">More Filter</button>
                            <div class="show-more" [hidden]="!onoffFilter">
                                <ul class="mt-2">
                                    <li *ngFor="let item of listMaster['listFilter']; let i = index;">
                                        <label for="{{i}}">
                                            <input #inp type="checkbox" value="item.value" [(ngModel)]="item.value"> {{item.name}}
                                        </label>
                                    </li>
                                </ul>
                            </div> -->
                        <button type="button" class="btn-default-custom" (click)="tableService.searchAction()">Search</button>
                        <button type="button" class="btn-default-custom" (click)="tableService.resetAction(this.searchForm)">Reset</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mg-top-10">
            <div class="col-12">
                <div class="card no-border">
                    <div class="card-header">
                        <strong>Line Items</strong>
                        <button *ngIf="listMaster['permission'].create" [routerLink]="['create']" style="margin:0; float:right" class="btn btn-link"> <i class="fa fa-plus text-success"></i> Create Debit Memo</button>
                    </div>
                    <div class="card-body no-padding">
                        <div class="table-responsive list">
                            <table class="table table-bordered table-order" cdArrowTable [collection]="listDebitMemo" [(selectedIndex)]="selectedIndex">
                                <thead class="bg-white">
                                    <tr>
                                        <th style="width:50px"></th>
                                        <th>Debit Memo No</th>
                                        <th>Issue Date</th>
                                        <th>Customer Name</th>
                                        <th>Related Document</th>
                                        <th>Due Date</th>
                                        <th>Total Due</th>
                                        <th>Balance Due</th>
                                        <th>Status</th>
                                        <th>Aged Overdue</th>
                                        <th>Last Updated Date</th>
                                        <th>Last Updated By</th>
                                        <th class="text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody *ngFor="let debit of listDebitMemo; let i = index;" [ngClass]="{'row-selected': i == selectedIndex}">
                                    <tr>
                                        <td class="text-center">
                                            <img *ngIf="!debit.qbo_sync" src="assets/img/qbicon-gray.png" width="20px" height="20px">
                                            <img *ngIf="debit.qbo_sync" src="assets/img/qbicons.png" width="20px" height="20px">
                                            <!-- <a *ngIf="debit.sts_code == 'CP'" href="https://sandbox.qbo.intuit.com/app/sales" target="_blank">
                                                <img placement="top" ngbTooltip="Sent Invoice To QuickBooks {{debit.updated_at}}"
                                                    src="../../assets/img/qbicons.png" width="20px" height="20px">
                                            </a> -->
                                        </td>
                                        <td><a href="javascript: void(0)" *ngIf="listMaster['permission'].view" class="text-primary" (click)="onViewDebitMemo(debit.id)">{{debit.no}}</a></td>
                                        <td class="text-center">{{debit.issue_date | date:'MM/dd/yyyy'}}</td>
                                        <td>{{debit.company_name}}</td>
                                        <td>{{debit.doc_no}}</td>
                                        <td class="text-center">{{debit.due_date | date:'MM/dd/yyyy'}}</td>
                                        <td>{{debit.total_price | currency}}</td>
                                        <td>{{debit.balance_price | currency}}</td>
                                        <td class="text-center">
                                            <span class="badge badge-info bg-blue" *ngIf="debit.sts == 1">{{debit.sts_name}}</span>
                                            <span class="badge badge-warning bg-texas-rose" *ngIf="debit.sts == 2">{{debit.sts_name}}</span>
                                            <span class="badge badge-danger bg-magenta" *ngIf="debit.sts == 3">{{debit.sts_name}}</span>
                                            <span class="badge badge-success bg-strong-green" *ngIf="debit.sts == 4">{{debit.sts_name}}</span>
                                            <span class="badge badge-primary bg-darkblue" *ngIf="debit.sts == 5">{{debit.sts_name}}</span>
                                            <span class="badge badge-primary bg-lemon" *ngIf="debit.sts == 6">{{debit.sts_name}}</span>
                                            <span class="badge badge-danger bg-red" *ngIf="debit.sts == 7">{{debit.sts_name}}</span>
                                            <span class="badge badge-primary bg-bright-grey" *ngIf="debit.sts == 8">{{debit.sts_name}}</span>
                                        </td>
                                        <td>{{debit.aged}}</td>
                                        <td class="text-center">{{debit.updated_at | date:'MM/dd/yyyy'}}</td>
                                        <td>{{debit.updated_by}}</td>
                                        <td class="text-left">
                                            <a href="javascript:void(0)" class="btn btn-default " *ngIf="(debit.sts === 1) && listMaster['permission'].edit" ngbTooltip="Edit" (click)="onEditDebitMemo(debit.id)">
                                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                            </a>
                                            <a href="javascript:void(0)" class="btn btn-default " *ngIf="(debit.sts === 1) && listMaster['permission'].submit" ngbTooltip="Submit" (click)="onChangeDebitStatus(debit.id, 2)">
                                                <i class="fa fa-caret-square-o-right" aria-hidden="true"></i>
                                            </a>
                                            <a href="javascript:void(0)" class="btn btn-default " *ngIf="(debit.sts === 2) && (currentuser['id'] == debit.approver_id) && listMaster['permission'].approve" ngbTooltip="Approve" (click)="onChangeDebitStatus(debit.id, 3)">
                                                <i class="fa fa-check" aria-hidden="true"></i>
                                            </a>
                                            <a href="javascript:void(0)" class="btn btn-default " *ngIf="(debit.sts === 2) && (currentuser['id'] == debit.approver_id) && listMaster['permission'].reject" ngbTooltip="Reject" (click)="onChangeDebitStatus(debit.id, 4)">
                                                <i class="fa fa-ban" aria-hidden="true"></i>
                                            </a>
                                            <a href="javascript:void(0)" *ngIf="listMaster['permission'].view" class="btn btn-default " ngbTooltip="View" (click)="onViewDebitMemo(debit.id)">
                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                            </a>
                                            <a href="javascript:void(0)" *ngIf="listMaster['permission'].print" class="btn btn-default" ngbTooltip="Print" (click)="onPrintDebitMemo(debit.id, debit.no)">
                                                <i class="fa fa-download" aria-hidden="true"></i>
                                            </a>
                                            <a href="javascript:void(0)" class="btn btn-default" *ngIf="(debit.sts === 1) && listMaster['permission'].cancel" ngbTooltip="Cancel" (click)="onChangeDebitStatus(debit.id, 5)">
                                                <i class="fa fa-times-circle" aria-hidden="true"></i>
                                            </a>
                                            <a href="javascript:void(0)" class="btn btn-default" *ngIf="(debit.sts === 4) && listMaster['permission'].reopen" ngbTooltip="Reopen" (click)="onChangeDebitStatus(debit.id, 1)">
                                                <i class="fa fa-clone" aria-hidden="true"></i>
                                            </a>
                                            <a href="javascript:void(0)" class="btn btn-default" *ngIf="(debit.sts === 3 || debit.sts === 8) && listMaster['permission'].pay" ngbTooltip="Receive Payment" (click)="onReceivePaymentDebitMemo()">
                                                <i class="fa fa-money" aria-hidden="true"></i>
                                            </a>
                                            <a href="javascript:void(0)" class="btn btn-default" *ngIf="(debit.sts != 1) && (debit.sts != 4) && (debit.sts != 5) && (listMaster['permission'].mail)" ngbTooltip="Send Mail" (click)="onSendMail(debit.id)">
                                                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                            </a>
                                        </td>
                                    </tr>

                                </tbody>
                                <tbody *ngIf="listDebitMemo.length == 0">
                                    <tr>
                                        <td colspan="100%" class="text-center" translate>No data.</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-12 no-padding">

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row normal-pagination mg-top-10" *ngIf="listDebitMemo.length > 0">
            <div class="col-md-6 padding-lr-0">
                <div class="text-left">
                    <div class="col-md-6" style="padding-left: 0px;">
                        <span style="float: left; padding-right: 10px;">{{listDebitMemo.length}}/{{tableService.pagination.total_record}} items</span>
                        <select style="width: 50px; float: left;" class="form-control" [(ngModel)]="tableService.pagination.length" (change)="tableService.changeLength()">
                            <option *ngFor="let option of tableService.itemPerPageOptions" [ngValue]="option">{{option}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-6 padding-lr-0">
                <div class="text-right">
                    <ngb-pagination class="d-flex justify-content-end" (pageChange)="tableService.changePage($event)" [pageSize]="tableService.pagination.length" [collectionSize]="tableService.pagination.total_record || 120" [(page)]="tableService.pagination.page" [maxSize]="tableService.maxSize"
                        [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
                </div>
            </div>
        </div>
    </div>
</div>
