<section>
    <div class="block-header bg-red-dark text-white">
        <h3 class="block-title-lg" translate>CREATE NEW BUDGET</h3>
        <div class="wrap-keyboard">
            <span class="fa fa-keyboard-o my-own-cheatsheet"></span>
        </div>
    </div>
</section>

<section class="rma-page block">
    <div class="row" style="padding-top:15px">
        <div class="col-sm-12">
            <div class="block-header bg-gray-lighter">
                <h3 class="block-title" translate>GENERAL INFORMATION</h3>
            </div>
        </div>
    </div>
    <div>
        <form [formGroup]="generalForm" class="form-search full-width form-horizontal">
            <div class="row col-md-12">
                <div class="col-md-2">
                    <label for="campaign" class="control-label" translate>Campaign</label>
                    <input type="text" class="form-control" name="rma" formControlName="cd" [attr.disabled]='true'>
                </div>
                <div class="col-md-2">
                    <label for="campaign_name" class="control-label" translate>Name</label>
                    <span class="text-danger">( * )</span>
                    <input type="text" class="form-control" name="campaign_name" formControlName="name">
                </div>

                <div class="col-md-2">
                    <label for="created_on" class="control-label" translate>Start date</label>
                    <span class="text-danger">( * )</span>
                    <div class="input-group">
                        <input [maxDate]='toDateObject(generalForm.value.end_dt)' class="form-control" placeholder="yyyy-mm-dd" name="dp" formControlName="start_dt" ngbDatepicker #df="ngbDatepicker">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" (click)="df.toggle()" type="button">
                                            <i class="fa fa-calendar" aria-hidden="true"></i>
                                      </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <label for="created_on" class="control-label" translate>End date</label>
                    <div class="input-group">
                        <input [minDate]='toDateObject(generalForm.value.start_dt)' class="form-control" placeholder="yyyy-mm-dd" name="dp" formControlName="end_dt" ngbDatepicker #dt="ngbDatepicker">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" (click)="dt.toggle()" type="button">
                                            <i class="fa fa-calendar" aria-hidden="true"></i>
                                      </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <label for="end_date" class="control-label" translate>Sync To Web </label>
                    <span class="text-danger">( * )</span>
                    <div>
                        <label class="css-input css-checkbox css-checkbox-default">
                            <input class="cb-element" type="checkbox" formControlName="is_default">
                            <span></span>
                        </label>
                    </div>
                </div>

            </div>
            <div class="row col-sm-12">
                <div class="col-md-2">
                    <label for="sts" class="control-label" translate>Status </label>
                    <span class="text-danger">( * )</span>
                    <select name="sts" formControlName="sts" class="form-control">
                        <option *ngFor="let item of listMaster['status']" [value]="item.id">{{ item.name }}</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <label for="base_on" class="control-label" translate>Base On </label>
                    <span class="text-danger">( * )</span>
                    <select name="base_on" formControlName="based_on" class="form-control">
                        <option *ngFor="let item of listMaster['baseOn']" [value]="item.id">{{ item.name }}</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <label for="sts" class="control-label" translate>Budget </label>
                    <span class="text-danger">( * )</span>
                    <select name="sts" formControlName="promotion_budget_id" class="form-control">
                        <option *ngFor="let item of listMaster['budget']" [value]="item.id">{{ item.value }}</option>                            
                    </select>
                </div>
                <div class="col-md-2">
                    <label for="sts" class="control-label" translate>Customer Segment </label>
                    <span class="text-danger">( * )</span>
                    <select name="sts" formControlName="customer_segment_id" class="form-control">
                        <option *ngFor="let item of listMaster['customerSegment']" [value]="item.id">{{ item.cd +'-'+ item.name }}</option>                            
                      </select>
                </div>

            </div>
        </form>
    </div>

    <div class="row" style="padding-top:15px">
        <div class="col-sm-12">
            <div class="block-header bg-gray-lighter">
                <h3 class="block-title" translate>PROMOTION PROGRAM</h3>
            </div>
        </div>
    </div>
    <div class="row" style="margin-bottom: 20px;margin-top: 10px;">
        <div class="col-sm-12">
            <div class="block-content">
                <table class="table-striped table-vcenter table-hover custom-table">
                    <thead>
                        <tr>
                            <th style="width:20px" role="button" translate> No </th>
                            <th style="width:10%" role="button" translate> Promo Level </th>
                            <th style="width:8%" role="button" translate> Name </th>
                            <th style="width:8%" role="button" translate> Promo Type </th>
                            <th style="width:5%" role="button" class="text-center" translate> Free Gifts </th>
                            <th style="width:5%" role="button" class="text-center" translate> Discount </th>
                            <th style="width:5%" role="button" class="text-center" translate> Credit </th>
                            <th style="width:10%" role="button" translate> Start Date </th>
                            <th style="width:10%" role="button" translate> End Date </th>
                            <th style="width:8%" role="button" translate> Status </th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of data['programs']; let $index = index;">
                            <td>{{ $index + 1 }}</td>
                            <td>
                                <select class="form-control" [(ngModel)]="item.level" required (change)="checkLevel(item)">
                                    <option *ngFor="let item of listMaster['promotionLevel']" [value]="item.id">{{ item.name }}</option>
                                </select>
                            </td>
                            <td>
                                <input type="text" class="form-control" [(ngModel)]="item.name">
                            </td>
                            <td>
                                <select class="form-control" [(ngModel)]="item.type" required>
                                    <option *ngFor="let it of item['typeProgram']" [value]="it.id">{{ it.name }}</option>
                                </select>
                            </td>
                            <td class="text-center">

                                <label class="css-input css-checkbox css-checkbox-default">
                                    <input  [disabled]="item.level == 3" class="cb-element" type="checkbox" [(ngModel)]="item.is_promo_goods">
                                    <span></span>
                                </label>
                            </td>
                            <td class="text-center">
                                <label class="css-input css-checkbox css-checkbox-default">
                                    <input class="cb-element" type="checkbox"  [(ngModel)]="item.is_dsct"  [disabled]="item.level ==4">
                                    <span></span>
                                </label>
                            </td>
                            <td class="text-center">
                                <label class="css-input css-checkbox css-checkbox-default">
                                    <input class="cb-element" type="checkbox" [(ngModel)]="item.is_acc_bal"  [disabled]="item.level ==3">
                                    <span></span>
                                </label>
                            </td>
                            <td>
                                <div class="input-group">
                                    <input [maxDate]='toDateObject(item.end_dt)' class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="item.start_dt" ngbDatepicker #dt="ngbDatepicker">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" (click)="dt.toggle()" type="button">
                                            <i class="fa fa-calendar" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="input-group">
                                    <input [minDate]='toDateObject(item.start_dt)' class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="item.end_dt" ngbDatepicker #df="ngbDatepicker">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" (click)="df.toggle()" type="button">
                                            <i class="fa fa-calendar" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <select class="form-control" [(ngModel)]="item.sts" required>
                                    <option *ngFor="let item of listMaster['status']" [value]="item.id">{{ item.name }}</option>
                                </select>
                            </td>
                            <td>
                                <button type="button" (click)="goPromoDetail(item)" class="btn btn-secondary" placement="top" ngbTooltip="Go Promo Detail">
                                    <i class="fa fa-align-justify"></i>
                                </button>
                                <button type="button" (click)="remove($index)" class="btn btn-secondary" placement="top" ngbTooltip="Remove">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="11">
                                <a href="javascript:void(0)" (click)="clickAdd()">
                                    <i class="fa fa-plus" aria-hidden="true"></i> <span translate>Add New Promotion Program</span></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>


    <div class="block-content block-content-full text-right">
        <button type="button" class="btn btn-default" [routerLink]="['/promotion/campaign']" translate>Cancel</button>
        <button [disabled]="!generalForm.valid" type="button" class="btn btn-primary" (click)="updateCampain()" translate>Save</button>
    </div>
</section>