<div class="modal-style">
    <div class="modal-header">
        <p class="second-title">{{ modalTitle }}</p>
        <button type="button" (click)="cancel()" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body" style="padding-bottom:10px;">
        <form [formGroup]="branchForm" class="form-horizontal" role="form">
            <div class="row">
                <div class="form-group col-sm-12">
                    <label for="" class="control-label">Bank Name</label>
                    <span class="text-danger">(*) </span>
                    <input type="text" class="form-control" formControlName="bankname">
                </div>
                <div class="form-group col-sm-12">
                    <label for="" class="control-label">Branch Name</label>
                    <span class="text-danger">(*) </span>
                    <input type="text" formControlName="name" class="form-control">
                </div>
                <div class="form-group col-sm-12">
                    <label for="" class="control-label">Country</label>
                    <span class="text-danger">(*) </span>
                    <select (change)="changeCountry()" class="form-control" formControlName="country_code">
                            <option value="null" selected="true">--Select--</option>
                            <option *ngFor="let item of listMaster['countries']" [ngValue]="item.cd">{{item.name}}</option>
                    </select>
                </div>
                <div class="form-group col-sm-12">
                    <label for="" class="control-label">Address Line</label>
                    <span class="text-danger">(*) </span>
                    <input type="text" formControlName="address" class="form-control">
                </div>
                <div class="form-group col-sm-12">
                    <label for="" class="control-label">City</label>
                    <span class="text-danger">(*) </span>
                    <input type="text" formControlName="city" class="form-control">
                </div>
                <div class="form-group col-sm-12">
                    <label for="" class="control-label">State</label>
                    <select class="form-control" formControlName="state_id" name="primary_state" ng-options="item.id as (item.name) for item in listState">
                            <option value="null" selected="true">--Select--</option>
                            <option *ngFor="let item of listMaster['state']" [ngValue]="item.id">{{item.name}}</option>
                    </select>
                </div>
                <div class="form-group col-sm-12">
                    <label for="" class="control-label">Zip Code</label>
                    <span class="text-danger">(*) </span>
                    <input type="text" formControlName="zip_code" class="form-control">
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer" style="padding-top: 0">
        <div class="form-group" style="margin-top: 20px;">
            <div class="text-center">
                <button [disabled]="!branchForm.valid" style="width: 70px" class="btn btn-primary" type="button" (click)="ok()">OK</button>
                <button class="btn btn-default" type="button" (click)="cancel()">Cancel</button>
            </div>
        </div>
    </div>
</div>