<div class="block anchor-scroll">
    <app-page-header [heading]="'PART MANAGEMENT'" [icon]="'fa-th-list'"></app-page-header>
    <app-shortcut [listShortcut]='itemKeyService.getKeys()'></app-shortcut>
    <div class="search-block block-content pd-bottom tab-content pt-3">
        <div class="row">
            <ngb-tabset #tabSet class="tab-header" activeId="vehicle" type="pills" (tabChange)="resetTab()">
                <ngb-tab id="search" title="SEARCH BY:" [disabled]="true">
                    <ng-template ngbTabContent>

                    </ng-template>
                </ngb-tab>
                <ngb-tab id="vehicle" title="VEHICLE">
                    <ng-template ngbTabContent>
                        <form class="form-horizontal form-search form-vehicle" [formGroup]="searchForm">
                            <label for="type" class="control-label">Year From</label>
                            <div class="block-search">
                                <select formControlName="year_from" class="form-control">
                                    <option value="null" selected="true" translate disabled>--Select--</option>
                                    <option *ngFor="let de of listMaster['years']" [ngValue]="de.id">{{de.name}}</option>
                                </select>
                            </div>
                            <label for="type" class="control-label" translate>Year To</label>
                            <div class="block-search">
                                <select formControlName="year_to" class="form-control">
                                    <option value="null" selected="true" translate disabled>--Select--</option>
                                    <option *ngFor="let de of listMaster['years']" [ngValue]="de.id">{{de.name}}</option>
                                </select>
                            </div>
                            <label for="type" class="control-label" translate>Make</label>
                            <div class="block-search">
                                <select formControlName="make_id" class="form-control">
                                    <option value="null" selected="true" translate disabled>--Select--</option>
                                    <option *ngFor="let de of listMaster['makes']" [ngValue]="de.make_id">{{de.name}}</option>
                                </select>
                            </div>
                            <label for="type" class="control-label" translate>Model</label>
                            <div class="block-search">
                                <select (change)="changeToGetSubModel()" formControlName="model_id" class="form-control">
                                    <option value="null" selected="true" translate disabled>--Select--</option>
                                    <option *ngFor="let de of listMaster['models']" [ngValue]="de.model_id">{{de.name}}</option>
                                </select>
                            </div>
                            <div class="block-btn-search">
                                <label class="control-label">&nbsp;</label>
                                <div>
                                    <button type="button" class="btn btn-primary" (click)="tableService.searchActionWithFilter()" translate>Search</button>
                                    <button type="button" class="btn btn-default" (click)="tableService.resetAction(filterForm);tableService.resetAction(searchForm)" translate>Reset</button>
                                </div>
                            </div>
                        </form>
                    </ng-template>
                </ngb-tab>
                <ngb-tab id="part_number" title="PART NUMBER">
                    <ng-template ngbTabContent>
                        <form class="form-horizontal form-search form-part-number" [formGroup]="searchForm">
                            <label for="so" class="control-label" translate>OEM #</label>
                            <div class="block-search">
                                <input type="text" name="so" formControlName="oem" class="form-control">
                            </div>
                            <label for="so" class="control-label" translate>Partlinks #</label>
                            <div class="block-search">
                                <input type="text" name="so" formControlName="partlinks_no" class="form-control">
                            </div>
                            <label for="so" class="control-label" translate>Part #</label>
                            <div class="block-search">
                                <input type="text" name="so" formControlName="part_no" class="form-control">
                            </div>
                            <label for="type" class="control-label" translate>Cert</label>
                            <div class="block-search">
                                <select formControlName="certification" class="form-control">
                                    <option value="null" selected="true" disabled translate>--Select--</option>
                                    <option *ngFor="let de of listMaster['certification']" [ngValue]="de.code">{{de.value}}</option>
                                </select>
                            </div>
                            <div class="block-btn-search">
                                <label class="control-label">&nbsp;</label>
                                <div>
                                    <button type="button" class="btn btn-primary" (click)="tableService.searchActionWithFilter()" translate>Search</button>
                                    <button type="button" class="btn btn-default" (click)="tableService.resetAction(filterForm);tableService.resetAction(searchForm)" translate>Reset</button>
                                </div>
                            </div>
                        </form>
                    </ng-template>
                </ngb-tab>
                <ngb-tab id="vin" title="VIN">
                    <ng-template ngbTabContent>
                        <form class="form-horizontal form-search" [formGroup]="searchForm">
                            <label for="so" class="control-label" translate>Number</label>
                            <div class="block-search">
                                <input type="text" name="so" formControlName="vin" class="form-control">
                            </div>
                            <div class="block-btn-search">
                                <label class="control-label">&nbsp;</label>
                                <div>
                                    <button type="button" class="btn btn-primary" (click)="tableService.searchActionWithFilter()" translate>Search</button>
                                    <button type="button" class="btn btn-default" (click)="tableService.resetAction(filterForm);tableService.resetAction(searchForm)" translate>Reset</button>
                                </div>
                            </div>
                        </form>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>

        </div>
    </div>
    <div class="block-content pt-4" *ngIf="list.items.length > 0">
        <!-- <h5 class="title-form">FILTER</h5> -->
        <div class="row">
            <form class="form-horizontal form-search form-vehicle" [formGroup]="filterForm">
                <label class="control-label" translate>
                    <h4 class="name_form">FILTER: </h4>
                </label>
                <label for="so" class="control-label" translate>Part Link</label>
                <div class="block-search">
                    <input type="text" class="form-control" formControlName="partlinks_no_filter">
                </div>
                <label for="so" class="control-label" translate>Part</label>
                <div class="block-search">
                    <input type="text" class="form-control" formControlName="part_no_filter">
                </div>
                <label for="type" class="control-label" translate>Category</label>
                <div class="block-search">
                    <ng-select class="select2-max-width" (change)="changeToGetSubCategory()" [multiple]="true" [items]="listMaster['categories']" bindLabel="name" bindValue="category_id" formControlName="category_id_filter">
                    </ng-select>
                </div>
                <!-- <label *ngIf="filterForm.value.category_id_filter" for="type" class="control-label" translate>Sub-Category</label>
                        <div class="block-search" *ngIf="filterForm.value.category_id_filter">
                            <ng-select class="select2-max-width" [multiple]="true" [items]="listMaster['sub_cat']" bindLabel="name" bindValue="category_id" formControlName="sub_category_id">
                            </ng-select>
                        </div> -->
                <label for="type" class="control-label" translate>Brand</label>
                <div class="block-search">
                    <ng-select class="select2-max-width" [multiple]="true" [items]="listMaster['brands']" bindLabel="name" bindValue="brand_id" formControlName="brand_id_filter">
                    </ng-select>
                </div>
                <label for="" class="control-label" translate>&nbsp;</label>
                <button type="button" class="btn btn-primary" (click)="tableService.searchActionWithFilter()" translate>Apply</button>
                <button type="button" class="btn btn-default" (click)="tableService.resetAction(filterForm)" translate>Reset</button>
            </form>
        </div>
    </div>

    <div class="row mg-top-10">
        <div class="col-12">
            <div class="card no-border">
                <div class="card-header">
                    <strong>Line Items</strong>
                    <button routerLink="/product-management/mass-price" style="margin:0; float:right" class="btn btn-link">Mass Update Price</button>
                </div>
                <div class="card-body no-padding">
                    <div class="table-responsive list">
                        <table class="table table-bordered table-order" cdArrowTable [collection]="list.items" [(selectedIndex)]="selectedIndex" (onEnter)="selectData($event)">
                            <thead class="bg-white">
                                <tr>
                                    <th>
                                        <label class="css-input css-checkbox css-checkbox-default">
                                        <input class="cb-all" type="checkbox" [(ngModel)]="checkAllItem" (change)="checkAll($event)">
                                        <span></span>
                                    </label>
                                    </th>
                                    <th translate>Part No</th>
                                    <th translate>Partlinks No</th>
                                    <th translate>Description</th>
                                    <th translate>Make</th>
                                    <th translate>Model</th>
                                    <th translate>Category</th>
                                    <th translate>Sub Category</th>
                                    <th translate>Brand</th>
                                    <th translate>Cert</th>
                                    <th translate>UOM</th>
                                    <th translate>OEM Price</th>
                                    <th translate>Cost Price</th>
                                    <th class="text-center">Sales Price</th>
                                    <th translate>Action</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let item of  list.items; let i = index;" [ngClass]="{'row-selected': i == selectedIndex}">
                                <tr>
                                    <td class="text-center">
                                        <label class="css-input css-checkbox css-checkbox-default">
                                        <input class="cb-element" type="checkbox" [(ngModel)]="item.is_checked" (change)="isAllChecked()">
                                        <span></span>
                                    </label>
                                    </td>
                                    <td>{{item.sku}}</td>
                                    <td>{{item.partlinks_no}}</td>
                                    <td>{{item.des}}</td>
                                    <td>{{item.make_name }}</td>
                                    <td>{{item.model_name}}</td>
                                    <td>{{item.ctgry_name}}</td>
                                    <td>{{item.sub_ctgry_name}}</td>
                                    <td>{{item.brand_name}}</td>
                                    <td>{{item.cert_name}}</td>
                                    <td>{{item.uom_name}}</td>
                                    <td>{{item.oem_price|currency:'$'}}</td>
                                    <td>{{item.cost_price|currency:'$'}}</td>
                                    <td>{{item.sale_price|currency:'$'}}</td>
                                    <td>
                                        <a class="btn btn-default" [routerLink]="['/product-management/part-list/detail/', item.item_id]">
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                    </a>
                                        <a class="btn btn-default" [routerLink]="['/product-management/part-list/edit/', item.item_id]">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    </a>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody *ngIf="list.items.length == 0">
                                <tr>
                                    <td colspan="100%" class="text-center" translate>No data.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>





    <div class="row normal-pagination mg-top-10" *ngIf="list.items.length > 0">
        <div class="col-md-6 padding-lr-0">
            <div class="text-left">
                <div class="col-md-6" style="padding-left: 0px;">
                    <span style="float: left; padding-right: 10px;">{{list.items.length}}/{{tableService.pagination.total_record}} items </span>
                    <select style="width: 50px; float: left;" class="form-control" [(ngModel)]="tableService.pagination.length" (change)="tableService.changeLength()">
                            <option *ngFor="let option of tableService.itemPerPageOptions" [ngValue]="option">{{option}}</option>
                        </select>
                </div>
            </div>
        </div>
        <div class="col-md-6 padding-lr-0">
            <div class="text-right">
                <ngb-pagination class="d-flex justify-content-end" (pageChange)="tableService.changePage($event)" [pageSize]="tableService.pagination.length" [collectionSize]="tableService.pagination.total_record || 120" [(page)]="tableService.pagination.page" [maxSize]="tableService.maxSize"
                  [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
            </div>
        </div>
    </div>


</div>
