<div [@routerTransition]>
    <app-page-header [heading]="'DETAIL PART MANAGEMENT'" [icon]="'fa-th-list'"></app-page-header>
    <!-- <app-shortcut [listShortcut]='keyService.getKeys()'></app-shortcut> -->
    <div class="row main-container block-order">
        <div class="col-md-9">
            <section class="rma-page block mt-7">
                <div class="row block-info">
                    <div class="col-md-7 p-l-5 p-r-2">
                        <div class="card height-100">
                            <div class="card-header">
                                <strong>Information</strong>
                            </div>
                            <div class="card-body">
                                <div class="row information height-100">
                                    <div class="col-md-5 bolder padding-l-25">
                                        <div class="form-group row">
                                            <label for="" class="col-6">Part No</label>
                                            <div class='col-6'>
                                                {{part.part_no}}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class='col-6'>Make</label>
                                            <div class='col-6 '>
                                                {{part.make_name}}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class='col-6'>Partlink No</label>
                                            <div class='col-6 '>
                                                {{part.partlinks_no}}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class='col-6'>Product Description</label>
                                            <div class='col-6'>
                                                {{part.des}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 customer-infomation">
                                        <div class="form-group row">
                                            <label for="" class="col-5">Year From</label>
                                            <div class='col-7'>
                                                {{part.yr_from}}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class='col-5'>Year To</label>
                                            <div class='col-7'>
                                                {{part.yr_to}}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class='col-5'>Brand</label>
                                            <div class='col-7'>
                                                {{part.brand_name}}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class='col-5'>Model</label>
                                            <div class='col-7'>
                                                {{part.model_name}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 customer-infomation bolder">
                                        <div class="form-group row">
                                            <label for="" class="col-5">Category</label>
                                            <div class='col-7'>
                                                {{part.ctgry_name}}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class='col-5'>Sub Category</label>
                                            <div class='col-7'>
                                                {{part.sub_ctgry_name}}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class='col-5'>UOM</label>
                                            <div class='col-7'>
                                                {{part.uom_name}}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class='col-5'>Certification</label>
                                            <div class='col-7'>
                                                {{part.cert_name}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 p-l-5 p-r-2">
                        <div class="card height-100">
                            <div class="card-header">
                                <strong>Shipping Package Information</strong>
                            </div>
                            <div class="card-body">
                                <div class="row information height-100">
                                    <div class="col-md-6 bolder padding-l-25">
                                        <div class="form-group row">
                                            <label for="" class="col-6">Length (m)</label>
                                            <div class='col-6'>
                                                {{part.len}}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class='col-6'>Width (m)</label>
                                            <div class='col-6 '>
                                                {{part.width}}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class='col-6'>Height (m)</label>
                                            <div class='col-6 '>
                                                {{part.height}}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class='col-6'>Volume (cbm)</label>
                                            <div class='col-6'>
                                                {{part.vol}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 customer-infomation">
                                        <div class="form-group row">
                                            <label class='col-6'>Gross Weight</label>
                                            <div class='col-6'>
                                                {{part.wt}}
                                            </div>
                                        </div>
                                        <form class="form-horizontal" [formGroup]="generalForm">
                                            <div class="form-group row">
                                                <label for="" class="col-6">Freight Class <span class="text-danger">(*)</span></label>
                                                <div class='col-6'>
                                                    <select readonly formControlName="freight_class" class="form-control">
                                            <option value="null" selected="true" translate disabled>--Select--</option>
                                            <option *ngFor="let de of listMaster['freight_class']" [ngValue]="de.id">{{de.name}}</option>
                                          </select>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="" class="col-6">Free Shipping<span class="text-danger">(*)</span></label>
                                                <div class='col-6'>
                                                    <select readonly formControlName="free_ship" class="form-control">
                                            <option value="null" selected="true" translate disabled>--Select--</option>
                                            <option *ngFor="let de of listMaster['listQuestion']" [ngValue]="de.id">{{de.name}}</option>
                                          </select>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="" class="col-6">UPS Shippable<span class="text-danger">(*)</span></label>
                                                <div class='col-6'>
                                                    <select readonly formControlName="ups" class="form-control">
                                            <option value="null" selected="true" translate disabled>--Select--</option>
                                            <option *ngFor="let de of listMaster['listQuestion']" [ngValue]="de.id">{{de.name}}</option>
                                          </select>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-7 p-l-5 p-r-2 mt-7">
                        <div class="card height-100">
                            <div class="card-header">
                                <strong>Pricing & Account Information</strong>
                            </div>
                            <div class="card-body">
                                <form class="form-horizontal" [formGroup]="generalForm">
                                    <div class="row information height-100">
                                        <div class="col-md-6 bolder padding-l-25">
                                            <div class="form-group row">
                                                <label for="" class="col-6">Inventory Account
                                                  <span class="text-danger">(*)</span>
                                                </label>
                                                <div class='col-6'>
                                                    <ng-select [disabled]="true" [items]="listMaster['account']" groupBy="group" formControlName="inventory_account_id" bindLabel="name" bindValue="id">
                                                        <ng-template ng-label-tmp let-item="item">
                                                            <b>{{item.name}}</b>
                                                        </ng-template>
                                                        <ng-template ng-optgroup-tmp let-item="item" let-index="index">
                                                            {{item.group}}
                                                        </ng-template>
                                                        <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                                                            <b>{{item.name}}</b>
                                                        </ng-template>
                                                    </ng-select>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class='col-6'>
                                                  Income Account
                                                  <span class="text-danger">(*)</span>
                                                </label>
                                                <div class='col-6 '>
                                                    <ng-select [items]="listMaster['account']" groupBy="group" formControlName="income_account_id" bindLabel="name" bindValue="id">
                                                        <ng-template ng-label-tmp let-item="item">
                                                            <b>{{item.name}}</b>
                                                        </ng-template>
                                                        <ng-template ng-optgroup-tmp let-item="item" let-index="index">
                                                            {{item.group}}
                                                        </ng-template>
                                                        <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                                                            <b>{{item.name}}</b>
                                                        </ng-template>
                                                    </ng-select>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class='col-6'>Sales Price
                                                  <span class="text-danger">(*)</span>
                                                </label>
                                                <div class='col-6 '>
                                                    <div class="input-group">
                                                        <input readonly type="text" class="form-control" formControlName="sell_price">
                                                        <div class="input-group-append">
                                                            <span class="input-group-text">$</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class='col-6'>Expense Account
                                                    <span class="text-danger">(*)</span>
                                                </label>
                                                <div class='col-6'>
                                                    <ng-select [items]="listMaster['account']" groupBy="group" formControlName="expense_account_id" bindLabel="name" bindValue="id">
                                                        <ng-template ng-label-tmp let-item="item">
                                                            <b>{{item.name}}</b>
                                                        </ng-template>
                                                        <ng-template ng-optgroup-tmp let-item="item" let-index="index">
                                                            {{item.group}}
                                                        </ng-template>
                                                        <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                                                            <b>{{item.name}}</b>
                                                        </ng-template>
                                                    </ng-select>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="" class="col-6">Taxable Item
                                                    <span class="text-danger">(*)</span>
                                                </label>
                                                <div class='col-6'>
                                                    <select readonly formControlName="is_taxable" class="form-control">
                                          <option value="null" selected="true" translate disabled>--Select--</option>
                                          <option *ngFor="let de of listMaster['listQuestion']" [ngValue]="de.id">{{de.name}}</option>
                                        </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 customer-infomation">
                                            <div class="form-group row">
                                                <label for="" class="col-5">Cost Price
                                                  <span class="text-danger">(*)</span>
                                                </label>
                                                <div class='col-7'>
                                                    {{part.cost_price}}
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="" class="col-5">OEM Price
                                                  <span class="text-danger">(*)</span>
                                                </label>
                                                <div class='col-7'>
                                                    {{part.oem_price}}
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class='col-5'>Call for Price</label>
                                                <div class='col-7'>
                                                    <select readonly formControlName="is_quotable" class="form-control">
                                          <option value="null" selected="true" translate disabled>--Select--</option>
                                          <option *ngFor="let de of listMaster['listQuestion']" [ngValue]="de.id">{{de.name}}</option>
                                        </select>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class='col-5'>Show Price on Store</label>
                                                <div class='col-7'>
                                                    <select readonly formControlName="is_show_price" class="form-control">
                                          <option value="null" selected="true" translate disabled>--Select--</option>
                                          <option *ngFor="let de of listMaster['listQuestion']" [ngValue]="de.id">{{de.name}}</option>
                                        </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 p-l-5 p-r-2  mt-7">
                        <div class="card height-100">
                            <div class="card-header">
                                <strong>Discount Information</strong>
                            </div>
                            <div class="card-body">
                                <div class="row information height-100">
                                    <div class="col-md-12 bolder padding-l-25">
                                        <div class="form-group row">
                                            <label for="" class="col-8">
                                              <span class="text-primary">Category Discount (%)</span>
                                            </label>
                                            <div class='col-4'>
                                                {{detail.category_discounts.discount || 0}} %
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class='col-12'>
                                              <span class="text-primary">Discount on Product Condition (%)</span></label>
                                        </div>
                                        <div class="form-group row discount-info">
                                            <ng-container *ngFor="let item of item_condition">
                                                <div class="col-md-8">
                                                    <span>{{item.name}}</span>
                                                </div>
                                                <div class="col-md-4 text-right">
                                                    <span>{{item.percent}} %</span>
                                                </div>
                                            </ng-container>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 p-l-5 p-r-2  mt-7">
                        <div class="card height-100">
                            <div class="card-header">
                                <strong>Product Information</strong>
                            </div>
                            <div class="card-body">
                                <div class="row information height-100">
                                    <div class="col-md-6 padding-l-25">
                                        <div class="form-group row">
                                            <label for="" class="col-12">
                                              <span class="text-primary">Short Description</span>
                                            </label>
                                            <div class='col-12'>
                                              <textarea readonly name="name" rows="8" class="form-control" [(ngModel)]="detail.short_des"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 padding-l-25">
                                        <div class="form-group row">
                                            <label for="" class="col-12">
                                              <span class="text-primary">Product Description</span>
                                            </label>
                                            <div class='col-12'>
                                              <ckeditor readonly [(ngModel)]="detail.full_des" [config]="ckeConfig"></ckeditor>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-md-3 images-block p-l-5 p-r-2">
            <fieldset class="custom-border">
                <div class="mb-3">
                    <input type="file" class="hidden" accept="image/*" #file (change)="uploadFile($event)" multiple>
                    <button class="btn btn-block btn-upload" (click)="file.click()">Select File Here To Upload</button>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <ngx-gallery [options]="galleryOptions" [images]="images"></ngx-gallery>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <!-- <div class="row text-center">
        <div class="col-md-12 mg-top-15">
            <button class="btn btn-primary text-white" [disabled]="!short_des || !full_des" (click)="updateItem()" translate>Save</button>
            <button class="btn btn-default" routerLink="/product-management/part-list/">Cancel</button>
        </div>
    </div> -->
    <div class="block-content block-content-full text-center">
        <button type="button" class="btn btn-default" [routerLink]="['/product-management/part-list/']" translate>Back To List</button>
    </div>
</div>
