<div [@routerTransition]>
    <app-page-header [heading]="'LIST OF LATE FEE POLICIES'" [icon]="'fa-th-list'"></app-page-header>
    <app-shortcut [listShortcut]='keyService.getKeys()'></app-shortcut>

    <div class="block anchor-scroll block-order">
        <div class="block-content pd-bottom padding-lr-0 mt-2">
            <div class="row">
                <div class="col-md-3">
                    <form class="row form-horizontal form-search filter-order-group" role="form" [formGroup]="searchForm">
                        <div class="col-md-12 block-search">
                            <label class="control-label">Status</label>
                            <select class="form-control" formControlName="status">
                                <option [ngValue]="null" selected="true">--Select--</option>
                                <option *ngFor="let status of listMaster['status']" [ngValue]="status.id">{{status.value}}</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="col-md-4">
                    <div class="block-btn-search">
                        <div class="mt-1 group-btn-search">
                            <button type="button" class="btn-default-custom" (click)="tableService.searchAction()">Search</button>
                            <button type="button" class="btn-default-custom" (click)="tableService.resetAction(this.searchForm)">Reset</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mg-top-10">
            <div class="col-12">
                <div class="card no-border">
                    <div class="card-header">
                        <strong>Late Fee Policies</strong>
                        <button (click)="createLateFeePolicy()" style="margin:0; float:right" class="btn btn-link">
                            <i class="fa fa-plus text-success"></i> Add Policy</button>
                    </div>
                    <div class="card-body no-padding">
                        <div class="table-responsive list">
                            <table class="table table-bordered table-order"
                                cdArrowTable [collection]="list.items" [(selectedIndex)]="selectedIndex" (onEnter)="selectData($event)">
                                <thead class="bg-white">
                                    <tr>
                                        <th>Code</th>
                                        <th>Description</th>
                                        <th>Apply For</th>
                                        <th>Status</th>
                                        <th class="text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody *ngFor="let item of list.items; let i = index;" [ngClass]="{'row-selected': i == selectedIndex}">
                                    <tr>
                                        <td>{{item.code}}</td>
                                        <td>{{item.des }}</td>
                                        <td>{{convertStatus(item.apply_for, 'applyFor')}}</td>
                                        <td class="text-center">
                                            <span class="label label-success" *ngIf="item.ac == 1">{{convertStatus(item.ac, 'status')}}</span>
                                            <span class="label label-danger" *ngIf="item.ac == 0">{{convertStatus(item.ac, 'status')}}</span>
                                            <span class="label label-draft" *ngIf="item.ac == 2">{{convertStatus(item.ac, 'status')}}</span>
                                        </td>
                                        <td>
                                            <a class="btn btn-default" (click)="viewLateFeePolicy(item.id)" title="View Late Fee Policy">
                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                            </a>
                                            <a class="btn btn-default" *ngIf="item.ac != 2" (click)="editLateFeePolicy(item.id)" title="Edit Late Fee Policy">
                                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                                <tbody *ngIf="list.items.length">
                                    <tr>
                                        <td colspan="100%" class="text-center" translate>No data.</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-12 no-padding">

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row normal-pagination" *ngIf="list.items.length > 0">
            <div class="col-md-6">
                <div class="text-left">
                    <div class="col-md-6" style="padding-left: 0px;">
                        <span style="float: left; padding-right: 10px;">{{list.items.length}}/{{tableService.pagination.total_record}} items </span>
                        <select style="width: 50px; float: left;" class="form-control" [(ngModel)]="tableService.pagination.length" (change)="tableService.changeLength()">
                      <option *ngFor="let option of tableService.itemPerPageOptions" [ngValue]="option">{{option}}</option>
                  </select>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="text-right">
                    <ngb-pagination class="d-flex justify-content-end" (pageChange)="tableService.changePage($event)" [pageSize]="tableService.pagination.length" [collectionSize]="tableService.pagination.total_record || 120" [(page)]="tableService.pagination.page" [maxSize]="tableService.maxSize"
                        [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
                </div>
            </div>
        </div>
    </div>
</div>
