<div [@routerTransition]>
    <app-page-header [heading]="'INVOICE CHASING CONFIGURATION'" [icon]="'fa-th-list'"></app-page-header>
    <!-- <app-shortcut [listShortcut]='keyService.getKeys()'></app-shortcut> -->
    <section class="rma-page block">
        <div class="custom-border card height-100 mg-bt-15 mg-t-15">
            <div class="card-header">
                <strong>Apply Chasing For (*)</strong>
            </div>
            <div class="card-body">
                <div class="form-search full-width form-horizontal">
                    <div class="row">
                        <div class="col-lg-2 col-xl-2 form-group">
                            <label class="css-input css-checkbox css-checkbox-default">
                                <input class="cb-element" type="radio" value="1" [(ngModel)]="applyChaseOption">
                                <span></span>
                                Disable Chasing
                            </label>
                        </div>
                        <div class="col-lg-2 col-xl-2 form-group">
                            <label class="css-input css-checkbox css-checkbox-default">
                                <input class="cb-element" type="radio" value="2" [(ngModel)]="applyChaseOption">
                                <span></span>
                                All Customers
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <form class="row" [formGroup]="invoiceForm">
            <div class="col-sm-4">
                <div class="custom-border card height-100">
                    <div class="card-header">
                        <strong>Before the due Date</strong>
                    </div>
                    <div class="card-body">
                        <div class="form-search full-width form-horizontal">
                            <div class="row due-date-section switcher">
                                <label class="switch">
                                    <input type="checkbox" formControlName="beforeOn">
                                    <span class="slider round"></span>
                                </label>
                                <label class="switch-val">{{invoiceForm.value.beforeOn ? 'ON' : 'OFF'}}</label>
                            </div>
                            <div class="row due-date-section">
                                <label>
                                    <b>Email Template</b>
                                </label>
                                <div class="group-btn-search">
                                    <button type="button" class="btn btn-primary" (click)="editEmailTemplate('BEFORE')">Edit</button>
                                </div>
                            </div>
                            <div class="row due-date-section">
                                <label>
                                    <b>Send Reminder</b>
                                </label>
                                <div class="input-grp">
                                    <input type="number" OnlyNumber="true" min="0" formControlName="beforeRemind">
                                    <span>Day(s) before Due Date</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="custom-border card height-100">
                    <div class="card-header">
                        <strong>On the due Date</strong>
                    </div>
                    <div class="card-body">
                        <div class="form-search full-width form-horizontal">
                            <div class="row due-date-section switcher">
                                <label class="switch">
                                    <input type="checkbox" formControlName="onDueDateOn">
                                    <span class="slider round"></span>
                                </label>
                                <label class="switch-val">{{invoiceForm.value.onDueDateOn ? 'ON' : 'OFF'}}</label>
                            </div>
                            <div class="row due-date-section">
                                <label>
                                    <b>Email Template</b>
                                </label>
                                <div class="group-btn-search">
                                    <button type="button" class="btn btn-primary" (click)="editEmailTemplate('ON')">Edit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="custom-border card height-100">
                    <div class="card-header">
                        <strong>After the due Date</strong>
                    </div>
                    <div class="card-body">
                        <div class="form-search full-width form-horizontal">
                            <div class="row due-date-section switcher">
                                <label class="switch">
                                    <input type="checkbox" formControlName="afterDueDateOn">
                                    <span class="slider round"></span>
                                </label>
                                <label class="switch-val">{{invoiceForm.value.afterDueDateOn ? 'ON' : 'OFF'}}</label>
                            </div>
                            <div class="row due-date-section">
                                <label>
                                    <b>Email Template</b>
                                </label>
                                <div class="group-btn-search">
                                    <button type="button" class="btn btn-primary" (click)="editEmailTemplate('AFTER')">Edit</button>
                                </div>
                            </div>
                            <!-- Select -->
                            <div class="row due-date-section">
                                <label>
                                    <b>Send Reminder</b>
                                </label>
                                <div class="select-grp">
                                    <select class="form-control" formControlName="afterRemindFrequency" (change)="onChangeFrequency()">
                                        <option value="null">Select Frequency</option>
                                        <option *ngFor="let item of listMaster['reminderOptions']" [ngValue]="item.value">{{item.label}}</option>
                                    </select>
                                </div>
                            </div>
                            <!-- Every day -->
                            <div class="row due-date-section" *ngIf="invoiceForm.value.afterRemindFrequency == 1">
                                <label>
                                    <b>Every</b>
                                </label>
                                <div class="input-grp">
                                    <input type="number" OnlyNumber="true" min="0" formControlName="afterRemindValue">
                                    <span>Day(s)</span>
                                </div>
                            </div>
                            <!-- Per week -->
                            <div class="row due-date-section" *ngIf="invoiceForm.value.afterRemindFrequency == 2">
                                <label>
                                    <b>On</b>
                                </label>
                                <div class="select-grp">
                                    <select class="form-control" formControlName="afterRemindValue">
                                        <option *ngFor="let item of listMaster['daysOfWeek']" [ngValue]="item.value">{{item.label}}</option>
                                    </select>
                                </div>
                            </div>
                            <!-- Per month -->
                            <div class="row due-date-section" *ngIf="invoiceForm.value.afterRemindFrequency == 3">
                                <label>
                                    <b>On</b>
                                </label>
                                <div class="select-grp">
                                    <select class="form-control" formControlName="afterRemindValue">
                                        <option *ngFor="let item of listMaster['daysOfMonth']" [ngValue]="item">{{item}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row due-date-section" *ngIf="invoiceForm.value.afterRemindFrequency == null || invoiceForm.value.afterRemindFrequency == 'null'">
                                <label class="error">
                                    <b>Please select reminder frequency</b>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="block-content block-content-full text-center" style="margin-top:15px;">
            <button class="btn btn-outline-primary" type="button" [disabled]="isProcessingRequest" (click)="onSave()">Save</button>
            <button class="btn btn-default" type="button" [routerLink]="['/admin-panel']">Cancel</button>
        </div>
    </section>
</div>
