<div [@routerTransition]>
    <app-page-header [heading]="'Guide'" [icon]="'fa-th-list'"></app-page-header>
    <div class="block ">
      <div class="block-content">
          <div class="row guide">
                <!-- <div class="guide"> -->
            <div class="col-md-6">
                <div class="box-guide" style="margin-bottom:10px;">
              <h4 translate>Quick Access</h4>
              <div class="row mg-top15">
                <div class="col-md-2 col-sm-3 block-custom">
                  <div class="block-link">
                    <a  [routerLink]="['/product-management/part-list']">
                      <div class="block-img">
                        <img src="assets/images/icon/1.png">
                      </div>
                      <h5 translate class="color-gray">Produts</h5>
                    </a>
                  </div>
                </div>
                <div class="col-md-2 col-sm-3 block-custom">
                  <div class="block-link">
                    <a [routerLink]="['/product-management/miscellaneous-list']">
                      <div class="block-img">
                        <img src="assets/images/icon/1.png">
                      </div>
                      <h5 translate class="color-gray">Misc Items</h5>
                    </a>
                  </div>
                </div>
              </div>
              <!-- <div class="row mg-top15">
                <div class="col-md-2 col-sm-3 block-custom">
                  <div class="block-link">
                    <a data-ui-sref="app.purchasing.quotation.manage">
                      <div class="block-img">
                        <img src="assets/images/icon/3.png">
                      </div>
                      <h5 translate class="color-gray">Purchase Quotation</h5>
                    </a>
                  </div>
                </div>
                <div class="col-md-2 col-sm-3 block-custom">
                  <div class="block-link">
                    <a data-ui-sref="app.purchasing.order.manage">
                      <div class="block-img">
                        <img src="assets/images/icon/4.png">
                      </div>
                      <h5 translate class="color-gray">Purchase Orders</h5>
                    </a>
                  </div>
                </div>
                <div class="col-md-2 col-sm-3 block-custom">
                  <div class="block-link">
                    <a data-ui-sref="app.settings.warehouse.list">
                      <div class="block-img">
                        <img src="assets/images/icon/5.png">
                      </div>
                      <h5 translate class="color-gray">Warehouse Receipt</h5>
                    </a>
                  </div>
                </div>
                <div class="col-md-2 col-sm-3 block-custom">
                  <div class="block-link">
                    <a data-ui-sref="app.purchasing.supplier.manage">
                      <div class="block-img">
                        <img src="assets/images/icon/6.png">
                      </div>
                      <h5 translate class="color-gray">Supplier</h5>
                    </a>
                  </div>
                </div>
              </div>-->
              <div class="row mg-top15"> 
                  <div class="col-md-2 col-sm-3 block-custom">
                    <div class="block-link">
                      <a  [routerLink]="['/order-management/sale-quotation']" >
                        <div class="block-img">
                          <img src="assets/images/icon/7.png">
                        </div>
                        <h5 translate class="color-gray">Sales Quotation</h5>
                      </a>
                    </div>
                  </div>
                <div class="col-md-2 col-sm-3 block-custom">
                  <div class="block-link">
                    <a [routerLink]="['/order-management/sale-order']">
                      <div class="block-img">
                        <img src="assets/images/icon/8.png">
                      </div>
                      <h5 translate class="color-gray">Sales Orders</h5>
                    </a>
                  </div>
                </div>

                <!-- <div class="col-md-2 col-sm-3 block-custom">
                  <div class="block-link">
                    <a data-ui-sref="app.orders.delivery-order.list">
                      <div class="block-img">
                        <img src="assets/images/icon/9.png">
                      </div>
                      <h5 translate class="color-gray">Delievery Orders</h5>
                    </a>
                  </div>
                </div>
                <div class="col-md-2 col-sm-3 block-custom">
                  <div class="block-link">
                    <a data-ui-sref="app.orders.rma.list">
                      <div class="block-img">
                        <img src="assets/images/icon/10.png">
                      </div>
                      <h5 translate class="color-gray">Return Orders</h5>
                    </a>
                  </div>
                </div> -->
                <div class="col-md-2 col-sm-3 block-custom">
                  <div class="block-link">
                    <a [routerLink]="['/customer']">
                      <div class="block-img">
                        <img src="assets/images/icon/11.png">
                      </div>
                      <h5 translate class="color-gray">Customer</h5>
                    </a>
                  </div>
                </div>
              </div>
              <div class="row mg-top15">
                  <div class="col-md-2 col-sm-3 block-custom">
                    <div class="block-link">
                      <a [routerLink]="['/financial/invoice']">
                        <div class="block-img">
                          <img src="assets/images/icon/12.png">
                        </div>
                        <h5 translate class="color-gray">AR Invoice</h5>
                      </a>
                    </div>
                  </div>
                  <div class="col-md-2 col-sm-3 block-custom">
                    <div class="block-link">
                      <a [routerLink]="['/financial/receipt-voucher']">
                        <div class="block-img">
                          <img src="assets/images/icon/13.png">
                        </div>
                        <h5 translate class="color-gray">Receipt Voucher</h5>
                      </a>
                    </div>
                  </div>
              </div>
            </div>
            </div>
            <div class="col-md-6">
                <div class="box-guide">
              <h4 translate>Demo Guideline</h4>
              <div class="guide-content">
                <h5>
                  <img src="assets/images/logo.png" alt="Logo Image" width="50%">
                </h5>
                <div class="block-guide-content">
                  <h6>Scope of demo:</h6>
                <ol>
                  <li>Sel2B Backend:
                    <ul class="guide-list-content">
                      <li>Products Management.</li>
                      <li>Sales Management.</li>
                      <li>Customer Management</li>
                      <li>Financial Management.</li>
                      <!-- <li>Bundle Management.</li>
                      <li>Product Management.</li>
                      <li>Quotes Management (Purchase/Sales).</li> -->
                    </ul>
                  </li>
                  <li>Sel2B Storefront:
                    <ul class="guide-list-content">
                      <li>Customer profile.</li>
                      <li>Customer buys/re-orders products online.</li>
                      <li>Customer participates in promotion event. System calculates the promotional products.</li>
                      <li>Customer checkout and creates the order from Sel2B Storefront to Sel2B Backend.</li>
                    </ul>
                  </li>
                  <li>Sel2B Supplier Portal:
                    <ul class="guide-list-content">
                      <li>A portal where suppliers can manage their purchase orders, quotes and products while in business with NABP</li>
                    </ul>
                  </li>
                </ol>
                </div>
              </div>
            </div>
            </div>
          <!-- </div> -->
        </div>

      </div>
    </div>

</div>
