<div [@routerTransition]>
    <app-page-header [heading]="'EDIT RETURN ORDERS'"></app-page-header>
    <app-shortcut [listShortcut]='keyService.getKeys()'></app-shortcut>
    <section class="rma-page block main-container block-order">
        <div class="row block-info">
            <div class="col-md-5 p-l-5 p-r-2">
                <div class="card height-100">
                    <div class="card-header">
                        <strong>Information</strong>
                    </div>
                    <div class="card-body">
                        <div class="row information height-100">
                            <div class="col-md-12 p-l-5 p-r-5">
                                <form [formGroup]="generalForm" class="form-search full-width form-inline border-bottom">
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <label for="code" class="control-label" translate> <strong>Customer Name</strong>
                                            </label>
                                            <span class="text-danger">(*)</span>
                                            <div >
                                                <ng-select class="infinity-scroll-select" [keyConfig]="keyService.getKeyConfig()" appKeyNavigate="company_id" [typeahead]="searchKey" (scrollToEnd)="fetchMoreCustomer($event)" [virtualScroll]="true" style="width: 100px; margin-left: 2px;" (change)="changeCustomer()"
                                                  [items]="listMaster['customer']" bindLabel="name" bindValue="id" formControlName="company_id">
                                                    <ng-template ng-option-tmp let-item="item">
                                                        <span [innerHTML]="item.company_name"></span>
                                                    </ng-template>
                                                </ng-select>
                                            </div>
                                            <!-- <div *ngIf="disableEdit">
                                                <strong> {{data['order_data']['company_name']}}</strong>
                                            </div> -->
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <i class="text-warning fa fa-exclamation-triangle"></i> <strong>Current Return
                                            Rate:</strong> 15%
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-12 fix-padding">
                                <div class="row">
                                    <div class="col-md-6 bolder">
                                        <form [formGroup]="generalForm">
                                            <div class="form-group row">
                                                <label class='col-6 control-label'>Return Order No <span class="text-danger">(*)</span></label>
                                                <div class='col-6 text-primary'>
                                                    <input type="text" class="form-control" formControlName="cd" readonly>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class='col-6'>Request Date
                                                    <span class="text-danger">(*)</span>
                                                </label>
                                                <div class='col-6 text-danger'>
                                                    <div clickOutside (clickOutside)="d1.close()" class="input-group">
                                                        <input readonly class="form-control" [maxDate]="currentDt | dateObj" placeholder="mm/dd/yyyy" name="request_date" formControlName="request_date" ngbDatepicker #d1="ngbDatepicker">
                                                        <div class="input-group-append">
                                                            <button [disabled]="disableEdit" class="btn btn-outline-secondary" (click)="d1.toggle()" type="button">
                                                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class='col-6'>Return Type
                                                    <span class="text-danger">(*)</span>
                                                </label>
                                                <div class='col-6'>
                                                    <select (change)="changeType()" class="form-control" name="order_return_type" formControlName="order_return_type">
                                                        <option [hidden]="true" [disabled]="true" [ngValue]="null">--Select--</option>
                                                        <option *ngFor="let item of listMaster['type']" [ngValue]="item.key">{{item.value}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class='col-6'>Sales Order No <span class="text-danger">(*)</span></label>
                                                <div class='col-6 '>
                                                    <ng-select class="infinity-scroll-select" [virtualScroll]="true" (change)="changeSalesOrder()" [items]="listMaster['list_order']" bindLabel="code" bindValue="id" formControlName="order_id" required>
                                                        <ng-template ng-option-tmp let-item="item">
                                                            <span title="{{item.code}}">{{item.code}}</span>
                                                        </ng-template>
                                                    </ng-select>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class='col-6'>Invoice No
                                                    <span class="text-danger" *ngIf="requiredInv">(*)</span>
                                                </label>
                                                <div class='col-6 '>
                                                    <form [formGroup]="generalForm">
                                                        <ng-select class="infinity-scroll-select" (change)="checkInvoice()" [virtualScroll]="true" [items]="listMaster['list_invoice']" bindLabel="cd" bindValue="id" formControlName="invoice_id">
                                                            <ng-template ng-option-tmp let-item="item">
                                                                <span title="{{item.cd}}">{{item.cd}}</span>
                                                            </ng-template>
                                                        </ng-select>
                                                    </form>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="col-md-6 customer-infomation">
                                        <form [formGroup]="generalForm">
                                            <div class="form-group row">
                                                <label class='col-6'>Return Time
                                                </label>
                                                <div class='col-6 text-primary'>
                                                    <input type="text" class="form-control" formControlName="return_time" readonly>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class='col-6'>Delivery Date
                                                </label>
                                                <div class='col-6 text-primary'>
                                                    <input type="text" class="form-control" formControlName="delivery_date" readonly>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class='col-6'>Salesperson</label>
                                                <div class='col-6 text-primary'>
                                                    <select class="form-control" name="sale_person_id" formControlName="sale_person_id">
                                                        <option [hidden]="true" [disabled]="true" [ngValue]="null">--Select--</option>
                                                        <option *ngFor="let item of listMaster['sale_mans']" [ngValue]="item.id">{{item.full_name}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class='col-6'>Approver</label>
                                                <div class='col-6'>
                                                    <select class="form-control" name="approver_id" formControlName="approver_id">
                                                        <option [hidden]="true" [disabled]="false" [ngValue]="null">--Select--</option>
                                                        <option *ngFor="let item of listMaster['approvers']" [ngValue]="item.id">{{item.full_name}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class='col-6'>Status</label>
                                                <div class='col-6 text-success'>
                                                    <strong>{{generalForm.value.sts_name}}</strong>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-7" style="padding-right: 18px;">
                <div class="row  height-100">
                    <div class="col-4 p-l-0 p-r-2">
                        <div class="card height-100">
                            <div class="card-header">
                                <strong>Return Method</strong>
                            </div>
                            <div class="card-body p-25">
                                <div class="row">
                                    <div class="col-12">
                                        <form [formGroup]="generalForm">
                                            <div class="form-group row">
                                                <label class='col-6'>Return Warehouse
                                                    <span class="text-danger">(*)</span>
                                                </label>
                                                <div class='col-6'>
                                                    <input type="text" class="form-control" formControlName="warehouse" readonly>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class='col-6'>Ship Via
                                                </label>
                                                <div class='col-6'>
                                                    <select (change)="changeShipVia()" class="form-control" name="ship_via" formControlName="ship_via">
                                                        <option [hidden]="true" [disabled]="true" [ngValue]="null">--Select--</option>
                                                        <option *ngFor="let item of listMaster['ship_via']" [ngValue]="item.key">{{item.value}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <ng-container *ngIf="generalForm.value.ship_via">
                                                <div class="form-group row" *ngIf="generalForm.value.ship_via != 3">
                                                    <label class='col-6'>Carrier
                                                  <span class="text-danger" *ngIf="generalForm.value.ship_via == 2">(*)</span>
                                                </label>
                                                    <div class='col-6'>
                                                        <input type="text" class="form-control" formControlName="carrier" *ngIf="generalForm.value.ship_via == 1">

                                                        <select (change)="changeShipVia()" class="form-control" name="carrier_id" formControlName="carrier_id" *ngIf="generalForm.value.ship_via == 2">
                                                  <option [hidden]="true" [disabled]="true" [ngValue]="null">--Select--</option>
                                                  <option *ngFor="let item of listMaster['carrier']" [ngValue]="item.id">{{item.name}}</option>
                                                </select>
                                                    </div>
                                                </div>
                                            </ng-container>

                                            <div class="form-group row" *ngIf="generalForm.value.ship_via == 1">
                                                <label class='col-6'>Tracking No</label>
                                                <div class='col-6'>
                                                    <input type="text" class="form-control" formControlName="tracking_no">
                                                </div>
                                            </div>

                                            <div class="form-group row" *ngIf="generalForm.value.ship_via == 3">
                                                <label class='col-6'>Arrival Date</label>
                                                <div class='col-6 text-danger'>
                                                    <div clickOutside (clickOutside)="d2.close()" class="input-group">
                                                        <input class="form-control" placeholder="mm/dd/yyyy" name="arrival_date" formControlName="arrival_date" ngbDatepicker #d2="ngbDatepicker">
                                                        <div class="input-group-append">
                                                            <button class="btn btn-outline-secondary" (click)="d2.toggle()" type="button">
                                                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 p-l-0 p-r-2">
                        <div class="card height-100">
                            <div class="card-header">
                                <strong>Bill To</strong>
                            </div>
                            <div class="card-body p-25">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group row">
                                            <label class="control-label col-5" for="billing_to" translate> Label
                                                <span class="text-danger">(*)</span>
                                            </label>
                                            <div class="col-7">
                                                <form [formGroup]="generalForm">
                                                    <select required class="form-control" id="billing_to" name="search_type" formControlName="bill_to" (change)="selectAddress('billing')">
                                                        <option [hidden]="true" [disabled]="true" [ngValue]="null">--Select--</option>
                                                        <option *ngFor="let item of customer.billing" [ngValue]="item.address_id">{{item.label}}</option>
                                                    </select>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group row">
                                            <label class="control-label col-5" translate>Address</label>
                                            <div class="col-7">
                                                {{addr_select['billing']['address_line']}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group row">
                                            <label class=" control-label col-5" translate>City / State</label>
                                            <div class="col-7">
                                                {{addr_select['billing']['city_name']}}/ {{addr_select['billing']['state_name']}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group row">
                                            <label class="control-label col-5" translate>Zip</label>
                                            <div class="col-7">
                                                {{addr_select['billing']['zip_code']}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group row">
                                            <label class="control-label col-5" translate>Country</label>
                                            <div class="col-7">
                                                {{addr_select['billing']['country_name']}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 p-l-0 p-r-2">
                        <div class="card height-100">
                            <div class="card-header">
                                <strong>Ship To</strong>
                            </div>
                            <div class="card-body p-25">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group row">
                                            <label class=" control-label col-5" for="shiping_to" translate>Label
                                                <span class="text-danger">(*)</span>
                                            </label>
                                            <div class="col-7">
                                                <form [formGroup]="generalForm">
                                                    <select required class="form-control" id="shiping_to" name="search_type" formControlName="ship_to" (change)="selectAddress('shipping')">
                                                        <option [hidden]="true" [disabled]="true" [ngValue]="null">--Select--</option>
                                                        <option *ngFor="let item of customer.shipping" [ngValue]="item.address_id">{{item.label}}</option>
                                                    </select>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group row">
                                            <label class=" control-label col-5" translate>Address</label>
                                            <div class="col-7">
                                                {{addr_select['shipping']['address_line']}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group row">
                                            <label class=" control-label col-5" translate>City / State</label>
                                            <div class="col-7">
                                                {{addr_select['shipping']['city_name']}} / {{addr_select['shipping']['state_name']}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group row">
                                            <label class=" control-label col-5" translate>Zip</label>
                                            <div class="col-7">
                                                {{addr_select['shipping']['zip_code']}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group row">
                                            <label class="control-label col-5" translate>Country</label>
                                            <div class="col-7">
                                                {{addr_select['shipping']['country_name']}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row mg-top-10">
            <div class="col-12 padding-lr-5">
                <div class="card no-border">
                    <div class="card-header">
                        <strong>Return Items</strong>
                    </div>
                    <div class="card-body no-padding" *ngIf="!disableEdit">
                        <div class="table-responsive">
                            <table class="table table-bordered table-order return" #cdTable='cdArrowTable' [disabledKey]="data['cdTable'] == 'table'" cdArrowTable [collection]="list.returnItem" [(selectedIndex)]="selectedIndex" (onEnter)="selectData($event)">
                                <thead>
                                    <tr>
                                        <th style="width:70px" translate>Action</th>
                                        <th style="width:100px" translate>Item No</th>
                                        <th translate>Description</th>
                                        <th translate>Condition</th>
                                        <th translate>Warranty</th>
                                        <th translate>UOM</th>
                                        <th translate>Possible Return QTY</th>
                                        <th class="text-nowrap" style="width:100px" translate>Return QTY</th>
                                        <th class="text-center" style="width:100px" translate>Unit Price</th>
                                        <th style="width:100px" translate>Disc %</th>
                                        <th style="width:100px" translate>Tax %</th>
                                        <th translate>Total Amount</th>
                                        <th translate>Return Reason</th>
                                        <th translate>Status</th>
                                    </tr>
                                </thead>
                                <tr *ngIf="list.returnItem.length === 0">
                                    <td colspan="100%" class="text-center" translate>No data.</td>
                                </tr>
                                <tbody *ngFor="let item of list.returnItem; let $index = index;">
                                    <tr [ngClass]="{'row-selected': $index == selectedIndex}">
                                        <td class="text-center">
                                            <button class="btn btn-xs" type="button" (click)="deleteLineItem(item, $index)">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        </td>
                                        <td>{{item.sku}}</td>
                                        <td>{{item.des}}</td>
                                        <td>{{item.condition_name}}</td>
                                        <td class="text-center">
                                            <label *ngIf="item.is_item" class="css-input css-checkbox css-checkbox-default">
                                                <input class="cb-element" type="checkbox" [(ngModel)]="item.warranty">
                                                <span></span>
                                            </label>
                                        </td>
                                        <td>{{item.uom_name}}</td>
                                        <td class="text-center">{{item.qty_allow}}</td>
                                        <td class="text-center">
                                            <input numberDirective [min]="1" [max]="item.qty_allow" style="width: 100px;" class="form-control input-sm" type="number" [(ngModel)]="item.return_quantity" (changeValue)="calcTotal()">
                                        </td>
                                        <td class="text-center">
                                            <span>{{item.sale_price |currency}}</span>
                                        </td>
                                        <td class="text-center">
                                            <span>{{item.discount_percent}}</span>
                                        </td>
                                        <td class="text-center">
                                            <span>{{item.tax_percent}}</span>
                                        </td>
                                        <td class="text-center">
                                            <span>{{item.amount | currency}}</span>
                                        </td>
                                        <td>
                                            <select required class="form-control" [(ngModel)]="item.return_reason">
                                                <option [hidden]="true" [disabled]="true" [ngValue]="null">--Select--</option>
                                                <option *ngFor="let it of item['reason']" [ngValue]="it.id">{{it.des}}</option>
                                            </select>
                                            <span class="text-danger" *ngIf="!item.return_reason">Field is required</span>
                                        </td>
                                        <td class="text-center">
                                            New
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-12 no-padding">
                            <button (click)="openModalAddItemsOrder()" class="btn btn-link" translate>
                                <i class="fa fa-plus"></i>Add Item</button>
                        </div>
                    </div>
                    <div class="card-body no-padding" *ngIf="disableEdit">
                       <div class="table-responsive">
                          <table class="table table-bordered table-order">
                          <thead>
                             <tr>
                                <th style="width:100px" translate>Item No</th>
                                <th translate>Description</th>
                                <th translate>Condition</th>
                                <th translate>UOM</th>
                                <th translate>Returned QTY</th>
                                <th class="text-nowrap" style="width:100px" translate>Accepted QTY</th>
                                <th class="text-center" style="width:100px" translate>Unit Price</th>
                                <th style="width:100px" translate>Disc %</th>
                                <th style="width:100px" translate>Tax %</th>
                                <th translate>Amount</th>
                                <th translate>Return Reason</th>
                                <th translate>Warranty</th>
                                <th translate>Status</th>
                                <th translate>Receipt Date</th>
                             </tr>
                          </thead>
                          <tr *ngIf="list.returnItem.length === 0">
                             <td colspan="100%" class="text-center" translate>No data.</td>
                             </tr>
                          <tbody *ngFor="let item of list.returnItem; let $index = index;">
                             <tr>
                                <td>{{item.sku}}</td>
                                <td>{{item.des}}</td>
                                <td>{{item.condition_name}}</td>
                                <td>{{item.uom_name}}</td>
                                <td class="text-center">{{item.return_quantity}}</td>
                                <td class="text-center">
                                    {{item.accept_quantity}}
                                </td>
                                <td class="text-center">
                                    <span *ngIf="item.sku != 'MIS-0000006'">{{item.sale_price | currency}}</span>
                                    <input *ngIf="item.sku =='MIS-0000006'" numberDirective [min]="1" style="width: 100px;" class="form-control input-sm" type="number" [(ngModel)]="item.price" (changeValue)="item.amount_before_receipt = item.price;calcTotal()">
                                </td>
                                <td class="text-center">
                                  <span>{{item.discount_percent}}</span>
                                </td>
                                <td class="text-center">
                                  <span>{{item.tax_percent}}</span>
                                </td>
                                <td class="text-center">
                                   <span>{{item.amount_before_receipt | currency}}</span>
                                </td>
                                <td>
                                  <span *ngIf="!item.return_reason_accept">{{item.return_reason_des}}</span>
                                  <ng-template #popContent>
                                    <p> <strong>Initial</strong> </p>
                                    <p> {{item.return_reason_accept.inital.data}}</p>
                                    <p> <strong>After Receipt</strong> </p>
                                    <ul>
                                      <li *ngFor="let item of item.return_reason_accept.after">{{item.data}}</li>
                                    </ul>
                                  </ng-template>
                                  <button *ngIf="item.return_reason_accept" type="button" class="btn btn-outline-secondary mr-2" triggers="click:blur" [ngbPopover]="popContent" popoverTitle="Return Reason" >
                                  View Details
                                </button>
                                                </td>
                                                <td class="text-center">
                                                    <label class="css-input css-checkbox css-checkbox-default">
                                    <input disabled class="cb-element" type="checkbox" [(ngModel)]="item.warranty">
                                    <span></span>
                                  </label>
                                </td>
                                <td class="text-center">
                                     {{item.sts_name}}
                                </td>
                                <td class="text-center">
                                    <span *ngIf="data['order_data']['is_cancel']">{{data['order_data']['receive_date']}}</span>
                                     <ng-template #popContents>
                                       <p> <strong>SKU No - Receipt Date Details</strong> </p>
                                       <ul>
                                         <li *ngFor="let item of item.return_reason_accept.after">{{item.receive_date}} - {{item.data}}</li>
                                       </ul>
                                     </ng-template>
                                     <button *ngIf="(item.return_reason_accept) && (!data['order_data']['is_cancel'])" type="button" class="btn btn-outline-secondary mr-2" triggers="click:blur" [ngbPopover]="popContents" popoverTitle="Receipt Date"  container="body">
                                     View Details
                                   </button>
                                </td>
                             </tr>
                          </tbody>
                          </table>
                       </div>
                       <div class="col-12 no-padding">
                          <button (click)="addStockFee()" class="btn btn-link" translate>
                           <ng-container *ngIf="!flagStockFee"><i class="fa fa-plus"></i> Add</ng-container>
                           <ng-container *ngIf="flagStockFee"><i class="fa fa-minus"></i> Remove</ng-container>
                            Restocking Fee</button>
                       </div>
                            </div>
                </div>
            </div>
        </div>

        <div class="row mg-top-10" *ngIf="generalForm.value.order_return_type == 3">
            <div class="col-12 padding-lr-5">
                <div class="card no-border">
                    <div class="card-header">
                        <strong>Replaced Items</strong>
                    </div>
                    <div class="card-body no-padding">
                        <div class="table-responsive">
                            <table class="table table-bordered table-order replace" #cdTable2='cdArrowTable' [disabledKey]="data['cdTable'] == 'table2'" cdArrowTable [collection]="list.replaceItem" [(selectedIndex)]="selectedIndex2" (onEnter)="selectData2($event)">
                                <thead>
                                    <tr>
                                        <th style="width:70px" translate>Action</th>
                                        <th style="width:100px" translate>Item No</th>
                                        <th translate>Description</th>
                                        <th translate>Condition</th>
                                        <th translate>UOM</th>
                                        <th translate>QTY</th>
                                        <th class="text-center" style="width:100px" translate>Unit Price</th>
                                        <th translate>Total Amount</th>
                                    </tr>
                                </thead>
                                <tr *ngIf="list.replaceItem.length === 0">
                                    <td colspan="100%" class="text-center" translate>No data.</td>
                                </tr>
                                <tbody *ngFor="let item of list.replaceItem; let $index = index;">
                                    <tr [ngClass]="{'row-selected': $index == selectedIndex2}">
                                        <td class="text-center">
                                            <button class="btn btn-default btn-xs" type="button" (click)="deleteAction(item.sku, item.item_condition_id)">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        </td>
                                        <td>{{item.sku}}</td>
                                        <td>{{item.des}}</td>
                                        <td>{{item.condition_name}}</td>
                                        <td>{{item.uom_name}}</td>
                                        <td class="text-center">
                                            <input numberDirective [min]="1" style="width: 100px;" class="form-control input-sm" type="number" [(ngModel)]="item.replace_quantity" (changeValue)="updateTotal()">
                                        </td>
                                        <td>
                                            <span>{{item.sale_price}}</span>
                                        </td>
                                        <td class="text-center">
                                            <span>{{item.amount | currency}}</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-12 no-padding">
                            <button (click)="addNewItem()" class="btn btn-link" translate>
                                <i class="fa fa-plus"></i>Add Item</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mg-top-10 padding-child-5 justify-content-end">
            <div class="col-md-3">
                <div class="card height-100">
                    <div class="card-header">
                        <strong>Note</strong>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="generalForm">
                            <div>
                                <textarea class="form-control border-0" formControlName="note" rows="11" style="resize:none"></textarea>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card height-100">
                    <div class="card-header">
                        <strong>Total Before WH Receipt</strong>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group row">
                                    <label class='col-7 control-label'>Total Returned Items</label>
                                    <div class='col-5'>
                                        <span class="text-success">{{ order_info.order_summary['total_item'] || 0}}</span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class='col-7 control-label'>Total Returned COGS</label>
                                    <div class='col-5'>
                                        <span class="text-success">{{ (order_info.order_summary['total_cogs'] || 0) |
                                            currency}}</span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class='col-5 control-label'>
                                        <strong class="text-warning">Sub Total</strong>
                                    </label>
                                    <div class='col-6 offset-md-1 padding-lr-10'>
                                        <strong>{{order_info.sub_total | currency}}</strong>
                                    </div>
                                </div>

                                <div *ngFor="let item of order_info['taxs']" class="form-group row">
                                    <label class='col-5 control-label'>+ TAX ({{item.value}}%):</label>
                                    <div class='col-6 offset-md-1 padding-lr-10'>
                                        <input class="form-control" readonly="true" [(ngModel)]="item.amount" class="form-control" value="0" type="number">
                                    </div>
                                </div>
                                <div class="form-group row margin-lr-0 text-light bg-danger">
                                    <label class="col-5 control-label ">
                                        <strong>Total Due:</strong>
                                    </label>
                                    <div class="col-6 offset-md-1 ">
                                        <strong>{{order_info.total | currency}}</strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card height-100">
                    <div class="card-header">
                        <strong>Total After WH Receipt</strong>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group row">
                                    <label class='col-7 control-label'>Total Accepted Items</label>
                                    <div class='col-5'>
                                        <span class="text-success">{{ order_info_after.order_summary['total_item'] || 0}}</span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class='col-7 control-label'>Total Returned COGS</label>
                                    <div class='col-5'>
                                        <span class="text-success">{{ (order_info_after.order_summary['total_cogs'] || 0) |
                                            currency}}</span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class='col-5 control-label'>
                                        <strong class="text-warning">Sub Total</strong>
                                    </label>
                                    <div class='col-6 offset-md-1 padding-lr-10'>
                                        <strong>{{order_info_after.sub_total | currency}}</strong>
                                    </div>
                                </div>

                                <div *ngFor="let item of order_info_after['taxs']" class="form-group row">
                                    <label class='col-5 control-label'>+ TAX ({{item.value}}%):</label>
                                    <div class='col-6 offset-md-1 padding-lr-10'>
                                        <input class="form-control" readonly="true" [(ngModel)]="item.amount" class="form-control" value="0" type="number">
                                    </div>
                                </div>
                                <div class="form-group row margin-lr-0 text-light bg-danger">
                                    <label class="col-5 control-label ">
                                        <strong>Total Due:</strong>
                                    </label>
                                    <div class="col-6 offset-md-1 ">
                                        <strong>{{order_info_after.total | currency}}</strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2" *ngIf="generalForm.value.order_return_type == 3">
                <div class="card height-100">
                    <div class="card-header">
                        <strong>Total Replacement</strong>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group row">
                                    <label class='col-7 control-label'>Total Replaced Items</label>
                                    <div class='col-5'>
                                        <span class="text-success">{{ order_info_replace.order_summary['total_item'] ||
                                            0}}</span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class='col-7 control-label'>Total COGS</label>
                                    <div class='col-5'>
                                        <span class="text-success">{{ (order_info_replace.order_summary['total_cogs']
                                            || 0) | currency}}</span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class='col-5 control-label'>
                                        <strong class="text-warning">Sub Total</strong>
                                    </label>
                                    <div class='col-6 offset-md-1 padding-lr-10'>
                                        <strong>{{order_info_replace.sub_total | currency}}</strong>
                                    </div>
                                </div>
                                <div class="form-group row margin-lr-0 text-light bg-danger">
                                    <label class="col-5 control-label ">
                                        <strong>Total Due:</strong>
                                    </label>
                                    <div class="col-6 offset-md-1 ">
                                        <strong>{{order_info_replace.total | currency}}</strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mg-top-15 text-right">
                <button type="button" class="btn btn-outline-warning" (click)="confirmCreateOrder('NW')" translate>Update</button>
                <!-- <button type="button" class="btn btn-outline-primary" (click)="confirmCreateOrder('SB')" [disabled]="!generalForm.valid"
                    translate>Save & Submit</button> -->
                <!-- <button type="button" class="btn btn-outline-success" *ngIf="listMaster['permission'].send" (click)="confirmCreateOrder('AR')" [disabled]="!generalForm.valid" translate>Save & Send to WH</button> -->
                <button type="button" class="btn btn-default" (click)="backList()" translate>Back to list</button>
            </div>
        </div>
    </section>
</div>
