<div class="block anchor-scroll block-order">
    <div class="block-content pd-bottom bg-gray-light short-width">
            <div class="row px-3" style="background-color: white">
                <app-shortcut [listShortcut]='_hotkeysServiceSaleOder.hotkeys'></app-shortcut>
            </div>
        <div class="row">
            <form class="form-horizontal form-search" role="form" [formGroup]="searchForm">
                <div class="block-search">
                    <label for="cd" class="control-label" translate>SO #</label>
                    <input type="text" name="cd" formControlName="code" class="form-control" id="cd" placeholder=""
                        capitalize [keyConfig]="data['key_config']" appKeyNavigate="code">
                </div>
                <div class="block-search">
                    <label for="purchase_quote_cd" class="control-label">Cust PO #</label>
                    <input type="text" name="purchase_quote_cd" formControlName="cus_po" class="form-control" id="purchase_quote_cd"
                        placeholder="">
                </div>
                <div class="block-search">
                    <label for="contract_no" class="control-label">Sales Quote #</label>
                    <input type="text" name="contract_no" formControlName="quote_no" class="form-control" id="contract_no"
                        placeholder="">
                </div>
                <div class="block-search">
                    <label for="part" class="control-label">Type</label>
                    <ng-select [multiple]="true" [items]="listMaster['type']" bindLabel="name" bindValue="id"
                        formControlName="type">
                    </ng-select>
                </div>
                <div class="block-search">
                    <label for="po_status_id" class="control-label">Status</label>
                    <ng-select [multiple]="true" [items]="listMaster['status']" bindLabel="name" bindValue="id"
                        formControlName="sts">
                    </ng-select>
                </div>
                <div class="block-search">
                    <label for="cd" class="control-label" translate>Customer</label>
                    <input type="text" name="cd" formControlName="buyer_name" class="form-control" id="cd" placeholder=""
                        capitalize>
                </div>

                <!-- <ng-container *ngIf="listMoreFilter[0].value"> -->
                <div class="block-search">
                    <label for="type" class="control-label" translate>Date Type</label>
                    <select class="form-control" formControlName="date_type">
                        <option value="null" selected="true">--Select--</option>
                        <option *ngFor="let item of listMaster['dateType']" [ngValue]="item.id">{{item.name}}</option>
                    </select>
                </div>
                <div class="block-search">
                    <label for="" class="control-label" translate> From</label>
                    <div clickOutside (clickOutside)="d.close()" class="input-group">
                        <input [maxDate]="searchForm.value.date_to | dateObj" class="form-control" placeholder="mm/dd/yyyy"
                            name="d" formControlName="date_from" ngbDatepicker #d="ngbDatepicker">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="block-search">
                    <label for="" class="control-label" translate> To</label>
                    <div clickOutside (clickOutside)="dt.close()" class="input-group">
                        <input [minDate]="searchForm.value.date_from | dateObj" class="form-control" placeholder="mm/dd/yyyy"
                            name="dt" formControlName="date_to" ngbDatepicker #dt="ngbDatepicker">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" (click)="dt.toggle()" type="button">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
            <div class="block-btn-search">
                <label class="control-label">&nbsp;</label>
                <div class="group-btn-search">
                    <button type="button" class="btn-default-custom" (click)="tableService.searchAction()">Search</button>
                    <button type="button" class="btn-default-custom" (click)="tableService.resetAction(this.searchForm)">Reset</button>
                    <button type="button" class="btn-default-custom" (click)="exportData()">Export</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row mg-top-10">
        <div class="col-12">
            <div class="card no-border">
                <div class="card-header">
                    <strong>Line Items</strong>
                </div>
                <div class="card-body no-padding">
                    <div class="scroll-container table-responsive list">
                        <table class='table table-bordered table-order' cdArrowTable [collection]="list.items" [(selectedIndex)]="selectedIndex" (onEnter)="selectData($event)">
                            <thead class="bg-white">
                                <tr>
                                    <th translate>SO #</th>
                                    <th translate>Cust PO #</th>
                                    <th translate>Sales Quote #</th>
                                    <th translate>Customer</th>
                                    <th class="text-center " translate>Type</th>
                                    <th class="text-center" translate>Order date</th>
                                    <th translate>Status</th>
                                    <!-- <th class="text-center" translate>Delivery date</th> -->
                                    <th class="text-center" translate>Total Amount</th>
                                    <th class="text-center" translate>Total Paid</th>
                                    <th class="text-center" translate>Total Refunded</th>
                                    <th translate>Salesperson</th>
                                    <th class="text-center" translate>Last Update On</th>
                                    <th class="text-center" translate>Last Update By</th>
                                </tr>
                            </thead>
                            <tr *ngFor="let item of  list.items; let i = index;" [ngClass]="{'row-selected': i == selectedIndex}">
                                <td><a class="text-primary" [routerLink]="['/order-management/sale-order/detail',item.id]">{{item.code}}</a></td>
                                <td>{{item.cus_po}}</td>
                                <td>{{item.quote_no}}</td>
                                <td>{{item.buyer_name}}</td>
                                <td class="text-center">
                                    <span *ngIf="item.type == 'PKU'">Pickup</span>
                                    <span *ngIf="item.type == 'ONL'">Ecommerce</span>
                                    <span *ngIf="item.type == 'NO'">Regular Order</span>
                                    <span *ngIf="item.type == 'XD'">X-Docks</span>
                                </td>
                                <td class="text-center">{{item.order_date | date:'MM/dd/yyy'}}</td>
                                <td class="text-center">
                                    <span class="label blue" *ngIf="item.sts_code == 'NW'">{{item.sts}}</span>
                                    <span class="label texas-rose" *ngIf="item.sts_code == 'SM'">{{item.sts}}</span>
                                    <!-- <span class="label texas-rose" *ngIf="item.sts_code == 'RV'">{{item.sts}}</span>                                             -->
                                    <span class="label strong-green" *ngIf="item.sts_code == 'AP'">{{item.sts}}</span>
                                    <span class="label rock-blue" *ngIf="item.sts_code == 'IP'">{{item.sts}}</span>
                                    <span class="label green" *ngIf="item.sts_code == 'PP'">{{item.sts}}</span>
                                    <span class="label darkblue" *ngIf="item.sts_code == 'RS'">{{item.sts}}</span>
                                    <span class="label pink" *ngIf="item.sts_code == 'DL'">{{item.sts}}</span>
                                    <span class="label bright-grey" *ngIf="item.sts_code == 'PD'">{{item.sts}}</span>
                                    <span class="label lemon" *ngIf="item.sts_code == 'CP'">{{item.sts}}</span>
                                    <span class="label magenta" *ngIf="item.sts_code == 'RJ'">{{item.sts}}</span>
                                    <span class="label red" *ngIf="item.sts_code == 'CC'">{{item.sts}}</span>
                                </td>
                                <!-- <td class="text-center">{{item.delivery_date | date:'MM/dd/yyyy'}}</td> -->
                                <td class="text-center">{{(item.total_price || 0) | currency}}</td>
                                <td class="text-center">{{(item.total_paid || 0) | currency}}</td>
                                <td class="text-center">{{(item.total_refunded || 0) | currency}}</td>
                                <td class="text-center">{{item.sale_person_name}}</td>
                                <td class="text-center">{{item.last_update_on | date:'MM/dd/yyyy'}}</td>
                                <td class="text-center">{{item.last_update_by }}</td>
                            </tr>
                            <tr *ngIf="list.items.length == 0">
                                <td colspan="100%" class="text-center" translate>No data.</td>
                            </tr>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row normal-pagination mg-top-10" *ngIf="list.items.length > 0">
        <div class="col-md-6">
            <div class="text-left">
                <div class="col-md-6" style="padding-left: 0px;">
                    <span style="float: left; padding-right: 10px;">{{list.items.length}}/{{tableService.pagination.total_record}}
                        items </span>
                    <select style="width: 50px; float: left;" class="form-control" [(ngModel)]="tableService.pagination.length"
                        (change)="tableService.changeLength()">
                        <option *ngFor="let option of tableService.itemPerPageOptions" [ngValue]="option">{{option}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="text-right">
                <ngb-pagination class="d-flex justify-content-end" (pageChange)="tableService.changePage($event)"
                    [pageSize]="tableService.pagination.length" [collectionSize]="tableService.pagination.total_record || 120"
                    [(page)]="tableService.pagination.page" [maxSize]="tableService.maxSize" [rotate]="true"
                    [boundaryLinks]="true"></ngb-pagination>
            </div>
        </div>
    </div>
</div>