@import "~styles/bootstrap/bootstrap";

.block {
    background-color: #fff;
    box-shadow: 0 2px rgba(0, 0, 0, 0.01);

    .block-header {
        padding: 4px 15px;
        transition: opacity 0.2s ease-out;
        background-color: $red;
        color: $white;

        .block-title-lg {
            font-size: 12px;
            font-weight: 600;
            text-transform: uppercase;
            line-height: 1.2;
            display: inline;
            display: inline-block;
            padding-top: 3px;
            margin-bottom: 0;
        }
    }
}
