<div class="block anchor-scroll">
    <app-page-header [heading]="'ITEM LIST'" [icon]="'fa-th-list'"></app-page-header>
    <div class="block-content pd-bottom tab-content bg-gray-light">
        <div class="row">
            <form class="form-horizontal form-search" [formGroup]="searchForm">
                <div class="block-search">
                    <label for="so" class="control-label" translate>Code</label>
                    <input type="text" name="so" formControlName="cd" class="form-control">
                </div>
                <div class="block-search">
                    <label for="cus_po" class="control-label" translate>Name</label>
                    <input type="text" name="cus_po" formControlName="name" class="form-control">
                </div>
                <div class="block-search">
                    <label for="type" class="control-label" translate>Status</label>
                    <select formControlName="sts" class="form-control">
                        <option value="null" selected="true" translate>--Select--</option>
                        <option *ngFor="let de of listMaster['status']" [ngValue]="de.id">{{de.name}}</option>

                    </select>

                </div>
                <div class="block-btn-search">
                    <label class="control-label">&nbsp;</label>
                    <div>
                        <button type="button" class="btn btn-primary" (click)="tableService.searchAction()" translate>Search</button>
                        <button type="button" class="btn btn-default" (click)="tableService.resetAction(this.searchForm)" translate>Reset</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="block-content pd-top">
        <button [routerLink]="['/promotion/budget/create']" style="margin: 10px 0;" class="btn btn-primary" translate>Add New Budget</button>

        <div class="table-responsive">
            <table class="table table-striped table-vcenter table-hover custom-table" cdArrowTable [collection]="list.items" [(selectedIndex)]="selectedIndex"
                (onEnter)="selectData($event)">
                <thead class="bg-white">
                    <tr>
                        <th>
                            <label class="css-input css-checkbox css-checkbox-default">
                                <input class="cb-all" type="checkbox" ng-model="selectItem.isCheckAll" ng-change="checkAll()">
                                <span></span>
                            </label>
                        </th>
                        <th translate>Image</th>
                        <th translate >SKU</th>
                        <th translate>Product Name</th>
                        <th translate style="min-width: 100px;">Category</th>
                        <th translate>Country Of Origin</th>
                        <th translate>Manufacturer</th>
                        <th translate>Supplier</th>
                        <th translate>UOM</th>
                        <th translate>Avail QTY</th>
                        <th translate>On Water QTY</th>
                        <th translate>Cost Price</th>
                        <th translate>Sales Price</th>
                    </tr>
                </thead>

                <tr *ngFor="let item of  list.items; let i = index;" [ngClass]="{'row-selected': i == selectedIndex}">
                    <td>
                        <label class="css-input css-checkbox css-checkbox-default">
                            <input class="cb-element" type="checkbox" [ngModel]="item.is_checked" (change)="checkItem(item)">
                            <span></span>
                        </label>
                    </td>
                    <td style="cursor: pointer;">
                        <!-- <img ng-click="showImage($index+1, item.wine_images[0])" src="{{item.wine_images[0]['thumb_img']}}" alt="" width="30" height="30">
                          <div id="imageModal{{$index+1}}" class="imageModal">
                            <span class="close" ng-click="closeImage($index+1)">&times;</span>
                            <img class="modal-content" id="img{{$index+1}}">
                            <div id="caption"></div>
                          </div> -->
                    </td>
                    <td>{{item.sku}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.product_category.name}}</td>
                    <td>{{item.country_name}}</td>
                    <td>{{item.brand_name}}</td>
                    <td>{{item.supplier_name}}</td>
                    <td>{{item.uom_name}}</td>
                    <td>{{item.qty_available}}</td>
                    <td>{{item.qty_on_water}}</td>
                    <td>{{item.price|currency:'$'}}</td>
                    <td>{{item.resale_price|currency:'$'}}</td>
                </tr>
                <tr *ngIf="list.items.length === 0">
                    <td colspan="100%" class="text-center">No data.</td>
                </tr>
            </table>

        </div>


        <div class="row normal-pagination" *ngIf="list.items.length > 0">
            <div class="col-md-6">
                <div class="text-left">
                    <div class="col-md-6" style="padding-left: 0px;">
                        <span style="float: left; padding-right: 10px;">{{list.items.length}}/{{tableService.pagination.total_record}} items </span>
                        <select style="width: 50px; float: left;" class="form-control" [(ngModel)]="tableService.pagination.length" (change)="tableService.changeLength()">
                            <option *ngFor="let option of tableService.itemPerPageOptions" [ngValue]="option">{{option}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="text-right">
                    <ngb-pagination class="d-flex justify-content-end" (pageChange)="tableService.changePage($event)" [pageSize]="tableService.pagination.length"
                        [collectionSize]="tableService.pagination.total_record || 120" [(page)]="tableService.pagination.page"
                        [maxSize]="tableService.maxSize" [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
                </div>
            </div>
        </div>

    </div>
</div>
