<div class="block anchor-scroll">
    <app-page-header [heading]="'INVENTORY ITEMS'" [icon]="'fa-th-list'"></app-page-header>
    <app-shortcut [listShortcut]='itemKeyService.getKeys()'></app-shortcut>
    <div class="search-block block-content pd-bottom tab-content">
        <div class="row" style="margin-top: 10px;">
            <form class="form-horizontal form-search" [formGroup]="searchForm">
                <label for="type" class="control-label" style="font-weight: bold;" translate>SELECT WH</label>
                <div class="block-search">
                    <select (change)="tableService.searchAction()" formControlName="warehouse" class="form-control">
                        <option value="null" selected="true" translate>--Select--</option>
                        <option *ngFor="let de of listMaster['warehouses']" [ngValue]="de.id">{{de.name}}</option>
                    </select>
                </div>
            </form>
            <ngb-tabset #tabSet class="tab-header" activeId="vehicle" type="pills" (tabChange)="resetTab()">
                <ngb-tab id="search" title="SEARCH BY:" [disabled]="true">
                    <ng-template ngbTabContent>

                    </ng-template>
                </ngb-tab>
                <ngb-tab id="vehicle" title="VEHICLE">
                    <ng-template ngbTabContent>
                        <form class="form-horizontal form-search form-vehicle" [formGroup]="searchForm">
                            <label for="type" class="control-label" translate>Year From</label>
                            <div class="block-search">
                                <select formControlName="year_from" class="form-control">
                                    <option value="null" selected="true" translate>--Select--</option>
                                    <option *ngFor="let de of listMaster['years']" [ngValue]="de.id">{{de.name}}</option>
                                </select>
                            </div>
                            <label for="type" class="control-label" translate>Year To</label>
                            <div class="block-search">
                                <select formControlName="year_to" class="form-control">
                                    <option value="null" selected="true" translate>--Select--</option>
                                    <option *ngFor="let de of listMaster['years']" [ngValue]="de.id">{{de.name}}</option>
                                </select>
                            </div>
                            <label for="type" class="control-label" translate>Make</label>
                            <div class="block-search">
                                <select formControlName="manufacturer_id" class="form-control">
                                    <option value="null" selected="true" translate>--Select--</option>
                                    <option *ngFor="let de of listMaster['make']" [ngValue]="de.manufacturer_id">{{de.name}}</option>
                                </select>
                            </div>
                            <label for="type" class="control-label" translate>Model</label>
                            <div class="block-search">
                                <select (change)="changeToGetSubModel()" formControlName="model_id" class="form-control">
                                    <option value="null" selected="true" translate>--Select--</option>
                                    <option *ngFor="let de of listMaster['models']" [ngValue]="de.model_id">{{de.name}}</option>
                                </select>
                            </div>
                            <!-- <label for="type" class="control-label" translate>Sub-Model</label>
                            <div class="block-search">
                                <select formControlName="sub_model_id" class="form-control">
                                    <option value="null" selected="true" translate>--Select--</option>
                                    <option *ngFor="let de of listMaster['sub_models']" [ngValue]="de.model_id">{{de.name}}</option>
                                </select>
                            </div> -->
                            <div class="block-btn-search">
                                <label class="control-label">&nbsp;</label>
                                <div>
                                    <button type="button" class="btn btn-primary" (click)="tableService.searchAction()" translate>Search</button>
                                    <button type="button" class="btn btn-default" (click)="tableService.resetAction(this.searchForm)" translate>Reset</button>
                                </div>
                            </div>
                        </form>
                    </ng-template>
                </ngb-tab>
                <ngb-tab id="part_number" title="PART NUMBER">
                    <ng-template ngbTabContent>
                        <form class="form-horizontal form-search form-part-number" [formGroup]="searchForm">
                            <label for="so" class="control-label" translate>OEM #</label>
                            <div class="block-search">
                                <input type="text" name="so" formControlName="oem" class="form-control">
                            </div>
                            <label for="so" class="control-label" translate>Partlinks #</label>
                            <div class="block-search">
                                <input type="text" name="so" formControlName="partlinks_no" class="form-control">
                            </div>
                            <label for="so" class="control-label" translate>Part #</label>
                            <div class="block-search">
                                <input type="text" name="so" formControlName="part_no" class="form-control">
                            </div>
                            <label for="type" class="control-label" translate>Cert</label>
                            <div class="block-search">
                                <select formControlName="certification" class="form-control">
                                    <option value="null" selected="true" translate>--Select--</option>
                                    <option *ngFor="let de of listMaster['certification_partNumber']" [ngValue]="de.code">{{de.value}}</option>
                                </select>
                            </div>
                            <div class="block-btn-search">
                                <label class="control-label">&nbsp;</label>
                                <div>
                                    <button type="button" class="btn btn-primary" (click)="tableService.searchAction()" translate>Search</button>
                                    <button type="button" class="btn btn-default" (click)="tableService.resetAction(searchForm); tableService.resetAction(filterForm)" translate>Reset</button>
                                </div>
                            </div>
                        </form>
                    </ng-template>
                </ngb-tab>
                <ngb-tab id="vin" title="VIN">
                    <ng-template ngbTabContent>
                        <form class="form-horizontal form-search" [formGroup]="searchForm">
                            <label for="so" class="control-label" translate>Number</label>
                            <div class="block-search">
                                <input type="text" name="so" formControlName="vin" class="form-control">
                            </div>
                            <div class="block-btn-search">
                                <label class="control-label">&nbsp;</label>
                                <div>
                                    <button type="button" class="btn btn-primary" (click)="tableService.searchAction()" translate>Search</button>
                                    <button type="button" class="btn btn-default" (click)="tableService.resetAction(this.searchForm)" translate>Reset</button>
                                </div>
                            </div>
                        </form>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>

        </div>
    </div>
    <div class="block-content mt-1" *ngIf="list.items.length > 0">
        <h5 class="title-form">FILTER</h5>

        <div class="row">
            <form class="form-horizontal form-search row" [formGroup]="filterForm">
                <div class="row col-lg-11 col-md-12 filters-ctn">
                    <div class="col-md-3 filter-item">
                        <label for="so" class="control-label" translate>Part Link</label>
                        <div class="block-search">
                            <ng-select [multiple]="true" [items]="listMaster['partlinks_no']" bindLabel="code" bindValue="code" formControlName="partlinks_no_filter">
                            </ng-select>
                        </div>
                    </div>
                    <div class="col-md-3 filter-item">
                        <label for="so" class="control-label" translate>Part</label>
                        <div class="block-search">
                            <ng-select [multiple]="true" [items]="listMaster['part_no']" bindLabel="code" bindValue="code" formControlName="part_no_filter">
                            </ng-select>
                        </div>
                    </div>
                    <div class="col-md-3 filter-item">
                        <label for="type" class="control-label" translate>Category</label>
                        <div class="block-search">
                            <ng-select (change)="changeToGetSubCategory()" [multiple]="true" [items]="listMaster['categories']" bindLabel="name" bindValue="category_id" formControlName="category_id_filter">
                            </ng-select>
                        </div>
                    </div>
                    <div class="col-md-3 filter-item" *ngIf="filterForm.value.category_id_filter">
                        <label for="type" class="control-label" translate>Sub-Category</label>
                        <div class="block-search">
                            <ng-select [multiple]="true" [items]="listMaster['sub_cat']" bindLabel="name" bindValue="category_id" formControlName="sub_category_id">
                            </ng-select>
                        </div>
                    </div>
                    <div class="col-md-3 filter-item">
                        <label for="type" class="control-label" translate>Brand</label>
                        <div class="block-search">
                            <ng-select [multiple]="true" [items]="listMaster['brands']" bindLabel="name" bindValue="brand_id" formControlName="brand_id_filter">
                            </ng-select>
                        </div>
                    </div>
                    <div class="col-md-3 filter-item">
                        <label for="type" class="control-label" translate>Certification</label>
                        <div class="block-search">
                            <ng-select [multiple]="true" [items]="listMaster['certification']" bindLabel="value" bindValue="code" formControlName="certification_filter">
                            </ng-select>
                        </div>
                    </div>
                    <!-- <div class="col-md-3 filter-item">
                        <label for="type" class="control-label" translate>Country</label>
                        <div class="block-search">
                            <ng-select [multiple]="true" [items]="listMaster['countries']" bindLabel="name" bindValue="country_id" formControlName="country_id_filter">
                            </ng-select>
                        </div>
                    </div>
                    <div class="col-md-3 filter-item">
                        <label for="so" class="control-label" translate>Manufacturer</label>
                        <div class="block-search">
                            <ng-select [multiple]="true" [items]="listMaster['manufacturers']" bindLabel="name" bindValue="id" formControlName="manufacturer_id_filter">
                            </ng-select>
                        </div>
                    </div> -->
                    <div>
                        <div class="block-btn-search">
                            <label class="control-label">&nbsp;</label>
                            <div>
                                <button type="button" class="btn btn-primary" (click)="tableService.searchAction()" translate>Apply</button>
                                <button type="button" class="btn btn-default" (click)="tableService.resetAction(filterForm)" translate>Reset</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="block-content pd-top">
        <button [disabled]="list.checklist.length == 0" (click)="createOrder()" class="btn btn-primary" translate>Create Order</button>
        <!-- <a class="btn btn-primary pull-right" routerLink="/product-management/mass-price"> Mass Update Price</a> -->
        <div class="table-responsive" style="margin-top:10px">
            <table class="table table-striped table-vcenter table-hover custom-table" cdArrowTable [collection]="list.items" [(selectedIndex)]="selectedIndex" (onEnter)="selectData($event)">
                <thead class="bg-white">
                    <tr>
                        <th>
                            <label class="css-input css-checkbox css-checkbox-default">
                                <input class="cb-all" type="checkbox" [(ngModel)]="checkAllItem" (change)="checkAll($event)">
                                <span></span>
                            </label>
                        </th>
                        <th translate>Part No</th>
                        <th translate>Partlinks No</th>
                        <th translate>Description</th>
                        <th translate>Make</th>
                        <th translate>Model</th>
                        <th translate>Category</th>
                        <th translate>Sub Category</th>
                        <th translate>Brand</th>
                        <th translate>Cert</th>
                        <th translate>UOM</th>
                        <th translate>Condition</th>
                        <th translate>On Hand QTY</th>
                        <th translate>Alloc QTY</th>
                        <th translate>Avail QTY</th>
                        <th translate>OEM Price</th>                        
                        <th translate>Sales Price</th>
                    </tr>
                </thead>

                <tr *ngFor="let item of  list.items; let i = index;" [ngClass]="{'row-selected': i == selectedIndex}">
                    <td>
                        <label class="css-input css-checkbox css-checkbox-default">
                            <input class="cb-element" type="checkbox" [(ngModel)]="item.is_checked" (change)="isAllChecked()">
                            <span></span>
                        </label>
                    </td>
                    <td>{{item.sku}}</td>
                    <td>{{item.partlinks_no}}</td>
                    <td>{{item.des}}</td>
                    <td>{{item.make_name}}</td>
                    <td>{{item.model_name}}</td>
                    <td>{{item.ctgry_name}}</td>
                    <td>{{item.sub_ctgry_name}}</td>
                    <td>{{item.brand_name}}</td>
                    <td>{{item.cert=='Y'?'Yes':'No'}}</td>
                    <td>{{item.uom_name}}</td>
                    <td>{{item.condition_name}}</td>
                    <td>{{item.qty_remained}}</td>
                    <th>{{item.qty_reserved}}</th>
                    <td>{{item.qty_available}}</td>
                    <td>{{item.oem_price |currency:'$'}}</td>                    
                    <th>{{item.sale_price|currency:'$'}}</th>
                </tr>
                <tr *ngIf="list.items.length === 0">
                    <td colspan="100%" class="text-center">No data.</td>
                </tr>
            </table>

        </div>


        <div class="row normal-pagination" *ngIf="list.items.length > 0">
            <div class="col-md-6">
                <div class="text-left">
                    <div class="col-md-6" style="padding-left: 0px;">
                        <span style="float: left; padding-right: 10px;">{{list.items.length}}/{{tableService.pagination.total_record}} items </span>
                        <select style="width: 50px; float: left;" class="form-control" [(ngModel)]="tableService.pagination.length" (change)="tableService.changeLength()">
                            <option *ngFor="let option of tableService.itemPerPageOptions" [ngValue]="option">{{option}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="text-right">
                    <ngb-pagination class="d-flex justify-content-end" (pageChange)="tableService.changePage($event)" [pageSize]="tableService.pagination.length" [collectionSize]="tableService.pagination.total_record || 120" [(page)]="tableService.pagination.page" [maxSize]="tableService.maxSize"
                      [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
                </div>
            </div>
        </div>

    </div>
</div>
