<div [@routerTransition]>
    <app-page-header [heading]="headerTitle" [icon]="'fa-th-list'" *ngIf="isCreate"></app-page-header>
    <app-page-header [heading]="headerTitle" [icon]="'fa-th-list'" *ngIf="!isCreate"></app-page-header>
    <!-- <app-shortcut [listShortcut]='keyService.getKeys()'></app-shortcut> -->
    <form class="rma-page block" [formGroup]="generalForm">
        <div style="margin: 15px 0">
            <a class="btn btn-outline-info" [routerLink]="['/admin-panel/epi-policy']">
                <i class="fa fa-arrow-left"></i> Back</a>
        </div>
        <fieldset class="custom-border">
            <legend class="custom-border">GENERAL INFORMATION</legend>
            <div class="form-search full-width form-horizontal">
                <div class="row">
                    <div class="col-sm-2 form-group">
                        <label> Code
                            <span class="text-danger">(*)</span>
                        </label>
                        <input type="text" class="form-control" [value]="listMaster['generate-code']" *ngIf="isCreate" disabled>
                        <div *ngIf="!isCreate">{{generalForm.value['code']}}</div>
                    </div>
                    <div class="col-sm-2 form-group">
                        <label> Description
                            <span class="text-danger">(*)</span>
                        </label>
                        <input type="text" name="" class="form-control" formControlName="des" *ngIf="!isView">
                        <div *ngIf="isView">{{generalForm.value['des']}}</div>
                    </div>
                    <div class="col-sm-2 form-group">
                        <label> Apply For
                            <span class="text-danger">(*)</span>
                        </label>
                        <select class="form-control" formControlName="apply_for" name="apply_for" *ngIf="isCreate">
                            <option [ngValue]="null" selected="true">--Select--</option>
                            <option *ngFor="let item of listMaster['applyFor']" [ngValue]="item.id">{{item.value}}</option>
                        </select>
                        <div *ngIf="!isCreate && generalForm.value['apply_for']">{{convertStatus(generalForm.value['apply_for'], 'applyFor')}}</div>
                    </div>
                    <div class="col-sm-2 form-group">
                        <label> Status
                            <span class="text-danger">(*)</span>
                        </label>
                        <select class="form-control" formControlName="ac" name="ac" *ngIf="!isView">
                            <option [ngValue]="null" selected="true">--Select--</option>
                            <option *ngFor="let item of listMaster['status']" [ngValue]="item.id">{{item.value}}</option>
                        </select>
                        <div *ngIf="isView && generalForm.value['ac'] != null">{{convertStatus(generalForm.value['ac'], 'status')}}</div>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset class="custom-border" *ngIf="generalForm.value['apply_for'] == 2">
            <legend class="custom-border">LIST OF CUSTOMERS</legend>
            <div class="table-responsive list-customers">
                <table class="table table-style table-order custom-table table-bg" cdArrowTable [collection]="list.items" [(selectedIndex)]="selectedIndex" (onEnter)="selectData($event)">
                    <thead>
                        <tr>
                            <th *ngIf="!isView && list.items.length > 0">
                                <label class="css-input css-checkbox css-checkbox-default">
                                    <input class="cb-all" type="checkbox" [(ngModel)]="checkAllItem" [ngModelOptions]="{standalone: true}" (change)="checkAll($event)">
                                    <span></span>
                                </label>
                            </th>
                            <th translate>ID</th>
                            <th translate>Customer Type</th>
                            <th translate>Customer Code</th>
                            <th translate>Customer Name</th>
                            <th *ngIf="!isView" translate>Action</th>
                        </tr>
                    </thead>
                    <tr *ngIf="list['items'].length === 0">
                        <td colspan="100%" class="text-center" translate>No data.</td>
                    </tr>
                    <tbody *ngFor="let item of list.items; let $index = index;">
                        <tr>
                            <td *ngIf="!isView">
                                <label class="css-input css-checkbox css-checkbox-default">
                                    <input class="cb-element" type="checkbox" [(ngModel)]="item.is_checked" [ngModelOptions]="{standalone: true}" (change)="isAllChecked()">
                                    <span></span>
                                </label>
                            </td>
                            <td>{{item.id}}</td>
                            <td>{{convertCustomerType(item.buyer_type)}}</td>
                            <td>{{ item.code }}</td>
                            <td>{{item.name}}</td>
                            <td *ngIf="!isView">
                                <a class="btn btn-default" title="Remove customer" (click)="deleteAction(item.id)">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="mg-top-15">
                <button *ngIf="!isView" (click)="addNewCustomer()" class="btn btn-outline-primary" translate>
                    <i class="fa fa-plus"></i>Add new</button>
                <button *ngIf="!isView" (click)="removeSelectedCustomers()" class="btn btn-outline-dark" [disabled]="list.checklist.length == 0">
                    Remove selected customer</button>
            </div>
            <div class="mg-top-15">
                Total Customers: {{list.items.length}}
            </div>
        </fieldset>
        <fieldset class="custom-border late-fee-rules">
            <legend class="custom-border">INCENTIVE RULES</legend>
            <div class="table-responsive">
                <table class="table table-striped table-vcenter custom-table" cdArrowTable [collection]="list.items" [(selectedIndex)]="selectedIndex" (onEnter)="selectData($event)">
                    <tbody *ngFor="let item of listPaymentTerm; let i = index;" [ngClass]="{'row-selected': i == selectedIndex}">
                        <tr>
                            <td style="width: 50px; font-weight: bold;">{{i+1}}</td>
                            <td style="width: 200px; font-weight: bold;">{{item.cd}}</td>
                            <td>
                                Rule inside: <span style="font-weight: bold;">{{item.detail.length}} Rules</span>
                            </td>
                            <td class="text-right" [ngClass]="{'expand-item' : item.collapseRows}">
                                <a class="btn btn-default " title="Expand" (click)="item.collapseRows = !item.collapseRows;" *ngIf="!item.collapseRows">
                                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                </a>
                                <a class="btn btn-default " title="Collapse" (click)="item.collapseRows = !item.collapseRows;" *ngIf="item.collapseRows">
                                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                        <tr *ngIf="item.collapseRows">
                            <td colspan="4" class="child-table">
                                <table class="table table-vcenter custom-table">
                                    <tbody>
                                        <tr *ngIf="!isView" style="background-color: #828282;">
                                            <td style="border: 1px solid #828282;">
                                                <button (click)="addNewRule(i)" class="btn btn-primary" translate>
                                                    <i class="fa fa-plus"></i>Create new rule</button>
                                            </td>
                                        </tr>
                                        <tr *ngFor="let subItem of item.detail; let j = index;">
                                            <td style="border: 1px solid #828282;">
                                                <span>Apply a</span>
                                                <span class="recurring-fee-text" *ngIf="isView">
                                                    {{subItem.pay_value}}
                                                    <span *ngIf="subItem.pay_type == 1">%</span>
                                                <span *ngIf="subItem.pay_type == 2">$</span>
                                                </span>
                                                <span class="recurring-fee-text" *ngIf="!isView">
                                                    <input [textMask]="{mask: decimalMaskObject()}" type="text" class="recurring-fee-input" [(ngModel)]="subItem.pay_value" [ngModelOptions]="{standalone: true}">
                                                </span>
                                                <div class="recurring-fee-text" *ngIf="isView && subItem.pay_type">
                                                    {{convertStatus(subItem.pay_type, 'payType')}}
                                                </div>
                                                <span class="recurring-fee-text" *ngIf="!isView">
                                                    <select class="form-control" [(ngModel)]="subItem.pay_type" [ngModelOptions]="{standalone: true}">
                                                        <option [ngValue]="null" selected="true">--Select--</option>
                                                        <option *ngFor="let item of listMaster['payType']" [ngValue]="item.id">{{item.value}}</option>
                                                    </select>
                                                </span>
                                                <span>deduction if the invoice is paid more than</span>
                                                <span class="recurring-fee-text" *ngIf="isView">
                                                    {{subItem.before_due_dt}}
                                                </span>
                                                <span class="recurring-fee-text" *ngIf="!isView">
                                                    <input [textMask]="{mask: decimalMaskObject()}" type="text" class="recurring-fee-input" [(ngModel)]="subItem.before_due_dt" [ngModelOptions]="{standalone: true}">
                                                </span>
                                                <span>days before the due date</span>
                                                <a class="btn btn-default" *ngIf="!isView" title="Remove rule" (click)="deleteRule(i, j)" style="float: right;">
                                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </fieldset>
    </form>
    <div class="row">
        <div class="col-md-12 mg-top-15 text-center">
            <button class="btn btn btn-outline-primary" (click)="payloadData()" [disabled]="!generalForm.valid || !isValidEPIPolicy()" *ngIf="!isView">Save</button>
            <button class="btn btn btn-outline-primary" (click)="editEPIPolicy(generalForm.value['id'])" *ngIf="isView && (currentStatus != 2)">Edit</button>
            <button class="btn btn-default" type="button" [routerLink]="['/admin-panel/epi-policy']">Cancel</button>
        </div>
    </div>
</div>
