.information-tab {
    margin-top: 10px;
    border: 1px solid #dee2e6;
    border-top: none;
}

.scroll-container {
    table {
        thead tr {
            display: table;
            width: 100%;
            table-layout: fixed;
        }
        tbody {
            display: block;
            max-height: 145px;
            overflow-y: scroll;
            overflow-x: hidden;
            tr {
                display: table;
                table-layout: fixed;
                width: calc(100% + 16px);
            }
        }
    }
    .label.blue {
        background-color: #70BAEB;
    }
    .label.darkblue {
        background-color: #7197EA;
    }
    .label.red {
        background-color: #E74F5B;
    }
    .label.lemon {
        background-color: #C2C262;
    }
    .label.green {
        background-color: #32c5d2;
    }
    .label.magenta {
        background-color: #A48AD4;
    }
    .label.strong-green {
        background-color: #45C37A;
    }
    .label.bright-grey {
        background-color: #999999;
    }
    .label.rock-blue {
        background-color: #0D8BD2;
    }
    .label.texas-rose {
        background-color: #FDB45C;
    }
    .label.pink {
        background-color: #E491A3;
    }
}

.table-custom {
    thead th {
        padding: 5px 10px;
        border: none;
        background-color: #d2d2d2;
        word-break: break-word;
    }
    tbody td {
        padding: 10px;
        word-break: break-word;
    }
}

.bg-gray-lighter-small {
    background-color: #ccc;
    margin-right: 0;
    padding: 5px 20px 5px 5px !important;
}

.border-right-2 {
    border-right: 2px solid #ccc;
}

.bg-sky-blue {
    background: #70b9eb;
}

.bg-orange {
    background: #f3b760;
}

.bg-heavy-green {
    background: #46c37b;
}

.bg-soft-green {
    background: #70b9eb;
}

.bg-brown {
    background: #999;
}

.bg-violet {
    background: #a48ad4;
}

.bg-yellow {
    background: #e8e816;
}

.bg-blue {
    background-color: #70BAEB !important;
    color: #fff !important;
}

.bg-darkblue {
    background-color: #7197EA;
    color: #fff !important;
}

.bg-red {
    background-color: #E74F5B;
    color: #fff !important;
}

.bg-lemon {
    background-color: #C2C262;
    color: #fff !important;
}

.bg-green {
    background-color: #32c5d2;
    color: #fff !important;
}

.bg-magenta {
    background-color: #A48AD4;
    color: #fff !important;
}

.bg-strong-green {
    background-color: #45C37A;
    color: #fff !important;
}

.bg-bright-grey {
    background-color: #999999;
    color: #fff !important;
}

.bg-rock-blue {
    background-color: #949FB1;
    color: #fff !important;
}

.bg-texas-rose {
    background-color: #FDB45C;
    color: #fff !important;
}

//new style
.mg-top-15 {
    margin-top: 15px;
}

.mg-top-10 {
    margin-top: 10px;
}

.fix-padding {
    padding: 0 25px;
}

.block-order {
    .block-border {
        border: 1px solid #ccc;
        border-radius: 0;
        display: block;
        position: relative;
        padding-top: 15px;
        h5.title-border {
            display: block;
            position: absolute;
            background: #fff;
            font-weight: 600;
            top: -10px;
            left: 15px;
            padding: 0 4px;
        }
    }
    .table-responsive {
        height: auto;
        // max-height: 150px;
        overflow-y: auto;
    }
    .table-responsive.list {
        height: auto;
        // max-height: 250px;
        overflow-y: auto;
    }
    table.table-bg {
        background: #ededed;
    }
    .full-block {
        width: 100%;
        height: 100%;
    }
    .form-group {
        margin-bottom: 0;
        font-size: 11px;
    }
    .padding-lr-10 {
        padding-left: 10px;
        padding-right: 10px;
    }
    .padding-lr-5 {
        padding-left: 5px;
        padding-right: 5px;
    }
    .padding-lr-0 {
        padding-left: 0;
        padding-right: 0;
    }
    .margin-lr-0 {
        margin-left: 0;
        margin-right: 0;
        margin-left: -8px;
        margin-right: -8px;
    }
    .no-padding {
        padding: 0;
    }
    .height-100 {
        height: 100%;
    }
    .card {
        .card-header {
            padding: 5px 0 5px 10px;
            color: #000;
            background: rgb(252, 252, 252);
            /* Old browsers */
            background: -moz-linear-gradient(top, rgba(252, 252, 252, 1) 0%, rgba(237, 237, 237, 1) 47%, rgba(234, 234, 234, 1) 100%);
            /* FF3.6-15 */
            background: -webkit-linear-gradient(top, rgba(252, 252, 252, 1) 0%, rgba(237, 237, 237, 1) 47%, rgba(234, 234, 234, 1) 100%);
            /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, rgba(252, 252, 252, 1) 0%, rgba(237, 237, 237, 1) 47%, rgba(234, 234, 234, 1) 100%);
            /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#eaeaea',GradientType=0 ); /* IE6-9 */
        }
        .card-body {
            padding: 5px;
            .table-order {
                font-size: 11px;
                margin-bottom: 0;
                th {
                    padding: 5px;
                    color: #630606;
                    font-weight: bold;
                    text-align: center;
                }
                td {
                    padding: 5px;
                }
            }
        }
        .card-body.no-padding {
            padding: 0;
        }
    }
    .no-border {
        border: none;
        border-top: 1px solid rgba(0, 0, 0, 0.125);
        // border-bottom: 1px solid rgba(0, 0, 0, 0.125);
        .card-header {
            border-left: 1px solid rgba(0, 0, 0, 0.125);
            border-right: 1px solid rgba(0, 0, 0, 0.125);
        }
    }
}

.p-25 {
    .col-12 {
        padding: 0 27px;
    }
}

.p-17 {
    .col-12 {
        padding: 0 17px;
    }
}

.p-l-0 {
    padding-left: 0;
}

.p-lr-2 {
    padding: 0 2px !important;
}

.p-l-2 {
    padding-left: 2px !important;
}

.p-r-2 {
    padding-right: 2px !important;
}

.p-r-5 {
    padding-right: 5px !important;
}

.p-l-5 {
    padding-left: 5px !important;
}

.main-container {
    padding: 0 10px;
    .padding-child-5 {
        &>div {
            padding-left: 0;
            padding-right: 5px;
        }
    }
    .information {
        margin-right: -5px;
    }
    .block-info {
        .form-search {
            margin-left: 5px;
            margin-right: 5px;
            padding-bottom: 5px;
            font-size: 11px;
            &>div {
                padding-left: 5px;
                padding-right: 5px;
            }
        }
        .form-group {
            .form-control {
                font-size: 11px !important;
            }
            input,
            select {
                padding-left: 2px;
            }
            label {
                padding-right: 0;
                padding-left: 5px;
                font-weight: bold;
                &+div {
                    padding-left: 0;
                    padding-right: 5px;
                }
            }
        }
    }
}

.block-button {
    right: 15px;
    display: block;
    position: absolute;
    .list-btn-custom {
        list-style: none;
        li {
            display: inline-block;
            margin-left: 10px;
            button {
                i {
                    margin-right: 10px;
                }
            }
        }
    }
}

.border-bottom {
    border-bottom: 1px solid #ccc;
}

.text-red {
    color: red;
}

.text-green {
    color: green;
}

.text-blue {
    color: #007bff !important;
}

.label.blue {
    background-color: #70BAEB;
}

.label.darkblue {
    background-color: #7197EA;
}

.label.red {
    background-color: #E74F5B;
}

.label.lemon {
    background-color: #C2C262;
}

.label.green {
    background-color: #32c5d2;
}

.label.magenta {
    background-color: #A48AD4;
}

.label.strong-green {
    background-color: #45C37A;
}

.label.bright-grey {
    background-color: #999999;
}

.label.rock-blue {
    background-color: #0D8BD2;
}

.label.texas-rose {
    background-color: #FDB45C;
}

.label.pink {
    background-color: #E491A3;
}
.row-selected {
    border-left: 3px solid #b80000 !important;
}
