<div [@routerTransition]>
    <app-page-header [heading]="'CREATE NEW SHIPPING ZONE'"></app-page-header>
    <app-shortcut [listShortcut]='keyService.getKeys()'></app-shortcut>

    <section class="rma-page block main-container block-order">
        <div class="row">
            <div class="col-md-12 mg-top-15">
                <div class="block-border">
                    <h5 class="title-border" translate>GENERAL INFORMATION</h5>
                    <div class="row informaion">
                        <div class="col-md-12">
                            <form [formGroup]="generalForm" class="form-search full-width form-inline">
                                <div class="col-md-4">
                                    <div class="form-group row">
                                        <label for="code" class="control-label col-5" translate>Zone No
                                            <span class="text-danger">(*) </span>
                                        </label>

                                        <div class="col-7">
                                            ZONE-00001
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group row">
                                        <label for="code" class="control-label col-5" translate>Zone Name
                                            <span class="text-danger">(*) </span>
                                        </label>

                                        <div class="col-7">
                                            <input type="text" class="form-control" style="width: 100%">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group row">
                                        <label for="code" class="control-label col-5" translate>Status
                                            <span class="text-danger">(*) </span>
                                        </label>

                                        <div class="col-7">
                                            <ng-select class="custom" autocomplete="off" [multiple]="false">
                                            </ng-select>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mg-top-15">
                <div class="block-border full-block">
                    <h5 class="title-border" translate>SHIPPING COUNTRIES & REGIONS</h5>
                    <div class="row">
                        <div class="col-md-5 table-custom">
                            <div class="header">
                                <div class="col-12 title">
                                    <div class="form-group row">
                                        <label class="control-label col-5" for="shipping_to" translate> Filter
                                            <span class="text-danger">(*)</span>
                                        </label>
                                        <div class="col-7">
                                            <form [formGroup]="generalForm">
                                                <input type="text" class="form-control" style="width: 100%">
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 body">
                                    <div class="form-group row">
                                        <label class='col-5'>
                                            <input type="checkbox"> Vietnam
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1 center-line"></div>
                        <div class="col-md-5 table-custom">
                            <div class="header">
                                <div class="col-12 title" *ngFor="let item of [1,2,3,4,5,6,7,8,9,10]">
                                    <div class="form-group row">
                                        <label class="control-label col-5" for="shipping_to" translate>
                                            <span class="text-danger"></span> United States

                                        </label>
                                        <div class="col-7" style="text-align: right">
                                            <label>60 of 64 States</label>
                                            <a class="btn btn-default " title="Edit">
                                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mg-top-15">
                <div class="block-border full-block">
                    <h5 class="title-border" translate>SETUP SHIPPING QUOTES</h5>
                    <div class="col-md-12" *ngFor="let item of listShipping">
                        <div class="row" >
                            <div class="col-md-6">
                                <h6 class="title-border" translate>{{item.name}}</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 table-custom1">
                                <div class="header">
                                    <div class="col-12 title" *ngFor="let subItem of item.data">
                                        <div class="form-group row">
                                            <label class="control-label col-5" for="shipping_to" translate>
                                                <span class="text-danger"></span> United States

                                            </label>
                                            <div class="col-7" style="text-align: right">
                                                <label>60 of 64 States</label>
                                                <a class="btn btn-default " title="Edit">
                                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mg-top-15 text-center">
                <button type="button" class="btn btn-primary" [disabled]="generalForm.invalid" (click)="createRMA()" translate>Save & Validate</button>
                <button type="button" class="btn btn-default" [routerLink]="['/rma']" translate>Cancel</button>
            </div>
        </div>
    </section>
</div>