<div [@routerTransition]>
    <app-page-header [heading]="'CREATE NEW WAREHOUSE'" [icon]="'fa-th-list'"></app-page-header>
    <div class="row pt-3">
        <div class="col-md-12">
            <div class="block-header">
                <h3 class="block-title">GENERAL INFORMATION
                </h3>
            </div>
        </div>
    </div>
    <form [formGroup]="generalForm" class="form-search full-width form-horizontal">
        <div class="row pl-3 pr-3">
            <div class="col-md-2">
                <label for="name" class="control-label">Warehouse Name</label>
                <span class="text-danger">( * )</span>
                <input type="text" class="form-control" name="name" formControlName="name">
            </div>
            <div class="col-md-2">
                <label for="address_line" class="control-label">Address Line</label>
                <span class="text-danger">( * )</span>
                <input type="text" class="form-control" name="address_line" formControlName="address_line">
            </div>
            <div class="col-md-2">
                <label for="country_code" class="control-label">Country</label>
                <span class="text-danger">( * )</span>
                <select class="form-control" name="country_code" [ngModelOptions]="{standalone: true}" [(ngModel)]="country_code" (change)="changeCountry(country_code) ">
                    <option value="null " selected="true ">--Country--</option>
                    <option *ngFor="let i of listCountry " [ngValue]="i.cd ">{{i.name}}</option>
                </select>
            </div>
            <div class="col-md-2">
                <label for="city_name" class="control-label">City</label>
                <span class="text-danger">( * )</span>
                <input type="text" class="form-control" name="city_name" formControlName="city_name">
            </div>
            <div class="col-md-2">
                <label for="state_id" class="control-label">State</label>
                <span class="text-danger">( * )</span>
                <select class="form-control" name="state_id" [ngModelOptions]="{standalone: true}" [(ngModel)]="state_id">
                    <option value="null " selected="true ">--State--</option>
                    <option *ngFor="let i of listState " [ngValue]="i.id ">{{i.name}}</option>
                </select>
            </div>
            <div class="col-md-2">
                <label for="zip_code" class="control-label">Zip Code</label>
                <span class="text-danger">( * )</span>
                <input type="text" class="form-control" name="zip_code" formControlName="zip_code">
            </div>
            <div class="col-md-2">
                <label for="telephone" class="control-label">Telephone</label>
                <span class="text-danger">( * )</span>
                <input type="text" class="form-control" name="telephone" formControlName="telephone">
            </div>
            <div class="col-md-2">
                <label for="mobile_phone" class="control-label">Mobi Phone</label>
                <span class="text-danger">( * )</span>
                <input type="text" class="form-control" name="mobile_phone" formControlName="mobile_phone">
            </div>
            <div class="col-md-2">
                <label for="fax" class="control-label">Fax No</label>
                <span class="text-danger">( * )</span>
                <input type="text" class="form-control" name="fax" formControlName="fax">
            </div>
        </div>
    </form>
</div>
