<div [@routerTransition]>
    <app-page-header [heading]="'VIEW WAREHOUSE'" [icon]="'fa-th-list'"></app-page-header>
    <app-shortcut [listShortcut]='keyService.getKeys()'></app-shortcut>
    <section class="main-container block-order-detail">
        <div class='address-tab'>
            <div class="bd-example text-right">
                <button [keyConfig]="keyService.getKeyConfig()" appKeyNavigate="back_button"
                class="btn btn-outline-dark" [routerLink]="['/admin-panel/warehouse/']">Back To List</button>
            </div>
            <section class="rma-page block main-container block-order">
                <div class="row block-info">
                    <div class="col-md-6 p-l-5 p-r-2">
                        <div class="card height-100">
                            <div class="card-header">
                                <strong>GENERAL INFORMATION</strong>
                            </div>
                            <div class="card-body">
                                <div class="row information height-100">
                                    <div class="col-md-12 fix-padding">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label class='col-6'>Warehouse Name
                                                    <span class="text-danger">( * )</span></label>
                                                    <div class='col-6'>{{generalForm.value.name}}</div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class='col-6'>Address Line
                                                    <span class="text-danger">( * )</span></label>
                                                    <div class='col-6'>{{generalForm.value.addr}}</div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class='col-6'>Country
                                                    <span class="text-danger">( * )</span></label>
                                                    <div class='col-6'>
                                                        <select class="form-control" name="ctr" [(ngModel)]="generalForm.value.ctr" (change)="changeCountry()" disabled>
                                                            <option value="null " selected="true ">--Country--</option>
                                                            <option *ngFor="let i of listCountry " [ngValue]="i.cd ">{{i.name}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class='col-6'>City
                                                    <span class="text-danger">( * )</span></label>
                                                    <div class='col-6'>{{generalForm.value.city}}</div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class='col-6'>State
                                                    <span class="text-danger">( * )</span></label>
                                                    <div class='col-6'>{{generalForm.value.st}}</div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 customer-infomation bolder">
                                                <div class="form-group row">
                                                    <label class='col-6'>Zip Code
                                                    <span class="text-danger">( * )</span></label>
                                                    <div class='col-6'>{{generalForm.value.zip_cd}}</div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class='col-6'>Telephone
                                                    <span class="text-danger">( * )</span></label>
                                                    <div class='col-6'>{{generalForm.value.ctt_phone}}</div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class='col-6'>Mobi Phone
                                                    <span class="text-danger">( * )</span></label>
                                                    <div class='col-6'>{{generalForm.value.mbl_phone}}</div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class='col-6'>Fax No
                                                    <span class="text-danger">( * )</span></label>
                                                    <div class='col-6'>{{generalForm.value.fax_no}}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 2 padding-lr-5">
                        <div class="card height-100">
                            <div class="card-header">
                                <strong>CONTACT INFORMATION</strong>
                            </div>
                            <div class="card-body p-25">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group row">
                                            <label class="control-label col-3" translate>Contact Name</label>
                                            <div class="col-7">{{contactForm.value.ctt_name}}</div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group row">
                                            <label class="control-label col-3" translate>Job Title</label>
                                            <div class="col-7">{{contactForm.value.job_title}}</div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group row">
                                            <label class='col-3'>Contact Email</label>
                                            <div class='col-7'>{{contactForm.value.ctt_email}}</div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group row">
                                            <label class='col-3'>Contact Phone</label>
                                            <div class='col-7'>{{contactForm.value.ctt_phone}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="block-content block-content-full text-center mt-3 mb-3">
                    <!-- <button type="button" [disabled]="generalForm.inval  id" class="btn btn-outline-primary" (click)="updateWarehouse()">Save</button> -->
                </div>
            </section>
        </div>
    </section>
</div>
