<div [@routerTransition]>
    <app-page-header [heading]="'LIST OF WAREHOUSE'" [icon]="'fa-th-list'"></app-page-header>
    <div class="block-content list-order-table">
        <button [routerLink]="['create']" style="margin: 10px 0;" class="btn btn-primary">Add New Warehouse</button>

        <div class="table-responsive">
            <table class="table table-striped table-vcenter custom-table" cdArrowTable [collection]="list.items" [(selectedIndex)]="selectedIndex"
                (onEnter)="selectData($event)">
                <thead class="bg-white">
                    <tr>
                        <th>ID</th>
                        <th>Warehouse Name</th>
                        <th>Address</th>
                        <th>Status</th>
                        <th>Created On</th>
                        <th>Last Updated On</th>
                        <th>Last Updated By</th>
                    </tr>
                </thead>
                <tbody *ngFor="let item of  list.items; let i = index;" [ngClass]="{'row-selected': i == selectedIndex}">
                    <tr>
                        <td>{{item.id}}</td>
                        <td>{{item.name }}</td>
                        <td>{{item.full_address}}</td>
                        <td>
                            <label class="switch" placement="top" ngbTooltip="Click to Active or Inactive">
                                <input trueFalseValue trueValue="AT" falseValue="IA" type="checkbox" [(ngModel)]="item.sts" (change)="changeStatus(item.id,item.ac)">
                                <div class="slider round"></div>
                            </label>
                        </td>
                        <td>{{item.created_dt}}</td>
                        <td>{{item.updated_dt}}</td>
                        <td>{{item.updated_by}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="row normal-pagination" *ngIf="list.items.length > 0">
            <div class="col-md-6">
                <div class="text-left">
                    <div class="col-md-6" style="padding-left: 0px;">
                        <span style="float: left; padding-right: 10px;">{{list.items.length}}/{{tableService.pagination.total_record}} items </span>
                        <select style="width: 50px; float: left;" class="form-control" [(ngModel)]="tableService.pagination.length" (change)="tableService.changeLength()">
                            <option *ngFor="let option of tableService.itemPerPageOptions" [ngValue]="option">{{option}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="text-right">
                    <ngb-pagination class="d-flex justify-content-end" (pageChange)="tableService.changePage($event)" [pageSize]="tableService.pagination.length"
                        [collectionSize]="tableService.pagination.total_record || 120" [(page)]="tableService.pagination.page"
                        [maxSize]="tableService.maxSize" [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
                </div>
            </div>
        </div>
    </div>
</div>
