<div [@routerTransition]>
    <app-page-header [heading]="'LIST OF SALES QUOTATION'" [icon]="'fa-th-list'"></app-page-header>
    <app-shortcut [listShortcut]='saleQuoteKeyService.getKeys()'></app-shortcut>
    <div class="block anchor-scroll">

      <div class="block-content pd-bottom bg-gray-light">
          <div class="row">
              <div class="col-6">
                  <form class="row form-horizontal form-search filter-order-group" role="form" [formGroup]="searchForm">
                      <div class="col-md-4">
                          <label for="sale_quote_num" class="control-label">Sales Quote #</label>
                          <input autofocus="true" type="text" name="sale_quote_num" formControlName="sale_quote_num" class="form-control" placeholder="">
                      </div>
                      <div class="col-md-4">
                          <label for="sts" class="control-label">Status</label>
                          <ng-select [multiple]="true" [items]="listMaster['listStatus']" bindLabel="name" bindValue="id" formControlName="sts">
                          </ng-select>
                      </div>
                      <div class="col-md-4">
                          <label for="buyer_name" class="control-label" translate>Customer</label>
                          <input type="text" name="buyer_name" formControlName="buyer_name" class="form-control" placeholder="">
                      </div>

                      <ng-container *ngIf="listMaster['listFilter'][0].value">
                          <div class="col-md-4">
                              <label for="type" class="control-label" translate>Date Type</label>
                              <select class="form-control" formControlName="type">
                                      <option value="null" selected="true">--Select--</option>
                                      <option *ngFor="let item of listMaster['dateType']" [ngValue]="item.id">{{item.name}}</option>
                                  </select>
                          </div>
                          <div class="col-md-4">
                              <label for="" class="control-label" translate>&nbsp;</label>
                              <div clickOutside (clickOutside)="d1.close()" class="input-group">
                                  <input [maxDate]="searchForm.value.date_to | dateObj" class="form-control" placeholder="yyyy-mm-dd" name="dp" formControlName="date_from"
                                      ngbDatepicker #d1="ngbDatepicker">
                                  <div class="input-group-append">
                                      <button class="btn btn-outline-secondary" (click)="d1.toggle()" type="button">
                                          <i class="fa fa-calendar" aria-hidden="true"></i>
                                      </button>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-4">
                              <label for="" class="control-label" translate> &nbsp;</label>
                              <div clickOutside (clickOutside)="dt2.close()" class="input-group">
                                  <input [minDate]="searchForm.value.date_from | dateObj" class="form-control" placeholder="yyyy-mm-dd" name="dp" formControlName="date_to"
                                      ngbDatepicker #dt2="ngbDatepicker">
                                  <div class="input-group-append">
                                      <button class="btn btn-outline-secondary" (click)="dt2.toggle()" type="button">
                                          <i class="fa fa-calendar" aria-hidden="true"></i>
                                      </button>
                                  </div>
                              </div>
                          </div>
                      </ng-container>
                  </form>
              </div>
              <div class="col-3">
                  <div class="block-btn-search">
                      <label class="control-label">&nbsp;</label>
                      <div class="group-btn-search">
                          <button type="button" class="btn btn-primary" (click)="moreFilter()">More Filter</button>
                          <div class="show-more" [hidden]="!onoffFilter">
                              <ul >
                                  <li *ngFor="let item of listMaster['listFilter']; let i = index;">
                                      <label for="{{i}}">
                                          <input #inp type="checkbox" value="item.value" [(ngModel)]="item.value"> {{item.name}}
                                      </label>
                                  </li>
                              </ul>
                          </div>
                          <button type="button" class="btn btn-primary" (click)="tableService.searchAction()">Search</button>
                          <button type="button" class="btn btn-default" (click)="tableService.resetAction(this.searchForm)">Reset</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>


        <div class="block-content list-order-table">
            <button (click)="createOrder()" style="margin: 10px 0;" class="btn btn-primary"
                translate>Create Sales Quote</button>

            <div class="table-responsive">
                <table class="table table-striped table-vcenter custom-table" cdArrowTable [collection]="list.items" [(selectedIndex)]="selectedIndex"
                    (onEnter)="selectData($event)">
                    <thead class="bg-white">
                        <tr>
                            <th translate style="width:8%">Sales Quote #</th>
                            <th translate style="width:8%">Reference #</th>
                            <th translate>Customer</th>
                            <th class="text-center" translate style="width:8%">Quote date</th>
                            <th class="text-center" translate style="width:8%">Expiry date</th>
                            <th class="text-center" translate style="width:8%">Total</th>
                            <th class="text-center" translate style="width:50px">Sent</th>
                            <th class="text-center" translate style="width:7%">Status</th>
                            <th translate>Action</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let item of  list.items; let i = index;" [ngClass]="{'row-selected': i == selectedIndex}">
                        <tr>
                            <td>
                                <a class="text-primary" [routerLink]="['detail', item.id]">#{{item.sale_quote_num}}</a>
                            </td>
                            <td>{{item.ref_num}}</td>
                            <td>{{item.buyer_name}}</td>
                            <td class="text-center">
                                {{item.quote_date | date:'yyyy-mm-dd' }}

                            </td>
                            <td class="text-center">
                                <span ng-if="item.expiry_date!=null">{{item.expiry_date | date:'yyyy-mm-dd' }}</span>
                            </td>
                            <td class="text-center">
                                {{item.total_price | currency}}
                            </td>
                            <td class="text-center">
                                <span ng-if="item.has_send_mail_to_buyer == 1" style="color:#46c37b">
                                    <i class="fa fa-check"></i>
                                </span>
                            </td>
                            <td>
                                <span class="badge badge-info" *ngIf="item.sts_code == 'NW'">{{item.sts}}</span>
                                <span class="badge badge-warning" *ngIf="item.sts_code == 'SM'">{{item.sts}}</span>
                                <span class="badge badge-danger" *ngIf="item.sts_code == 'RM'">{{item.sts}}</span>
                                <span class="badge badge-success" *ngIf="item.sts_code == 'AM'">{{item.sts}}</span>
                                <span class="badge badge-primary" *ngIf="item.sts_code == 'CC'">{{item.sts}}</span>
                                <span class="badge badge-primary" *ngIf="item.sts_code == 'SC'">{{item.sts}}</span>                                
                            </td>
                            <td>
                                <button ngbTooltip="Click to Approve" data-toggle="tooltip" *ngIf="item.sts_code=='SM'" type="button" class="btn btn-default"
                                    (click)="approveByManager(item.sale_quote_id)">
                                    <i class="fa fa-check-square"></i>
                                </button>
                                <button ngbTooltip="Click to Reject" data-toggle="tooltip" *ngIf="item.sts_code=='SM'" type="button" class="btn btn-default"
                                    (click)="rejectByManager(item.sale_quote_id)">
                                    <i class="fa fa-ban"></i>
                                </button>
                                <button ngbTooltip="Click to Sent Buyer" data-toggle="tooltip" *ngIf="item.sts_code =='AM'"
                                    type="button" class="btn btn-default" (click)="sentMailToBuyer(item.sale_quote_id)">
                                    <i class="fa fa-envelope"></i>
                                </button>
                                <!-- <a ngbTooltip="Click to Update" class="btn btn-default " [routerLink]="['edit', item.id]" *ngIf="item.sts_code == 'SM'">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    </a> -->
                                <!-- <button ngbTooltip="Click to Update" data-toggle="tooltip" *ngIf="item.sts_code == 'SM'" type="button" class="btn btn-default"
                                    (click)="updateDetail(item.id)">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                </button> -->
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="row normal-pagination" *ngIf="list.items.length > 0">
                <div class="col-md-6">
                    <div class="text-left">
                        <div class="col-md-6" style="padding-left: 0px;">
                            <span style="float: left; padding-right: 10px;">{{list.items.length}}/{{tableService.pagination.total_record}} items </span>
                            <select style="width: 50px; float: left;" class="form-control" [(ngModel)]="tableService.pagination.length" (change)="tableService.changeLength()">
                                <option *ngFor="let option of tableService.itemPerPageOptions" [ngValue]="option">{{option}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="text-right">
                        <ngb-pagination class="d-flex justify-content-end" (pageChange)="tableService.changePage($event)" [pageSize]="tableService.pagination.length"
                            [collectionSize]="tableService.pagination.total_record || 120" [(page)]="tableService.pagination.page"
                            [maxSize]="tableService.maxSize" [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
                    </div>
                </div>
            </div>
        </div>

        <div class="block-content">
            <button (click)="createOrder()" style="margin: 10px 0;" class="btn btn-primary"
                translate>Create Sales Quote</button>

        </div>
    </div>
</div>
