<div [@routerTransition]>
    <app-page-header [heading]="'DETAIL'" [icon]="'fa-th-list'"></app-page-header>
    <section class="main-container block-order-detail">
        <div class="block-button">
            <ul class="list-btn-custom">
                <li *ngIf="orderDetail['order_sts_short_name'] == 'NW'"><button class="btn btn-outline-dark"><i class="fa fa-check-square"></i>Approve</button></li>
                <li><button class="btn btn-outline-dark" (click)="cancel()"><i class="fa fa-ban" ></i>Cancel</button></li>
                <li><button class="btn btn-outline-dark"><i class="fa fa-arrow-left"></i>Back</button></li>
            </ul>
        </div>
        <ngb-tabset>
            <ngb-tab title="INFORMATION">
                <ng-template ngbTabContent>
                    <app-sale-quote-info-tab [orderId]="orderId" (stockValueChange)="checkRender($event)"></app-sale-quote-info-tab>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="SALES QUOTE HISTORY">
                <ng-template ngbTabContent>
                    <app-sale-quote-history-tab [orderId]="orderId"></app-sale-quote-history-tab>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
    </section>
</div>
