<div [@routerTransition]>
    <app-page-header [heading]="'LIST OF SALES QUOTATION'" [icon]="'fa-th-list'"></app-page-header>
    <app-shortcut [listShortcut]='saleQuoteKeyService.getKeys()'></app-shortcut>
    <div class="block anchor-scroll block-order">
        <!-- <section id="statusIndicator" class="status-indicator-section">
            <ul class="status-ctn dashboard-content">
                <li class="status-item dashboard-stat blue">
                    <div class="status-count">1</div>
                    <div class="status-lbl">NEW</div>
                </li>
                <li class="status-item dashboard-stat texas-rose">
                    <div class="status-count">1</div>
                    <div class="status-lbl">SUBMITTED</div>
                </li>
                <li class="status-item dashboard-stat strong-green">
                    <div class="status-count">2</div>
                    <div class="status-lbl">APPROVED</div>
                </li>
                <li class="status-item dashboard-stat magenta">
                    <div class="status-count">1</div>
                    <div class="status-lbl">REJECTED</div>
                </li>
                <li class="status-item dashboard-stat lemon">
                    <div class="status-count">1</div>
                    <div class="status-lbl">PARTIALLY PAID</div>
                </li>
                <li class="status-item dashboard-stat bright-grey">
                    <div class="status-count">2</div>
                    <div class="status-lbl">FULLY PAID</div>
                </li>
                <li class="status-item dashboard-stat darkblue">
                    <div class="status-count">1</div>
                    <div class="status-lbl">OVERDUE</div>
                </li>
                <li class="status-item dashboard-stat red">
                    <div class="status-count">2</div>
                    <div class="status-lbl">CANCELED</div>
                </li>
            </ul>
        </section> -->

        <div class="block-content pd-bottom padding-lr-0 mt-2">
            <div class="row">
                <div class="col-6">
                    <form class="row form-horizontal form-search filter-order-group" role="form" [formGroup]="searchForm">
                        <div class="col-md-4">
                            <label for="sale_quote_num" class="control-label">Sales Quote #</label>
                            <input autofocus="true" type="text" name="sale_quote_num" formControlName="quote_no" class="form-control" placeholder="">
                        </div>
                        <div class="col-md-4">
                            <label for="sts" class="control-label">Status</label>
                            <ng-select [multiple]="true" [items]="listMaster['listStatus']" bindLabel="name" bindValue="id" formControlName="sts">
                            </ng-select>
                        </div>
                        <div class="col-md-4">
                            <label for="buyer_name" class="control-label" translate>Customer</label>
                            <input type="text" name="buyer_name" formControlName="buyer_name" class="form-control" placeholder="">
                        </div>

                        <ng-container *ngIf="listMaster['listFilter'][0].value">
                            <div class="col-md-4">
                                <label for="type" class="control-label" translate>Date Type</label>
                                <select class="form-control" formControlName="date_type">
                                    <option value="null" selected="true">--Select--</option>
                                    <option *ngFor="let item of listMaster['dateType']" [ngValue]="item.id">{{item.name}}</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label for="" class="control-label" translate>From</label>
                                <div class="date-group">
                                    <div clickOutside (clickOutside)="d1.close()" class="input-group">
                                        <input [maxDate]="searchForm.value.date_to | dateObj" class="form-control" placeholder="yyyy-mm-dd" name="dp" formControlName="date_from" ngbDatepicker #d1="ngbDatepicker">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary" (click)="d1.toggle()" type="button">
                                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                                    </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label for="" class="control-label" translate>To</label>
                                <div class="date-group">
                                    <div clickOutside (clickOutside)="dt2.close()" class="input-group">
                                        <input [minDate]="searchForm.value.date_from | dateObj" class="form-control" placeholder="yyyy-mm-dd" name="dp" formControlName="date_to" ngbDatepicker #dt2="ngbDatepicker">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary" (click)="dt2.toggle()" type="button">
                                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                                </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </form>
                </div>
                <div class="col-3">
                    <div class="block-btn-search">
                        <div class="mt-1 group-btn-search">
                            <button type="button" class="btn-default-custom" (click)="moreFilter()">More Filter</button>
                            <div class="show-more" [hidden]="!onoffFilter">
                                <ul class="mt-2">
                                    <li *ngFor="let item of listMaster['listFilter']; let i = index;">
                                        <label for="{{i}}">
                                            <input #inp type="checkbox" value="item.value" [(ngModel)]="item.value"> {{item.name}}
                                        </label>
                                    </li>
                                </ul>
                            </div>
                            <button type="button" class="btn-default-custom" (click)="tableService.searchAction()">Search</button>
                            <button type="button" class="btn-default-custom" (click)="tableService.resetAction(this.searchForm)">Reset</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mg-top-10">
            <div class="col-12">
                <div class="card no-border">
                    <div class="card-header">
                        <strong>Line Items</strong>
                        <button [routerLink]="['create']" style="margin:0; float:right" class="btn btn-link"> <i class="fa fa-plus text-success"></i> Create Sales Quote</button>
                    </div>
                    <div class="card-body no-padding">
                        <div class="table-responsive list">
                            <table class="table table-bordered table-order" cdArrowTable [collection]="list.items" [(selectedIndex)]="selectedIndex" (onEnter)="selectData($event)">
                                <thead class="bg-white">
                                    <tr>
                                        <th translate style="width:8%">Sales Quote #</th>
                                        <th translate>Customer</th>
                                        <th translate>Salesperson</th>
                                        <th translate>Aprrover</th>
                                        <th class="text-center" translate style="width:8%">Quote date</th>
                                        <th class="text-center" translate style="width:8%">Expiry date</th>
                                        <th class="text-center" translate style="width:8%">Total</th>
                                        <th class="text-center" translate style="width:7%">Status</th>
                                        <th translate>Action</th>
                                    </tr>
                                </thead>
                                <tbody *ngFor="let item of  list.items; let i = index;" [ngClass]="{'row-selected': i == selectedIndex}">
                                    <tr>
                                        <td>
                                            <a class="text-primary" [routerLink]="['detail', item.id]">{{item.quote_no}}</a>
                                        </td>
                                        <td>{{item.buyer_name}}</td>
                                        <td class="text-center">{{item.sale_person_name}}</td>
                                        <td class="text-center">{{item.approver_name}}</td>
                                        <td class="text-center">{{item.quote_date | date:'MM/dd/yyyy' }}</td>
                                        <td class="text-center">
                                            <span ng-if="item.expiry_date!=null">{{item.expire_dt | date:'MM/dd/yyyy' }}</span>
                                        </td>
                                        <td class="text-center">
                                            {{item.total_price | currency}}
                                        </td>
                                        <td class="text-center">
                                            <span class="badge badge-info" *ngIf="item.sts_code == 'NW'">{{item.sts}}</span>
                                            <span class="badge badge-warning" *ngIf="item.sts_code == 'SM'">{{item.sts}}</span>
                                            <span class="badge badge-danger" *ngIf="item.sts_code == 'RM'">{{item.sts}}</span>
                                            <span class="badge badge-success" *ngIf="item.sts_code == 'AM'">{{item.sts}}</span>
                                            <span class="badge badge-danger" *ngIf="item.sts_code == 'CC'">{{item.sts}}</span>
                                            <span class="badge badge-primary" *ngIf="item.sts_code == 'SC'">{{item.sts}}</span>
                                            <span class="badge badge-primary" *ngIf="item.sts_code == 'RO'">{{item.sts}}</span>
                                            <span class="badge badge-primary" *ngIf="item.sts_code == 'IU'">{{item.sts}}</span>
                                            <span class="badge badge-primary" *ngIf="item.sts_code == 'EX'">{{item.sts}}</span>
                                        </td>
                                        <td class="text-center">
                                            <button ngbTooltip="Edit" *ngIf="item['sts_code'] == 'NW'" class="btn btn-default" [routerLink]="['/order-management/sale-quotation/edit', item.id]"><i class="fa fa-pencil-square" aria-hidden="true"></i></button>
                                            <button ngbTooltip="Submit" *ngIf="item['sts_code'] == 'NW'" class="btn btn-default" (click)="updateStatus(item.id, 'SM')"><i class="fa fa-caret-square-o-right" aria-hidden="true"></i></button>
                                            <button ngbTooltip="Cancel" *ngIf="item['sts_code'] == 'NW'" class="btn btn-default" (click)="updateStatus(item.id, 'CC')"><i class="fa fa-times-circle" aria-hidden="true"></i></button>
                                            <button ngbTooltip="Approve" *ngIf="item['sts_code'] == 'SM'" class="btn btn-default" (click)="updateStatus(item.id, 'AM')"><i class="fa fa-check-square"></i></button>
                                            <button ngbTooltip="Reject" *ngIf="item['sts_code'] == 'SM'" class="btn btn-default" (click)="updateStatus(item.id, 'RM')"><i class="fa fa-ban" aria-hidden="true"></i></button>
                                            <button ngbTooltip="Clone" class="btn btn-default" (click)="cloneQuote(item.id)"><i class="fa fa-clone"></i></button>
                                        </td>
                                    </tr>

                                </tbody>
                                <tbody *ngIf="list.items.length == 0">
                                    <tr>
                                        <td colspan="100%" class="text-center" translate>No data.</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-12 no-padding">

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row normal-pagination mg-top-10" *ngIf="list.items.length > 0">
            <div class="col-md-6 padding-lr-0">
                <div class="text-left">
                    <div class="col-md-6" style="padding-left: 0px;">
                        <span style="float: left; padding-right: 10px;">{{list.items.length}}/{{tableService.pagination.total_record}} items </span>
                        <select style="width: 50px; float: left;" class="form-control" [(ngModel)]="tableService.pagination.length" (change)="tableService.changeLength()">
                             <option *ngFor="let option of tableService.itemPerPageOptions" [ngValue]="option">{{option}}</option>
                         </select>
                    </div>
                </div>
            </div>
            <div class="col-md-6 padding-lr-0">
                <div class="text-right">
                    <ngb-pagination class="d-flex justify-content-end" (pageChange)="tableService.changePage($event)" [pageSize]="tableService.pagination.length" [collectionSize]="tableService.pagination.total_record || 120" [(page)]="tableService.pagination.page" [maxSize]="tableService.maxSize"
                        [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
                </div>
            </div>
        </div>

    </div>
</div>