<div [@routerTransition]>
    <app-page-header [heading]="'LIST OF RECEIPT VOUCHER'" [icon]="'fa-th-list'"></app-page-header>
    <app-shortcut [listShortcut]='receiptKeyService.getKeys()'></app-shortcut>
    <div class="block anchor-scroll block-order">
        <section id="statusIndicator" class="status-indicator-section">
            <ul class="status-ctn dashboard-content">
                <li style="cursor: pointer;" (click)="filter(item.status)" *ngFor="let item of listMaster['count-status']" class="status-item dashboard-stat {{item.color}}">
                    <img *ngIf="item.img" [src]="item.img" alt="">
                    <div class="status-count">{{ item.count || 0 }}</div>
                    <div class="status-lbl text-uppercase">{{ item.name }}</div>
                </li>
            </ul>
        </section>
        <div class="block-content pd-bottom bg-gray-light short-width">
            <div class="row">
                <form class="form-horizontal form-search" role="form" [formGroup]="searchForm">
                    <div class="block-search">
                        <label for="sale_quote_num" class="control-label">Receipt No</label>
                        <input autofocus="true" type="text" name="receipt_no" formControlName="receipt_no" class="form-control" placeholder="">
                    </div>
                    <div class="block-search">
                        <label for="payment_method" class="control-label" translate>Payment Method</label>
                        <select class="form-control" formControlName="payment_method">
                            <option [hidden]="true" [disabled]="true" [ngValue]="null"></option>
                            <option *ngFor="let item of listMaster['paymentMethod']" [ngValue]="item.id">{{item.name}}</option>
                        </select>
                    </div>
                    <div class="block-search">
                        <label for="customer_id" class="control-label" translate>Payer</label>
                        <ng-select class="infinity-scroll-select" style="width: 110px;" [typeahead]="searchKey" (scrollToEnd)="fetchMoreCustomer($event)" [virtualScroll]="true" [items]="listMaster['customer']" bindLabel="company_name" bindValue="id" formControlName="customer_id">
                        </ng-select>
                    </div>
                    <div class="block-search">
                        <label for="sts" class="control-label">Status</label>
                        <ng-select class="ng-select-filter" [multiple]="true" [items]="this.listMaster['list-status']" bindLabel="name" bindValue="id" formControlName="status">
                        </ng-select>
                    </div>
                    <div class="block-search">
                        <label for="electronic" class="control-label" translate>Electronic</label>
                        <select class="form-control" formControlName="electronic">
                            <option [hidden]="true" [disabled]="true" [ngValue]="null"></option>
                            <option *ngFor="let item of listMaster['electType']" [ngValue]="item.id">{{item.name}}</option>
                        </select>
                    </div>
                    <div class="block-search">
                        <label for="date_type" class="control-label" translate>Date Type</label>
                        <select class="form-control" formControlName="date_type">
                            <option *ngFor="let item of listMaster['dateType']" [ngValue]="item.id">{{item.name}}</option>
                        </select>
                    </div>
                    <div class="block-search">
                        <label for="date_from" class="control-label" translate>From</label>
                        <div class="date-group">
                            <div clickOutside (clickOutside)="d1.close()" class="input-group">
                                <input [maxDate]="searchForm.value.date_to | dateObj" class="form-control" formControlName="date_from" placeholder="mm/dd/yyyy" name="dp" ngbDatepicker #d1="ngbDatepicker">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" (click)="d1.toggle()" type="button">
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="block-search">
                        <label for="date_to" class="control-label" translate>To</label>
                        <div class="date-group">
                            <div clickOutside (clickOutside)="dt2.close()" class="input-group">
                                <input [minDate]="searchForm.value.date_from | dateObj" class="form-control" formControlName="date_to" placeholder="mm/dd/yyyy" name="dp" ngbDatepicker #dt2="ngbDatepicker">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" (click)="dt2.toggle()" type="button">
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="block-btn-search">
                        <label class="control-label">&nbsp;</label>
                        <div class="group-btn-search">
                            <button type="button" class="btn btn-primary" (click)="tableService.searchAction()">Search</button>
                            <button type="button" class="btn btn-default" (click)="tableService.resetAction(this.searchForm)">Reset</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row mg-top-10">
            <div class="col-12">
                <div class="card no-border">
                    <div class="card-header">
                        <strong>Line Items</strong>
                        <button [routerLink]="['create']" style="margin:0; float:right" class="btn btn-link"> <i class="fa fa-plus text-success"></i>
                            Create Receipt Voucher</button>
                    </div>
                    <div class="card-body no-padding">
                        <div class="table-responsive list">
                            <table class="table table-bordered table-order" cdArrowTable [collection]="list.items" [(selectedIndex)]="selectedIndex" (onEnter)="selectData($event)">
                                <thead class="bg-white">
                                    <tr>
                                        <th style="width:50px"></th>
                                        <th>Voucher</th>
                                        <th>Payer</th>
                                        <th>Payment Date</th>
                                        <th>Payment Method</th>
                                        <th>Electric Payment</th>
                                        <th>Received Amount</th>
                                        <th>Status</th>
                                        <th>Created On</th>
                                        <th>Created By</th>
                                        <th>Last Updated On</th>
                                        <th>Last Updated By</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody *ngFor="let item of  list.items; let i = index;" [ngClass]="{'row-selected': i == selectedIndex}">
                                    <tr>
                                        <td>
                                            <img *ngIf="item.sts_code!='CP'" src="assets/img/qbicon-gray.png" width="20px" height="20px">
                                            <a *ngIf="item.sts_code=='CP'" href="https://sandbox.qbo.intuit.com/app/sales" target="_blank">
                                                <img placement="top" ngbTooltip="Sent Invoice To QuickBooks {{item.updated_at}}" src="../../assets/img/qbicons.png" width="20px" height="20px">
                                            </a>
                                        </td>
                                        <td>
                                            <a class="text-primary" [routerLink]="['view', item.id]">{{item.cd}}</a>
                                        </td>
                                        <td>{{item.company_name}}</td>
                                        <td>{{item.payment_date|date:'MM/dd/yyyy'}}</td>
                                        <td>{{item.payment_method}}</td>
                                        <td>{{item.electronic}}</td>
                                        <td>{{item.price_received|currency}}</td>
                                        <td>
                                            <span class="badge badge-info bg-blue" *ngIf="item.sts_code == 'NW'">{{item.sts}}</span>
                                            <span class="badge badge-warning bg-texas-rose" *ngIf="item.sts_code == 'SB'">{{item.sts}}</span>
                                            <span class="badge badge-danger bg-magenta" *ngIf="item.sts_code == 'RJ'">{{item.sts}}</span>
                                            <span class="badge badge-success bg-strong-green" *ngIf="item.sts_code == 'RC'">{{item.sts}}</span>
                                            <span class="badge badge-danger bg-red" *ngIf="item.sts_code == 'CC'">{{item.sts}}</span>
                                            <span class="badge badge-primary bg-lemon" *ngIf="item.sts_code == 'ER'">{{item.sts}}</span>
                                        </td>
                                        <td>{{item.created_at|date:'MM/dd/yyyy'}}</td>
                                        <td>{{item.created_by}}</td>
                                        <td>{{item.updated_at|date:'MM/dd/yyyy'}}</td>
                                        <td>{{item.updated_by}}</td>
                                        <td>
                                            <a class="btn btn-default" ngbTooltip="View" (click)="viewReceipt(item.id)">
                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                            </a>
                                            <a class="btn btn-default " ngbTooltip="Edit" (click)="editReceipt(item.id)" *ngIf="item.sts_code == 'NW'">
                                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                            </a>
                                            <a ngbTooltip="Submit" *ngIf="item.sts_code == 'NW'" class="btn btn-default" (click)="confirmModal(item.id, 2)"><i class="fa fa-caret-square-o-right"
                                                    aria-hidden="true"></i></a>
                                            <a class="btn btn-default" ngbTooltip="Cancel" (click)="confirmModal(item.id, 6)" *ngIf="item.sts_code == 'NW'">
                                                <i class="fa fa-times-circle" aria-hidden="true"></i>
                                            </a>
                                            <a ngbTooltip="Approve" *ngIf="item.sts_code == 'SB'" class="btn btn-default" (click)="confirmModal(item.id, 3)"><i class="fa fa-check"></i></a>
                                            <a ngbTooltip="Reject" *ngIf="item.sts_code == 'SB'" class="btn btn-default" (click)="confirmModal(item.id, 4)"><i class="fa fa-ban" aria-hidden="true"></i></a>
                                            <!-- <a class="btn btn-default" ngbTooltip="Print" (click)="printPDF(item.id, item.inv_num)">
                                                <i class="fa fa-download" aria-hidden="true"></i>
                                            </a> -->
                                        </td>
                                    </tr>
                                </tbody>
                                <tbody *ngIf="list.items.length == 0">
                                    <tr>
                                        <td colspan="100%" class="text-center" translate>No data.</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-12 no-padding">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row normal-pagination mg-top-10" *ngIf="list.items.length > 0">
            <div class="col-md-6 padding-lr-0">
                <div class="text-left">
                    <div class="col-md-6" style="padding-left: 0px;">
                        <span style="float: left; padding-right: 10px;">{{list.items.length}}/{{tableService.pagination.total_record}}
                            items </span>
                        <select style="width: 50px; float: left;" class="form-control" [(ngModel)]="tableService.pagination.length" (change)="tableService.changeLength()">
                            <option *ngFor="let option of tableService.itemPerPageOptions" [ngValue]="option">{{option}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-6 padding-lr-0">
                <div class="text-right">
                    <ngb-pagination class="d-flex justify-content-end" (pageChange)="tableService.changePage($event)" [pageSize]="tableService.pagination.length" [collectionSize]="tableService.pagination.total_record || 120" [(page)]="tableService.pagination.page" [maxSize]="tableService.maxSize"
                        [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
                </div>
            </div>
        </div>

    </div>
</div>