<div class='address-tab'>
    <div class="row tab-content">
        <div class="col-5">
            <div class="">
                <h3 class="block-title" translate>ORDER INFO</h3>
                <form class="information-tab-content">
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label text-label">Order Number</label>
                        <div class="col-sm-3">
                            <label class="col-form-label control-label">{{detail['code']}}</label>
                        </div>
                        <label class="col-sm-3 col-form-label text-label">Priority</label>
                        <div class="col-sm-4">
                            <label class="col-form-label control-label">{{detail['prio_level_label']}}</label>
                        </div>
                        <div class="w-100"></div>
                        <label class="col-sm-2 col-form-label text-label">Sale Quote #</label>
                        <div class="col-sm-3">
                            <label class="col-form-label control-label">{{detail['sale_quote_num']}}</label>
                        </div>
                        <label class="col-sm-3 col-form-label text-label">Payment Method</label>
                        <div class="col-sm-4">
                            <label class="col-form-label control-label">
                              <span translate *ngIf="detail['payment_method']=='AB'">Account Balance </span>
                              <span translate *ngIf="detail['payment_method']=='BT'">Bank Transfer </span>
                              <span translate *ngIf="detail['payment_method']=='CS'">Cash </span>
                              <span translate *ngIf="detail['payment_method']=='CC'">Credit Card</span>
                            </label>
                        </div>
                        <div class="w-100"></div>
                        <label class="col-sm-2 col-form-label text-label">Order Status</label>
                        <div class="col-sm-3">
                            <label class="col-form-label control-label">                                
                              <span class="label label-info" *ngIf="detail['order_sts_short_name'] == 'NW'">{{detail['order_sts_name']}}</span>
                              <span class="label label-warning" *ngIf="detail['order_sts_short_name'] == 'IP'">{{detail['order_sts_name']}}</span>
                              <span class="label label-danger" *ngIf="detail['order_sts_short_name'] == 'PP'">{{detail['order_sts_name']}}</span>
                              <span class="label  label-success" *ngIf="detail['order_sts_short_name'] == 'CP'">{{detail['order_sts_name']}}</span>
                              <span class="label label-danger" *ngIf="detail['order_sts_short_name'] == 'AP'">{{detail['order_sts_name']}}</span>
                              <span class="label  label-success" *ngIf="detail['order_sts_short_name'] == 'RS'">{{detail['order_sts_name']}}</span>
                              <span class="label label-danger" *ngIf="detail['order_sts_short_name'] == 'DL'">{{detail['order_sts_name']}}</span>
                              <span class="label  label-success" *ngIf="detail['order_sts_short_name'] == 'PD'">{{detail['order_sts_name']}}</span>
                            </label>
                        </div>
                        <label class="col-sm-3 col-form-label text-label">Warehouse</label>
                        <div class="col-sm-4">
                            <label class="col-form-label control-label">{{detail['warehouse_name']}}</label>
                        </div>
                        <div class="w-100"></div>
                        <label class="col-sm-2 col-form-label text-label">Customer PO</label>
                        <div class="col-sm-3">
                            <label class="col-form-label control-label">{{detail['cus_po']}}</label>
                        </div>
                        <label class="col-sm-3 col-form-label text-label">Saleperson</label>
                        <div class="col-sm-4">
                            <label class="col-form-label control-label">{{detail['sale_person_name']}}</label>
                        </div>
                        <div class="w-100"></div>
                        <label class="col-sm-2 col-form-label text-label">Order Type</label>
                        <div class="col-sm-3">
                            <label class="col-form-label control-label">{{detail['type_name']}}</label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-3 border-left">
            <div class="">
                <h3 class="block-title" translate>CUSTOMER INFO</h3>
                <form class="information-tab-content">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label text-label">Name</label>
                        <div class="col-sm-8">
                            <label class="col-form-label control-label">{{detail.buyer_info['buyer_name']}}</label>
                        </div>
                        <label class="col-sm-3 col-form-label text-label">Contact</label>
                        <div class="col-sm-8">
                            <label class="col-form-label control-label">{{detail.buyer_info['buyer_contact']}}</label>
                        </div>
                        <label class="col-sm-3 col-form-label text-label">Phone</label>
                        <div class="col-sm-8">
                            <label class="col-form-label control-label">{{detail.buyer_info['buyer_phone']}}</label>
                        </div>
                        <label class="col-sm-3 col-form-label text-label">Email</label>
                        <div class="col-sm-8">
                            <label class="col-form-label control-label">{{detail.buyer_info['buyer_email']}}</label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-2 border-left">
            <div class="">
                <h3 class="block-title" translate>BILLING ADDRESS</h3>
                <form class="information-tab-content">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label text-label">Country</label>
                        <div class="col-sm-8">
                            <label class="col-form-label control-label">{{detail.billing['country_name']}}</label>
                        </div>
                        <label class="col-sm-4 col-form-label text-label">Address</label>
                        <div class="col-sm-8">
                            <label class="col-form-label control-label">{{detail.billing['address_line']}}</label>
                        </div>
                        <label class="col-sm-4 col-form-label text-label">City</label>
                        <div class="col-sm-8">
                            <label class="col-form-label control-label">{{detail.billing['city_name']}}</label>
                        </div>
                        <label class="col-sm-4 col-form-label text-label">State</label>
                        <div class="col-sm-8">
                            <label class="col-form-label control-label">{{detail.billing['state_name']}}</label>
                        </div>
                        <label class="col-sm-4 col-form-label text-label">Zip Code</label>
                        <div class="col-sm-8">
                            <label class="col-form-label control-label">{{detail.billing['zip_code']}}</label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-2 border-left">
            <div class="">
                <h3 class="block-title" translate>SHIPPING ADDRESS</h3>
                <form class="information-tab-content">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label text-label">Country</label>
                        <div class="col-sm-8">
                            <label class="col-form-label control-label">{{detail.shipping_address['country_name']}}</label>
                        </div>
                        <label class="col-sm-4 col-form-label text-label">Address</label>
                        <div class="col-sm-8">
                            <label class="col-form-label control-label">{{detail.shipping_address['address_line']}}</label>
                        </div>
                        <label class="col-sm-4 col-form-label text-label">City</label>
                        <div class="col-sm-8">
                            <label class="col-form-label control-label">{{detail.shipping_address['city_name']}}</label>
                        </div>
                        <label class="col-sm-4 col-form-label text-label">State</label>
                        <div class="col-sm-8">
                            <label class="col-form-label control-label">{{detail.shipping_address['state_name']}}</label>
                        </div>
                        <label class="col-sm-4 col-form-label text-label">Zip Code</label>
                        <div class="col-sm-8">
                            <label class="col-form-label control-label">{{detail.shipping_address['zip_code']}}</label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12" style="margin-bottom:15px">
            <div class="block-header bg-gray-lighter">
                <h3 class="block-title" translate>PRODUCTS INFO</h3>
            </div>
        </div>
        <div class="col-md-12">
            <div class="" ng-show="detail.subs.length >0">
                <table class="table table-striped table-vcenter custom-table">
                    <thead class="bg-white">
                        <tr>
                            <th translate>SKU #</th>
                            <th translate>Product Name</th>
                            <th class="text-nowrap text-center " translate>Order QTY</th>
                            <th class="text-nowrap text-center" translate>Shipped QTY</th>
                            <!-- <th class="text-nowrap text-center" translate>Ship To</th> -->
                            <th class="text-center" translate>Cost</th>
                            <th class="text-center" translate>Discount</th>
                            <th class="text-center" translate>Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of detail.list.items">
                            <td>{{item.sku}}</td>
                            <td>{{item.des}}</td>
                            <td class="text-center">{{item.qty}} </td>
                            <td class="text-center">{{item.qty_shipped}}</td>
                            <!-- <td>
                                <span>{{item.address_full}}</span>
                            </td> -->
                            <td class="text-center">{{item.price |currency:'$'}}</td>
                            <td class="text-center">{{item.discount|currency:'$'}}</td>
                            <td class="text-center">{{item.total_price|currency:'$'}}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="text-right">
                                <strong class="text-danger text-left" translate>TOTAL</strong>
                            </td>
                            <td class="text-center">
                                <strong>{{totalQTY}}</strong>
                            </td>
                            <td class="text-center">
                                <strong>{{totalShipQTY}}</strong>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <!-- <td></td> -->
                        </tr>
                        <tr *ngIf="detail.subs.length === 0">
                            <td colspan="100%" class="text-center" translate>No data.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6">
            <form>
                <div class="form-group">
                    <label for="">Remarks</label>
                    <textarea name="name" class="form-control" rows="4"></textarea>
                </div>
            </form>
        </div>
        <div class="col-md-4 offset-md-2">
          <form class="information-tab-content">
              <div class="form-group row">
                  <label class="col-sm-4 offset-md-4 col-form-label text-label">Sub Total:</label>
                  <div class="col-sm-4 text-right">
                      <label class="col-form-label control-label">{{detail['sub_total_price']|currency}}</label>
                  </div>
                  <div class="w-100"></div>
                  <label class="col-sm-4 offset-md-4 col-form-label text-label">+ Shipping Cost ($):</label>
                  <div class="col-sm-4 text-right">
                      <label class="col-form-label control-label">{{detail['shipping'] |currency}}</label>
                  </div>
                  <!-- <div class="w-100"></div>
                  <label class="col-sm-4 offset-md-4 col-form-label text-label">- Promotion DC ($):</label>
                  <div class="col-sm-4 text-right">
                      <label class="col-form-label control-label">{{detail.total_invoice_discount|currency}}</label>
                  </div> -->
                  <div class="w-100"></div>
                  <label class="col-sm-4 offset-md-4 col-form-label text-label">- Discount (%):</label>
                  <div class="col-sm-4 text-right">
                      <label class="col-form-label control-label">{{detail['discount_percent']}}</label>
                  </div>
                  <div class="w-100"></div>
                  <label class="col-sm-4 offset-md-4 col-form-label text-label">+ TAX / VAT (%):</label>
                  <div class="col-sm-2 text-right">
                      <label class="col-form-label control-label">{{detail['vat_percent']}}</label>
                  </div>
                  <div class="col-sm-2 text-right">
                      <label class="col-form-label control-label">{{detail['discount']|currency}}</label>
                  </div>
                  <div class="w-100"></div>
                  <label class="col-sm-4 offset-md-4 col-form-label text-label">Total:</label>
                  <div class="col-sm-4 text-right">
                      <label class="col-form-label control-label">{{detail['total_price'] |currency}}</label>
                  </div>
                  <!-- <div class="w-100"></div>
                  <label class="col-sm-4 offset-md-4 col-form-label text-label">Total Paid:</label>
                  <div class="col-sm-4 text-right">
                      <label class="col-form-label control-label"><span class="text-success">{{detail['total_paid'] |currency}}  </span></label>
                  </div>
                  <div class="w-100"></div>
                  <label class="col-sm-4 offset-md-4 col-form-label text-label">Balance</label>
                  <div class="col-sm-4 text-right">
                      <label class="col-form-label control-label"><span class="text-danger">{{detail['balance'] |currency}} </span></label>
                  </div> -->
              </div>
          </form>
        </div>
    </div>
</div>
