<div class='address-tab'>
    <div class="bd-example text-right">
        <button [keyConfig]="keyService.getKeyConfig()" appKeyNavigate="back_button" class="btn btn-outline-dark" (click)="cancel()">Back To List</button>

        <button ngbTooltip="Submit" *ngIf="_orderDetail['order_sts_short_name'] == 'NW'" class="btn btn-outline-dark" (click)="confirmModal(_orderId, 'SM')"><i class="fa fa-caret-square-o-right" aria-hidden="true"></i> Submit</button>
        <button ngbTooltip="Approve" *ngIf="_orderDetail['order_sts_short_name'] == 'SM'" class="btn btn-outline-dark" (click)="confirmModal(_orderId, 'AP')"><i class="fa fa-check-square" aria-hidden="true"></i> Approve</button>
        <button ngbTooltip="Reject" *ngIf="_orderDetail['order_sts_short_name'] == 'SM'" class="btn btn-outline-dark" (click)="confirmModal(_orderId, 'RJ')"><i class="fa fa-ban"></i> Reject</button>
        <button ngbTooltip="Cancel" *ngIf="_orderDetail['order_sts_short_name'] == 'NW'" class="btn btn-outline-dark" (click)="confirmModal(_orderId, 'CC')"><i class="fa fa-times-circle"></i> Cancel</button>
        <button ngbTooltip="Re Open" *ngIf="_orderDetail['order_sts_short_name'] == 'RJ'" class="btn btn-outline-dark" (click)="confirmModal(_orderId, 'RO')"><i class="fa fa-clone"></i> Re-Open</button>
        <button ngbTooltip="Copy" class="btn btn-outline-dark" (click)="confirmModal(_orderId, 'CLONE')"><i class="fa fa-clone"></i> Copy</button>
        <button ngbTooltip="Edit" *ngIf="_orderDetail['order_sts_short_name'] == 'NW' || _orderDetail['order_sts_short_name'] == 'RV' || (_orderDetail['order_sts_short_name'] == 'AP' || _orderDetail['order_sts_short_name'] == 'IP' || _orderDetail['order_sts_short_name'] == 'PP' || _orderDetail['order_sts_short_name'] == 'RS') " class="btn btn-outline-dark" (click)="edit()"><i class="fa fa-pencil-square"></i> Edit</button>
        <button ngbTooltip="Generate Invoice" (click)="generateInvoice()" *ngIf="['AP', 'IP', 'PP', 'RS'].indexOf(_orderDetail['order_sts_short_name']) != -1" class="btn btn-outline-dark"><i class="fa fa-plus"></i> Generate Invoice</button>

    </div>
    <section class="rma-page block main-container block-order">
        <div class="row block-info">
            <div class="col-md-4 p-l-5 p-r-2">
                <div class="card height-100">
                    <div class="card-header">
                        <strong>Information</strong>
                    </div>
                    <div class="card-body">
                        <div class="row information height-100">
                            <div class="col-md-12 fix-padding">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class='col-6'>Order No

                                     </label>
                                            <div class='col-6'>
                                                {{detail['code']}}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class='col-6'>Customer PO

                                     </label>
                                            <div class='col-6'>
                                                {{detail['customer_po']}}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class='col-6'>Quote No

                                     </label>
                                            <div class='col-6'>
                                                <button style="padding-left:0px" class="btn btn-link" [routerLink]="['/order-management/sale-quotation/detail', detail['sale_quote_id']]">{{detail['sale_quote_cd']}}</button>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class='col-6'>Order Date

                                     </label>
                                            <div class='col-6'>
                                                {{detail['order_date'] |date:'MM/dd/yyyy'}}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class='col-6'>Order Type

                                     </label>
                                            <div class='col-6'>
                                                {{detail['type_name']}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 customer-infomation bolder">
                                        <div class="form-group row">
                                            <label class='col-6'>Order Status</label>
                                            <div class='col-6'>
                                                {{detail['order_sts_name']}}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class='col-6'>Payment Method</label>
                                            <div class='col-6'>
                                                {{detail['payment_method_name']}}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class='col-6'>Payment Terms

                                     </label>
                                            <div class='col-6'>
                                                {{detail['payment_term_name']}}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class='col-6'>Salesperson</label>
                                            <div class='col-6'>
                                                {{detail['sale_person_name']}}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class='col-6'>Last Update On</label>
                                            <div class='col-6'>
                                                {{detail['last_update_on']}}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class='col-6'>Last Updaye By</label>
                                            <div class='col-6'>
                                                {{detail['last_update_by']}}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class='col-6'>Approver

                                     </label>
                                            <div class='col-6'>
                                                {{detail['approver_name']}}
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 2 padding-lr-5">
                <div class="card height-100">
                    <div class="card-header">
                        <strong>Customer Information</strong>
                    </div>
                    <div class="card-body p-25">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group row">
                                    <label class="control-label col-5" translate>Customer Name</label>
                                    <div class="col-7">
                                        {{detail['buyer_name']}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group row">
                                    <label class="control-label col-5" translate>Contact</label>
                                    <div class="col-7">
                                        {{detail['contact_user_name']}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group row">
                                    <label class='col-5'>Phone</label>
                                    <div class='col-7 '>
                                        {{detail['contact_user_phone']}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group row">
                                    <label class='col-5'>Email</label>
                                    <div class='col-7 '>
                                        {{detail['contact_user_email']}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6" style="padding-right: 18px;">
                <div class="row  height-100">
                    <div class="col-4 p-l-0 p-r-2">
                        <div class="card height-100">
                            <div class="card-header">
                                <strong>Bill To</strong>
                            </div>
                            <div class="card-body p-25">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group row">
                                            <label class="control-label col-5" translate>Label</label>
                                            <div class="col-7">
                                                {{detail.billing['name']}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group row">
                                            <label class="control-label col-5" translate>Address</label>
                                            <div class="col-7">
                                                {{detail.billing['address_line']}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group row">
                                            <label class=" control-label col-5" translate>City / State</label>
                                            <div class="col-7">
                                                {{detail.billing['city_name']}}/ {{detail.billing['state_name']}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group row">
                                            <label class="control-label col-5" translate>Zip</label>
                                            <div class="col-7">
                                                {{detail.billing['zip_code']}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group row">
                                            <label class="control-label col-5" translate>Country</label>
                                            <div class="col-7">
                                                {{detail.billing['country_name']}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 p-l-0 p-r-2">
                        <div class="card height-100">
                            <div class="card-header">
                                <strong>Ship To</strong>
                            </div>
                            <div class="card-body p-25">
                                <div class="row" *ngIf="!detail['shipping_id']">
                                    <div class="col-12">
                                        Customer will pickup goods in store
                                    </div>
                                </div>
                                <div class="row" *ngIf="detail['shipping_id']">
                                    <div class="col-12">
                                        <div class="form-group row">
                                            <label class="control-label col-5" translate>Label</label>
                                            <div class="col-7">
                                                {{detail.shipping['name']}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group row">
                                            <label class="control-label col-5" translate>Address</label>
                                            <div class="col-7">
                                                {{detail.shipping['address_line']}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group row">
                                            <label class=" control-label col-5" translate>City / State</label>
                                            <div class="col-7">
                                                {{detail.shipping['city_name']}}/ {{detail.shipping['state_name']}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group row">
                                            <label class="control-label col-5" translate>Zip</label>
                                            <div class="col-7">
                                                {{detail.shipping['zip_code']}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group row">
                                            <label class="control-label col-5" translate>Country</label>
                                            <div class="col-7">
                                                {{detail.shipping['country_name']}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 p-l-0 p-r-2">
                        <div class="card height-100">
                            <div class="card-header">
                                <strong>Shipping Method</strong>
                            </div>
                            <div class="card-body p-25">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group row">
                                            <label class='col-6'>Warehouse</label>
                                            <div class='col-6'>
                                                {{detail['warehouse_name']}}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class='col-6'>Ship Via </label>
                                            <div class='col-6' *ngIf="!detail['shipping_id']">
                                                Pickup in Store
                                            </div>
                                            <div class='col-6' *ngIf="detail['shipping_id']">
                                                {{detail['carrier_name']}}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class='col-6'>Option</label>
                                            <div class='col-6'>
                                                {{detail['shipping_method_option_name']}}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class='col-6'>Ship Rate</label>
                                            <div class='col-6' *ngIf="!detail['shipping_id']">
                                                Manual Rate
                                            </div>
                                            <div class='col-6' *ngIf="detail['shipping_id']">
                                                {{detail['shipping_method_rate_name']}}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class='col-6'>Exp. Delivery Date
                                  </label>
                                            <div class='col-6'>
                                                {{detail['delivery_date'] |date:'MM/dd/yyyy'}}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class='col-6'>Priority</label>
                                            <div class='col-6'>
                                                {{detail['prio_level_label']}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mg-top-10">
            <div class="col-12 padding-lr-5">
                <div class="card no-border">
                    <div class="card-header">
                        <strong>Line Items</strong>
                    </div>
                    <div class="card-body no-padding">
                        <div class="table-responsive">
                            <table class="table table-bordered table-order">
                                <thead>
                                    <tr>
                                        <!-- <th style="width:100px" translate>Action</th> -->
                                        <th style="width:100px" translate>Item No</th>
                                        <th style="width:150px" translate>Description</th>
                                        <th style="width:75px" translate>Condition</th>
                                        <th style="width:75px" translate>UOM</th>
                                        <th style="width:75px" translate>Free Ship</th>
                                        <th style="width:75px" translate>Ordered</th>
                                        <th style="width:75px" translate>Canceled</th>
                                        <th style="width:75px" translate>Remaining</th>

                                        <th translate style="width:75px">Shipped</th>
                                        <th translate style="width:75px">Returned</th>
                                        <th style="width:75px" translate>Unit Price</th>
                                        <th style="width:75px" translate>Disc %</th>
                                        <th style="width:75px" translate>Tax %</th>
                                        <th translate style="width:75px">Amount</th>
                                        <th translate style="width:75px">G/L Account</th>
                                        <th translate style="width:75px">Price Source</th>
                                    </tr>
                                </thead>
                                <tr *ngIf="detail['subs'].length === 0">
                                    <td colspan="100%" class="text-center" translate>No data.</td>
                                </tr>
                                <tbody *ngFor="let item of detail['subs']; let $index = index;">
                                    <tr>
                                        <!-- <td>
                            </td> -->
                                        <td>{{item.sku}}</td>
                                        <td>{{item.des}}</td>
                                        <td>{{item.condition_name}}</td>
                                        <td>{{item.uom_name}}</td>
                                        <td class="text-center">
                                            <i *ngIf="item.is_shipping_free" class="text-success fa fa-check"></i>
                                        </td>
                                        <td class="text-right">
                                            {{item.quantity }}
                                        </td>
                                        <td class="text-right">
                                            {{item.qty_cancel ||0 }}
                                        </td>
                                        <td class="text-right">
                                            {{item.qty_remain }}
                                        </td>

                                        <td class="text-right">{{item.qty_shipped}}</td>
                                        <td class="text-right">{{ item.qty_return }}</td>
                                        <td class="text-right">
                                            <div>
                                                {{item.sale_price | currency}}
                                                <!-- <span>$</span>
                                                <div style="display:inline-block;width:80%">
                                                    <input readonly class="form-control input-sm" type="number" [(ngModel)]="item.sale_price" (change)="updateTotal();changeFromSource(item)">
                                                </div> -->
                                            </div>
                                        </td>
                                        <td class="text-right">
                                            {{item.discount_percent }}
                                            <!-- <input readonly class="form-control input-sm" type="number" [(ngModel)]="item.discount_percent" (change)="updateTotal();changeFromSource(item)"> -->
                                        </td>
                                        <td class="text-right">
                                            {{item.tax_percent }}
                                            <!-- <input readonly class="form-control input-sm" type="number" [(ngModel)]="item.tax_percent" (change)="updateTotal();changeFromSource(item)"> -->
                                        </td>
                                        <td class="text-right">
                                            <span>{{item.total_price | currency}}</span>
                                        </td>
                                        <td>
                                            {{ item.income_account_name }}
                                        </td>
                                        <td class="text-center">
                                            <span>
                                             {{item.source_name}}
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mg-top-10 padding-child-5 justify-content-end">
            <div class="col-md-3">
                <div class="card height-100">
                    <div class="card-header">
                        <strong>Note</strong>
                    </div>
                    <div class="card-body no-padding">

                        <div class="col-md-12">
                            {{detail['description']}}
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-md-4 p-l-5 p-r-2">
                <div class="card height-100">
                    <div class="card-header">
                        <strong>Order Summary</strong>
                    </div>
                    <div class="card-body">
                        <div class="row information height-100">
                            <div class="col-md-12 fix-padding">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class='col-7'>Total Ordered Items</label>
                                            <div class='col-5'>
                                                {{ detail['total_item'] || 0}}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class='col-7'>Total Weight</label>
                                            <div class='col-5'>
                                                {{ (detail['total_weight'] || 0)}} lbs
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class='col-7'>Original Shipping Cost </label>
                                            <div class='col-5'>
                                                {{ (detail['original_ship_cost'] || 0) | currency}}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class='col-7'>Total Canceled Items</label>
                                            <div class='col-5'>
                                                {{detail['qty_cancel'] || 0 }}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class='col-7'>Total Return COGS</label>
                                            <div class='col-5'>
                                                {{detail['total_return_cogs'] || 0}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 customer-infomation bolder">
                                        <div class="form-group row">
                                            <label class='col-7'>Total COGS</label>
                                            <div class='col-5'>
                                                {{ (detail['total_cogs'] || 0) | currency}}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class='col-7'>Total Volume</label>
                                            <div class='col-5'>
                                                {{ (detail['total_vol'] || 0)}} CBM
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class='col-7'>Total Shipped Items </label>
                                            <div class='col-5'>
                                                {{detail['qty_shipped'] || 0 }}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class='col-7'>Total Returned Items </label>
                                            <div class='col-5'>
                                                {{detail['qty_return'] || 0}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3" style="max-width: 250px;">
                <div class="card height-100">
                    <div class="card-header">
                        <strong>Order Total</strong>
                    </div>
                    <div class="card-body p-17">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group row">
                                    <label class='col-5 control-label'>
                            <strong class="text-warning">Sub Total</strong>
                            </label>
                                    <div class='col-6 offset-md-1 padding-lr-10'>
                                        <strong>{{detail['sub_total_price'] | currency}}</strong>
                                    </div>
                                </div>
                                <div *ngFor="let item of order_info['taxs']" class="form-group row">
                                    <label class='col-6 control-label'>+ TAX ({{item.tax_percent}}%):</label>
                                    <div class='col-5 padding-lr-10'>
                                        {{ item.tax | currency }}
                                        <!-- <input class="form-control" readonly="true" [(ngModel)]="item.tax" class="form-control" value="0" type="number"> -->
                                    </div>
                                </div>
                                <div class="form-group row margin-lr-0 text-light bg-danger">
                                    <label class="col-5 control-label ">
                                 <strong>Grand Total:</strong>
                             </label>
                                    <div class="col-6 offset-md-1 ">
                                        <strong>{{(detail['total_price'] || 0)  | currency}}</strong>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class='col-5 control-label'>
                            <strong>Total Paid</strong>
                            </label>
                                    <div class='col-6 offset-md-1 padding-lr-10'>
                                        <strong>{{(detail['total_paid'] ||0)  | currency}}</strong>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class='col-5 control-label'>
                            <strong>Total Refunded</strong>
                            </label>
                                    <div class='col-6 offset-md-1 padding-lr-10'>
                                        <strong>$0.00</strong>
                                    </div>
                                </div>
                                <!-- <div class="form-group row">
                                    <label class='col-5 control-label'>
                            <strong>Total Due</strong>
                            </label>
                                    <div class='col-6 offset-md-1 padding-lr-10'>
                                        <strong>$0.00</strong>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>