<div class="block anchor-scroll block-order">
    <div class="row mg-top-10">
        <div class="col-12">
            <div class="card no-border">
                <div class="card-header">
                    <strong>Line Items</strong>
                </div>
                <div class="card-body no-padding">
                    <div class="scroll-container table-responsive list">
                        <table class='table table-bordered table-order'>
                            <thead class="bg-white">
                                <tr>
                                    <th translate>Return Order No</th>
                                    <th translate>Return Type</th>
                                    <th translate>Customer</th>
                                    <th translate>Request Date</th>
                                    <th translate>Status</th>
                                    <th translate>Sales Order No</th>
                                    <th translate>Warehouse</th>
                                    <th translate>Total Return QTY</th>
                                    <th translate>Total Accepted QTY</th>
                                    <th translate>Return Time</th>
                                    <th translate>Salesperson</th>
                                    <th translate>Last Updated On</th>
                                    <th translate>Last Updated By</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let item of list.items">
                                <tr>
                                    <td>{{item.cd}}</td>
                                    <td>{{item.return_type}}</td>
                                    <td>{{item.company_name}}</td>
                                    <td>{{item.request_date |date:'MM/dd/yyyy'}}</td>
                                    <td><span *ngIf="item.sts_name">{{item.sts_name['name']}}</span></td>
                                    <td>{item.order_code}}</td>
                                    <td>{{item.warehouse_name}}</td>
                                    <td class="text-center">{{item.total_return_qty}}</td>
                                    <td class="text-center">{{item.total_accepted_qty}}</td>
                                    <td class="text-center">{{item.return_time}}</td>
                                    <td>{{item.sale_person_name}}</td>
                                    <td>{{item.updated_at |date:'MM/dd/yyyy'}}</td>
                                    <td>{{item.updated_by}}</td>
                                </tr>
                            </tbody>
                            <tbody *ngIf="list.items.length == 0">
                                <tr>
                                    <td class="text-center" colspan="100%">No data.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>