<div class="container timeline-order">
        <div class="row">
            <div class="timeline-centered">
                <article class="timeline-entry" *ngFor="let item of detail.history">
                    <div class="timeline-entry-inner">
                        <div class="timeline-label timeline-date">
                            <h5 class="block-title"><a href="javascript:void()">{{item.log_date}}</a></h5>                          
                        </div>
                    </div>                  
                    <div class="timeline-entry-inner" *ngFor="let log of item.log_data">
                        <div class="timeline-icon bg-info">
                            <i class="entypo-suitcase"></i>
                        </div>
                        <div class="timeline-label">
                            <span class="pull-right">{{log.log_date}}</span>
                            <p>{{log.log_user_name}} : {{log.log_content}}</p>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>