<div [@routerTransition]>
    <app-page-header [heading]="'LIST OF MISCELLANEOUS ITEMS'" [icon]="'fa-th-list'"></app-page-header>
    <app-shortcut [listShortcut]='keyService.getKeys()'></app-shortcut>
    <div class="block anchor-scroll block-order">

        <div class="block-content pd-bottom padding-lr-0 mt-2">
            <div class="row">
                <div class="col-6">
                    <form class="row form-horizontal form-search filter-order-group" role="form" [formGroup]="searchForm">
                        <div class="col-md-4">
                            <label for="no" class="control-label">Item No</label>
                            <input type="text" name="no" [keyConfig]="keyService.getKeyConfig()" appKeyNavigate="no" formControlName="no" class="form-control" placeholder="" focus-element="focusAuto"
                                capitalize>
                        </div>
                        <div class="col-md-4">
                            <label for="des" class="control-label">Description</label>
                            <input type="text" name="des" formControlName="des" class="form-control" placeholder="" capitalize>
                        </div>
                        <div class="col-md-4">
                            <label for="part" class="control-label">Type</label>
                                <select class="form-control" formControlName="type">
                                    <option value="null" selected="true">--Select--</option>
                                    <option *ngFor="let item of miscTypeList" [ngValue]="item.id">{{item.name}}</option>
                                </select>
                        </div>
                    </form>
                </div>
                <div class="col-6">
                    <div class="block-btn-search">
                        <div class="mt-1 group-btn-search">
                            <button type="button" class="btn-default-custom" (click)="tableService.searchAction()">Search</button>
                            <button type="button" class="btn-default-custom" (click)="tableService.resetAction(this.searchForm)">Reset</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- <div class="block-content list-order-table">
            <button style="margin: 10px 0;" class="btn btn-primary" (click)="openModal(true,false)">Add New</button> -->
        <div class="row mg-top-10">
            <div class="col-12">
                <div class="card no-border">
                    <div class="card-header">
                        <strong>Line Items</strong>
                        <button *ngIf="listMaster['permission'].create" (click)="openModal(true,false)" style="margin:0; float:right" class="btn btn-link">
                            <i class="fa fa-plus text-success"></i> Add New</button>
                    </div>
                    <div class="card-body no-padding">
                        <div class="table-responsive list">
                            <table class="table table-bordered table-order" cdArrowTable [collection]="list.items" [(selectedIndex)]="selectedIndex" (onEnter)="selectData($event)">
                                <thead class="bg-white">
                                    <tr>
                                        <th>Item No</th>
                                        <th>Description</th>
                                        <th>Item Type</th>
                                        <th>UOM</th>
                                        <th>G/L Account</th>
                                        <th>Status</th>
                                        <th>Used</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody *ngFor="let item of  list.items; let i = index;">
                                    <tr [ngClass]="{'row-selected': i == selectedIndex}">
                                        <td>{{item.no}}</td>
                                        <td>{{item.des}}</td>
                                        <td>{{item.type_name}}</td>
                                        <td>{{item.uom}}</td>
                                        <td>{{item.account_name}}</td>
                                        <td>
                                            <label *ngIf="listMaster['permission'].edit" class="switch checkbox-green">
                                                <input type="checkbox" disabled [(ngModel)]="item.sts">
                                                <span class="slider round"></span>
                                            </label>
                                        </td>
                                        <td>
                                            <label *ngIf="item.used!=0">
                                                <i style="color: green" class="fa fa-check"></i>
                                            </label>
                                        </td>
                                        <td>
                                            <a *ngIf="listMaster['permission'].view" class="btn btn-default" title="View" (click)="openModal(false,true,item)">
                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                            </a>
                                            <a *ngIf="listMaster['permission'].edit" class="btn btn-default" title="Edit" (click)="openModal(false,false,item)">
                                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                            </a>
                                            <a class="btn btn-default icon-blue" *ngIf="item.is_sys == 0 && item.used == 0 && listMaster['permission'].delete" title="Delete" (click)='delete(item.id)'>
                                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row normal-pagination mg-top-10" *ngIf="list.items.length > 0">
            <div class="col-md-6">
                <div class="text-left">
                    <div class="col-md-6" style="padding-left: 0px;">
                        <span style="float: left; padding-right: 10px;">{{list.items.length}}/{{tableService.pagination.total_record}} items </span>
                        <select style="width: 50px; float: left;" class="form-control" [(ngModel)]="tableService.pagination.length" (change)="tableService.changeLength()">
                            <option *ngFor="let option of tableService.itemPerPageOptions" [ngValue]="option">{{option}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="text-right">
                    <ngb-pagination class="d-flex justify-content-end" (pageChange)="tableService.changePage($event)" [pageSize]="tableService.pagination.length"
                        [collectionSize]="tableService.pagination.total_record || 120" [(page)]="tableService.pagination.page"
                        [maxSize]="tableService.maxSize" [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
                </div>
            </div>
        </div>
</div>
</div>
