<div [@routerTransition] class="admin-panel">
    <h3>Setup</h3>
    <div class="row mg-25">
        <div class="col-md-2">
            <h5>GENERAL</h5>
            <ul>
                <li><a href="">Company Details</a></li>
                <li><a [routerLink]="['/admin-panel/warehouse']">Warehouses Details</a></li>
                <li><a [routerLink]="['/admin-panel/bank']">Banks</a></li>
                <li><a [routerLink]="['/admin-panel/payment-term']">Payment Term</a></li>
            </ul>
        </div>
        <div class="col-md-2">
            <h5>USERS & CONTROL</h5>
            <ul>
                <li><a routerLink='user'>Users</a></li>
                <li><a href="">Roles</a></li>
                <li><a href="">Permissions</a></li>
                <li><a href="">Territory Management</a></li>
                <li><a href="">User Logs</a></li>
            </ul>
        </div>
        <div class="col-md-2">
            <h5>SALES CHANNELS</h5>
            <ul>
                <li><a href="">Amazon</a></li>
                <li><a href="">Ebay</a></li>
                <li><a href="">Magento</a></li>
                <li><a href="">Shopify</a></li>
                <li><a href="">Email</a></li>
                <li><a href="">Telephony</a></li>
            </ul>
        </div>
        <div class="col-md-2">
            <h5>CUSTOMIZATION</h5>
            <ul>
                <li><a href="">Dashboard</a></li>
                <li><a href="">Home Page</a></li>
                <li><a routerLink="work-flow">Workflow Management</a></li>
                <li><a href="">Email Templates</a></li>
                <li><a href="">Report Templates</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <h5>SYSTEMS INTEGRATION</h5>
            <ul>
                <li><a href="">QuickBooks</a></li>
                <li><a href="">CRM</a></li>
                <li><a href="">Priority ERP</a></li>
                <li><a href="">WMS</a></li>
            </ul>
        </div>
        <div class="col-md-2">
            <h5>DATA DEFINITION</h5>
            <ul>
                <li><a routerLink ='unit-measure'>Unit of Measure</a></li>
                <li><a routerLink='shipment-method'>Shipment Methods</a></li>
                <li><a href="">Currency</a></li>
                <li><a routerLink="bank">Bank & Branch</a></li>
                
            </ul>
        </div>
        <div class="col-md-2">
            <h5>PARAMETERS</h5>
            <ul>
                <li><a href="">Backups</a></li>
                <li><a href="">Schedule Jobs</a></li>
                <li><a href="">Languages Manage</a></li>
            </ul>
        </div>
        <div class="col-md-2">
            <h5>DATA ADMINISTRATION</h5>
            <ul>
                <li><a href="">Import</a></li>
                <li><a href="">Export</a></li>
                <li><a href="">Storage</a></li>
                <li><a href="">Recycle Bin</a></li>
                <li><a href="">Audit Log</a></li>
            </ul>
        </div>
    </div>
</div>
