.main-container {
    padding: 10px 8px;
    .information-tab {
        margin-top: 10px;
        border: 1px solid #dee2e6;
        border-top: none;
    }
    
    .customer-infomation {
        padding: 15px;
        padding-bottom: 5px;
        background-color: #ededed;
        label {
            font-weight: bold;
        }
        &.bolder {
            background-color: #dbdbdb;
        }
    }
}