<div [@routerTransition]>
    <app-page-header [heading]="customer?.name || 'Customer'"></app-page-header>
    <app-shortcut [listShortcut]='customerKeyService.getKeys()'></app-shortcut>
    <section class='main-container'>
        <div class="informaion">
            <h5 class="text-uppercase font-weight-bold">Information</h5>
            <div class="d-flex">
                <div class="col-md-3 customer-infomation">
                    <div class="row">
                        <label class='col-6'>Type</label>
                        <div class='col-6'>{{ customer.type }}</div>
                    </div>
                    <div class="row">
                        <label class='col-6'>Code</label>
                        <div class='col-6'>{{ customer.code }}</div>
                    </div>
                    <div class="row">
                        <label class='col-6'>Phone</label>
                        <div class='col-6'>{{ customer.phone }}</div>
                    </div>
                    <div class="row">
                        <label class='col-6'>Fax</label>
                        <div class='col-6'>{{ customer.fax }}</div>
                    </div>
                    <div class="row">
                        <label class='col-6'>Discount Level</label>
                        <div class='col-6 text-success'>{{ customer.discount_level }}</div>
                    </div>
                    <div class="row">
                        <label class='col-6'>Salesperson</label>
                        <div class='col-6'>{{ customer.salesperson }}</div>
                    </div>
                </div>
                <div class="col-md-3 customer-infomation bolder">
                    <div class="row">
                        <label class='col-6'>Total Sales Orders</label>
                        <div class='col-6 text-primary'>{{ customer.total_order }}</div>
                    </div>
                    <div class="row">
                        <label class='col-6'>Total Sales Quotes</label>
                        <div class='col-6 text-primary'>{{ customer.total_quote }}</div>
                    </div>
                    <div class="row">
                        <label class='col-6'>Gross Sales YTD</label>
                        <div class='col-6 text-success'>{{ customer.gross_ytd }}</div>
                    </div>
                    <div class="row">
                        <label class='col-6'>Net Sales YTD</label>
                        <div class='col-6 text-success'>{{ customer.net_ytd }}</div>
                    </div>
                    <div class="row">
                        <label class='col-6'>COGS YTD</label>
                        <div class='col-6 text-success'>{{ customer.cogs }}</div>
                    </div>
                    <div class="row">
                        <label class='col-6'>Gross Profit % YTD</label>
                        <div class='col-6 text-success'>{{ customer.gross_profit }}</div>
                    </div>

                </div>
                <div class="col-md-3 customer-infomation ">
                    <div class="row">
                        <label class='col-6'>Total Sales Invoices</label>
                        <div class='col-6 text-primary'>{{ customer.total_order }}</div>
                    </div>
                    <div class="row">
                        <label class='col-6'>Total Amount</label>
                        <div class='col-6 text-primary'>{{ customer.total_quote | currency:'$' }}</div>
                    </div>
                    <div class="row">
                        <label class='col-6'>Total Overdue Invoices</label>
                        <div class='col-6 text-danger'>{{ customer.gross_ytd }}</div>
                    </div>
                    <div class="row">
                        <label class='col-6'>Total Outstanding Amount</label>
                        <div class='col-6 text-danger'>{{ customer.net_ytd | currency:'$'}}</div>
                    </div>
                    <div class="row">
                        <label class='col-6'>Total Refunded Amount</label>
                        <div class='col-6 text-danger'>{{ customer.cogs | currency:'$'}}</div>
                    </div>
                </div>
                <div class="col-md-3 customer-infomation bolder">
                    <div class="row">
                        <label class='col-6'>Total RMA Orders</label>
                        <div class='col-6 text-primary'>{{ customer.total_order }}</div>
                    </div>
                    <div class="row">
                        <label class='col-6'>Total Returned Items</label>
                        <div class='col-6 text-primary'>{{ customer.total_quote }}</div>
                    </div>
                    <div class="row">
                        <label class='col-6'>Total Received Item</label>
                        <div class='col-6 text-danger'>{{ customer.gross_ytd }}</div>
                    </div>
                    <div class="row">
                        <label class='col-6'>Credit Limit</label>
                        <div class='col-6'>{{ customer.net_ytd | currency:'$'}}</div>
                    </div>
                    <div class="row">
                        <label class='col-6'>Credit Balance</label>
                        <div class='col-6 text-danger'>{{ customer.cogs | currency:'$'}}</div>
                    </div>
                </div>

            </div>
        </div>
        <div class="information-tab">
            <ngb-tabset>
                <ngb-tab title="ADDRESSES">
                    <ng-template ngbTabContent>
                        <app-customer-address-tab [customerId]="customerId"></app-customer-address-tab>
                    </ng-template>
                </ngb-tab>

                <ngb-tab title="CONTACTS">
                    <ng-template ngbTabContent>
                        <app-customer-contact-tab [customerId]="customerId"></app-customer-contact-tab>
                    </ng-template>
                </ngb-tab>

                <ngb-tab title="SITES">
                    <ng-template ngbTabContent>
                        <app-customer-site-tab [customerId]="customerId"></app-customer-site-tab>
                    </ng-template>
                </ngb-tab>

                <ngb-tab title="QUOTES">
                    <ng-template ngbTabContent>
                        <app-customer-quote-tab [customerId]="customerId"></app-customer-quote-tab>
                    </ng-template>
                </ngb-tab>

                <ngb-tab title="SALES ORDERS">
                    <ng-template ngbTabContent>
                        <app-customer-sale-order-tab [customerId]="customerId"></app-customer-sale-order-tab>
                    </ng-template>
                </ngb-tab>

                <ngb-tab title="INVOICES">
                    <ng-template ngbTabContent>
                        <div class='address-tab'>
                            <div class="block-content pd-bottom bg-gray-light mb-2">
                                <div class="row">
                                    <form class="form-horizontal form-search" role="form" [formGroup]="searchFormSO">
                                        <div class="block-search">
                                            <label for="buyer_name" class="control-label">Invoice No</label>
                                            <input type="text" name="buyer_name" formControlName="buyer_name" class="form-control">
                                        </div>
                                        <div class="block-search">
                                            <label for="buyer_name" class="control-label">SO No</label>
                                            <input type="text" name="buyer_name" formControlName="buyer_name" class="form-control">
                                        </div>
                                        <div class="block-search">
                                            <label for="buyer_name" class="control-label">Bill To</label>
                                            <input type="text" name="buyer_name" formControlName="buyer_name" class="form-control">
                                        </div>
                                        <div class="block-search">
                                            <label for="buyer_type" class="control-label">Status</label>
                                            <select class="form-control" formControlName="buyer_type">
                                                        <option value="null" selected="true">--Select--</option>
                                                        <option *ngFor="let item of listMaster['statusSO']" [ngValue]="item.id">{{item.name}}</option>
                                                    </select>
                                        </div>
                                    </form>
                                    <div class="block-btn-search">
                                        <label class="control-label">&nbsp;</label>
                                        <div class="group-btn-search">
                                            <button type="button" class="btn btn-primary" (click)="tableService.searchAction()">Search</button>
                                            <button type="button" class="btn btn-default" (click)="tableService.resetAction(searchFormSO)">Reset</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class='scroll-container'>
                                <table class='table table-custom'>
                                    <thead>
                                        <tr>
                                            <th>No</th>
                                            <th>Invoice No</th>
                                            <th>SO No</th>
                                            <th>Due Date</th>
                                            <th>Bill To</th>
                                            <th>Billing Address</th>
                                            <th>Total Amount</th>
                                            <th>Balance Amount</th>
                                            <th>Status</th>
                                            <th>Aged Overdue</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of listMaster['addresses']">
                                            <td>121313131</td>
                                            <td>1</td>
                                            <td>1213131</td>
                                            <td>121313123</td>
                                            <td>1</td>
                                            <td>12131313</td>
                                            <td>1 3131231313</td>
                                            <td>1 3131231313</td>
                                            <td>1 3131231313</td>
                                            <td>1 3131231313</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </ng-template>
                </ngb-tab>

                <ngb-tab title="SHIPMENTS">
                    <ng-template ngbTabContent>
                        <div class='address-tab'>
                            <div class="block-content pd-bottom bg-gray-light mb-2">
                                <div class="row">
                                    <form class="form-horizontal form-search" role="form" [formGroup]="searchFormSO">
                                        <div class="block-search">
                                            <label for="buyer_name" class="control-label">Tracking No</label>
                                            <input type="text" name="buyer_name" formControlName="buyer_name" class="form-control">
                                        </div>
                                        <div class="block-search">
                                            <label for="buyer_name" class="control-label">SO No</label>
                                            <input type="text" name="buyer_name" formControlName="buyer_name" class="form-control">
                                        </div>
                                        <div class="block-search">
                                            <label for="buyer_name" class="control-label">Ship To</label>
                                            <input type="text" name="buyer_name" formControlName="buyer_name" class="form-control">
                                        </div>
                                        <div class="block-search">
                                            <label for="buyer_type" class="control-label">Status</label>
                                            <select class="form-control" formControlName="buyer_type">
                                                        <option value="null" selected="true">--Select--</option>
                                                        <option *ngFor="let item of listMaster['statusSO']" [ngValue]="item.id">{{item.name}}</option>
                                                    </select>
                                        </div>
                                        <div class="block-search">
                                            <label for="buyer_type" class="control-label">Date Type</label>
                                            <select class="form-control" formControlName="buyer_type">
                                                    <option value="null" selected="true">--Select--</option>
                                                    <option *ngFor="let item of listMaster['dateType']" [ngValue]="item.id">{{item.name}}</option>
                                                </select>
                                        </div>
                                        <div class="block-search">
                                            <label for="buyer_type" class="control-label">From</label>
                                            <div class="input-group">
                                                <input class="form-control" placeholder="yyyy-mm-dd" name="dp" formControlName="from" ngbDatepicker #d1="ngbDatepicker">
                                                <div class="input-group-append">
                                                    <button class="btn btn-outline-secondary" (click)="d1.toggle()" type="button">
                                                            <i class="fa fa-calendar" aria-hidden="true"></i>
                                                        </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="block-search">
                                            <label for="buyer_type" class="control-label">To</label>
                                            <div class="input-group">
                                                <input class="form-control" placeholder="yyyy-mm-dd" name="dp" formControlName="to" ngbDatepicker #t1="ngbDatepicker">
                                                <div class="input-group-append">
                                                    <button class="btn btn-outline-secondary" (click)="t1.toggle()" type="button">
                                                            <i class="fa fa-calendar" aria-hidden="true"></i>
                                                        </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="block-btn-search">
                                        <label class="control-label">&nbsp;</label>
                                        <div class="group-btn-search">
                                            <button type="button" class="btn btn-primary" (click)="tableService.searchAction()">Search</button>
                                            <button type="button" class="btn btn-default" (click)="tableService.resetAction(searchFormSO)">Reset</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class='scroll-container'>
                                <table class='table table-custom'>
                                    <thead>
                                        <tr>
                                            <th>No</th>
                                            <th>Tracking No</th>
                                            <th>Route</th>
                                            <th>Sales Order</th>
                                            <th>Carrier</th>
                                            <th>Pickup Date</th>
                                            <th>Ship To</th>
                                            <th>Address</th>
                                            <th>Status</th>
                                            <th>Delivered Date</th>
                                            <th>POD Sign-off Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of listMaster['addresses']">
                                            <td>121313131</td>
                                            <td>1</td>
                                            <td>1213131</td>
                                            <td>121313123</td>
                                            <td>1</td>
                                            <td>12131313</td>
                                            <td>1 3131231313</td>
                                            <td>1 3131231313</td>
                                            <td>12131313</td>
                                            <td>1 3131231313</td>
                                            <td>1 3131231313</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </ng-template>
                </ngb-tab>

                <ngb-tab title="PAYMENTS">
                    <ng-template ngbTabContent>
                        <div class='address-tab'>
                            <div class="block-content pd-bottom bg-gray-light mb-2">
                                <div class="row">
                                    <form class="form-horizontal form-search" role="form" [formGroup]="searchFormSO">
                                        <div class="block-search">
                                            <label for="buyer_name" class="control-label">Payment No</label>
                                            <input type="text" name="buyer_name" formControlName="buyer_name" class="form-control">
                                        </div>
                                        <div class="block-search">
                                            <label for="buyer_name" class="control-label">Invoice No</label>
                                            <input type="text" name="buyer_name" formControlName="buyer_name" class="form-control">
                                        </div>
                                        <div class="block-search">
                                            <label for="buyer_name" class="control-label">Method</label>
                                            <input type="text" name="buyer_name" formControlName="buyer_name" class="form-control">
                                        </div>
                                        <div class="block-search">
                                            <label for="buyer_type" class="control-label">Status</label>
                                            <select class="form-control" formControlName="buyer_type">
                                                        <option value="null" selected="true">--Select--</option>
                                                        <option *ngFor="let item of listMaster['statusSO']" [ngValue]="item.id">{{item.name}}</option>
                                                    </select>
                                        </div>
                                        <div class="block-search">
                                            <label for="buyer_type" class="control-label">Date Type</label>
                                            <select class="form-control" formControlName="buyer_type">
                                                    <option value="null" selected="true">--Select--</option>
                                                    <option *ngFor="let item of listMaster['dateType']" [ngValue]="item.id">{{item.name}}</option>
                                                </select>
                                        </div>
                                        <div class="block-search">
                                            <label for="buyer_type" class="control-label">From</label>
                                            <div class="input-group">
                                                <input class="form-control" placeholder="yyyy-mm-dd" name="dp" formControlName="from" ngbDatepicker #d1="ngbDatepicker">
                                                <div class="input-group-append">
                                                    <button class="btn btn-outline-secondary" (click)="d1.toggle()" type="button">
                                                            <i class="fa fa-calendar" aria-hidden="true"></i>
                                                        </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="block-search">
                                            <label for="buyer_type" class="control-label">To</label>
                                            <div class="input-group">
                                                <input class="form-control" placeholder="yyyy-mm-dd" name="dp" formControlName="to" ngbDatepicker #t1="ngbDatepicker">
                                                <div class="input-group-append">
                                                    <button class="btn btn-outline-secondary" (click)="t1.toggle()" type="button">
                                                            <i class="fa fa-calendar" aria-hidden="true"></i>
                                                        </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="block-btn-search">
                                        <label class="control-label">&nbsp;</label>
                                        <div class="group-btn-search">
                                            <button type="button" class="btn btn-primary" (click)="tableService.searchAction()">Search</button>
                                            <button type="button" class="btn btn-default" (click)="tableService.resetAction(searchFormSO)">Reset</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class='scroll-container'>
                                <table class='table table-custom'>
                                    <thead>
                                        <tr>
                                            <th>No</th>
                                            <th>Payment No</th>
                                            <th>Payment Date</th>
                                            <th>Invoice No</th>
                                            <th>Type</th>
                                            <th>Method</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of listMaster['addresses']">
                                            <td>121313131</td>
                                            <td>1</td>
                                            <td>1213131</td>
                                            <td>121313123</td>
                                            <td>1</td>
                                            <td>12131313</td>
                                            <td>1 3131231313</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </ng-template>
                </ngb-tab>

                <ngb-tab title="RMA">
                    <ng-template ngbTabContent>
                        <div class='address-tab'>
                            <div class="block-content pd-bottom bg-gray-light mb-2">
                                <div class="row">
                                    <form class="form-horizontal form-search" role="form" [formGroup]="searchFormSO">
                                        <div class="block-search">
                                            <label for="buyer_name" class="control-label">RMA No</label>
                                            <input type="text" name="buyer_name" formControlName="buyer_name" class="form-control">
                                        </div>
                                        <div class="block-search">
                                            <label for="buyer_name" class="control-label">SO No</label>
                                            <input type="text" name="buyer_name" formControlName="buyer_name" class="form-control">
                                        </div>
                                        <div class="block-search">
                                            <label for="buyer_name" class="control-label">Customer</label>
                                            <input type="text" name="buyer_name" formControlName="buyer_name" class="form-control">
                                        </div>
                                        <div class="block-search">
                                            <label for="buyer_type" class="control-label">Status</label>
                                            <select class="form-control" formControlName="buyer_type">
                                                        <option value="null" selected="true">--Select--</option>
                                                        <option *ngFor="let item of listMaster['statusSO']" [ngValue]="item.id">{{item.name}}</option>
                                                    </select>
                                        </div>
                                        <div class="block-search">
                                            <label for="buyer_type" class="control-label">Date Type</label>
                                            <select class="form-control" formControlName="buyer_type">
                                                    <option value="null" selected="true">--Select--</option>
                                                    <option *ngFor="let item of listMaster['dateType']" [ngValue]="item.id">{{item.name}}</option>
                                                </select>
                                        </div>
                                        <div class="block-search">
                                            <label for="buyer_type" class="control-label">From</label>
                                            <div class="input-group">
                                                <input class="form-control" placeholder="yyyy-mm-dd" name="dp" formControlName="from" ngbDatepicker #d1="ngbDatepicker">
                                                <div class="input-group-append">
                                                    <button class="btn btn-outline-secondary" (click)="d1.toggle()" type="button">
                                                            <i class="fa fa-calendar" aria-hidden="true"></i>
                                                        </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="block-search">
                                            <label for="buyer_type" class="control-label">To</label>
                                            <div class="input-group">
                                                <input class="form-control" placeholder="yyyy-mm-dd" name="dp" formControlName="to" ngbDatepicker #t1="ngbDatepicker">
                                                <div class="input-group-append">
                                                    <button class="btn btn-outline-secondary" (click)="t1.toggle()" type="button">
                                                            <i class="fa fa-calendar" aria-hidden="true"></i>
                                                        </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="block-btn-search">
                                        <label class="control-label">&nbsp;</label>
                                        <div class="group-btn-search">
                                            <button type="button" class="btn btn-primary" (click)="tableService.searchAction()">Search</button>
                                            <button type="button" class="btn btn-default" (click)="tableService.resetAction(searchFormSO)">Reset</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class='scroll-container'>
                                <table class='table table-custom'>
                                    <thead>
                                        <tr>
                                            <th>No</th>
                                            <th>RMA No</th>
                                            <th>SO No</th>
                                            <th>Customer</th>
                                            <th>Type</th>
                                            <th>Issue Date</th>
                                            <th>Total Amount</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of listMaster['addresses']">
                                            <td>121313131</td>
                                            <td>1</td>
                                            <td>1213131</td>
                                            <td>121313123</td>
                                            <td>1</td>
                                            <td>12131313</td>
                                            <td>1 3131231313</td>
                                            <td>1 3131231313</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </ng-template>
                </ngb-tab>

                <ngb-tab title="ACCOUNTS & CARDS">
                    <ng-template ngbTabContent>
                        <div class='address-tab'>
                            <h5 class="text-uppercase font-weight-bold">Bank Accounts</h5>
                            <div class='scroll-container'>
                                <table class='table table-custom'>
                                    <thead>
                                        <tr>
                                            <th>No</th>
                                            <th>Bank Name</th>
                                            <th>SWIFT</th>
                                            <th>Branch</th>
                                            <th>Address</th>
                                            <th>Account Name</th>
                                            <th>Account No</th>
                                            <th>IBAN</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of listMaster['addresses']">
                                            <td>121313131</td>
                                            <td>1</td>
                                            <td>1213131</td>
                                            <td>121313123</td>
                                            <td>1</td>
                                            <td>12131313</td>
                                            <td>1 3131231313</td>
                                            <td>1</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <h5 class="text-uppercase font-weight-bold">Cards</h5>
                            <div class='scroll-container'>
                                <table class='table table-custom'>
                                    <thead>
                                        <tr>
                                            <th>No</th>
                                            <th>Card Type</th>
                                            <th>Card No</th>
                                            <th>Holder Name</th>
                                            <th>Expiry Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of listMaster['addresses']">
                                            <td>121313131</td>
                                            <td>1</td>
                                            <td>1213131</td>
                                            <td>121313123</td>
                                            <td>1</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </ng-template>
                </ngb-tab>

                <ngb-tab title="DOCUMENTS">
                    <ng-template ngbTabContent>

                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
        </div>
    </section>
    <section class="mb-2">
        <div class="block-content block-content-full text-center">
            <button type="button" class="btn btn-default text-uppercase gradient-white" [routerLink]="['/customer']">Back To List</button>
        </div>
    </section>
</div>