<div [@routerTransition]>
    <app-page-header [heading]="'LIST OF CUSTOMERS'" [icon]="'fa-th-list'"></app-page-header>
    <app-shortcut [listShortcut]='keyService.getKeys()'></app-shortcut>
    <div class="block anchor-scroll block-order">
        <div class="block-content pd-bottom bg-gray-light short-width">
            <div class="row">
                <!-- <div class="col-6"> -->
                <form class="form-horizontal form-search" role="form" [formGroup]="searchForm">
                    <div class="block-search">
                        <label for="buyer_name" class="control-label">Code</label>
                        <input [keyConfig]="keyService.getKeyConfig()" appKeyNavigate="buyer_code" type="text" name="buyer_code" formControlName="buyer_code" class="form-control" id="buyer_code" placeholder="" focus-element="focusAuto" capitalize>
                    </div>
                    <div class="block-search">
                        <label for="buyer_name" class="control-label">Name</label>
                        <input [keyConfig]="keyService.getKeyConfig()" appKeyNavigate="buyer_name" type="text" name="buyer_name" formControlName="buyer_name" class="form-control" id="buyer_name" placeholder="" focus-element="focusAuto" capitalize>
                    </div>
                    <div class="block-search">
                        <label for="buyer_type" class="control-label" style="width: 82px !important">Customer Type</label>
                        <select class="form-control" formControlName="buyer_type">
                                <option value="null" selected="true">--Select--</option>
                                <option *ngFor="let item of listMaster['buyerType']" [ngValue]="item.id">{{item.name}}</option>
                            </select>
                    </div>
                    <div class="block-search">
                        <label for="email" class="control-label">Email</label>
                        <input type="text" name="email" formControlName="email" class="form-control" id="email" placeholder="">
                    </div>
                    <div class="block-search">
                        <label for="email" class="control-label">Phone</label>
                        <input type="tel" name="phone" formControlName="phone" class="form-control" id="phone" placeholder="">
                    </div>
                </form>
                <!-- </div> -->
                <!-- <div class="col-6"> -->
                <div class="block-btn-search">
                    <label class="control-label">&nbsp;</label>
                    <div class="group-btn-search">
                        <button type="button" class="btn-default-custom" (click)="tableService.customSearchAction()">Search</button>
                        <button type="button" class="btn-default-custom" (click)="tableService.resetAction(this.searchForm)">Reset</button>
                    </div>
                </div>
                <!-- </div> -->
            </div>
        </div>


        <!-- <div class="block-content list-order-table">
        <button [routerLink]="['/customer/create']" style="margin: 10px 0;" class="btn btn-primary">Add New Customer</button> -->
        <div class="row mg-top-10">
            <div class="col-12">
                <div class="card no-border">
                    <div class="card-header">
                        <strong>Line Items</strong>
                        <button *ngIf="listMaster['permission'].create" [routerLink]="['/customer/create']" style="margin:0; float:right" class="btn btn-link">
                            <i class="fa fa-plus text-success"></i> Add New Customer</button>
                    </div>
                    <div class="card-body no-padding">
                        <div class="table-responsive scroll-container list">
                            <table class="table table-bordered table-order" cdArrowTable [collection]="list.items" [(selectedIndex)]="selectedIndex" (onEnter)="selectData($event)">
                                <thead class="bg-white">
                                    <tr>
                                        <th>Code</th>
                                        <th>Customer Type</th>
                                        <th>Customer Name</th>
                                        <th>Email</th>
                                        <th>Phone</th>
                                        <th>Open Balance</th>
                                        <th>Created Date</th>
                                        <th style="width: 100px;">Status</th>
                                        <th style="width: 100px;">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr  *ngFor="let item of  list.items; let i = index;" [ngClass]="{'row-selected': i == selectedIndex}">
                                        <td>{{item.buyer_code}}</td>
                                        <td>{{ item.buyer_type_name }}</td>
                                        <td>{{item.company_name}}</td>
                                        <td>{{item.email}}</td>
                                        <td>{{item.phone}}</td>
                                        <td>{{item.total_balance | currency}}</td>
                                        <td>{{item.created_at}}</td>
                                        <td>
                                            <span class="label label-default" *ngIf="item.sts == 0">{{item.status_name}}</span>
                                            <span class="label label-success" *ngIf="item.sts == 1">{{item.status_name}}</span>

                                        </td>
                                        <td>
                                            <a *ngIf="listMaster['permission'].view" class="btn btn-default " title="View" [routerLink]="['/customer/view/' + item.id]">
                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                            </a>
                                            <a *ngIf="listMaster['permission'].edit" class="btn btn-default " title="Edit" [routerLink]="['/customer/edit/' + item.id]">
                                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                            </a>
                                            <!-- <a class="btn btn-default " title="Delete" (click)='delete(item.id)'>
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                            </a> -->
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row normal-pagination mg-top-10" *ngIf="list.items.length > 0">
            <div class="col-md-6">
                <div class="text-left">
                    <div class="col-md-6" style="padding-left: 0px;">
                        <span style="float: left; padding-right: 10px;">{{list.items.length}}/{{tableService.pagination.total_record}} items </span>
                        <select style="width: 50px; float: left;" class="form-control" [(ngModel)]="tableService.pagination.length" (change)="tableService.changeLength()">
                            <option *ngFor="let option of tableService.itemPerPageOptions" [ngValue]="option">{{option}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="text-right">
                    <ngb-pagination class="d-flex justify-content-end" (pageChange)="tableService.changePage($event)" [pageSize]="tableService.pagination.length" [collectionSize]="tableService.pagination.total_record || 120" [(page)]="tableService.pagination.page" [maxSize]="tableService.maxSize"
                        [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
                </div>
            </div>
        </div>
    </div>
</div>