<div [@routerTransition]>
    <app-page-header [heading]="'LIST OF CUSTOMER'" [icon]="'fa-th-list'"></app-page-header>


    <div class="block-content pd-bottom bg-gray-light">
        <div class="row">
            <form class="form-horizontal form-search" role="form" [formGroup]="searchForm">
                <div class="block-search">
                    <label for="buyer_name" class="control-label">Name</label>
                    <input type="text" name="buyer_name" formControlName="buyer_name" class="form-control" id="buyer_name" placeholder="" focus-element="focusAuto" capitalize>
                </div>
                <div class="block-search">
                    <label for="buyer_type" class="control-label">Customer Type</label>
                    <select class="form-control" formControlName="buyer_type">
                            <option value="null" selected="true">--Select--</option>
                            <option *ngFor="let item of listMaster['buyerType']" [ngValue]="item.id">{{item.name}}</option>
                        </select>
                </div>
                <div class="block-search">
                    <label for="email" class="control-label">Email</label>
                    <input type="text" name="email" formControlName="email" class="form-control" id="email" placeholder="" capitalize>
                </div>
            </form>
            <div class="block-btn-search">
                <label class="control-label">&nbsp;</label>
                <div class="group-btn-search">
                    <button type="button" class="btn btn-primary" (click)="tableService.searchAction()">Search</button>
                    <button type="button" class="btn btn-default" (click)="tableService.resetAction(this.searchForm)">Reset</button>
                </div>
            </div>
        </div>
    </div>


    <div class="block-content list-order-table">
        <button [routerLink]="['/customer/create']" style="margin: 10px 0;" class="btn btn-primary">Add New Customer</button>

        <div class="table-responsive">
            <table class="table table-striped table-vcenter custom-table" cdArrowTable [collection]="list.items" [(selectedIndex)]="selectedIndex" (onEnter)="selectData($event)">
                <thead class="bg-white">
                    <tr>
                        <th>ID</th>
                        <th>Customer Type</th>
                        <th>Customer Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Created Date</th>
                        <th style="width: 100px;">Status</th>
                        <th style="width: 100px;">Action</th>
                    </tr>
                </thead>
                <tbody *ngFor="let item of  list.items; let i = index;" [ngClass]="{'row-selected': i == selectedIndex}">
                    <tr>
                        <td>{{item.id}}</td>
                        <td>{{item.buyer_type=='NU' ? 'Normal Customer':'Repair Shop' }}</td>
                        <td>{{item.company_name}}</td>
                        <td>{{item.email}}</td>
                        <td>{{item.phone}}</td>
                        <td>{{item.created_at}}</td>
                        <td>
                            <span class="label label-default" *ngIf="item.sts == 0">{{item.status_name}}</span>
                            <span class="label label-success" *ngIf="item.sts == 1">{{item.status_name}}</span>

                        </td>
                        <td>
                            <a class="btn btn-default " title="Edit" [routerLink]="['/customer/detail/' + item.id]">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            </a>
                            <a class="btn btn-default " title="Delete" (click)='delete(item.id)'>
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="row normal-pagination" *ngIf="list.items.length > 0">
            <div class="col-md-6">
                <div class="text-left">
                    <div class="col-md-6" style="padding-left: 0px;">
                        <span style="float: left; padding-right: 10px;">{{list.items.length}}/{{tableService.pagination.total_record}} items </span>
                        <select style="width: 50px; float: left;" class="form-control" [(ngModel)]="tableService.pagination.length" (change)="tableService.changeLength()">
                      <option *ngFor="let option of tableService.itemPerPageOptions" [ngValue]="option">{{option}}</option>
                  </select>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="text-right">
                    <ngb-pagination class="d-flex justify-content-end" (pageChange)="tableService.changePage($event)" [pageSize]="tableService.pagination.length" [collectionSize]="tableService.pagination.total_record || 120" [(page)]="tableService.pagination.page" [maxSize]="tableService.maxSize"
                        [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
                </div>
            </div>
        </div>
    </div>
</div>