<div [@routerTransition]>
    <app-page-header [heading]="'SALES QUOTATION DETAIL'" [icon]="'fa-th-list'"></app-page-header>
    <app-shortcut [listShortcut]='keyService.getKeys()'></app-shortcut>
    <section class="main-container block-order-detail">
        <ngb-tabset class="tabs-order full-width">
            <ngb-tab title="Information">
                <ng-template ngbTabContent>
                    <app-quote-info-tab [orderId]="orderId" [orderDetail]="orderDetail" (stockValueChange)="checkRender($event)"></app-quote-info-tab>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="History">
                <ng-template ngbTabContent>
                    <app-quote-history-tab [saleQuoteId]="orderId"></app-quote-history-tab>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
    </section>
</div>