<section>
    <div class="block-header bg-red-dark text-white">
        <h3 class="block-title-lg" translate>CREATE NEW BUDGET</h3>
        <div class="wrap-keyboard">
            <span class="fa fa-keyboard-o my-own-cheatsheet"></span>
        </div>
    </div>
</section>

<section class="rma-page block">
    <div class="row" style="padding-top:15px">
        <div class="col-sm-12">
            <div class="block-header bg-gray-lighter">
                <h3 class="block-title" translate>GENERAL INFORMATION</h3>
            </div>
        </div>
    </div>
    <div>
        <form [formGroup]="generalForm" class="form-search full-width form-horizontal">
            <div class="row col-md-12">
                <div class="col-md-2">
                    <label for="code" class="control-label" translate>Code</label>
                    <input type="text" class="form-control" name="code" formControlName="code">
                </div>
                <div class="col-md-2">
                    <label for="budget_name" class="control-label" translate>Name</label>
                    <span class="text-danger">( * )</span>
                    <input type="text" class="form-control" name="budget_name" formControlName="name">
                </div>
                <div class="col-md-2">
                    <label for="created_on" class="control-label" translate>Created On </label>
                    <span class="text-danger">( * )</span>
                    <div class="input-group">
                        <input class="form-control" placeholder="yyyy-mm-dd" name="dp" formControlName="crtd_on" ngbDatepicker #d="ngbDatepicker">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                  </button>
                        </div>
                    </div>
                </div>

            </div>

        </form>
    </div>
    <div class="row" style="padding-top:15px">
        <div class="col-sm-12">
            <div class="block-header bg-gray-lighter">
                <h3 class="block-title" translate>DETAILS INFORMATION</h3>
            </div>
        </div>
    </div>
    <div class="row">
        <form [formGroup]="generalForm">
            <div class="block-content">
                <table class="table table-vcenter custom-table table-noborder">
                    <tr>
                        <td style="width:16%" translate>Total Allowable Product QTY</td>
                        <td style="width:4%">
                            <div style="width:100px">
                                <input name="product_qty" type="text" class="form-control" formControlName="allowable_qty">
                            </div>
                        </td>
                        <td style="width:17%" translate>Total Allowable Money Amount</td>
                        <td>
                            <div style="width:100px">
                                <input name="product_qty" type="text" class="form-control" formControlName="allowable_amt">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td translate>Total Used Product QTY</td>
                        <td>0</td>
                        <td translate>Total Used Amount</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td translate>Total Rest Product QTY</td>
                        <td>0</td>
                        <td translate>Total Rest Amount</td>
                        <td>0</td>
                    </tr>
                </table>
            </div>
        </form>
    </div>

    <div class="block-content block-content-full text-right">
        <button type="button" class="btn btn-default" [routerLink]="['/promotion/budget']" translate>Cancel</button>
        <button [disabled]="!generalForm.valid" type="button" class="btn btn-primary" (click)="createBudget()" translate>Save</button>
    </div>
</section>