<div class="block anchor-scroll block-order">
<div class="row">        
    <div class="col-12">
        <div class="col-12 px-3">
            <app-shortcut [listShortcut]='_hotkeysServiceAddress.hotkeys'></app-shortcut>
        </div>
        <div class="card no-border">
            <div class="card-header">
                <strong>Line Items</strong>
            </div>
            <div class='card-body no-padding'>
                <div class='scroll-container table-responsive list'>
                    <table class="table table-bordered table-order" cdArrowTable [collection]="list.items" [(selectedIndex)]="selectedIndex" (onEnter)="selectData($event)">
                        <thead class="bg-white">
                            <tr>
                                <th>No</th>
                                <th>Type</th>
                                <th>Name</th>
                                <th>Country</th>
                                <th>Address 1</th>
                                <th>Address 2</th>
                                <th>City</th>
                                <th>State</th>
                                <th>Zip Code</th>
                                <th>Default</th>
                                <th>Route No</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of list.items; let i = index" [ngClass]="{'row-selected': i == selectedIndex}">
                                
                                <td>{{ item.address_id }}</td>
                                <td>{{ item.address_type }}</td>
                                <td>{{ item.name }}</td>
                                <td>{{ item.country_name }}</td>
                                <td>{{ item.address_1 }}</td>
                                <td>{{ item.address_2 }}</td>
                                <td>{{ item.city }}</td>
                                <td>{{ item.state_name }}</td>
                                <td>{{ item.zip_code }}</td>
                                <td>{{ item.is_default?'Yes':'No' }}</td>
                                <td>{{ item.route_name }}</td>
                            </tr>
                            <tr *ngIf="list.items.length == 0">
                                <td colspan="100%" class="text-center">No data.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
</div>