<div class='address-tab'>
    <div class="bd-example text-right">
        <button class="btn btn-outline-secondary"><i class="fa fa-share-square"></i> Back</button>
        <button class="btn btn-outline-primary"><i class="fa fa-pencil-square" aria-hidden="true"></i> Edit</button>
        <button class="btn btn-outline-warning"><i class="fa fa-caret-square-o-right" aria-hidden="true"></i> Submit</button>
        <button class="btn btn-outline-danger"><i class="fa fa-times-circle" aria-hidden="true"></i> Cancel</button>
        <button class="btn btn-outline-success"><i class="fa fa-check-square"></i> Approve</button>
        <button class="btn btn-outline-danger"><i class="fa fa-ban" aria-hidden="true"></i> Reject</button>
        <button class="btn btn-outline-info"><i class="fa fa-clone"></i> Pay</button>
        <button class="btn btn-outline-dark"><i class="fa fa-exchange" aria-hidden="true"></i> Re-open</button>
        <button class="btn btn-outline-basic"><i class="fa fa-print" aria-hidden="true"></i> Print</button>
    </div>
    <section class="rma-page block main-container block-order">
        <div class="row">
            <div class="col-md-4 padding-lr-5">
                <div class="card height-100">
                    <div class="card-header">
                        <strong>DEBIT MEMO INFORMATION</strong>
                    </div>
                    <div class="card-body">
                        <div class="row information  height-100">
                            <div class="col-md-12 fix-padding">
                                <div class="row">
                                    <div class="col-md-6 padding-lr-5 ">
                                        <div class="form-group row">
                                            <label class='col-6 control-label'>Debit Memo No</label>
                                            <div class='col-6'></div>
                                        </div>
                                        <div class="form-group row">
                                            <label class='col-6 control-label'>Document Type</label>
                                            <div class='col-6'></div>
                                        </div>
                                        <div class="form-group row">
                                            <label class='col-6 control-label'>Document No</label>
                                            <div class='col-6'></div>
                                        </div>
                                        <div class="form-group row">
                                            <label class='col-6 control-label'>Issue Date</label>
                                            <div class='col-6'></div>
                                        </div>
                                        <div class="form-group row">
                                            <label class='col-6 control-label'>Status</label>
                                            <div class='col-6'></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 bolder padding-lr-5">
                                        <div class="form-group row">
                                            <label class='col-6 control-label'>Payment Method</label>
                                            <div class='col-6'></div>
                                        </div>
                                        <div class="form-group row">
                                            <label class='col-6 control-label'>Payment Terms</label>
                                            <div class='col-6'></div>
                                        </div>
                                        <div class="form-group row">
                                            <label class='col-6 control-label'>Due Date</label>
                                            <div class='col-6'></div>
                                        </div>
                                        <div class="form-group row">
                                            <label class='col-6 control-label'>Saleperson</label>
                                            <div class='col-6'></div>
                                        </div>
                                        <div class="form-group row">
                                            <label class='col-6 control-label'>Approver</label>
                                            <div class='col-6'></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 padding-lr-5">
                <div class="card height-100">
                    <div class="card-header">
                        <strong>CUSTOMER INFORMATION</strong>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group row">
                                    <label class="control-label col-6" translate>Customer Name</label>
                                    <div class="col-6"></div>
                                </div>
                                <div class="form-group row">
                                    <label class=" control-label col-6" translate>Contact Name</label>
                                    <div class="col-6"></div>
                                </div>

                                <div class="form-group row">
                                    <label class="control-label col-6" translate>Phone</label>
                                    <div class="col-6"></div>
                                </div>

                                <div class="form-group row">
                                    <label class="control-label col-6" translate>Email</label>
                                    <div class="col-6"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 padding-lr-5">
                <div class="card height-100">
                    <div class="card-header">
                        <strong>BILL TO</strong>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group row">
                                    <label class="control-label col-6" translate>Label</label>
                                    <div class="col-6"></div>
                                </div>
                                <div class="form-group row">
                                    <label class=" control-label col-6" translate>Address</label>
                                    <div class="col-6"></div>
                                </div>

                                <div class="form-group row">
                                    <label class="control-label col-6" translate>City/State</label>
                                    <div class="col-6"></div>
                                </div>

                                <div class="form-group row">
                                    <label class="control-label col-6" translate>Zip</label>
                                    <div class="col-6"></div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-6" translate>Country</label>
                                    <div class="col-6"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 padding-lr-5">
                <div class="card height-100">
                    <div class="card-header">
                        <strong>SHIP TO</strong>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group row">
                                    <label class="control-label col-6" translate>Label</label>
                                    <div class="col-6"></div>
                                </div>
                                <div class="form-group row">
                                    <label class=" control-label col-6" translate>Address</label>
                                    <div class="col-6"></div>
                                </div>

                                <div class="form-group row">
                                    <label class="control-label col-6" translate>City/State</label>
                                    <div class="col-6"></div>
                                </div>

                                <div class="form-group row">
                                    <label class="control-label col-6" translate>Zip</label>
                                    <div class="col-6"></div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-6" translate>Country</label>
                                    <div class="col-6"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 padding-lr-5">
                <div class="card height-100">
                    <div class="card-header">
                        <strong>SHIPPING METHOD</strong>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group row">
                                    <label class="control-label col-6" translate>Warehouse</label>
                                    <div class="col-6"></div>
                                </div>
                                <div class="form-group row">
                                    <label class=" control-label col-6" translate>Ship Via</label>
                                    <div class="col-6"></div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-6" translate>Option</label>
                                    <div class="col-6"></div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-6" translate>Ship rate</label>
                                    <div class="col-6"></div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-6" translate>Exp. Delivery Date</label>
                                    <div class="col-6"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mg-top-10">
            <div class="col-12 padding-lr-5">
                <div class="card no-border">
                    <div class="card-header">
                        <strong>LINE ITEMS</strong>
                    </div>
                    <div class="card-body no-padding">
                        <div class="table-responsive">
                            <table class="table table-bordered table-order">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width:150px" translate>Item No</th>
                                        <th class="text-center" translate>Description</th>
                                        <th class="text-center" translate>Condition</th>
                                        <th class="text-center" translate>UOM</th>
                                        <th class="text-center" translate>Free Ship</th>
                                        <th class="text-nowrap text-center" translate>QTY</th>
                                        <th class="text-center" translate>Unit Price</th>
                                        <th class="text-center" translate>Disc %</th>
                                        <th class="text-center" translate>Tax %</th>
                                        <th class="text-center" translate>Amount</th>
                                        <th class="text-center" translate>G/L Account</th>
                                        <th class="text-center" translate>Price Source</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td class="text-center"></td>
                                        <td></td>
                                        <td class="text-center">
                                            <i class="text-success fa fa-check"></i>
                                        </td>
                                        <td class="text-right"></td>
                                        <td class="text-right">
                                            <div>
                                                <span>$</span>
                                                <div style="display:inline-block;width:80%">
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-right">
                                        </td>
                                        <td class="text-right">
                                        </td>
                                        <td class="text-right">
                                            <span></span>
                                        </td>
                                        <td class="text-center">
                                        </td>
                                        <td class="text-center">
                                            <span>
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mg-top-10">
            <div class="col-md-3 offset-md-5 padding-lr-5">
                <div class="card height-100">
                    <div class="card-header">
                        <strong>Note</strong>
                    </div>
                    <div class="card-body">
                    </div>
                </div>
            </div>
            <div class="col-md-2 padding-lr-5">
                <div class="card height-100">
                    <div class="card-header">
                        <strong>Debit Memo Total</strong>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group row">
                                    <label class='col-8 control-label'>Sub Items</label>
                                    <div class='col-4'>
                                        <span class="text-success"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class='col-8 control-label'>+ Tax (8.255)</label>
                                    <div class='col-4'>
                                        <span class="text-success"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class='col-8 control-label'>Total Due</label>
                                    <div class='col-4'>
                                        <span class="text-success"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class='col-8 control-label'>Paid Amount</label>
                                    <div class='col-4'>
                                        <span class="text-success"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class='col-8 control-label'>Balance Amount</label>
                                    <div class='col-4'>
                                        <span class="text-success"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
