<div class="block anchor-scroll block-order">
        <div class="block-content pd-bottom bg-gray-light short-width">
                <div class="row px-3" style="background-color: white">
                    <app-shortcut [listShortcut]='_hotkeysServiceRMA.hotkeys'></app-shortcut>
                </div> 
                <div class="row">
                    <form class="form-horizontal form-search" role="form" [formGroup]="searchForm">
                        <div class="block-search">
                            <label for="cd" class="control-label" translate>Order No</label>
                            <input [keyConfig]="data['key_config']" appKeyNavigate="code" type="text" name="cd" formControlName="code" class="form-control" id="cd" placeholder="" capitalize>
                        </div>
                        <div class="block-search">
                            <label for="purchase_quote_cd" class="control-label">Return Type</label>
                            <ng-select [multiple]="true" [items]="listMaster['type']" bindLabel="name" bindValue="id" formControlName="type">
                            </ng-select>
                        </div>
                        <div class="block-search">
                            <label for="contract_no" class="control-label">Customer</label>
                            <ng-select [multiple]="true" [items]="listMaster['type']" bindLabel="name" bindValue="id" formControlName="type">
                            </ng-select>
                        </div>
                        <div class="block-search">
                            <label for="part" class="control-label">Warehouse</label>
                            <ng-select [multiple]="true" [items]="listMaster['type']" bindLabel="name" bindValue="id" formControlName="type">
                            </ng-select>
                        </div>
                        <div class="block-search">
                            <label for="po_status_id" class="control-label">Status</label>
                            <ng-select [multiple]="true" [items]="listMaster['status']" bindLabel="name" bindValue="id" formControlName="sts">
                            </ng-select>
                        </div>
                        <div class="block-search">
                            <label for="type" class="control-label" translate>Date Type</label>
                            <select class="form-control" formControlName="date_type">
                                      <option value="null" selected="true">--Select--</option>
                                      <option *ngFor="let item of listMaster['dateType']" [ngValue]="item.id">{{item.name}}</option>
                                  </select>
                        </div>
                        <div class="block-search">
                            <label for="" class="control-label" translate> From</label>
                            <div clickOutside (clickOutside)="d.close()" class="input-group">
                                <input [maxDate]="searchForm.value.date_to | dateObj" class="form-control" placeholder="mm/dd/yyyy" name="d" formControlName="date_from" ngbDatepicker #d="ngbDatepicker">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                            </button>
                                </div>
                            </div>
                        </div>
                        <div class="block-search">
                            <label for="" class="control-label" translate> To</label>
                            <div clickOutside (clickOutside)="dt.close()" class="input-group">
                                <input [minDate]="searchForm.value.date_from | dateObj" class="form-control" placeholder="mm/dd/yyyy" name="dt" formControlName="date_to" ngbDatepicker #dt="ngbDatepicker">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" (click)="dt.toggle()" type="button">
                                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                            </button>
                                </div>
                            </div>
                        </div>
    
                    </form>
                    <div class="block-btn-search">
                        <label class="control-label">&nbsp;</label>
                        <div class="group-btn-search">
                            <button type="button" class="btn-default-custom" (click)="tableService.searchAction()">Search</button>
                            <button type="button" class="btn-default-custom" (click)="tableService.resetAction(this.searchForm)">Reset</button>
                        </div>
                    </div>
                </div>
            </div>
    <div class="row mg-top-10">
        <div class="col-12">
            <div class="card no-border">
                <div class="card-header">
                    <strong>Line Items</strong>
                </div>
                <div class="card-body no-padding">
                    <div class="scroll-container table-responsive list">
                        <table class='table table-bordered table-order' cdArrowTable [collection]="list.items" [(selectedIndex)]="selectedIndex" (onEnter)="selectData($event)">
                            <thead class="bg-white">
                                    <tr>
                                            <th translate>Return Order No</th>
                                            <th translate>Return Type</th>
                                            <th translate>Customer</th>
                                            <th translate>Request Date</th>
                                            <th translate>Status</th>
                                            <th translate>Sales Order No</th>
                                            <th translate>Warehouse</th>
                                            <th translate>Total Return QTY</th>
                                            <th translate>Total Accepted QTY</th>
                                            <th translate>Return Time</th>
                                            <th translate>Salesperson</th>
                                            <th translate>Last Updated On</th>
                                            <th translate>Last Updated By</th>
                                        </tr>
                                    </thead>
                                    <tbody *ngFor="let item of  list.items; let i = index;" [ngClass]="{'row-selected': i == selectedIndex}">
                                        <tr>
                                            <td>{{item.code}}</td>
                                            <td>{{item.cus_po}}</td>
                                            <td>{{item.quote_no}}</td>
                                            <td>{{item.buyer_name}}</td>
                                            <td>{{item.sale_person_name}}</td>
                                            <td></td>
                                            <td>{{item.order_date | date:'MM/dd/yyy'}}</td>
                                            <td>{{item.delivery_date | date:'MM/dd/yyyy'}}</td>
                                            <td>{{item.total_price | currency}}</td>
                                            <td> </td>
                                            <td> </td>
                                            <td> </td>
                                            <td> </td>
                                        </tr>
                                    </tbody>
                                    <tbody *ngIf="list.items.length == 0">
                                        <tr>
                                            <td colspan="100%" class="text-center" translate>No data.</td>
                                        </tr>
                                    </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>