@import './bootstrap/_variables.scss';

.btn {
    height: 20px;
    font-weight: 600;
    border-radius: 0px !important;
    font-size: 12px !important;
    padding: 1px 6px;
    -webkit-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}

.row-selected {
    border-left: 5px solid #b80000;
}

.full-width {
    width: 100%;
}

.page-item {
    & .page-link {
        color: #444;
    }
    &.active .page-link {
        background-color: $red-menu ;
        border-color: $red-menu;
    }
}

.normal-pagination {
    margin-right: 0;
    margin-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 0;
}

.custom-table-single, table.custom-table  {
    thead {
        tr {
            background-color: #828282;
            color: #fff;
            th {
                padding: 6px;
                font-weight: 600;
                vertical-align: middle;
                cursor: pointer;
                border-bottom: 1px solid #c2cfd6;
            }
        }
    }

    tbody {
        tr {
            td {
                padding: 6px;
                vertical-align: middle;
            }
        }
    }
    .table-child {
        thead {
            tr {
                background-color: #828282;
                color: #fff;
                th {
                    padding: 6px;
                    font-weight: 600;
                    vertical-align: middle;
                    cursor: pointer;
                    border-bottom: 1px solid #c2cfd6;
                }
            }
        }

        tbody {
            tr {
                td {
                    padding: 6px;
                    vertical-align: middle;
                }
            }
        }
    }
}

.block {
    margin-bottom: 30px;
    background-color: #fff;
    -webkit-box-shadow: 0 2px rgba(0, 0, 0, 0.01);
    box-shadow: 0 2px rgba(0, 0, 0, 0.01);

    &-header {
        padding: 4px 15px;
        -webkit-transition: opacity 0.2s ease-out;
        transition: opacity 0.2s ease-out;
    }

    &-title {

        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase;
        line-height: 1.2;
        display: inline;
        color: #138891;

        &-lg {
            font-size: 12px;
            font-weight: 600;
            text-transform: uppercase;
            line-height: 1.2;
            display: inline;
            color: #fff;
            display: inline-block;
            padding-top: 3px;
        }

        &:after {
            content: "";
            border-bottom: 2px solid;
            display: block;
            width: 25px;
            bottom: 0;
            margin-top: 1px;
        }
    }

    &-content {
        margin: 0 auto;
        padding: 0px 15px;
        max-width: 100%;
        overflow-x: visible;
        -webkit-transition: opacity 0.2s ease-out;
        transition: opacity 0.2s ease-out;

        select {
            font-size: 12px;
            padding: 1px 3px;
            height: inherit !important;
        }

        &.tab-content {
            overflow: hidden;
       }
    }

    &-header {
        padding: 4px 15px;
        -webkit-transition: opacity 0.2s ease-out;
        transition: opacity 0.2s ease-out;
    }
}

.bg {

    &-gray-lighter {
        background-color: #ccc;
        margin-right: 5px;
    }

    &-red-dark {
        background-color: #B80000;
    }

    &-gray-light {
        background-color: #f3f3f3;
    }
}

.text-white {
    color: #fff;
}

.pd-bottom {
    padding-bottom: 0!important;
}

.wrap-keyboard {
    display: inline;
    float: right;
    span {
        font-size: 20px;
        cursor: pointer;
    }
}

.form-control {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    height: 20px;
    padding: 1px 6px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px;
    box-shadow: none;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.form-search {
    margin-bottom: 10px;

    .block-btn-search {
        display: inline-block;
        padding-left: 15px;
    }

    & .block-search {
        display: inline-block;
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;      
    }

    &.form-horizontal .control-label {
        padding-top: 7px;
        margin-bottom: 0;
        text-align: right;
    }

}
.switch {
    position: relative;
    display: inline-block;
    width: 42px !important;
    height: 21px !important;
    padding-left: 1px;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    height: 17px !important;
    width: 17px !important;
    left: -3px !important;
}

.slider.round:before {
    border-radius: 50%;
    height: 18px;
    width: 18px;
    left: 2px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 0px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.tooltip-block {
    display: block;
    position: relative;
}

