<div [@routerTransition]>
    <app-page-header [heading]="'LIST OF SHIPPING ZONE'" [icon]="'fa-th-list'"></app-page-header>
    <app-shortcut [listShortcut]='keyService.getKeys()'></app-shortcut>
    <div class="block anchor-scroll block-order">

        <div class="block-content pd-bottom padding-lr-0 mt-2">
            <div class="row">
                <div class="col-6">
                    <form class="row form-horizontal form-search filter-order-group" role="form" [formGroup]="searchForm">
                        <div class="col-md-4">
                            <label for="name" class="control-label">Zone Name</label>
                            <input type="text" name="name" formControlName="zone_name" class="form-control" id="rma_no" placeholder="" focus-element="focusAuto"
                                capitalize>
                        </div>
                        <div class="col-md-4">
                            <label for="so_no" class="control-label">Country</label>
                            <!-- <input type="text" name="country_code" formControlName="country_code" class="form-control" id="so_no" placeholder="" capitalize> -->
                            <select class="form-control" formControlName="country_code">
                                <option value="null" selected="true">--Select--</option>
                                <option [value]="item.country_code" selected="true" *ngFor="let item of countryList">{{item.name}}</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label for="part" class="control-label">Status</label>
                            <select class="form-control" formControlName="status">
                                <option value="null" selected="true">--Select--</option>
                                <option value="1">Active</option>
                                <option value="0">InActive</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="col-6">
                    <div class="block-btn-search">
                        <div class="mt-1 group-btn-search">
                            <button type="button" class="btn-default-custom" (click)="tableService.searchAction()">Search</button>
                            <button type="button" class="btn-default-custom" (click)="tableService.resetAction(this.searchForm)">Reset</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- <div class="block-content list-order-table">
            <button [routerLink]="['/admin-panel/shipping-zone/create']" (click)="createShippingZone" style="margin: 10px 0;" class="btn btn-primary">Add New</button> -->
        <div class="row mg-top-10">
            <div class="col-12">
                <div class="card no-border">
                    <div class="card-header">
                        <strong>Line Items</strong>
                        <button [routerLink]="['/admin-panel/shipping-zone/create']" style="margin:0; float:right" class="btn btn-link">
                            <i class="fa fa-plus text-success"></i>Add New</button>
                        <!-- <button [routerLink]="['/admin-panel/shipping-zone/create']" (click)="createShippingZone" style="margin: 10px 0;" class="btn btn-primary">Add New</button> -->
                    </div>
                    <div class="card-body no-padding">
                        <div class="table-responsive list">
                            <table class="table table-bordered table-order">
                                <thead class="bg-white">
                                    <tr>
                                        <th>Zone No</th>
                                        <th>Zone Name</th>
                                        <th>Countries/Regions</th>
                                        <th>Shipping Methods</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody *ngFor="let item of  list.items; let i = index;">
                                    <tr>
                                        <td class="text-center">{{item.cd}}</td>
                                        <td class="text-center">{{item.name}}</td>
                                        <td class="text-center">{{item.country_name}}</td>
                                        <td class="text-center">{{item.shipping_zone_quotes}}</td>
                                        <td>
                                            <label class="switch">
                                                <input type="checkbox" (change)="changeStatus(item.id)" [(ngModel)]="item.sts">
                                                <span class="slider round"></span>
                                            </label>
                                        </td>
                                        <td>
                                            <a class="btn btn-default" title="View" (click)="openViewPage(item.id)">
                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                            </a>
                                            <a class="btn btn-default" title="Edit" (click)="openPage(item.id)">
                                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="row normal-pagination mg-top-10" *ngIf="list.items.length > 0">
            <div class="col-md-6">
                <div class="text-left">
                    <div class="col-md-6" style="padding-left: 0px;">
                        <span style="float: left; padding-right: 10px;">{{list.items.length}}/{{tableService.pagination.total_record}} items </span>
                        <select style="width: 50px; float: left;" class="form-control" [(ngModel)]="tableService.pagination.length" (change)="tableService.changeLength()">
                            <option *ngFor="let option of tableService.itemPerPageOptions" [ngValue]="option">{{option}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="text-right">
                    <ngb-pagination class="d-flex justify-content-end" (pageChange)="tableService.changePage($event)" [pageSize]="tableService.pagination.length"
                        [collectionSize]="tableService.pagination.total_record || 120" [(page)]="tableService.pagination.page"
                        [maxSize]="tableService.maxSize" [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
                </div>
            </div>
        </div>
    </div>
</div>