<div [@routerTransition]>
    <app-page-header [heading]="'LIST OF SHIPPING ZONE'" [icon]="'fa-th-list'"></app-page-header>
    <app-shortcut [listShortcut]='keyService.getKeys()'></app-shortcut>
    <div class="block anchor-scroll">

        <div class="block-content pd-bottom bg-gray-light">
            <div class="row">
                <form class="form-horizontal form-search" role="form" [formGroup]="searchForm">
                    <div class="block-search">
                        <label for="name" class="control-label">Zone Name</label>
                        <input type="text" name="name" formControlName="zone_name" class="form-control" id="rma_no" placeholder="" focus-element="focusAuto"
                            capitalize>
                    </div>
                    <div class="block-search">
                        <label for="so_no" class="control-label">Country</label>
                        <!-- <input type="text" name="country_code" formControlName="country_code" class="form-control" id="so_no" placeholder="" capitalize> -->
                        <select class="form-control" formControlName="country_code">
                            <option value="null" selected="true">--Select--</option>
                            <option [value]="item.country_id" selected="true" *ngFor="let item of countryList">{{item.name}}</option>
                        </select>
                    </div>
                    <div class="block-search">
                        <label for="part" class="control-label">Status</label>
                        <div class="">
                            <select class="form-control" formControlName="status">
                                <option value="null" selected="true">--Select--</option>
                                <option value="1">Active</option>
                                <option value="0">InActive</option>
                            </select>
                        </div>
                    </div>
                </form>
                <div class="block-btn-search">
                    <label class="control-label">&nbsp;</label>
                    <div class="group-btn-search">
                        <button type="button" class="btn btn-primary" (click)="tableService.searchAction()">Search</button>
                        <button type="button" class="btn btn-default" (click)="tableService.resetAction(this.searchForm)">Reset</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="block-content list-order-table">
            <button [routerLink]="['/admin-panel/shipping-zone/create']" (click)="createShippingZone" style="margin: 10px 0;" class="btn btn-primary">Add New</button>

            <div class="table-responsive">
                <table class="table table-striped table-vcenter custom-table">
                    <thead class="bg-white">
                        <tr>
                            <th>Zone No</th>
                            <th>Zone Name</th>
                            <th>Countries/Regions</th>
                            <th>Shipping Methods</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let item of  list.items; let i = index;" [ngClass]="{'row-selected': i == selectedIndex}">
                        <tr>
                            <td>{{item.cd}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.country_name}}</td>
                            <td>{{item.shipping_zone_quotes}}</td>
                            <td>
                                <label class="switch">
                                    <input type="checkbox" (change)="changeStatus(item.id)" [(ngModel)]="item.sts">
                                    <span class="slider round"></span>
                                </label>
                            </td>
                            <td>
                                <a class="btn btn-default icon-blue" title="View" (click)="openViewPage(item.id)">
                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                </a>
                                <a class="btn btn-default icon-blue" title="Edit" (click)="openPage(item.id)">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>


            <div class="row normal-pagination" *ngIf="list.items.length > 0">
                <div class="col-md-6">
                    <div class="text-left">
                        <div class="col-md-6" style="padding-left: 0px;">
                            <span style="float: left; padding-right: 10px;">{{list.items.length}}/{{tableService.pagination.total_record}} items </span>
                            <select style="width: 50px; float: left;" class="form-control" [(ngModel)]="tableService.pagination.length" (change)="tableService.changeLength()">
                                <option *ngFor="let option of tableService.itemPerPageOptions" [ngValue]="option">{{option}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="text-right">
                        <ngb-pagination class="d-flex justify-content-end" (pageChange)="tableService.changePage($event)" [pageSize]="tableService.pagination.length"
                            [collectionSize]="tableService.pagination.total_record || 120" [(page)]="tableService.pagination.page"
                            [maxSize]="tableService.maxSize" [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>