<div class="modal-style">
    <div class="modal-header">
        <p class="second-title">{{modalTitle}}</p>
        <button type="button" class="close" aria-label="Close" (click)="cancel()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body" style="padding-bottom:10px;">
        <h4>{{name}}</h4>
        <div class="block-content" style="overflow-x: auto;">
            <table class="table-striped table-vcenter table-hover custom-table">
                <thead>
                    <tr>
                        <th style="width:20px" role="button" class="text-nowrap" translate> No </th>
                        <th style="width:8%" role="button" class="text-nowrap" translate> Buying Product Type </th>
                        <th style="width:8%" role="button" class="text-nowrap" translate> SKU </th>
                        <th style="width:8%" role="button" class="text-nowrap" translate> Name </th>
                        <th style="width:10%" role="button" class="text-nowrap" translate> Order QTY </th>
                        <th style="width:7%" role="button" class="text-nowrap" translate> UOM </th>
                        <th style="width:12%" role="button" *ngIf="item.is_promo_goods" class="text-nowrap" translate> Free Gifts Type </th>
                        <th style="width:10%" role="button" *ngIf="item.is_promo_goods" class="text-nowrap" translate> Free Gifts Code </th>
                        <th style="width:10%" role="button" *ngIf="item.is_promo_goods" class="text-nowrap" translate> Name </th>
                        <th style="width:8%" role="button" *ngIf="item.is_promo_goods" class="text-nowrap" translate> Free Gifts QTY </th>
                        <th style="width:8%" role="button" *ngIf="item.is_promo_goods" class="text-nowrap" translate> UOM </th>
                        <th style="width:8%" role="button" *ngIf="item.is_acc_bal" class="text-nowrap" translate> Credit </th>
                        <th style="width:8%" role="button" *ngIf="item.is_dsct" class="text-nowrap" translate> %Discount </th>
                        <th>Action</th>
                    </tr>
                </thead>
                
                <tbody>
                    <tr *ngFor="let add of  item.detail; let i = index">
                        <td>{{ i + 1 }}</td>
                        <td>
                            <select class="form-control" [(ngModel)]="add.level" [attr.disabled]="true">
                                <option [value]="" selected="true" hidden="true" translate>--Select--</option>
                                <option *ngFor="let item of listMaster['promotionLevel']" [value]="item.id">{{ item.name }}</option>
                            </select>
                        </td>
                        <td *ngIf="add.level ==1">
                            <select class="form-control" [(ngModel)]="add.buying_product_id" (change)="changeProductLineBuying(add,index)" required>
                                <option [value]="" selected="true" hidden="true" translate>--Select--</option>
                                <option *ngFor="let item of listMaster['productList']" [value]="item.item_id">{{ item.sku }}</option>                                
                            </select>
                        </td>
                        <td *ngIf="add.level ==2">
                            <select class="form-control" [(ngModel)]="add.buying_bundle_id" (change)="changeBundleLineBuying(add,index)" required>
                                <option [value]="" selected="true" hidden="true" translate>--Select--</option>
                                <option *ngFor="let item of listMaster['productListBundle']" [value]="item.item_id">{{ item.cd }}</option>
                            </select>
                        </td>
                        <td *ngIf="add.level ==4">
                            <select class="form-control" [(ngModel)]="add.promotion_condition_group_id" (change)="changeConditionLineBuying(add,index)" required>
                                <option [value]="" selected="true" hidden="true" translate>--Select--</option>
                                <option *ngFor="let item of listMaster['productList']" [value]="item.id">{{ item.code }}</option>
                            </select>
                        </td>
                        <td>
                            <input  name="name" type="text" class="form-control" [(ngModel)]="add.name">
                        </td>
                        <td class="text-center">
                            <input  name="qty" type="text" class="form-control" [(ngModel)]="add.purch_qty">

                        </td>
                        <td class="text-center">
                            <input name="uom" type="text" class="form-control" [(ngModel)]="add.uom">
                        </td>
                        <td *ngIf="item.is_promo_goods">
                            <select class="form-control" [(ngModel)]="add.prom_type" name="primary_country" id="primary.country" required [attr.disabled]="add.level==1">
                                <option [value]="" selected="true" hidden="true" translate>--Select--</option>
                                <option *ngFor="let item of listMaster['promoType']" [value]="item.id">{{ item.value }}</option>
                            </select>

                        </td>
                        <td class="text-center" *ngIf="item.is_promo_goods && add.prom_type ==1 && add.level != 4">
                            <select class="form-control" [(ngModel)]="add.prom_product_id" (change)="changeProductLinePromo(add,index)" required>
                                <option [value]="" selected="true" hidden="true" translate>--Select--</option>
                                <option *ngFor="let item of listMaster['productList']" [value]="item.item_id">{{ item.sku }}</option>
                            </select>

                        </td>
                        <td class="text-center" *ngIf="item.is_promo_goods && add.prom_type == 2">
                            <select class="form-control" [(ngModel)]="add.prom_bundle_id" (change)="changeBundleLinePromo(add,index)" required>
                                <option [value]="" selected="true" hidden="true" translate>--Select--</option>
                                <option *ngFor="let item of listMaster['productListBundle']" [value]="item.item_id">{{ item.cd }}</option>
                            </select>
                        </td>
                        <td class="text-center" *ngIf="item.is_promo_goods && add.prom_type ==1 && add.level == 4">
                            <select class="form-control" [(ngModel)]="add.prom_product_id" (change)="changeProductLinePromo(add,index)" required>
                                    <option [value]="" selected="true" hidden="true" translate>--Select--</option>
                                    <option *ngFor="let item of listMaster['productLine']" [value]="item.item_id">{{ item.sku }}</option>
                                </select>
                        </td>
                        <td *ngIf="item.is_promo_goods">
                            <input type="text" class="form-control" [(ngModel)]="add.prom_name">

                        </td>
                        <td *ngIf="item.is_promo_goods">
                            <input type="text" class="form-control" [(ngModel)]="add.prom_qty">
                        </td>
                        <td *ngIf="item.is_promo_goods">
                            <input type="text" class="form-control" [(ngModel)]="add.prom_uom">
                        </td>
                        <td *ngIf="item.is_acc_bal">
                            <input type="text" class="form-control" [(ngModel)]="add.prom_amt_money">
                        </td>
                        <td *ngIf="item.is_dsct">
                            <input type="text" class="form-control" [(ngModel)]="add.dsct_pct">
                        </td>
                        <td>
                            <button type="button" (click)="remove(i)" class="btn btn-secondary" title="Remove">
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td [attr.colspan]="(item.is_promo_goods) ? '14':'9'">
                            <a href="javascript:void(0)" (click)="clickAdd()">
                                <i class="fa fa-plus" aria-hidden="true"></i> <span translate>Add New Detail Line</span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer" style="padding-top: 0">
        <div class="form-group" style="margin-top: 20px;">
            <div class="text-center">
                <button style="width: 70px" class="btn btn-primary" type="button" (click)="activeModal.close(item)" translate>OK</button>
                <button class="btn btn-default" type="button" (click)="cancel()" translate>Cancel</button>
            </div>
        </div>
    </div>
</div>