<div [@routerTransition]>
    <app-page-header [heading]="'LIST OF INBOUND DELIVERY ORDERS'" [icon]="'fa-th-list'"></app-page-header>

    <div class="block anchor-scroll">

        <div class="block-content pd-bottom bg-gray-light">
            <div class="row">
                <form class="form-horizontal form-search" role="form" [formGroup]="searchForm">
                    <div class="block-search">
                        <label for="cd" class="control-label">Code</label>
                        <input type="text" name="cd" formControlName="cd" class="form-control" id="cd" focus-element="focusAuto">
                    </div>
                    <div class="block-search">
                        <label for="name" class="control-label">Name</label>
                        <input type="text" name="name" formControlName="name" class="form-control" id="name">
                    </div>


                    <div class="block-btn-search">
                        <label class="control-label">&nbsp;</label>
                        <div>
                            <button type="button" class="btn btn-primary" (click)="tableService.searchAction()" >Search</button>
                            <button type="button" class="btn btn-default" (click)="tableService.resetAction(this.searchForm)" >Reset</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>


        <div class="block-content list-order-table">

            <div class="table-responsive">
                <table class="table table-striped table-vcenter custom-table" cdArrowTable [collection]="list.items" [(selectedIndex)]="selectedIndex" (onEnter)="selectData($event)">
                    <thead class="bg-white">
                        <tr>
                            <th>ID</th>
                            <th>Inbound #</th>
                            <th>Purchase Order</th>
                            <th>Supplier</th>
                            <th>Date of Departure</th>
                            <th>ETA</th>
                            <th>Delivery Location</th>
                            <th>Status</th>
                            <th>Created On</th>
                            <th>Last Updated On</th>
                            <th>Last Updated By</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let item of  list.items; let i = index;" [ngClass]="{'row-selected': i == selectedIndex}">
                        <tr>
                            <td>{{i+1}}</td>
                            <td>{{item.cd}}</td>
                            <td>{{item.purchase_order_oli_cd}}</td>
                            <td>{{item.supplier_name}}</td>
                            <td>{{item.date_of_departure}}</td>
                            <td>{{item.eta}}</td>
                            <td>{{item.delivery_location}}</td>
                            <td class="text-center">
                              {{item.po_delivery_status}}
                            </td>
                            <td class="text-center">
                              {{item.crtd_dt}}
                            </td>
                            <td class="text-center">
                              {{item.last_updated_on}}
                            </td>
                            <td>{{item.last_updated_by_name}}</td>
                            <td>
                                <a class="btn btn-default" title="{{ (!(item.id === flagId))? 'Show details': 'Hide details' }}" [ngClass]="{'disable-expand': item.detail.length == 0 }" (click)="toggleSubRow(item.id)">
                                <i class="fa" [ngClass]="{'fa-minus': (item.id === flagId),' fa-plus': !(item.id === flagId)}"></i></a>
                              <a class="btn btn-default " *ngIf="item.status=='NW'" (click)="goToSaleQuote(item.rfq_id)">
                                <i class="fa fa-external-link"></i>
                              </a>
                            </td>
                        </tr>
                        <tr *ngIf="item.id === flagId">
                            <td></td>
                            <td colspan="100%">
                                <table class="table table-striped table-vcenter table-child">
                                    <thead>
                                        <tr>
                                            <th >Product Code</th>
                                            <th >Product Name</th>
                                            <th >UOM</th>
                                            <th >Order QTY</th>
                                            <th >Inbound QTY</th>
                                        </tr>
                                    </thead>
                                    <tbody *ngFor="let it of item.detail">
                                        <tr>
                                            <td>{{it.sku}}</td>
                                            <td>{{it.product_name}}</td>
                                            <td>{{it.uom_name}}</td>
                                            <td>{{it.order_qty}}</td>
                                            <td>{{it.inbound_qty}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>


            <div class="row normal-pagination" *ngIf="list.items.length > 0">
                <div class="col-md-6">
                    <div class="text-left">
                        <div class="col-md-6" style="padding-left: 0px;">
                            <span style="float: left; padding-right: 10px;">{{list.items.length}}/{{tableService.pagination.total_record}} items </span>
                            <select style="width: 50px; float: left;" class="form-control" [(ngModel)]="tableService.pagination.length" (change)="tableService.changeLength()">
                      <option *ngFor="let option of tableService.itemPerPageOptions" [ngValue]="option">{{option}}</option>
                  </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="text-right">
                        <ngb-pagination class="d-flex justify-content-end" (pageChange)="tableService.changePage($event)" [pageSize]="tableService.pagination.length" [collectionSize]="tableService.pagination.total_record || 120" [(page)]="tableService.pagination.page" [maxSize]="tableService.maxSize"
                            [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
