<div class="top-left-bar">
    <button [keyConfig]="keyService.getKeyConfig()" appKeyNavigate="insert"
    class="btn btn-primary" (click)="showContextMenu = !showContextMenu" clickOutside (clickOutside)="showContextMenu = false">Insert Field</button>
    <div class="show-more" *ngIf="showContextMenu">
        <ul [keyConfig]="keyService.getKeyConfig()" appKeyNavigate="firstField">
            <li *ngFor="let field of tags; let i = index">
                <label>
                    <!-- <a href="javascript:void(0)" (click)="onSelectField(field)" *ngIf="i == 0"
                    [keyConfig]="keyService.getKeyConfig()" appKeyNavigate="firstField">{{field.value}}</a>
                    <a href="javascript:void(0)" (click)="onSelectField(field)" *ngIf="i != 0">{{field.value}}</a> -->
                    <a href="javascript:void(0)" (click)="onSelectField(field)">{{field.value}}</a>
                </label>
            </li>
        </ul>
    </div>
</div>

<div class="row email-content mb-3">
    <div class="col-md-12">
        <label class="title">
            <b>Subject</b>
        </label>
        <div class="content subject">
            <!-- <ckeditor [(ngModel)]="template.email_tpl.subject" debounce="500" [config]="{height: '50', toolbar: []}"
                #subjectEditor (focus)="isFocusingSubject = true; isFocusingBody = false"></ckeditor> -->
            <input [keyConfig]="keyService.getKeyConfig()" appKeyNavigate="subject"
            type="text" #subjectEditor [(ngModel)]="template.email_tpl.subject" (focus)="onFocusSubject()">
        </div>
    </div>
</div>

<div class="row email-content">
    <div class="col-md-12">
        <label class="title">
            <b>Body</b>
        </label>
        <div class="content">
            <ckeditor [(ngModel)]="template.email_tpl.body" debounce="500"
                #bodyEditor (focus)="isFocusingBody = true; isFocusingSubject = false"></ckeditor>
        </div>
    </div>
</div>
