<div [@routerTransition]>
    <app-page-header [heading]="'LIST OF RETURN REASON'" [icon]="'fa-th-list'"></app-page-header>


    <div class="block-content pd-bottom bg-gray-light short-width">
        <div class="row">
            <form class="form-horizontal form-search" role="form" [formGroup]="searchForm">
                <div class="block-search">
                    <label for="code" class="control-label">Code</label>
                    <input type="text" name="code" formControlName="cd" class="form-control" id="code" placeholder="">
                </div>
                <div class="block-search">
                    <label for="name" class="control-label">Description</label>
                    <input type="text" name="des" formControlName="des" class="form-control" id="name" placeholder="">
                </div>             
            </form>
            <div class="block-btn-search">
                <label class="control-label">&nbsp;</label>
                <div class="group-btn-search">
                    <button type="button" class="btn btn-primary" (click)="tableService.searchAction()">Search</button>
                    <button type="button" class="btn btn-default" (click)="tableService.resetAction(this.searchForm)">Reset</button>
                </div>
            </div>
        </div>
    </div>


    <div class="block-content list-order-table">
        <button (click)="createReturnReason()" style="margin: 10px 0;" class="btn btn-primary">New Return Reason</button>
        <div class="table-responsive">
            <table class="table table-striped table-vcenter custom-table" cdArrowTable [collection]="list.items" [(selectedIndex)]="selectedIndex" (onEnter)="selectData($event)">
                <thead class="bg-white">
                    <tr>
                        <th>Code</th>
                        <th>Description</th>
                        <th>Exclude Reason</th>
                        <th>Status</th>
                        <th>Last Updated By</th>
                        <th>Last Updated On</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody *ngFor="let item of  list.items; let i = index;" [ngClass]="{'row-selected': i == selectedIndex}">
                    <tr>
                        <td>{{item.cd}}</td>
                        <td>{{ item.des }}</td>
                        <td>{{item.day_limit}}</td>
                        <td>{{item.sts}}</td>
                        <td>{{item.crtd_by_name}}</td>
                        <td>{{item.updated_dt}}</td>
                        <td>
                            <a class="btn btn-default" (click)="editReturnReason(item.id)" title="Edit Return Reason">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            </a>                           
                            <a class="btn btn-default" (click)="deleteReason(item.id)" title="Delete Return Reason">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="row normal-pagination" *ngIf="list.items.length > 0">
            <div class="col-md-6">
                <div class="text-left">
                    <div class="col-md-6" style="padding-left: 0px;">
                        <span style="float: left; padding-right: 10px;">{{list.items.length}}/{{tableService.pagination.total_record}} items </span>
                        <select style="width: 50px; float: left;" class="form-control" [(ngModel)]="tableService.pagination.length" (change)="tableService.changeLength()">
                      <option *ngFor="let option of tableService.itemPerPageOptions" [ngValue]="option">{{option}}</option>
                  </select>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="text-right">
                    <ngb-pagination class="d-flex justify-content-end" (pageChange)="tableService.changePage($event)" [pageSize]="tableService.pagination.length" [collectionSize]="tableService.pagination.total_record || 120" [(page)]="tableService.pagination.page" [maxSize]="tableService.maxSize"
                        [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
                </div>
            </div>
        </div>
    </div>
</div>