<div [@routerTransition]>
    <app-page-header [heading]="'LIST OF RMA'" [icon]="'fa-th-list'"></app-page-header>
    <app-shortcut [listShortcut]='keyService.getKeys()'></app-shortcut>
    <div class="block anchor-scroll block-order">
        <div class="block-content pd-bottom padding-lr-0 mt-2">
            <div class="row">
                <div class="col-xl-8 col-lg-9">
                    <form class="row form-horizontal form-search filter-order-group" role="form" [formGroup]="searchForm">
                        <div class="col-md-4 block-search">
                            <label for="rma_no" class="control-label">RMA No.</label>
                            <input type="text" name="rma_no" formControlName="rma_no" class="form-control"
                                id="rma_no" placeholder="" focus-element="focusAuto" capitalize>
                        </div>
                        <div class="col-md-4 block-search">
                            <label for="so_no" class="control-label">So No.</label>
                            <input type="text" name="so_no" formControlName="so_no" class="form-control" id="so_no" placeholder="" capitalize>
                        </div>

                        <div class="col-md-4 block-search">
                            <label for="customer" class="control-label">Customer</label>
                            <input type="text" name="customer" formControlName="customer" class="form-control" id="customer" placeholder="" capitalize>
                        </div>
                        <div class="col-md-4 block-search">
                            <label for="part" class="control-label">RMA Type</label>
                            <select class="form-control" formControlName="rma_type">
                                <option value="" selected="true">--Select--</option>
                                <option *ngFor="let item of listMaster['rma_type']" [ngValue]="item.id">{{item.name}}</option>
                            </select>
                        </div>
                        <div class="col-md-4 block-search">
                            <label for="status" class="control-label">Status</label>
                            <select class="form-control" formControlName="status">
                                <option value="" selected="true">--Select--</option>
                                <option *ngFor="let item of listMaster['status']" [ngValue]="item.id">{{item.name}}</option>
                            </select>
                        </div>
                        <ng-container *ngIf="listMoreFilter.value1">
                            <div class="col-md-4">
                                <label for="" class="control-label" translate>Request From</label>
                                <div class="date-group">
                                    <div clickOutside (clickOutside)="rqf.close()" class="input-group">
                                        <input class="form-control" placeholder="mm/dd/yyyy" name="dp" formControlName="request_date_from" [maxDate]="searchForm.value.request_date_to | dateObj"
                                            ngbDatepicker #rqf="ngbDatepicker" (click)="rqf.toggle()" autocomplete="off" (keydown)="$event.preventDefault()">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary" (click)="rqf.toggle()" type="button">
                                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label for="" class="control-label" translate>Request To</label>
                                <div class="date-group">
                                    <div clickOutside (clickOutside)="rqt.close()" class="input-group">
                                        <input class="form-control" placeholder="mm/dd/yyyy" name="dp" formControlName="request_date_to" [minDate]="searchForm.value.request_date_from | dateObj"
                                            ngbDatepicker #rqt="ngbDatepicker" (click)="rqt.toggle()" autocomplete="off" (keydown)="$event.preventDefault()">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary" (click)="rqt.toggle()" type="button">
                                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label for="" class="control-label" translate>Reception From</label>
                                <div class="date-group">
                                    <div clickOutside (clickOutside)="rcf.close()" class="input-group">
                                        <input class="form-control" placeholder="mm/dd/yyyy" name="dp" formControlName="reception_date_from" [maxDate]="searchForm.value.reception_date_to | dateObj"
                                            ngbDatepicker #rcf="ngbDatepicker" (click)="rcf.toggle()" autocomplete="off" (keydown)="$event.preventDefault()">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary" (click)="rcf.toggle()" type="button">
                                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label for="" class="control-label" translate>Reception To</label>
                                <div class="date-group">
                                    <div clickOutside (clickOutside)="rct.close()" class="input-group">
                                        <input class="form-control" placeholder="mm/dd/yyyy" name="dp" formControlName="reception_date_to" [minDate]="searchForm.value.reception_date_from | dateObj"
                                            ngbDatepicker #rct="ngbDatepicker" (click)="rct.toggle()" autocomplete="off" (keydown)="$event.preventDefault()">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary" (click)="rct.toggle()" type="button">
                                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                        <div class="col-md-4 block-search" *ngIf="listMoreFilter.value2">
                            <label for="comment" class="control-label">Comments</label>
                            <input type="text" name="comment" formControlName="comment" class="form-control" id="comment" placeholder="">
                        </div>
                    </form>
                </div>
                <div class="col-3">
                    <div class="block-btn-search">
                        <div class="mt-1 group-btn-search">
                            <button type="button" class="btn-default-custom" (click)="onoffFilter = !onoffFilter">More Filter</button>
                            <div class="show-more" *ngIf="onoffFilter">
                                <ul class="mt-2">
                                    <li>
                                        <label for="listMoreFilter.value1">
                                            <input type="checkbox" value="listMoreFilter.value1" [(ngModel)]="listMoreFilter.value1"> Date Filter
                                        </label>
                                    </li>
                                    <li>
                                        <label for="listMoreFilter.value2">
                                            <input type="checkbox" value="listMoreFilter.value2" [(ngModel)]="listMoreFilter.value2"> Comments
                                        </label>
                                    </li>
                                </ul>
                            </div>
                            <button type="button" class="btn-default-custom" (click)="tableService.searchAction()">Search</button>
                            <button type="button" class="btn-default-custom" (click)="tableService.resetAction(this.searchForm)">Reset</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mg-top-10">
            <div class="col-12">
                <div class="card no-border">
                    <div class="card-header">
                        <strong>Return Orders</strong>
                        <button [routerLink]="['/rma/create']" style="margin:0; float:right" class="btn btn-link"> <i class="fa fa-plus text-success"></i> Add New</button>
                    </div>
                    <div class="card-body no-padding">
                        <div class="table-responsive list">
                            <table class="table table-bordered table-order" cdArrowTable [collection]="list.items"
                                [(selectedIndex)]="selectedIndex" (onEnter)="selectData($event)">
                                <thead class="bg-white">
                                    <tr>
                                        <th></th>
                                        <th>RMA No</th>
                                        <th>SO No.</th>
                                        <th>Customer</th>
                                        <th>Request date</th>
                                        <th>Reception date</th>
                                        <th>RMA Type</th>
                                        <th>Comments</th>
                                        <th>Total Amount</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody *ngFor="let item of  list.items; let i = index;" [ngClass]="{'row-selected': i == selectedIndex}">
                                    <tr>
                                        <!-- <td>
                                            <a ui-sref="app.rma.view({id : item.rma_id})">#{{item.rma_no}}</a>
                                        </td> -->
                                        <td class="text-center" [ngClass]="{'expand-item' : item.collapseRows}">
                                                <a class="btn btn-default " title="Expand" (click)="item.collapseRows = !item.collapseRows;" *ngIf="!item.collapseRows">
                                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                                </a>
                                                <a class="btn btn-default " title="Collapse" (click)="item.collapseRows = !item.collapseRows;" *ngIf="item.collapseRows">
                                                    <i class="fa fa-minus" aria-hidden="true"></i>
                                                </a>
                                            </td>
                                        <td>{{item.return_order_no}}</td>
                                        <td>{{item.sale_order_no}}</td>
                                        <td>{{item.buyer_name}}</td>
                                        <td class="text-center">
                                            <span ng-if="item.request_date">{{item.request_date | date:'mm/dd/yyyy' }}</span>
                                        </td>
                                        <td class="text-center">
                                            <span ng-if="item.reception_date">{{item.reception_date | date:'mm/dd/yyyy' }}</span>
                                        </td>
                                        <td class="text-center">{{item.rma_type_name}}</td>
                                        <td>{{item.note}}</td>
                                        <td>{{item.total_amount}}</td>
                                        <td class="text-center">{{item.status}}</td>
                                        <!-- <td>
                                            <span class="label label-info" ng-if="item.short_name == 'NEW'">{{item.sts}}</span>
                                            <span class="label label-warning" ng-if="item.short_name == 'P'">{{item.sts}}</span>
                                            <span class="label label-success" ng-if="item.short_name == 'CP'">{{item.sts}}</span>
                                        </td> -->
                                    </tr>
                                    <tr *ngIf="item.collapseRows">
                                        <td colspan="10" class="child-table">
                                            <table class="table table-bordered table-order" style="border: 1px solid #828282;">
                                                <thead class="bg-white">
                                                    <tr>
                                                        <th>SKU</th>
                                                        <th>Product Name</th>
                                                        <th>Order QTY</th>
                                                        <th>Returned QTY</th>
                                                        <th>UOM</th>
                                                        <th>Unit Price</th>
                                                        <th>Discount</th>
                                                        <th>Sub Total</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let subItem of item.detail; let i = index;">
                                                        <td>{{subItem.sku }}</td>
                                                        <td>{{subItem.product_name }}</td>
                                                        <td>{{subItem.order_qty}}</td>
                                                        <td>{{subItem.return_qty }}</td>
                                                        <td>{{subItem.uom }}</td>
                                                        <td>{{subItem.price}}</td>
                                                        <td>{{subItem.discount }} % </td>
                                                        <td>{{subItem.sub_total }}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                                <tbody *ngIf="!list.items.length">
                                    <tr>
                                        <td colspan="100%" class="text-center" translate>No data.</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-12 no-padding">

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row normal-pagination" *ngIf="list.items.length > 0">
            <div class="col-md-6">
                <div class="text-left">
                    <div class="col-md-6" style="padding-left: 0px;">
                        <span style="float: left; padding-right: 10px;">{{list.items.length}}/{{tableService.pagination.total_record}} items </span>
                        <select style="width: 50px; float: left;" class="form-control" [(ngModel)]="tableService.pagination.length" (change)="tableService.changeLength()">
                            <option *ngFor="let option of tableService.itemPerPageOptions" [ngValue]="option">{{option}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="text-right">
                    <ngb-pagination class="d-flex justify-content-end" (pageChange)="tableService.changePage($event)" [pageSize]="tableService.pagination.length"
                        [collectionSize]="tableService.pagination.total_record || 120" [(page)]="tableService.pagination.page"
                        [maxSize]="tableService.maxSize" [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
                </div>
            </div>
        </div>
    </div>
</div>
