<div [@routerTransition]>
    <app-page-header [heading]="'APPLY CREDIT MEMO TO INVOICE'"></app-page-header>
    <app-shortcut [listShortcut]='keyService.getKeys()'></app-shortcut>
    <section class="rma-page block main-container block-order">
        <div class="row block-info">
            <div class="col-md-12 p-l-5 p-r-2">
                <div class="card height-100">
                    <div class="card-header">
                        <strong>Credit Memo Information</strong>
                    </div>
                    <div class="card-body">
                        <div class="row information  height-100">
                            <div class="col-md-12 fix-padding">
                                <div class="row">
                                    <div class="col-md-2 bolder ">
                                        <div class="form-group row">
                                            <label class='col-6 control-label'>Customer Name</label>
                                            <div class='col-6'>
                                                {{main_info['company_name']}}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class='col-6'>Credit Memo No</label>
                                            <div class='col-6 '>
                                                {{main_info['cd']}}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class='col-6'>Issue Date</label>
                                            <div class='col-6 '>
                                                {{main_info['issue_date']}}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class='col-6 control-label'>Status</label>
                                            <div class='col-6'>
                                                {{main_info['status_name']}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 bolder ">
                                        <div class="form-group row">
                                            <label class='col-6 control-label'>Original Amount</label>
                                            <div class='col-6'>
                                                {{main_info['original_amount'] |currency}}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class='col-6'>Remaining Amount</label>
                                            <div class='col-6 '>
                                                {{main_info['remain_amount']|currency}}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class='col-6'>Created On</label>
                                            <div class='col-6 '>
                                                {{main_info['created_at']}}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class='col-6 control-label'>Created By</label>
                                            <div class='col-6'>
                                                {{main_info['created_by']}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row mg-top-10">
            <div class="col-12 p-l-5 p-r-5 ">
                <div class="card no-border">
                    <div class="card-header">
                        <strong>Outstanding Invoice & Debit Memo</strong>
                    </div>
                    <div class="row">
                        <form class="form-horizontal form-search" role="form" [formGroup]="searchForm">
                            <div class="block-search">
                                <label for="type" class="control-label" translate>Doc Type</label>
                                <select class="form-control" formControlName="doc_type">
                                    <option value="null" selected="true">--Select--</option>
                                    <option *ngFor="let item of listMaster['docType']" [ngValue]="item.id">{{item.name}}</option>
                                </select>
                            </div>
                            <div class="block-search">
                                <label for="code" class="control-label">Code</label>
                                <input type="text" name="code" formControlName="code" class="form-control" id="code" placeholder="" capitalize>
                            </div>
                        </form>
                        <div class="block-btn-search">
                            <label class="control-label">&nbsp;</label>
                            <div class="group-btn-search">
                                <button type="button" class="btn btn-primary" (click)="tableService.searchAction()">Search</button>
                                <button type="button" class="btn btn-default" (click)="tableService.resetAction(this.searchForm)">Reset</button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body no-padding">
                        <div class="table-responsive">
                            <table class="table table-bordered table-order" cdArrowTable [collection]="list.items" [(selectedIndex)]="selectedIndex"
                                (onEnter)="selectData($event)" [ngClass]="{'row-selected': i == selectedIndex}">
                                <thead>
                                    <tr>
                                        <th translate style="width: 100px;"></th>
                                        <th style="width:150px" translate>No</th>
                                        <th translate>Document No</th>
                                        <th translate>Issue Date</th>
                                        <th translate>Payment Term</th>
                                        <th class="text-nowrap" style="width:100px" translate> Status</th>
                                        <th class="text-center" style="width:100px" translate>Current Balance</th>
                                        <th style="width:100px" translate>Balance Due</th>
                                        <th translate style="width:100px">Amount Applied</th>
                                    </tr>
                                </thead>
                                <tbody *ngIf="list['items'].length === 0">
                                    <tr>
                                        <td colspan="100%" class="text-center" translate>No data.</td>
                                    </tr>
                                </tbody>
                                <ng-container *ngIf="list['items'].length > 0">
                                    <tbody *ngFor="let item of list['items']; let $index = index;">
                                        <tr>
                                            <td>
                                                <label class="css-input css-checkbox css-checkbox-default">
                                                    <input class="cb-element" type="checkbox" [(ngModel)]="item.is_checked" (change)="isAllChecked()">
                                                    <span></span>
                                                </label>
                                            </td>
                                            <td>{{$index+1}}</td>
                                            <td>{{item.code}}</td>
                                            <td class="text-center">{{item.issue_date}}</td>
                                            <td>{{item.payment_term_name}}</td>
                                            <td>{{item.status_name}}</td>
                                            <td>{{item.original_amount | currency}}</td>
                                            <td>{{item.balance_due|currency}}</td>
                                            <td>
                                                <input [isDecimal]="true" numberDirective [min]="0" [max]="item.original_amount" class="form-control input-sm" type="number"
                                                    [(ngModel)]="item.amount" (change)="updateBalance()">
                                            </td>
                                        </tr>
                                    </tbody>
                                </ng-container>
                                <tbody *ngIf="list['items'].length != 0">
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>{{main_info.total_current_balance | currency}}</td>
                                        <td>{{main_info.total_balance_due|currency}}</td>
                                        <td>{{main_info.total_amount|currency}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-12 no-padding">
                            <button (click)="addNewItem()" class="btn btn-link" translate>
                                <i class="fa fa-plus"></i>Clear Payment
                            </button>
                        </div>
                        <div class="col-12 no-padding">
                            <p class="text-danger">(*) For the Invoice document, the Original Balance is including the early
                                payment incentive if any.</p>
                            <p class="text-danger">(**) If you enter a partial payment for an invoice on which an Early Payment
                                Incentive is active, you will remove the discount opportunity.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mg-top-15 text-right">
                <button type="button" class="btn btn-outline-info" (click)="createApplyCredit()" translate>Apply Credit</button>
                <button type="button" class="btn btn-default" (click)="confirmModal()" translate>Cancel</button>
            </div>
        </div>
    </section>
</div>