<div [@routerTransition]>
    <app-page-header [heading]="'LIST OF RETURN ORDERS'" [icon]="'fa-th-list'"></app-page-header>
    <app-shortcut [listShortcut]='keyService.getKeys()'></app-shortcut>
    <div class="block anchor-scroll block-order">
        <section id="statusIndicator" class="status-indicator-section">
            <ul class="status-ctn dashboard-content">
                <li style="cursor: pointer;" (click)="filter(item.status)" *ngFor="let item of countStatus" class="status-item dashboard-stat {{item.color}}">
                    <img *ngIf="item.img" [src]="item.img" alt="">
                    <div class="status-count">{{ item.count || 0 }}</div>
                    <div class="status-lbl text-uppercase">{{ item.name }}</div>
                </li>
            </ul>
        </section>
        <div class="block-content pd-bottom bg-gray-light short-width">
            <div class="row">
                <form class="form-horizontal form-search" role="form" [formGroup]="searchForm">
                    <div class="block-search">
                        <label for="cd" class="control-label" translate>Order No</label>
                        <input [keyConfig]="keyService.getKeyConfig()" appKeyNavigate="cd" type="text" name="cd" formControlName="cd" class="form-control" placeholder="" capitalize>
                    </div>
                    <div class="block-search">
                        <label for="return_type_id" class="control-label">Return Type</label>
                        <ng-select [multiple]="true" [items]="listMaster['return_type']" bindLabel="value" bindValue="key" formControlName="return_type_id">
                        </ng-select>
                    </div>
                    <div class="block-search">
                        <label for="contract_no" class="control-label">Customer</label>
                        <ng-select class="infinity-scroll-select"  [typeahead]="searchKey" (scrollToEnd)="fetchMoreCustomer($event)" [virtualScroll]="true" style="width: 100px; margin-left: 2px;" [items]="listMaster['customer']" bindLabel="name" bindValue="id" formControlName="company_id">
                           <ng-template ng-option-tmp let-item="item">
                               <span  [innerHTML]="item.company_name"></span>
                           </ng-template>
                       </ng-select>
                    </div>
                    <div class="block-search">
                        <label for="warehouse_id" class="control-label">Warehouse</label>
                        <ng-select [multiple]="true" [items]="listMaster['warehouses']" bindLabel="name" bindValue="id" formControlName="warehouse_id">
                        </ng-select>
                    </div>
                    <div class="block-search">
                        <label for="sts_id" class="control-label">Status</label>
                        <ng-select [multiple]="true" [items]="listMaster['return_status']" bindLabel="name" bindValue="id" formControlName="sts_id">
                        </ng-select>
                    </div>
                    <!-- <div class="block-search">
                        <label for="type" class="control-label" translate>Date Type</label>
                        <select class="form-control" formControlName="date_type">
                                  <option value="null" selected="true">--Select--</option>
                                  <option *ngFor="let item of listMaster['dateType']" [ngValue]="item.id">{{item.name}}</option>
                              </select>
                    </div> -->
                    <div class="block-search">
                        <label for="" class="control-label" translate> From</label>
                        <div clickOutside (clickOutside)="d.close()" class="input-group">
                            <input [keyConfig]="keyService.getKeyConfig()" appKeyNavigate="request_date_from" [maxDate]="searchForm.value.request_date_to | dateObj" class="form-control" placeholder="mm/dd/yyyy" name="d" formControlName="request_date_from" ngbDatepicker #d="ngbDatepicker">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                                            <i class="fa fa-calendar" aria-hidden="true"></i>
                                        </button>
                            </div>
                        </div>
                    </div>
                    <div class="block-search">
                        <label for="" class="control-label" translate> To</label>
                        <div clickOutside (clickOutside)="dt.close()" class="input-group">
                            <input [keyConfig]="keyService.getKeyConfig()" appKeyNavigate="request_date_to" [minDate]="searchForm.value.request_date_from | dateObj" class="form-control" placeholder="mm/dd/yyyy" name="dt" formControlName="request_date_to" ngbDatepicker #dt="ngbDatepicker">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" (click)="dt.toggle()" type="button">
                                            <i class="fa fa-calendar" aria-hidden="true"></i>
                                        </button>
                            </div>
                        </div>
                    </div>

                </form>
                <div class="block-btn-search">
                    <label class="control-label">&nbsp;</label>
                    <div class="group-btn-search">
                        <button type="button" class="btn-default-custom" (click)="tableService.searchAction()">Search</button>
                        <button type="button" class="btn-default-custom" (click)="tableService.resetAction(this.searchForm)">Reset</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mg-top-10">
            <div class="col-12">
                <div class="card no-border">
                    <div class="card-header">
                        <strong>Line Items</strong>
                        <button [routerLink]="['create']" style="margin:0; float:right" class="btn btn-link"> <i class="fa fa-plus text-success"></i> Add new</button>
                    </div>
                    <div class="card-body no-padding">
                        <div class="table-responsive list">
                            <table class="table table-bordered table-order" cdArrowTable [collection]="list.items" [(selectedIndex)]="selectedIndex" (onEnter)="selectData($event)">
                                <thead class="bg-white">
                                    <tr>
                                        <th translate>Return Order No</th>
                                        <th translate>Return Type</th>
                                        <th translate>Customer</th>
                                        <th translate>Request Date</th>
                                        <th translate>Status</th>
                                        <th translate>Sales Order No</th>
                                        <th translate>Warehouse</th>
                                        <th translate>Total Return QTY</th>
                                        <th translate>Total Accepted QTY</th>
                                        <th translate>Return Time</th>
                                        <th translate>Salesperson</th>
                                        <th translate>Last Updated On</th>
                                        <th translate>Last Updated By</th>
                                        <th translate>Action</th>
                                    </tr>
                                </thead>
                                <tbody *ngFor="let item of  list.items; let i = index;" [ngClass]="{'row-selected': i == selectedIndex}">
                                    <tr>
                                        <td><a class="text-primary" [routerLink]="['detail', item.id]">{{item.cd}}</a></td>
                                        <td>{{item.return_type}}</td>
                                        <td>{{item.company_name}}</td>
                                        <td>{{item.request_date |date:'MM/dd/yyyy'}}</td>
                                        <td><span *ngIf="item.sts_name">{{item.sts_name['name']}}</span></td>
                                        <td><a class="text-primary" [routerLink]="['/order-management/sale-order/detail', item.order_id]">{{item.order_code}}</a></td>
                                        <td>{{item.warehouse_name}}</td>
                                        <td class="text-center">{{item.total_return_qty}}</td>
                                        <td class="text-center">{{item.total_accepted_qty}}</td>
                                        <td class="text-center">{{item.return_time}}</td>
                                        <td>{{item.sale_person_name}}</td>
                                        <td>{{item.updated_at |date:'MM/dd/yyyy'}}</td>
                                        <td>{{item.updated_by}}</td>
                                        <td class="text-nowrap">
                                            <a *ngIf="item.sts_id == 7" ngbTooltip="Complete" class="btn btn-default" (click)="confirmModal(item, 7)"><i class="fa fa-share-square-o"></i></a>
                                            <a  *ngIf="item.sts_id == 1" ngbTooltip="Send to WH" class="btn btn-default" (click)="confirmModal(item, 5)"><i class="fa fa-check" aria-hidden="true"></i></a>
                                            <a *ngIf="item.sts_id == 1" ngbTooltip="Cancel" class="btn btn-default" (click)="confirmModal(item, 2)"><i class="fa fa-times-circle"></i></a>
                                            <!-- <a ngbTooltip="Revise" class="btn btn-default" (click)="confirmModal(item, 'RV')"><i class="fa fa-pencil-square"></i></a> -->
                                            <a *ngIf="item.sts_id == 1" ngbTooltip="Edit" class="btn btn-default" [routerLink]="['edit', item.id]"><i class="fa fa-pencil"></i></a>
                                            <a  ngbTooltip="View" class="btn btn-default" [routerLink]="['detail', item.id]"><i class="fa fa-eye"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                                <tbody *ngIf="list.items.length == 0">
                                    <tr>
                                        <td colspan="100%" translate>No data.</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-12 no-padding">

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row normal-pagination mg-top-10" *ngIf="list.items.length > 0">
            <div class="col-md-6 padding-lr-0">
                <div class="text-left">
                    <div class="col-md-6" style="padding-left: 0px;">
                        <span style="float: left; padding-right: 10px;">{{list.items.length}}/{{tableService.pagination.total_record}} items </span>
                        <select style="width: 50px; float: left;" class="form-control" [(ngModel)]="tableService.pagination.length" (change)="tableService.changeLength()">
                            <option *ngFor="let option of tableService.itemPerPageOptions" [ngValue]="option">{{option}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-6 padding-lr-0">
                <div class="text-right">
                    <ngb-pagination class="d-flex justify-content-end" (pageChange)="tableService.changePage($event)" [pageSize]="tableService.pagination.length" [collectionSize]="tableService.pagination.total_record || 120" [(page)]="tableService.pagination.page" [maxSize]="tableService.maxSize"
                      [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
                </div>
            </div>
        </div>

    </div>
</div>
