<div [@routerTransition]>
    <app-page-header [heading]="'DETAIL RECEIPT VOUCHER'" [icon]="'fa-th-list'"></app-page-header>
    <app-shortcut [listShortcut]='keyService.getKeys()'></app-shortcut>
    <section class="main-container block-order-detail">
        <ngb-tabset class="tabs-order full-width">
            <ngb-tab title="Information">
                <ng-template ngbTabContent>
                    <app-invoice-info-tab [invoiceId]="invoiceId"></app-invoice-info-tab>
                </ng-template>
            </ngb-tab>            
            <ngb-tab title="Document">
                <ng-template ngbTabContent>
                    <app-invoice-document-tab></app-invoice-document-tab>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
    </section>
</div>
