<div [@routerTransition]>
    <app-page-header [heading]="'DETAIL RECEIPT VOUCHER'" [icon]="'fa-th-list'"></app-page-header>
    <app-shortcut [listShortcut]='keyService.getKeys()'></app-shortcut>
    <section class="main-container block-order-detail">
        <ngb-tabset #tabSet class="tabs-order full-width">
            <ngb-tab id='0' title="Information">
                <ng-template ngbTabContent>
                    <app-receipt-info-tab [receiptId]="receiptId"></app-receipt-info-tab>
                </ng-template>
            </ngb-tab>            
            <ngb-tab id='1'title="Document">
                <ng-template ngbTabContent>
                    <app-receipt-document-tab [receiptId]="receiptId"></app-receipt-document-tab>
                </ng-template>
            </ngb-tab>
            <ngb-tab id='2' title="History">
                    <ng-template ngbTabContent>
                        <app-receipt-history-tab [receiptId]="receiptId"></app-receipt-history-tab>
                    </ng-template>
                </ngb-tab>
        </ngb-tabset>
    </section>
</div>
