<div [@routerTransition]>
    <!-- <app-page-header [heading]="'Report'" [icon]="'fa-th-list'"></app-page-header> -->
    <div class="col-md-4 shadow-sm pt-2 rounded border-top sum-level">
        <div class="row">
            <div class="col-md-12">
                <label><i class="mr-1 fa fa-angle-down"></i>List of Reports </label>
            </div>
            <div class="col-md-12 mt-1 mb-5">
                <div class="py-2 col-8 shadow-sm form-inline is-hover" [ngClass]="{'col-12': isShowLink}">
                    <label class="is-red">Customer outstanding with ageing report</label>
                    <span><i class="ml-1 fa fa-question-circle-o is-red" (click)="isShowLink = !isShowLink"></i></span>
                    <label class="mt-1" *ngIf="isShowLink">
                        <a [routerLink]="['/report/finance-report/customer-outstanding']">How much each customer owes you. Report shows individual invoices and debit memos with their aged overdue.</a>
                    </label>
                </div>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-md-12">
                <label><i class="mr-1 fa fa-angle-down"></i>List of Reports </label>
            </div>
            <div *ngIf="!hover && !questionClick" class="col-md-12 mt-1 mb-5">
                <div class="py-2 col-7 shadow-sm form-inline">
                    <label (mouseover)="onHover()">Customer outstanding with ageing report</label>
                    <span><i class="ml-1 fa fa-question-circle-o is_red"></i></span>
                </div>
            </div>
        </div>
        <div *ngIf="hover" class="row mt-1" style="background-color: #f7f8f9">
            <div class="col-md-12 mt-3">
                <span>
                    Customer Balance Detail <i (click)="questClick()"class="ml-1 text-primary fa fa-question-circle-o"></i>
                </span>
                <p class="mt-1">
                    <a [routerLink]="['/report/finance-report/customer-outstanding']">How much each customer owes you. Report shows individual invoices and debit memos with their aged overdue.</a>
                </p>
            </div>
        </div> -->
        <!-- <div *ngIf="questionClick" class="row">
            <div class="col-md-4 mt-3">
                <span>
                    Customer outstanding with ageing report <i class="ml-1 fa fa-question-circle-o"></i>
                </span>
                <p class="mt-1">
                   <a [routerLink]="['/report/finance-report/customer-outstanding']">How much each customer owes you. Report shows individual invoices and debit memos with their aged overdue.</a>
                </p>
            </div>
        </div> -->
    </div>
</div>
