<div [@routerTransition]>
    <app-page-header [heading]="'LIST OF PAYMENT METHODS'" [icon]="'fa-th-list'"></app-page-header>
    <app-shortcut [listShortcut]='keyService.getKeys()'></app-shortcut>

    <div class="block-content pd-bottom bg-gray-light short-width">
        <div class="row">
            <form class="form-horizontal form-search" role="form" [formGroup]="searchForm" (ngSubmit)="tableService.searchAction()">
                <div class="block-search">
                    <label class="control-label">Description</label>
                    <input type="text" class="form-control" formControlName="name">
                </div>
                <div class="block-search">
                    <label class="control-label">Type</label>
                    <select class="form-control" formControlName="type">
                        <option value="null" disabled>--Select--</option>
                        <option *ngFor="let type of listMaster.paymentTypes" [value]="type.key">{{type.name}}</option>
                    </select>
                </div>
                <div class="block-search">
                    <label class="control-label">Status</label>
                    <select class="form-control" formControlName="ac">
                        <option *ngFor="let status of listMaster.status" [value]="status.key" [disabled]="status.key === null">{{status.name}}</option>
                    </select>
                </div>
                <div class="block-btn-search">
                    <label class="control-label">&nbsp;</label>
                    <div class="group-btn-search">
                        <button type="submit" class="btn btn-primary">Search</button>
                        <button type="button" class="btn btn-default" (click)="tableService.resetAction(this.searchForm)">Reset</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="list-order-table">
        <button style="margin: 10px 0;" class="btn btn-primary" [routerLink]="['/admin-panel/payment-methods/create']">Add New</button>

        <div class="table-responsive">
            <table class="table table-striped table-vcenter table-hover custom-table">
                <thead class="bg-white">
                    <tr>
                        <th>
                            <label class="css-input css-checkbox css-checkbox-default">
                                <input class="cb-all" type="checkbox" [(ngModel)]="isCheckedAllPaymentMethod">
                                <span></span>
                            </label>
                        </th>
                        <th class="vertical-top" translate>Code</th>
                        <th class="vertical-top" translate>Description</th>
                        <th class="vertical-top" translate>Type</th>
                        <th class="vertical-top" translate>Status</th>
                        <th class="vertical-top text-center" translate>Show in store</th>
                        <th class="vertical-top text-center" translate>Used</th>
                        <th class="vertical-top text-center" translate>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="!paymentMethods.length">
                        <td colspan="100%" class="text-center">No data.</td>
                    </tr>
                    <tr *ngFor="let paymentMethod of paymentMethods">
                        <td>
                            <label class="css-input css-checkbox css-checkbox-default">
                                <input class="cb-element" type="checkbox" [(ngModel)]="paymentMethod.checked">
                                <span></span>
                            </label>
                        </td>
                        <td>{{paymentMethod.cd}}</td>
                        <td>{{paymentMethod.name}}</td>
                        <td>{{paymentMethod.type_name}}</td>
                        <td>
                            <label class="switch" placement="top">
                                <input type="checkbox" [(ngModel)]="paymentMethod.ac" (change)="changePaymentMethodStatus(paymentMethod)">
                                <div class="slider round"></div>
                            </label>
                        </td>
                        <td class="text-center">
                            <i *ngIf="paymentMethod.show_in_store" class="fa fa-check" aria-hidden="true"></i>
                        </td>
                        <td class="text-center">
                            <i *ngIf="paymentMethod.used" class="fa fa-check" aria-hidden="true"></i>
                        </td>
                        <td class="text-center">
                            <a class="btn btn-primary-outline" (click)="editPaymentMethod(paymentMethod.id)">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </a>
                            <a class="btn btn-primary-outline" [hidden]="paymentMethod.used" (click)="deletePaymentMethod(paymentMethod)">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="row normal-pagination" *ngIf="paymentMethods.length > 0">
            <div class="col-md-6">
                <div class="text-left">
                    <div class="col-md-6" style="padding-left: 0px;">
                        <span style="float: left; padding-right: 10px;">{{paymentMethods.length}}/{{tableService.pagination.total_record}} items </span>
                        <select style="width: 50px; float: left;" class="form-control" [(ngModel)]="tableService.pagination.length" (change)="tableService.changeLength()">
                            <option *ngFor="let option of tableService.itemPerPageOptions" [ngValue]="option">{{option}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="text-right">
                    <ngb-pagination class="d-flex justify-content-end" (pageChange)="tableService.changePage($event)" [pageSize]="tableService.pagination.length"
                        [collectionSize]="tableService.pagination.total_record || 120" [(page)]="tableService.pagination.page"
                        [maxSize]="tableService.maxSize" [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
                </div>
            </div>
        </div>

        <button style="margin: 10px 0;" class="btn btn-primary" [routerLink]="['/admin-panel/payment-methods/create']">Add New</button>
    </div>

    <app-shortcut [listShortcut]='keyService.getKeys()'></app-shortcut>
</div>
