<div class="modal-header">
    <span class="modal-title">Flat Rate Options</span>
    <button type="button" class="close" aria-label="Close" (click)="closeX()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">

    <form [formGroup]="generalForm" class="form-search full-width form-horizontal">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group row">
                    <div class="col-md-6">
                        <label class='col-12'> Display name
                            <span class="text-danger" *ngIf="!isView">(*)</span>
                        </label>
                        <div class="col-sm-12">
                            <input type="text" formControlName="name" id="name" class="form-control">
                        </div>
                        <span class="col-md-12" style="color: red" *ngIf="generalForm.controls.name.touched&&generalForm.controls.name.errors?.required">
                            (!) This field cannot be blank.
                        </span>
                    </div>
                </div>
                <div class="w-100"></div>
                <div class="form-group row">
                    <div class="col-md-6">
                        <label class='col-6'>
                            Type
                            <span class="text-danger" *ngIf="!isView">(*)</span>
                        </label>
                        <div class="col-sm-12">
                            <select name="type" formControlName="type" class="form-control">
                                <option *ngFor="let item of typeList" [value]='item.id'>{{item.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class='col-12'> Shipping Fee
                            <span class="text-danger" *ngIf="!isView">(*)</span>
                        </label>
                        <div class="col-sm-12 row">
                            <input style="text-align:center" *ngIf="generalForm.value.type==1||generalForm.value.type==2" type="text" value="$" disabled class="form-control col-sm-2">
                            <input style="text-align:center" *ngIf="generalForm.value.type==3" type="text" value="%" disabled class="form-control col-sm-2">
                            <input type="text" name="shipping_fee" formControlName="shipping_fee" class="form-control col-sm-10">
                        </div>
                        <span class="col-md-12" style="color: red" *ngIf="generalForm.controls.shipping_fee.touched&&generalForm.controls.shipping_fee.errors?.required">
                            (!) This field cannot be blank.
                        </span>
                    </div>
                </div>
                <div class="w-100"></div>
                <div class="form-group row">
                    <div class="col-md-6">
                        <label class='col-12'>
                            Handling Fee Type
                        </label>
                        <div class="col-sm-12">
                            <select name="fee_type" formControlName="fee_type" class="form-control">
                                <option *ngFor="let item of typeFreeList" [value]='item.id'>{{item.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class='col-12'>Handling Fee
                            <span *ngIf="generalForm.value.fee_type==1" class="show-tooltip icon-blue" ngbTooltip="A flat handling fee of $x will be charged in the order.">
                                <i class="fa fa-question-circle"></i>
                            </span>
                            <span *ngIf="generalForm.value.fee_type==2" class="show-tooltip icon-blue" ngbTooltip="Percentage of the total shipping fee of the order.">
                                    <i class="fa fa-question-circle"></i>
                                </span>
                        </label>
                        <div class="col-sm-12 row">
                            <input *ngIf="generalForm.value.fee_type ==2" style="text-align:center" type="text" value="%" disabled class="form-control col-sm-2">
                            <input *ngIf="generalForm.value.fee_type ==1" style="text-align:center" type="text" value="$" disabled class="form-control col-sm-2">
                            <input type="text" name="handling_fee" formControlName="handling_fee" class="form-control col-sm-10">
                        </div>
                    </div>
                </div>

                <div class="w-100"></div>
            </div>
        </div>
    </form>







</div>
<div class="modal-footer">
    <button *ngIf="!isView" type="button" class="btn btn-outline-primary" [disabled]="generalForm.invalid" (click)="applyData()">OK</button>
    <button type="button" class="btn btn-outline-dark" (click)="closeX()">Close</button>
</div>