<div class="modal-header">
    <span class="modal-title">SELECT ITEM</span>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss([])">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="search-block block-content pd-bottom tab-content bg-gray-light">
        <div class="row">
            <ngb-tabset class="tab-header" activeId="vehicle" type="pills" (tabChange)="resetTab()">
                <ngb-tab id="search" title="Search By:" [disabled]="true">
                    <ng-template ngbTabContent>

                    </ng-template>
                </ngb-tab>
                <ngb-tab id="vehicle" title="VEHICLE">
                    <ng-template ngbTabContent>
                        <form class="form-horizontal form-search" [formGroup]="searchForm">
                            <div class="block-search">
                                <label for="type" class="control-label" translate>Year From </label>
                                <select formControlName="year_from" class="form-control">
                                    <option value="null" selected="true" translate>--Select--</option>
                                    <option *ngFor="let de of listMaster['years']" [ngValue]="de.id">{{de.name}}</option>
                                </select>
                            </div>
                            <div class="block-search">
                                <label for="type" class="control-label" translate>Year To</label>
                                <select formControlName="year_to" class="form-control">
                                    <option value="null" selected="true" translate>--Select--</option>
                                    <option *ngFor="let de of listMaster['years']" [ngValue]="de.id">{{de.name}}</option>
                                </select>
                            </div>
                            <div class="block-search">
                                <label for="type" class="control-label" translate>Make</label>
                                <select formControlName="manufacturer_id" class="form-control">
                                    <option value="null" selected="true" translate>--Select--</option>
                                    <option *ngFor="let de of listMaster['make']" [ngValue]="de.manufacturer_id">{{de.name}}</option>
                                </select>
                            </div>
                            <div class="block-search">
                                <label for="type" class="control-label" translate>Model</label>
                                <select (change)="changeToGetSubModel()" formControlName="model_id" class="form-control">
                                    <option value="null" selected="true" translate>--Select--</option>
                                    <option *ngFor="let de of listMaster['models']" [ngValue]="de.model_id">{{de.name}}</option>
                                </select>
                            </div>
                            <div class="block-btn-search">
                                <label class="control-label">&nbsp;</label>
                                <div>
                                    <button type="button" class="btn btn-primary" (click)="tableService.searchAction()" translate>Search</button>
                                    <button type="button" class="btn btn-default" (click)="tableService.resetAction(this.searchForm)" translate>Reset</button>
                                </div>
                            </div>
                        </form>
                    </ng-template>
                </ngb-tab>
                <ngb-tab id="part_number" title="PART NUMBER">
                    <ng-template ngbTabContent>
                        <form class="form-horizontal form-search" [formGroup]="searchForm">
                            <div class="block-search">
                                <label for="so" class="control-label" translate>OEM #</label>
                                <input type="text" name="so" formControlName="oem" class="form-control">
                            </div>
                            <div class="block-search">
                                <label for="so" class="control-label" translate>Partlinks #</label>
                                <input type="text" name="so" formControlName="partlinks_no" class="form-control">
                            </div>
                            <div class="block-search">
                                <label for="so" class="control-label" translate>Part #</label>
                                <input type="text" name="so" formControlName="part_no" class="form-control">
                            </div>
                            <div class="block-search">
                                <label for="type" class="control-label" translate>Cert</label>
                                <select formControlName="certification" class="form-control">
                                    <option value="null" selected="true" translate>--Select--</option>
                                    <option *ngFor="let de of listMaster['certification_partNumber']" [ngValue]="de.code">{{de.value}}</option>
                                </select>
                            </div>
                            <div class="block-btn-search">
                                <label class="control-label">&nbsp;</label>
                                <div>
                                    <button type="button" class="btn btn-primary" (click)="tableService.searchAction()" translate>Search</button>
                                    <button type="button" class="btn btn-default" (click)="tableService.resetAction(searchForm); tableService.resetAction(filterForm)"
                                        translate>Reset</button>
                                </div>
                            </div>
                        </form>
                    </ng-template>
                </ngb-tab>
                <ngb-tab id="vin" title="VIN">
                    <ng-template ngbTabContent>
                        <form class="form-horizontal form-search" [formGroup]="searchForm">
                            <div class="block-search">
                                <label for="so" class="control-label" translate>Number</label>
                                <input type="text" name="so" formControlName="vin" class="form-control">
                            </div>
                            <div class="block-btn-search">
                                <label class="control-label">&nbsp;</label>
                                <div>
                                    <button type="button" class="btn btn-primary" (click)="tableService.searchAction()" translate>Search</button>
                                    <button type="button" class="btn btn-default" (click)="tableService.resetAction(this.searchForm)" translate>Reset</button>
                                </div>
                            </div>
                        </form>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>

        </div>
    </div>
    <div class="block-content mt-1" *ngIf="list.items.length > 0">
        <h5 class="title-form">Filter</h5>

        <div class="row">
            <form class="row col-12 form-horizontal form-search" [formGroup]="filterForm">
                <div class="block-search col-2">
                    <label for="type" class="control-label" translate>Brand</label>
                    <ng-select [multiple]="true" [items]="listMaster['brands']" bindLabel="name" bindValue="brand_id" formControlName="brand_id_filter">
                    </ng-select>
                </div>
                <div class="block-search col-2">
                    <label for="type" class="control-label" translate>Category</label>
                    <ng-select (change)="changeToGetSubCategory()" [multiple]="true" [items]="listMaster['categories']" bindLabel="name" bindValue="category_id"
                        formControlName="category_id_filter">
                    </ng-select>
                </div>
                <div class="block-search col-2">
                    <label for="type" class="control-label" translate>Sub-Category</label>
                    <ng-select [multiple]="true" [items]="listMaster['sub_cat']" bindLabel="name" bindValue="category_id" formControlName="sub_category_id">
                    </ng-select>
                </div>
                <div class="block-search col-2">
                    <label for="type" class="control-label" translate>Cert</label>
                    <select formControlName="certification_filter" class="form-control">
                        <option value="null" selected="true" translate>--Select--</option>
                        <option *ngFor="let de of listMaster['certification']" [ngValue]="de.code">{{de.value}}</option>
                    </select>
                </div>
                <div class="block-search col-2">
                    <label for="so" class="control-label" translate>OEM #</label>
                    <input type="text" name="so" formControlName="oem_filter" class="form-control">
                </div>
                <div class="block-search col-2">
                    <label for="so" class="control-label" translate>Partlinks #</label>
                    <input type="text" name="so" formControlName="partlinks_no_filter" class="form-control">
                </div>
                <div class="block-search col-2">
                    <label for="so" class="control-label" translate>Part #</label>
                    <input type="text" name="so" formControlName="part_no_filter" class="form-control">
                </div>
                <div class="block-btn-search col-2">
                    <label class="control-label">&nbsp;</label>
                    <div>
                        <button type="button" class="btn btn-primary" (click)="tableService.searchAction()" translate>Search</button>
                        <button type="button" class="btn btn-default" (click)="tableService.resetAction(filterForm)" translate>Reset</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="block-content pd-top mt-2">
        <div class="table-responsive">
            <table class="table table-striped table-vcenter table-hover custom-table" cdArrowTable [collection]="list.items" [(selectedIndex)]="selectedIndex"
                (onEnter)="selectData($event)">
                <thead class="bg-white">
                    <tr>
                        <th>
                            <label class="css-input css-checkbox css-checkbox-default">
                                <input class="cb-all" type="checkbox" [(ngModel)]="checkAllItem" (change)="checkAll($event)">
                                <span></span>
                            </label>
                        </th>
                        <th translate>Part No</th>
                        <th translate>Oem #</th>
                        <th translate>Partlinks #</th>
                        <th translate>Description</th>
                        <th translate>Make</th>
                        <th translate>Model</th>
                        <th translate>Condition</th>
                        <th translate>From</th>
                        <th translate>To</th>
                        <th translate>Brand</th>
                        <th translate>Cert</th>
                        <th translate>Sales Price</th>
                        <th *ngFor="let item of listMaster['warehouses']">
                            {{item.name}} Avail QTY
                        </th>
                    </tr>
                </thead>

                <tr *ngFor="let item of  list.items; let i = index;" [ngClass]="{'row-selected': i == selectedIndex}">
                    <td>
                        <label class="css-input css-checkbox css-checkbox-default">
                            <input class="cb-element" type="checkbox" [(ngModel)]="item.is_checked" (change)="isAllChecked(item)">
                            <span></span>
                        </label>
                    </td>
                    <td>{{item.sku}}</td>
                    <td>{{item.oem}}</td>
                    <td>{{item.partlinks_no}}</td>
                    <td>{{item.des}}</td>
                    <td>{{item.make_name}}</td>
                    <td>{{item.model_name}}</td>
                    <td>{{item.condition_name}}</td>
                    <td>{{item.yr_from}}</td>
                    <td>{{item.yr_to}}</td>
                    <td>{{item.brand_name}}</td>
                    <td>{{item.cert=='Y'?'Yes':'No'}}</td>
                    <th>{{item.sale_price|currency:'$'}}</th>
                    <td *ngFor="let wh_qty of item.warehouse">{{wh_qty['qty_available']}}</td>
                </tr>
                <tr *ngIf="list.items.length === 0">
                    <td colspan="100%" class="text-center">No data.</td>
                </tr>
            </table>

        </div>


        <div class="row normal-pagination" *ngIf="list.items.length > 0">
            <div class="col-md-6">
                <div class="text-left">
                    <div class="col-md-6" style="padding-left: 0px;">
                        <span style="float: left; padding-right: 10px;">{{list.items.length}}/{{tableService.pagination.total_record}} items </span>
                        <select style="width: 50px; float: left;" class="form-control" [(ngModel)]="tableService.pagination.length" (change)="tableService.changeLength()">
                            <option *ngFor="let option of tableService.itemPerPageOptions" [ngValue]="option">{{option}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="text-right">
                    <ngb-pagination class="d-flex justify-content-end" (pageChange)="tableService.changePage($event)" [pageSize]="tableService.pagination.length"
                        [collectionSize]="tableService.pagination.total_record || 120" [(page)]="tableService.pagination.page"
                        [maxSize]="tableService.maxSize" [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
                </div>
            </div>
        </div>

    </div>


</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" (click)="activeModal.close(list.checklist)">OK</button>
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close([])">Close</button>
</div>
