<div class="modal-header">
    <span class="modal-title">SELECT ITEM</span>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss([])">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="search-block block-content pd-bottom tab-content bg-gray-light">
        <div class="row">
            <form class="form-horizontal form-search" [formGroup]="searchForm">
                <div class="block-search">
                    <label for="so" class="control-label">Code</label>
                    <input type="text" name="so" formControlName="cd" class="form-control">
                </div>
                <div class="block-search">
                    <label for="so" class="control-label">Name</label>
                    <input type="text" name="so" formControlName="name" class="form-control">
                </div>
                <div class="block-search">
                    <label for="so" class="control-label">Status</label>
                    <input type="text" name="so" formControlName="sts" class="form-control">
                </div>
                <div class="block-btn-search">
                    <label class="control-label">&nbsp;</label>
                    <div>
                        <button type="button" class="btn btn-primary" (click)="tableService.searchAction()">Search</button>
                        <button type="button" class="btn btn-default" (click)="tableService.resetAction(this.searchForm)">Reset</button>
                    </div>
                </div>
            </form>


        </div>
    </div>
    <div class="block-content pd-top mt-2">
        <div class="table-responsive">
            <table class="table table-striped table-vcenter table-hover custom-table" cdArrowTable [collection]="list.items" [(selectedIndex)]="selectedIndex"
                (onEnter)="selectData($event)">
                <thead class="bg-white">
                    <tr>
                        <th>
                            <label class="css-input css-checkbox css-checkbox-default">
                                <input class="cb-all" type="checkbox" [(ngModel)]="checkAllItem" (change)="checkAll($event)">
                                <span></span>
                            </label>
                        </th>
                        <th>Code</th>
                        <th>SKU</th>
                        <th>Description</th>
                        <th class="text-center">Condition</th>
                        <th class="text-center">Qty</th>
                        <th class="text-center">Price</th>
                        <th class="text-center">Quote Price</th>
                        <th class="text-center">Discount</th>
                        <th class="text-center">Total Price</th>
                    </tr>
                </thead>

                <tr *ngFor="let item of  list.items; let i = index;" [ngClass]="{'row-selected': i == selectedIndex}">
                    <td>
                        <label class="css-input css-checkbox css-checkbox-default">
                            <input class="cb-element" type="checkbox" [(ngModel)]="item.is_checked" (change)="isAllChecked()">
                            <span></span>
                        </label>
                    </td>
                    <td>{{item.cd}}</td>
                    <td>{{item.sku}}</td>
                    <td>{{item.des}}</td>
                    <td class="text-center">{{item.condition_name}}</td>
                    <td class="text-center">{{item.order_quantity}}</td>
                    <td class="text-center">{{item.sale_price|currency}}</td>
                    <td class="text-center">{{item.quote_price|currency}}</td>
                    <td class="text-center">{{item.discount}}</td>
                    <td class="text-center">{{item.total_price|currency}}</td>
                </tr>
                <tr *ngIf="list.items.length === 0">
                    <td colspan="100%" class="text-center">No data.</td>
                </tr>
            </table>
        </div>
        <div class="row normal-pagination" *ngIf="list.items.length > 0">
            <div class="col-md-6">
                <div class="text-left">
                    <div class="col-md-6" style="padding-left: 0px;">
                        <span style="float: left; padding-right: 10px;">{{list.items.length}}/{{tableService.pagination.total_record}} items </span>
                        <select style="width: 50px; float: left;" class="form-control" [(ngModel)]="tableService.pagination.length" (change)="tableService.changeLength()">
                            <option *ngFor="let option of tableService.itemPerPageOptions" [ngValue]="option">{{option}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="text-right">
                    <ngb-pagination class="d-flex justify-content-end" (pageChange)="tableService.changePage($event)" [pageSize]="tableService.pagination.length"
                        [collectionSize]="tableService.pagination.total_record || 120" [(page)]="tableService.pagination.page"
                        [maxSize]="tableService.maxSize" [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
                </div>
            </div>
        </div>

    </div>


</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" (click)="activeModal.close(list.checklist)">OK</button>
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close([])">Close</button>
</div>