<div class="modal-header">
    <span class="modal-title">SALES ORDERS</span>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss([])">
          <span aria-hidden="true">&times;</span>
        </button>
</div>
<div class="modal-body">      
    <div class="block-content pd-top">
        <div class="table-responsive">
            <table class="table table-striped table-vcenter table-hover custom-table" cdArrowTable [collection]="list.items" [(selectedIndex)]="selectedIndex" (onEnter)="selectData($event)">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>SO Number</th>
                        <th>Cust PO No</th>
                        <th width="200">Customer</th>
                        <th>Type</th>
                        <th>Order Date</th>
                        <th>Total Amount</th>
                        <th>Status</th>
    
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of list.items">
                        <td>{{ item.id }}</td>
                        <td>{{ item.code }}</td>
                        <td>{{ item.purchase_order_cd }}</td>
                        <td width="200">{{ item.buyer_name }}</td>
                        <td>{{ item.type }}</td>
                        <td>{{ item.order_date }}</td>                    
                        <td>{{ item.total_price | currency }}</td>
                        <td>{{ item.sts }}</td>
                    </tr>
                    <tr *ngIf="list.items.length == 0">
                        <td class="text-center" colspan="100%">No data.</td>
                    </tr>
                </tbody>               
            </table>

        </div>


        <!-- <div class="row normal-pagination" *ngIf="list.items.length > 0">
            <div class="col-md-6">
                <div class="text-left">
                    <div class="col-md-6" style="padding-left: 0px;">
                        <span style="float: left; padding-right: 10px;">{{list.items.length}}/{{tableService.pagination.total_record}} items </span>
                        <select style="width: 50px; float: left;" class="form-control" [(ngModel)]="tableService.pagination.length" (change)="tableService.changeLength()">
                                    <option *ngFor="let option of tableService.itemPerPageOptions" [ngValue]="option">{{option}}</option>
                                </select>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="text-right">
                    <ngb-pagination class="d-flex justify-content-end" (pageChange)="tableService.changePage($event)" [pageSize]="tableService.pagination.length" [collectionSize]="tableService.pagination.total_record || 120" [(page)]="tableService.pagination.page" [maxSize]="tableService.maxSize"
                        [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
                </div>
            </div>
        </div> -->

    </div>


</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" (click)="activeModal.close(list.checklist)">OK</button>
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close([])">Close</button>
</div>