<div class="modal-header">
    <span class="modal-title">ITEM IN QUOTE</span>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss([])">
          <span aria-hidden="true">&times;</span>
        </button>
</div>
<div class="modal-body">
    <div class="search-block block-content pd-bottom tab-content bg-gray-light">
        <div class="row">
            <form class="form-horizontal form-search" [formGroup]="searchForm">
                <div class="block-search">
                    <label for="so" class="control-label" translate>Quote No</label>
                    <select class="form-control" formControlName="sale_quote_id">
                        <option value="null" selected="true">--Select--</option>
                        <option *ngFor="let item of listMaster['sale-quote']" [ngValue] = "item.sale_quote_id">{{item.sale_quote_num}}</option>
                      </select>
                </div>
                <div class="block-search">
                    <label for="so" class="control-label" translate>Product Code</label>
                    <select class="form-control" formControlName="item_id">
                        <option value="null" selected="true">--Select--</option>
                        <option *ngFor="let item of listMaster['product-code']" [ngValue] = "item.item_id">{{item.sku}}</option>
                      </select>
                </div>
                <div class="block-search">
                    <label for='date' class="control-label" translate>Date</label>
                    <div clickOutside (clickOutside)="d.close()" class="input-group">
                        <input class="form-control" placeholder="yyyy-mm-dd" name="dp" formControlName="quote_date" [autoClose]="true" ngbDatepicker #d="ngbDatepicker">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="block-btn-search">
                    <label class="control-label">&nbsp;</label>
                    <div>
                        <button type="button" class="btn btn-primary" (click)="tableService.searchAction()" translate>Search</button>
                        <button type="button" class="btn btn-default" (click)="tableService.resetAction(this.searchForm)" translate>Reset</button>
                    </div>
                </div>
            </form>
        </div>
    </div>    
    <div class="block-content pd-top">
        <div class="table-responsive">
            <table class="table table-striped table-vcenter table-hover custom-table" cdArrowTable [collection]="list.items" [(selectedIndex)]="selectedIndex" (onEnter)="selectData($event)">
                <thead class="bg-white">
                    <tr>
                        <th>
                            <label class="css-input css-checkbox css-checkbox-default">
                                        <input class="cb-all" type="checkbox" [(ngModel)]="checkAllItem" (change)="checkAll($event)">
                                        <span></span>
                                    </label>
                        </th>
                        <th translate>Quote No</th>
                        <th translate>Product Code</th>
                        <th translate>Description</th>
                        <th translate>Order QTY</th>
                        <th translate>Quote Date</th>
                        <th translate>Origin Unit Price</th>
                        <th translate>Quote Unit Price</th>
                        <th translate>Disc %</th>
                        <th translate>Total</th>                       
                    </tr>
                </thead>

                <tr *ngFor="let item of  list.items; let i = index;" [ngClass]="{'row-selected': i == selectedIndex}">
                    <td>
                        <label class="css-input css-checkbox css-checkbox-default">
                                    <input class="cb-element" type="checkbox" [(ngModel)]="item.is_checked" (change)="isAllChecked()">
                                    <span></span>
                                </label>
                    </td>
                    <td>{{item.sale_quote_num}}</td>
                    <td>{{item.sku}}</td>
                    <td>{{item.des}}</td>
                    <td>{{item.order_qty}}</td>
                    <td>{{item.quote_date}}</td>
                    <td>{{item.origin_unit_price |currency}}</td>
                    <td>{{item.quote_unit_price |currency}}</td>
                    <td>{{item.dsct}}</td>
                    <td>{{item.total_price}}</td>                    
                </tr>
                <tr *ngIf="list.items.length === 0">
                    <td colspan="100%" class="text-center">No data.</td>
                </tr>
            </table>

        </div>


        <div class="row normal-pagination" *ngIf="list.items.length > 0">
            <div class="col-md-6">
                <div class="text-left">
                    <div class="col-md-6" style="padding-left: 0px;">
                        <span style="float: left; padding-right: 10px;">{{list.items.length}}/{{tableService.pagination.total_record}} items </span>
                        <select style="width: 50px; float: left;" class="form-control" [(ngModel)]="tableService.pagination.length" (change)="tableService.changeLength()">
                                    <option *ngFor="let option of tableService.itemPerPageOptions" [ngValue]="option">{{option}}</option>
                                </select>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="text-right">
                    <ngb-pagination class="d-flex justify-content-end" (pageChange)="tableService.changePage($event)" [pageSize]="tableService.pagination.length" [collectionSize]="tableService.pagination.total_record || 120" [(page)]="tableService.pagination.page" [maxSize]="tableService.maxSize"
                        [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
                </div>
            </div>
        </div>

    </div>


</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" (click)="activeModal.close(list.checklist)">OK</button>
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close([])">Close</button>
</div>