<div class="modal-header custom-modal-header">
        <span class="modal-title">Pickup In Store Options</span>
        <button type="button" class="close" aria-label="Close" (click)="closeX()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
    
        <form [formGroup]="generalForm" class="form-search full-width form-horizontal">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group row">
                        <div class="col-md-3">
                            <label class='col-12'> Display name
                                <span class="text-danger" *ngIf="!isView">(*)</span>
                                <span class="show-tooltip icon-blue" ngbTooltip="This name will be shown on the store front site.">
                                    <i class="fa fa-question-circle"></i>
                                </span>
                            </label>
    
                            <div class="col-sm-12">
                                <input type="text" formControlName="name" id="name" class="form-control">
                            </div>
                            <span class="col-md-12" style="color: red" *ngIf="generalForm.controls.name.touched&&generalForm.controls.name.errors?.required">
                                (!) This field cannot be blank.
                            </span>
                        </div>
                    </div>
                    <div class="w-100"></div>
    
                    <div class="form-group">
                        <div class="col-md-3">
                            <label class='col-12'>Handling Fee
                            </label>
                            <div class="col-sm-12 row">
                                <input style="text-align:center" type="text" value="$" disabled class="form-control col-sm-2">
                                <input type="number" (keypress)="checkPositiveNumber($event)" numberDirective [isDecimal]="true" name="handling_fee" formControlName="handling_fee" class="form-control col-sm-10 custom-input">
                            </div>
                        </div>
                    </div>
                    <div class="w-100"></div>
                    <div class="form-group row">
                        <div class="col-md-3">
                            <label class='col-12'>
                                Warehouse
                                <span class="text-danger" *ngIf="!isView">(*)</span>
                            </label>
    
                            <div class="col-sm-12">
                                <select class="form-control" (change)="setWareHouseTimer($event.target.value)" formControlName="warehouse" id="warehouse">
                                    <option *ngFor="let item of _wareHouseList" [value]='item.id'>{{item.name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-md-12">
    
                <div class="form-group row">
                    <h5 style="font-weight:600;margin-left: 10px">Business Hours <span class="text-danger" style="font-size: 14px" *ngIf="checkBussinessHour(timeList.bussiness_hours)">(At least one working day must be selected and defined for the warehouse.)</span></h5>
                </div>
                <div class="form-group row" *ngFor="let item of timeList.bussiness_hours;let i=index;trackBy:trackByFn">
                    <div class="col-md-1">
                        <input [(ngModel)]="item.selected" [disabled]="isView" (change)="checkValue($event.target.checked,item)" value="{{item.selected}}"
                            [checked]="item.selected" type="checkbox">
                    </div>
                    <div class="col-md-6">
                        <label class='col-12'>
                            {{item.name}}
                        </label>
                    </div>
                    <div class="col-md-5" *ngIf="item['data']">
                        <div class="col-md-10 form-group" *ngFor="let subItem of item['data'];let i1 = index">
                            <select [disabled]="item.selected ==false ||isView" class="form-control col-md-4" [(ngModel)]="subItem.from">
                                <option *ngFor="let item of dayHoursList" [value]='item.id'>{{item.name}}</option>
                            </select>
                            <span class="col-md-1">
                                <i class="fa fa-minus"></i>
                            </span>
                            <select [disabled]="item.selected ==false ||isView" class="form-control col-md-4" [(ngModel)]="subItem.to">
                                <option *ngFor="let item of dayHoursList" [value]='item.id'>{{item.name}}</option>
                            </select>
                            <button [disabled]="item.selected ==false ||isView" *ngIf="i1==item['data'].length-1" type="button" (click)="addNewHours(item['data'])"
                                class="btn btn-outline-blue col-md-1">
                                <i class="fa fa-plus"></i>
                            </button>
                            <button [disabled]="item.selected ==false ||isView" type="button" *ngIf="item['data'].length>1" (click)="removeHoursItem(i1,item['data'])"
                                class="btn btn-outline-blue col-md-1">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                        <!-- <div class="col-md-2">
     
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    
    
    
    
    
    
    
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="closeX()">Cancel</button>
        <button type="button" *ngIf="!isView" class="btn btn-outline-primary" [disabled]="checkAllBussinessHour()" (click)="applyData()">Submit</button>
    </div>