<div class="modal-header">
    <span class="modal-title">UPS Configuration</span>
    <button type="button" class="close" aria-label="Close" (click)="closeX()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <ngb-tabset #tabSet>
        <ngb-tab title="Connection">
            <ng-template ngbTabContent>

                <form [formGroup]="generalForm" class="form-search full-width form-horizontal">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <label class='col-12'> Access Key
                                        <span class="text-danger">(*)</span>

                                    </label>

                                    <div class="col-sm-12">
                                        <input type="text" (change)="checkName()" formControlName="access_key" id="access_key" name="access_key" class="form-control">
                                    </div>
                                    <span class="col-md-12" style="color: red" *ngIf="generalForm.controls.access_key.touched&&generalForm.controls.access_key.errors?.required">
                                        (!) This field cannot be blank.
                                    </span>
                                </div>
                            </div>
                            <div class="w-100"></div>

                            <div class="form-group row">
                                <div class="col-md-6">
                                    <label class='col-12'> User ID
                                        <span class="text-danger">(*)</span>
                                        <span class="show-tooltip" ngbTooltip="This name will be shown on the store front site.">
                                            <i class="fa fa-question-circle"></i>
                                        </span>
                                    </label>

                                    <div class="col-sm-12">
                                        <input type="text" formControlName="user_id" id="user_id" class="form-control">
                                    </div>
                                    <span class="col-md-12" style="color: red" *ngIf="generalForm.controls.user_id.touched&&generalForm.controls.user_id.errors?.required">
                                        (!) This field cannot be blank.
                                    </span>
                                </div>
                                <div class="col-md-6">
                                    <label class='col-12'> Password
                                        <span class="text-danger">(*)</span>
                                        <span class="show-tooltip" ngbTooltip="This name will be shown on the store front site.">
                                            <i class="fa fa-question-circle"></i>
                                        </span>
                                    </label>

                                    <div class="col-sm-12">
                                        <input type="password" formControlName="password" id="password" class="form-control">
                                    </div>
                                    <span class="col-md-12" style="color: red" *ngIf="generalForm.controls.password.touched&&generalForm.controls.password.errors?.required">
                                        (!) This field cannot be blank.
                                    </span>
                                </div>
                            </div>
                            <div class="w-100"></div>
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <label class='col-form-label' (change)="checkRates()">
                                        <input type="checkbox" name="" formControlName="rates"> Use nenegotiated rates
                                    </label>
                                </div>
                            </div>
                            <div class="w-100"></div>

                            <div class="form-group row" *ngIf="generalForm.value.rates == true">
                                <div class="col-md-6">
                                    <label class='col-12'> The Shipper UPS's account number
                                        <span class="text-danger">(*)</span>
                                    </label>

                                    <div class="col-sm-12">
                                        <input type="text" formControlName="account_number" id="name" class="form-control">
                                    </div>
                                    <span class="col-md-12" style="color: red" *ngIf="generalForm.controls.ups_customer.touched&&generalForm.controls.account_number.errors?.required">
                                        (!) This field cannot be blank.
                                    </span>
                                </div>
                                <div class="col-md-6">
                                    <label class='col-12'> UPS Customer Classfication
                                        <span class="text-danger">(*)</span>
                                    </label>

                                    <div class="col-sm-12">
                                        <input type="text" id="ups_customer" class="form-control">
                                    </div>
                                    <span class="col-md-12" style="color: red" *ngIf="generalForm.controls.ups_customer.touched&&generalForm.controls.ups_customer.errors?.required">
                                        (!) This field cannot be blank.
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="button" class="btn btn-outline-primary" (click)="testConnection()">Test Connection</button>
                            </div>
                        </div>
                    </div>
                </form>
            </ng-template>
        </ngb-tab>
        <ngb-tab title="Options">
            <ng-template ngbTabContent>
                <form [formGroup]="generalForm" class="form-search full-width form-horizontal">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <label class='col-12'>
                                        Handling Fee Type
                                    </label>
                                    <div class="col-sm-12">
                                        <select name="fee_type" (change)="checkTooltip($event.target.value)" formControlName="fee_type" class="form-control">
                                            <option *ngFor="let item of typeList" [value]='item.id'>{{item.name}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label class='col-12'>Handling Fee
                                        <span class="show-tooltip" [ngbTooltip]="handlingFeeTooltipText">
                                            <i class="fa fa-question-circle"></i>
                                        </span>
                                    </label>
                                    <div class="col-sm-12">
                                        <input type="text" name="handling_fee" formControlName="handling_fee" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <h5 style="font-weight:600;margin-left: 10px">Shipping Options</h5>
                                </div>
                                <div class="col-md-12">
                                    <label>{{calculateUPSLength()}} active shipping methods out of {{upsList.length}}</label>
                                </div>

                            </div>
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <button type="button" class="btn btn-outline-primary" (click)="checkAllUPS(true)">Enable All</button>
                                    <button type="button" class="btn btn-outline-primary" (click)="checkAllUPS(false)">Disabled All</button>
                                    <span class="text-danger" *ngIf="calculateUPSLength()==0">(!) At least one shipping method is active.</span>
                                </div>
                            </div>
                            <div class="form-group" style="height: 150px;overflow: scroll">
                                <div class="row" *ngFor="let item of upsList" style="margin: 10px 0 10px 0;">
                                <div class="col-md-8">
                                    <label class='col-12'>
                                       {{item.name}}
                                    </label>
                                </div>
                                <div class="col-md-4">
                                        <label class="switch">
                                                <input type="checkbox" (change)="checkUPS(item,$event)" [checked]="item.selected" value="true">
                                                <span class="slider round"></span>
                                            </label>
                                        <span *ngIf="item.selected">Enabled</span>
                                        <span *ngIf="item.selected ==false ||item.selected ==undefined">Disabled</span>
                                </div>
                            </div>
                            </div>
                            <div class="form-group row">
                                    <div class="col-md-12">
                                            <h5 style="font-weight:600;margin-left: 10px">Shipping Markup</h5>
                                        </div>
                                    <div class="col-md-6">
                                        <label class='col-12'>
                                            Markup Type
                                        </label>
                                        <div class="col-sm-12">
                                            <select name="fee_type" (change)="checkTooltip($event.target.value)" formControlName="fee_type" class="form-control">
                                                <option *ngFor="let item of typeList" [value]='item.id'>{{item.name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class='col-12'>Value
                                            <span class="show-tooltip" [ngbTooltip]="handlingFeeTooltipText">
                                                <i class="fa fa-question-circle"></i>
                                            </span>
                                        </label>
                                        <div class="col-sm-12">
                                            <input type="text" name="handling_fee" formControlName="handling_fee" class="form-control">
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </form>
            </ng-template>
        </ngb-tab>
        <ngb-tab [disabled]="true" *ngIf="this.generalForm.valid">
            <ng-template ngbTabTitle>
                <span class="text-danger">(!) Please fulfill all the necessary information in 2 tabs Connection, Options.</span>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>






</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="closeX()">Cancel</button>
    <button type="button" class="btn btn-outline-primary" (click)="applyData()">Submit</button>
</div>