<div class="modal-header">
    <span class="modal-title">UPS Configuration</span>
    <button type="button" class="close" aria-label="Close" (click)="closeX()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <ngb-tabset #tabSet>
        <ngb-tab title="Connection">
            <ng-template ngbTabContent>

                <form [formGroup]="generalForm" class="form-search full-width form-horizontal">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <label class='col-12'> Access Key
                                        <span class="text-danger">(*)</span>
                                       
                                    </label>

                                    <div class="col-sm-12">
                                        <input type="text" formControlName="name" id="name" class="form-control">
                                    </div>
                                    <span style="color: red" *ngIf="generalForm.controls.name.errors?.required">
                                        (!) This field cannot be blank.
                                    </span>
                                </div>
                            </div>
                            <div class="w-100"></div>

                            <div class="form-group row">
                                    <div class="col-md-6">
                                        <label class='col-12'> User ID
                                            <span class="text-danger">(*)</span>
                                            <span class="show-tooltip" ngbTooltip="This name will be shown on the store front site.">
                                                <i class="fa fa-question-circle"></i>
                                            </span>
                                        </label>
    
                                        <div class="col-sm-12">
                                            <input type="text" formControlName="name" id="name" class="form-control">
                                        </div>
                                        <span style="color: red" *ngIf="generalForm.controls.name.errors?.required">
                                            (!) This field cannot be blank.
                                        </span>
                                    </div>
                                    <div class="col-md-6">
                                            <label class='col-12'> Password
                                                <span class="text-danger">(*)</span>
                                                <span class="show-tooltip" ngbTooltip="This name will be shown on the store front site.">
                                                    <i class="fa fa-question-circle"></i>
                                                </span>
                                            </label>
        
                                            <div class="col-sm-12">
                                                <input type="password" formControlName="name" id="name" class="form-control">
                                            </div>
                                            <span style="color: red" *ngIf="generalForm.controls.name.errors?.required">
                                                (!) This field cannot be blank.
                                            </span>
                                        </div>
                                </div>
                            <div class="w-100"></div>
                            <div class="form-group row">
                                <label class='col-12 col-form-label' >
                                    <input type="checkbox"  name="" > Use nenegotiated rates
                                </label>
                            </div>
                            <div class="w-100"></div>

                            <div class="form-group row">
                                    <div class="col-md-6">
                                        <label class='col-12'> The Shipper UPS's account number
                                            <span class="text-danger">(*)</span>
                                        </label>
    
                                        <div class="col-sm-12">
                                            <input type="text" formControlName="name" id="name" class="form-control">
                                        </div>
                                        <span style="color: red" *ngIf="generalForm.controls.name.errors?.required">
                                            (!) This field cannot be blank.
                                        </span>
                                    </div>
                                    <div class="col-md-6">
                                            <label class='col-12'> UPS Customer Classfication
                                                <span class="text-danger">(*)</span>
                                            </label>
        
                                            <div class="col-sm-12">
                                                <input type="password" formControlName="name" id="name" class="form-control">
                                            </div>
                                            <span style="color: red" *ngIf="generalForm.controls.name.errors?.required">
                                                (!) This field cannot be blank.
                                            </span>
                                        </div>
                                </div>
                        </div>
                    </div>
                </form>
            </ng-template>
        </ngb-tab>
        <ngb-tab title="Options">
            <ng-template ngbTabContent>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>






</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" (click)="applyData()">OK</button>
    <button type="button" class="btn btn-outline-dark" (click)="closeX()">Close</button>
</div>