<div [@routerTransition]>
    <app-page-header [heading]="'CREATE NEW PAYMENT TERM'" [icon]="'fa-th-list'"></app-page-header>
    <section class="rma-page block">
        <div style="margin: 15px 0">
            <a class="btn btn-outline-info" [routerLink]="['/admin-panel/payment-term']">
                <i class="fa fa-arrow-left"></i> Back</a>
        </div>
        <fieldset class="custom-border">
            <legend class="custom-border">GENERAL INFORMATION</legend>
            <form class="form-search full-width form-horizontal"><div class="row">
                <div class="col-sm-2 form-group">
                    <label> Carrier Name
                        <span class="text-danger">(*)</span>
                    </label>
                    <input type="text" name="" class="form-control">
                </div>
                <div class="col-sm-2 form-group">
                    <label> Transport Method
                        <span class="text-danger">(*)</span>
                    </label>
                    <select class="form-control">
                        <option [value]="null" disabled>Select</option>
                    </select>
                </div>
                <div class="col-sm-2 form-group">
                    <label> Contact Person</label>
                    <input type="text" name="" class="form-control">
                </div>
                <div class="col-sm-2 form-group">
                    <label> Contact Email</label>
                    <input type="text" name="" class="form-control">
                </div>
                <div class="col-sm-2 form-group">
                    <label> Contact Phone</label>
                    <input type="text" name="" class="form-control">
                </div>
                <div class="col-sm-2 form-group">
                    <label>Website</label>
                    <input type="text" name="" class="form-control">
                </div>
                <div class="col-sm-2 form-group">
                    <label>Own Carrier</label>
                    <input type="checkbox" name="" style="display: block;">
                </div>
                <div class="col-sm-2 form-group">
                    <label>Created On</label>
                    <input type="text" name="" class="form-control" readonly>
                </div>
                <div class="col-sm-2 form-group">
                    <label>From Weight (lbs) <span class="text-danger">(*)</span></label>
                    <input type="text" name="" class="form-control">
                </div>
                <div class="col-sm-2 form-group">
                    <label>From Weight (lbs) <span class="text-danger">(*)</span></label>
                    <input type="text" name="" class="form-control">
                </div>
            </div></form>
        </fieldset>       
    </section>
</div>