<div [@routerTransition]>
    <app-page-header [heading]="'CREATE NEW PAYMENT TERM'" [icon]="'fa-th-list'"></app-page-header>
    <section class="rma-page block">
        <div style="margin: 15px 0">
            <a class="btn btn-outline-info" [routerLink]="['/admin-panel/payment-term']">
                <i class="fa fa-arrow-left"></i> Back</a>
        </div>
        <fieldset class="custom-border">
            <legend class="custom-border">GENERAL INFORMATION</legend>
            <form class="form-search full-width form-horizontal" [formGroup]="generalForm">
                <div class="row">
                    <div class="col-sm-2 form-group">
                        <label> Code
                            <span class="text-danger">(*)</span>
                        </label>
                        <input type="text" name="" class="form-control" formControlName="cd">
                    </div>
                    <div class="col-sm-2 form-group">
                        <label> Description
                            <span class="text-danger">(*)</span>
                        </label>
                        <input type="text" name="" class="form-control" formControlName="des">
                    </div>
                    <div class="col-sm-2 form-group">
                        <label> Day Limit</label>
                        <input type="text" name="" class="form-control" formControlName="day_limit">
                    </div>
                    <div class="col-sm-2 form-group">
                        <label> Status</label>
                        <select class="form-control" formControlName="sts" name="status">
                            <option value="null" selected="false">--Select--</option>
                            <option *ngFor="let item of listMaster['status']" [ngValue]="item.key">{{item.value}}</option>
                        </select>
                    </div>
                </div>
            </form>
        </fieldset>
        <div class="col-12">
            <button class="btn btn-default" (click)="createPaymentTerm()">Save</button>            
        </div>
    </section>
</div>