<div [@routerTransition]>
    <app-page-header [heading]="'LIST OF PAYMENT TERM'" [icon]="'fa-th-list'"></app-page-header>
    <app-shortcut [listShortcut]='keyService.getKeys()'></app-shortcut>
    <div class="block anchor-scroll block-order">
        <div class="block-content pd-bottom padding-lr-0 mt-2">
            <div class="row">
                <div class="col-xl-5 col-lg-6">
                    <form class="row form-horizontal form-search filter-order-group" role="form" [formGroup]="searchForm">
                        <div class="col-md-6 block-search">
                            <label for="name" class="control-label">Description</label>
                            <input type="text" name="des" formControlName="des" class="form-control" id="name" placeholder="">
                        </div>
                        <div class="col-md-6 block-search">
                            <label for="code" class="control-label">Status</label>
                            <select class="form-control" formControlName="ac" name="status">
                                <option value="null" selected="false">--Select--</option>
                                <option *ngFor="let item of listMaster['status']" [ngValue]="item.key">{{item.value}}</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="col-3">
                    <div class="block-btn-search">
                        <div class="mt-1 group-btn-search">
                            <button type="button" class="btn-default-custom" (click)="tableService.searchAction()">Search</button>
                            <button type="button" class="btn-default-custom" (click)="tableService.resetAction(this.searchForm)">Reset</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mg-top-10">
            <div class="col-12">
                <div class="card no-border">
                    <div class="card-header">
                        <strong>Payment Terms</strong>
                        <button (click)="createPaymentTerm()" style="margin:0; float:right" class="btn btn-link">
                            <i class="fa fa-plus text-success"></i> New Payment Term</button>
                    </div>
                    <div class="card-body no-padding">
                        <div class="table-responsive list">
                            <table class="table table-bordered table-order"
                            cdArrowTable [collection]="list.items" [(selectedIndex)]="selectedIndex" (onEnter)="selectData($event)">
                                <thead class="bg-white">
                                    <tr>
                                        <th>Code</th>
                                        <th>Description</th>
                                        <th>Term Days</th>
                                        <th>Discount Days</th>
                                        <th>Discount Type</th>
                                        <th>Discount Value</th>
                                        <th class="text-center">Early Payment Incentive</th>
                                        <th>Status</th>
                                        <th>Last Updated By</th>
                                        <th>Last Updated On</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody *ngFor="let item of  list.items; let i = index;" [ngClass]="{'row-selected': i == selectedIndex}">
                                    <tr>
                                        <td>{{item.cd}}</td>
                                        <td>{{item.des }}</td>
                                        <td>{{item.term_day}}</td>
                                        <td>{{item.dsct_day}}</td>
                                        <td>{{item.dsct_type==1 ? 'Percent': 'Fixed Amount'}}</td>
                                        <td>{{item.dsct_value}}</td>
                                        <td class="text-center">{{item.early_pmt_incentive==1 ?'Yes':'No'}}</td>
                                        <td>{{item.ac==1 ?'Active':'In Active'}}</td>
                                        <td>{{item.full_name}}</td>
                                        <td>{{item.update_dt}}</td>
                                        <td>
                                            <a class="btn btn-default" (click)="editPayment(item.id)" title="Edit Payment Term">
                                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                            </a>
                                            <!-- <a class="btn btn-default" (click)="deletePayment(item.id)" title="Delete Payment Term">
                                                <i class="fa fa-trash" aria-hidden="true"></i>
                                            </a> -->
                                        </td>
                                    </tr>
                                </tbody>
                                <tbody *ngIf="!list.items.length">
                                    <tr>
                                        <td colspan="100%" class="text-center" translate>No data.</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-12 no-padding">

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row normal-pagination" *ngIf="list.items.length > 0">
            <div class="col-md-6">
                <div class="text-left">
                    <div class="col-md-6" style="padding-left: 0px;">
                        <span style="float: left; padding-right: 10px;">{{list.items.length}}/{{tableService.pagination.total_record}} items </span>
                        <select style="width: 50px; float: left;" class="form-control" [(ngModel)]="tableService.pagination.length" (change)="tableService.changeLength()">
                      <option *ngFor="let option of tableService.itemPerPageOptions" [ngValue]="option">{{option}}</option>
                  </select>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="text-right">
                    <ngb-pagination class="d-flex justify-content-end" (pageChange)="tableService.changePage($event)" [pageSize]="tableService.pagination.length" [collectionSize]="tableService.pagination.total_record || 120" [(page)]="tableService.pagination.page" [maxSize]="tableService.maxSize"
                        [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
                </div>
            </div>
        </div>
    </div>
</div>
