<section class="rma-page block">
        <app-page-header [heading]="'DETAIL SALES PRICE'" [icon]="'fa-th-list'"></app-page-header>
    
        <div class="row" style="padding-top:15px">
            <div class="col-sm-12">
                <div class="block-header bg-gray-lighter">
                    <h3 class="block-title" translate>GENERAL INFORMATION</h3>
                </div>
            </div>
        </div>
        <div>
            <form [formGroup]="generalForm" class="form-search full-width form-horizontal">
                <div class="row ">
                    <div class="col-md-2">
                        <label for="code" class="control-label" translate>Price List Code</label>
                        <input type="text" class="form-control" name="code" formControlName="cd">
                    </div>
                    <div class="col-md-2">
                        <label for="des" class="control-label" translate>Description</label>
                        <span class="text-danger">( * )</span>
                        <input type="text" class="form-control" name="des" formControlName="des">
                    </div>
                    <div class="col-md-2">
                        <label for="sts" class="control-label" translate>Status</label>
                        <span class="text-danger">( * )</span>
                        <select name="sts" formControlName="sts" class="form-control">
                            <option *ngFor="let item of listMaster['status']" [value]="item.id">{{ item.name }}</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label for="created_on" class="control-label" translate>Start Date </label>
                        <span class="text-danger">( * )</span>
                        <div class="input-group">
                            <input class="form-control" placeholder="yyyy-mm-dd" name="dp" formControlName="start_dt" ngbDatepicker #st="ngbDatepicker">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" (click)="st.toggle()" type="button">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label for="created_on" class="control-label" translate>End Date</label>
                        <span class="text-danger">( * )</span>
                        <div class="input-group">
                            <input class="form-control" placeholder="yyyy-mm-dd" name="dp" formControlName="end_dt" ngbDatepicker #ed="ngbDatepicker">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" (click)="ed.toggle()" type="button">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>
    
                </div>
            </form>
        </div>
        <div class="row" style="padding-top:15px">
            <div class="col-sm-12">
                <div class="block-header bg-gray-lighter">
                    <h3 class="block-title" translate>DETAILS INFORMATION</h3>
                </div>
            </div>
        </div>
        <div class="row" style="margin-bottom: 20px;margin-top: 10px;">
            <div class="col-sm-12">
                <table class="table table-vcenter custom-table table-noborder">
                    <thead>
                        <tr>
                            <th style="width:3%" role="button" translate> No </th>
                            <th style="width:10%" role="button" translate> Product Code </th>
                            <th style="width:15%" role="button" translate> Name </th>
                            <th style="width:10%" role="button" translate> UOM </th>
                            <th style="width:8%" role="button" translate> Cost Price </th>
                            <th style="width:10%" role="button" translate> Original Sales Price </th>
                            <th style="width:10%" role="button" translate> Sales Price </th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of data['products']; let $index = index;">
                            <td>{{ $index + 1 }}</td>
                            <td>
                                <select class="form-control" [(ngModel)]="item.wine_id" name="product" (change)="changeProductLine(item,$index)">
                                    <option value="" selected="true" hidden="true">--Select--</option>
                                    <option *ngFor="let item of this.listMaster['listProduct']" [value]="item.item_id">{{ item.sku }}</option>
                                </select>
                            </td>
                            <td>
                                <input [(ngModel)]="item.name" class="form-control" type="text" readonly>
                            </td>
                            <td>
                                <input [(ngModel)]="item.uom_name" class="form-control" type="text" readonly>
                            </td>
                            <td>
                                {{item.price|currency}}
                            </td>
                            <td>
                                {{item.resale_price|currency}}
                            </td>
                            <td>
                                <input [(ngModel)]="item.sale_price" class="form-control" type="text">
                            </td>
                            <td>
                                <button type="button" (click)="remove($index)" class="btn btn-secondary">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5">
                                <a href="javascript:void(0)" (click)="clickAdd()">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                    <span translate>Add New Line</span>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    
        <div class="block-content block-content-full text-right">
            <button type="button" class="btn btn-default" [routerLink]="['/order-management/sales-price']" translate>Cancel</button>
            <button [disabled]="!generalForm.valid" type="button" class="btn btn-primary" (click)="updateSalePrice()" translate>Save</button>
        </div>
    </section>
    