<div class="address-tab">
    <div class="scroll-container block-order">
        <div class="card">
            <div class="card-body">
                <table class="table table-bordered table-order">
                  <thead>
                      <tr>
                          <th>No</th>
                          <th>Payment #</th>
                          <th>Payment Date</th>
                          <th>Type</th>
                          <th>Method</th>
                          <th>Amount</th>
                          <th>Status</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let item of list.items">
                          <td>{{ item.id }}</td>
                          <td>{{ item.id }}</td>
                          <td>{{ item.id }}</td>
                          <td>{{ item.id }}</td>
                          <td>{{ item.id }}</td>
                          <td>{{ item.id }}</td>
                          <td>{{ item.id }}</td>
                      </tr>
                      <tr *ngIf="list.items.length == 0">
                          <td class="text-center" colspan="100%">No data.</td>
                      </tr>
                  </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
