<div class="modal-style">
    <div class="modal-header">
        <p class="second-title">SEL2B - PAYMENT GATEWAY</p>
        <button type="button" (click)="cancel()" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" style="padding-bottom:10px;">
        <div class="block-order">
            <div class="row block-info">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <strong>Payment Information</strong>
                        </div>
                        <div class="card-body">
                            <form [formGroup]="generalForm" class="form-horizontal mail-form" role="form">
                                <div class="row">
                                    <div class="form-group col-sm-12">
                                        <label for="" translate class="col-md-5">Total Amount</label>
                                        <div class="col-md-7">
                                            <span class="form-control text-success">
                                                {{ generalForm.value.total_amount }}                                            
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label for="" translate class="col-md-5">Card Number  <span class="text-danger">(*)</span>
                                        </label>
                                        <div class="col-md-7">
                                            <input class="form-control" placeholder="0000-0000-0000-0000" type="number" numberDirective formControlName="card_no">
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label for="" translate class="col-md-5">Expiration Date  <span class="text-danger">(*)</span>
                                        </label>
                                        <div class="col-md-7">
                                            <select [ngClass]="{'border border-danger': false}" style="width: 90px;" class="form-control d-inline-block" formControlName='expiration_month'>
                                                <option [hidden]="true" [disabled]="true"   [ngValue]="null">MM</option>
                                                <option *ngFor="let item of listMaster['months']"  [ngValue]="item"> {{ item }}</option>                        
                                            </select>
                                            <select [ngClass]="{'border border-danger': false}" style="width: 120px;" class="form-control d-inline-block" formControlName='expiration_year'>
                                                <option [hidden]="true" [disabled]="true"  [ngValue]="null">YY</option>
                                                <option *ngFor="let item of listMaster['years']"  [ngValue]="item"> {{ item }}</option>                        
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label for="" translate class="col-md-5">Card Holder Name  <span class="text-danger">(*)</span>
                                        </label>
                                        <div class="col-md-7">
                                            <input class="form-control" formControlName="card_name">
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label for="" translate class="col-md-5">CVV  <span class="text-danger">(*)</span>
                                        </label>
                                        <div class="col-md-7">
                                            <input class="form-control" formControlName="cvv">
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label for="" translate class="col-md-5">Requestor
                                            </label>
                                        <div class="col-md-7">
                                            <div class="form-control"> {{ generalForm.requestor }}</div>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label for="" translate class="col-md-5">Current Date
                                                </label>
                                        <div class="col-md-7">
                                            <div class="form-control"> {{ generalForm.current_date }}</div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <strong>Billing Information</strong>
                        </div>
                        <div class="card-body">
                            <form [formGroup]="generalForm" class="form-horizontal mail-form" role="form">
                                <div class="row">
                                    <div class="form-group col-sm-12">
                                        <label for="" translate class="col-md-5">Customer Name</label>
                                        <div class="col-md-7">
                                            <span class="form-control text-success">
                                                {{ generalForm.value.company_name }}                                            
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label for="" translate class="col-md-5">Bill To  <span class="text-danger">(*)</span>
                                            </label>
                                        <div class="col-md-7">
                                            <input class="form-control" formControlName="bill_to">
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label for="" translate class="col-md-5">Country  <span class="text-danger">(*)</span>
                                            </label>
                                        <div class="col-md-7">
                                            <select class="form-control" formControlName='country_code'>
                                                <option [hidden]="true" [disabled]="true"   [ngValue]="null">--Select--</option>
                                                <option *ngFor="let item of listMaster['countries']"  [ngValue]="item.cd"> {{ item.name }}</option>                        
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label for="" translate class="col-md-5">Address Line  <span class="text-danger">(*)</span>
                                            </label>
                                        <div class="col-md-7">
                                            <input class="form-control" formControlName="addr_line">
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label for="" translate class="col-md-5">City  <span class="text-danger">(*)</span>
                                            </label>
                                        <div class="col-md-7">
                                            <input class="form-control" formControlName="city">
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label for="" translate class="col-md-5">State  <span class="text-danger">(*)</span>
                                                </label>
                                        <div class="col-md-7">
                                            <select class="form-control" formControlName='state_id'>
                                                <option [hidden]="true" [disabled]="true"   [ngValue]="null">--Select--</option>
                                                <option *ngFor="let item of listMaster['state']"  [ngValue]="item.id"> {{ item.name }}</option>                        
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label for="" translate class="col-md-5">Zip  <span class="text-danger">(*)</span>
                                                </label>
                                        <div class="col-md-7">
                                            <input class="form-control" formControlName="zip_code">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer" style="padding-top: 0">
        <div class="form-group" style="margin-top: 20px;">
            <div class="text-center">
                <button [disabled]="!generalForm.valid" style="width: 70px" class="btn btn-success" type="button" (click)="ok()" translate>Submit</button>
                <button class="btn btn-default" type="button" (click)="cancel()" translate>Cancel</button>
            </div>
        </div>
    </div>
</div>