<div class="modal-style">
    <div class="modal-header">
        <h5 class="second-title text-primary">SEL2B - PAYMENT SOLUTION</h5>
        <button type="button" (click)="cancel()" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" style="padding-bottom:10px;">
        <div class="block-order">
            <div class="row block-info">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <strong>Payment Information</strong>
                        </div>
                        <div class="card-body">
                            <form [formGroup]="generalForm" class="form-horizontal mail-form" role="form">
                                <div>
                                    <div class="form-group row mt-3 col-sm-12">
                                        <label for="" translate class="col-md-5">Total Amount</label>
                                        <div class="col-md-7">
                                            <span class="form-control text-success border-0">
                                                {{ generalForm.value.total_amount | currency }}                                            
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group row col-sm-12">
                                        <label for="" translate class="col-md-5">Card Number  <span class="text-danger">(*)</span>
                                        </label>
                                        <div class="col-md-7">
                                            <input [ngClass]="{'border border-danger': (data['showError'] && this.generalForm.get('card_number').errors?.required) || false   }" class="form-control" placeholder="0000-0000-0000-0000" type="text" numberDirective formControlName="card_number">
                                        </div>
                                    </div>
                                    <div class="form-group row col-sm-12">
                                        <label for="" translate class="col-md-5">Expiration Date  <span class="text-danger">(*)</span>
                                        </label>
                                        <div class="col-md-7">
                                            <select [ngClass]="{'border border-danger': (data['showError'] && this.generalForm.get('expiration_month').errors?.required) || false}" style="width: 90px;" class="form-control d-inline-block" formControlName='expiration_month'>
                                                <option [hidden]="true" [disabled]="true"   [ngValue]="null">MM</option>
                                                <option *ngFor="let item of listMaster['months']"  [ngValue]="item"> {{ item }}</option>                        
                                            </select>
                                            <select [ngClass]="{'border border-danger': (data['showError'] && this.generalForm.get('expiration_year').errors?.required) || false}" style="width: 120px;" class="form-control d-inline-block" formControlName='expiration_year'>
                                                <option [hidden]="true" [disabled]="true"  [ngValue]="null">YY</option>
                                                <option *ngFor="let item of listMaster['years']"  [ngValue]="item"> {{ item }}</option>                        
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row col-sm-12">
                                        <label for="" translate class="col-md-5">CVV  <span class="text-danger">(*)</span>
                                            </label>
                                        <div class="col-md-7">
                                            <input [ngClass]="{'border border-danger': (data['showError'] && this.generalForm.get('cvv').errors?.required) || false   }" class="form-control" formControlName="cvv">
                                        </div>
                                    </div>
                                    <div class="form-group row col-sm-12">
                                        <label for="" translate class="col-md-5">Card Holder Name  <span class="text-danger">(*)</span>
                                        </label>
                                        <div class="col-md-7">
                                            <input [ngClass]="{'border border-danger': (data['showError'] && this.generalForm.get('card_holder_name').errors?.required) || false   }" class="form-control" formControlName="card_holder_name">
                                        </div>
                                    </div>
                                    <div class="form-group row col-sm-12">
                                        <label for="" translate class="col-md-5">Email  <span class="text-danger">(*)</span>
                                                    </label>
                                        <div class="col-md-7">
                                            <input [ngClass]="{'border border-danger': (data['showError'] && (this.generalForm.get('email').errors?.required || this.generalForm.get('email').errors?.email)) || false   }" type="email" class="form-control" formControlName='email'>
                                        </div>
                                    </div>
                                    <div class="form-group row col-sm-12">
                                        <label for="" translate class="col-md-5">Requestor
                                            </label>
                                        <div class="col-md-7">
                                            <div class="form-control border-0"> {{ generalForm.value.requestor }}</div>
                                        </div>
                                    </div>
                                    <div class="form-group row col-sm-12">
                                        <label for="" translate class="col-md-5">Current Date
                                                </label>
                                        <div class="col-md-7">
                                            <div class="form-control border-0"> {{ generalForm.value.current_date }}</div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <strong>Billing Information</strong>
                        </div>
                        <div class="card-body">
                            <form [formGroup]="generalForm" class="form-horizontal mail-form" role="form">
                                <div>
                                    <div class="form-group row mt-3 col-sm-12">
                                        <label for="" translate class="col-md-5">Customer Name</label>
                                        <div class="col-md-7">
                                            <span class="form-control text-success border-0">
                                                {{ generalForm.value.company_name }}                                            
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group row col-sm-12">
                                        <label for="" translate class="col-md-5">Bill To  <span class="text-danger">(*)</span>
                                            </label>
                                        <div class="col-md-7">
                                            <!-- <input class="form-control" formControlName="billing_id"> -->
                                            <select [ngClass]="{'border border-danger': (data['showError'] && this.generalForm.get('billing_id').errors?.required) || false   }" class="form-control" id="billing_to" name="search_type" formControlName="billing_id" (change)="changeAddress()">
                                                <option [hidden]="true" [disabled]="true"  [ngValue]="null">--Select--</option>
                                                <option *ngFor="let item of data.payer?.billing" [ngValue]="item.address_id">{{item.label}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row col-sm-12">
                                        <label for="" translate class="col-md-5">Country  <span class="text-danger">(*)</span>
                                            </label>
                                        <div class="col-md-7">
                                            <!-- <select class="form-control" formControlName='country_code'>
                                                <option [hidden]="true" [disabled]="true"   [ngValue]="null">--Select--</option>
                                                <option *ngFor="let item of listMaster['countries']"  [ngValue]="item.cd"> {{ item.name }}</option>                        
                                            </select> -->
                                            <span class="form-control border-0">  {{ data['billing']?.country_name}} </span>
                                        </div>
                                    </div>
                                    <div class="form-group row col-sm-12">
                                        <label for="" translate class="col-md-5">Address Line  <span class="text-danger">(*)</span>
                                            </label>
                                        <div class="col-md-7">
                                            <span class="form-control border-0">  {{ data['billing']?.address_line}} </span>
                                            <!-- <input class="form-control" formControlName="addr_line"> -->
                                        </div>
                                    </div>
                                    <div class="form-group row col-sm-12">
                                        <label for="" translate class="col-md-5">City  <span class="text-danger">(*)</span>
                                            </label>
                                        <div class="col-md-7">
                                            <!-- <input class="form-control" formControlName="city"> -->
                                            <span class="form-control border-0">  {{ data['billing']?.city_name}} </span>
                                        </div>
                                    </div>
                                    <div class="form-group row col-sm-12">
                                        <label for="" translate class="col-md-5">State  <span class="text-danger">(*)</span>
                                                </label>
                                        <div class="col-md-7">
                                            <!-- <select class="form-control" formControlName='state_id'>
                                                <option [hidden]="true" [disabled]="true"   [ngValue]="null">--Select--</option>
                                                <option *ngFor="let item of listMaster['state']"  [ngValue]="item.id"> {{ item.name }}</option>                        
                                            </select> -->
                                            <span class="form-control border-0">  {{ data['billing']?.state_name}} </span>
                                        </div>
                                    </div>
                                    <div class="form-group row col-sm-12">
                                        <label for="" translate class="col-md-5">Zip  <span class="text-danger">(*)</span>
                                                </label>
                                        <div class="col-md-7">
                                            <!-- <input class="form-control" formControlName="zip_code"> -->
                                            <span class="form-control border-0">  {{ data['billing']?.zip_code}} </span>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer" style="padding-top: 0">
        <div class="form-group" style="margin-top: 20px;">
            <div class="text-center">
                <button style="width: 70px" class="btn btn-success" type="button" (click)="ok()" translate>Submit</button>
                <button class="btn btn-default" type="button" (click)="cancel()" translate>Cancel</button>
            </div>
        </div>
    </div>
</div>