<div [@routerTransition]>
    <app-page-header [heading]="'ORDERS DETAIL'" [icon]="'fa-th-list'"></app-page-header>
    <app-shortcut [listShortcut]='keyService.getKeys()'></app-shortcut>
    <section class="main-container block-order-detail">
        <div class="block-button">
            <ul class="list-btn-custom">
                <li *ngIf="orderDetail['order_sts_short_name'] == 'NW'"><button class="btn btn-outline-dark"><i class="fa fa-check-square"></i>Approve</button></li>
                <li><button class="btn btn-outline-dark"><i class="fa fa-edit"></i>Edit</button></li>
                <li><button class="btn btn-outline-dark"><i class="fa fa-clone"></i>Clone</button></li>
                <li><button class="btn btn-outline-dark" (click)="cancel()"><i class="fa fa-share-square" ></i>Cancel</button></li>
                <li><button class="btn btn-outline-dark"><i class="fa fa-trash"></i>Delete</button></li>
                <li><button class="btn btn-outline-dark"><i class="fa fa-print"></i>Print</button></li>
            </ul>
        </div>
        <ngb-tabset>
            <ngb-tab title="Information">
                <ng-template ngbTabContent>
                    <app-order-info-tab [orderId]="orderId" (stockValueChange)="checkRender($event)"></app-order-info-tab>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Invoices">
                <ng-template ngbTabContent>
                    <app-order-invoice-tab [orderId]="orderId"></app-order-invoice-tab>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Payments">
                <ng-template ngbTabContent>
                    <app-order-payment-tab [orderId]="orderId"></app-order-payment-tab>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Shipments">
                <ng-template ngbTabContent>
                    <app-order-shipment-tab [orderId]="orderId"></app-order-shipment-tab>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Order Timeline">
                <ng-template ngbTabContent>
                    <app-sale-order-history-tab [orderId]="orderId"></app-sale-order-history-tab>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
    </section>
</div>