<div [@routerTransition]>
    <app-page-header [heading]="'ORDERS DETAIL'" [icon]="'fa-th-list'"></app-page-header>
    <app-shortcut [listShortcut]='keyService.getKeys()'></app-shortcut>
    <section class="main-container block-order-detail">
        <ngb-tabset class="tabs-order">
            <ngb-tab title="Information">
                <ng-template ngbTabContent>
                    <app-order-info-tab [orderId]="orderId" [orderDetail]="orderDetail" (stockValueChange)="checkRender($event)"></app-order-info-tab>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Invoices">
                <ng-template ngbTabContent>
                    <app-order-invoice-tab [orderId]="orderId"></app-order-invoice-tab>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="RMA">
                <ng-template ngbTabContent>
                    <app-order-rma-tab [orderId]="orderId"></app-order-rma-tab>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Credit Note">
                <ng-template ngbTabContent>
                    <app-order-credit-note-tab [orderId]="orderId"></app-order-credit-note-tab>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Payments">
                <ng-template ngbTabContent>
                    <app-order-payment-tab [orderId]="orderId"></app-order-payment-tab>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Shipments">
                <ng-template ngbTabContent>
                    <app-order-shipment-tab [orderId]="orderId"></app-order-shipment-tab>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Order Timeline">
                <ng-template ngbTabContent>
                    <app-sale-order-history-tab [orderId]="orderId"></app-sale-order-history-tab>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
    </section>
</div>
