<div class="modal-header">
    <span class="modal-title">Email Report</span>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<!-- <div class="modal-body search-block">
    <div class="row email-content mb-3">
        <div class="col-md-12">
            <label class="title">
                <b>To</b><i class="fa fa-check" aria-hidden="true"></i><b>All Customer in Report</b>
            </label>
        </div>
    </div>

    <div class="row email-content mb-3">
        <div class="col-md-12">
            <label class="title">
                <b>CC</b>
            </label>
            <div class="content subject">
                <input type="text" [(ngModel)]="mailContent.cc">
            </div>
        </div>
    </div>

    <div class="row email-content mb-3">
        <div class="col-md-12">
            <label class="title">
                <b>Subject</b>
            </label>
            <div class="content subject">
                <input type="text" [(ngModel)]="mailContent.subject">
            </div>
        </div>
    </div>

    <div class="row email-content mb-3">
        <div class="col-md-12">
            <label class="title">
                <b>Body</b>
            </label>
            <div class="content">
                <ckeditor debounce="500" #bodyEditor [(ngModel)]="mailContent.body"></ckeditor>
            </div>
        </div>
    </div>
    <div class="row email-content">
        <div class="col-md-3">
            <label class="title">
                <b>Report Type</b>
            </label>
            <div class="">
                <select class="form-control" [(ngModel)]="mailContent.type">
                    <option *ngFor="let item of listMaster['reportTypes']" [ngValue]="item.value">{{item.value}}</option>
                </select>
            </div>
        </div>
    </div>
</div> -->
<div class="modal-body" style="padding-bottom:10px;">
    <form [formGroup]="mailForm" class="form-horizontal mail-form" role="form">
        <div class="row">
            <div class="form-group col-sm-12">
                <div class="form-control">
                    <b>To</b><i class="fa fa-check" aria-hidden="true"></i><b>All Customer in Report</b>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <div class="form-control">
                    <label for="" translate>CC: </label>
                    <input type="text" formControlName="cc">
                </div>
            </div>
            <div class="form-group col-sm-12">
                <div class="form-control">
                    <label for="" translate>Subject: </label>
                    <input type="text" formControlName="subject">
                </div>
            </div>
            <div class="form-group col-sm-12">
                <textarea class="form-control" rows="10" formControlName="body"></textarea>
            </div>
            <div class="form-group col-sm-12">
                <div class="form-control">
                    <label class="" for="" translate>Report Type: </label>
                    <select class="form-control" formControlName="type">
                        <option *ngFor="let item of listMaster['reportTypes']" [ngValue]="item.value">{{item.value}}</option>
                    </select>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" (click)="onSendMail()">SEND</button>
    <button type="button" class="btn btn-default" (click)="activeModal.dismiss()">CANCEL</button>
</div>
