<div [@routerTransition]>
    <app-page-header [heading]="'EDIT RECEIPT VOUCHER'"></app-page-header>
    <app-shortcut [listShortcut]='keyService.getKeys()'></app-shortcut>
    <section class="rma-page block main-container block-order">
        <div class="row block-info">
            <div class="col-md-12 p-l-5 p-r-2">
                <div class="card height-100">
                    <div class="card-header">
                        <strong>Information</strong>
                    </div>
                    <div class="card-body">
                        <div class="row information  height-100">
                            <div class="col-md-12 fix-padding">
                                <div class="row">
                                    <div class="col-md-3 bolder ">
                                        <form [formGroup]="generalForm">
                                            <div class="form-group row">
                                                <label class='col-6 control-label'>Payer
                                                <span class="text-danger">(*)</span>
                                                </label>
                                                <div class='col-6 text-primary'>
                                                    <ng-select class="infinity-scroll-select" (change)="refreshSavedItems(false); onChangePayer()" [ngClass]="{'border border-danger': (this.data['showError'] && this.generalForm.get('company_id').errors?.required) || false   }" [keyConfig]="keyService.getKeyConfig()" appKeyNavigate="company_id"
                                                        [typeahead]="searchKey" (scrollToEnd)="fetchMoreCustomer($event)" [virtualScroll]="true" style="min-width: 100%;" [items]="listMaster['customer']" bindLabel="name" bindValue="id" formControlName="company_id">
                                                        <ng-template ng-option-tmp let-item="item">
                                                            <span  [innerHTML]="item.company_name"></span>
                                                        </ng-template>
                                                    </ng-select>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class='col-6'>Voucher No
                                                    <span class="text-danger">(*)</span>
                                                </label>
                                                <div class='col-6 text-primary'>
                                                    <input readonly type="text" class="form-control" formControlName="cd">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class='col-6'>Payment Date
                                                    <span class="text-danger">(*)</span>
                                                </label>
                                                <div class='col-6 text-primary'>
                                                    <div [ngClass]="{'border border-danger': (this.data['showError'] && this.generalForm.get('payment_date').errors?.required) || false   }" clickOutside (clickOutside)="paymentDate.close()" class="input-group">
                                                        <input [maxDate]="generalForm.value.payment_date | dateObj" class="form-control" placeholder="mm/dd/yyyy" name="dp" formControlName="payment_date" ngbDatepicker #paymentDate="ngbDatepicker">
                                                        <div class="input-group-append">
                                                            <button class="btn btn-outline-secondary" (click)="paymentDate.toggle()" type="button">
                                                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class='col-6'>Warehouse
                                                    <span class="text-danger">(*)</span>
                                                </label>
                                                <div class='col-6'>
                                                    <select (change)="refreshSavedItems(false); onChangeWareHouse()" [ngClass]="{'border border-danger': (this.data['showError'] && this.generalForm.get('warehouse_id').errors?.required) || false   }" class="form-control" name="warehouse_id" formControlName="warehouse_id">
                                                        <option [hidden]="true" [disabled]="true"  [ngValue]="null">--Select--</option>
                                                        <option *ngFor="let item of listMaster['warehouses']" [ngValue]="item.id">{{item.name}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="col-md-3 customer-infomation  ">
                                        <form [formGroup]="generalForm">
                                            <div class="form-group row">
                                                <label class='col-6'>Electronic Payment
                                                        <span class="text-danger">(*)</span>
                                                </label>
                                                <div class='col-6'>
                                                    <select (change)="refreshSavedItems(true); onChangePaymentMethodType()" [ngClass]="{'border border-danger': (this.data['showError'] && this.generalForm.get('electronic').errors?.required) || false   }" class="form-control" formControlName="electronic">
                                                        <option [hidden]="true" [disabled]="true"  [ngValue]="null">--Select--</option>
                                                        <option *ngFor="let item of listMaster['yes_no_options']" [ngValue]="item.value">{{item.label}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class='col-6'>Payment Method<span class="text-danger">(*)</span></label>
                                                <div class='col-6 text-primary'>
                                                    <select (change)="onChangePaymentMethod()" [ngClass]="{'border border-danger': (this.data['showError'] && this.generalForm.get('payment_method').errors?.required) || false   }" class="form-control" id="payment_method" name="payment_method" formControlName="payment_method">
                                                        <option [hidden]="true" [disabled]="true"  [ngValue]="null">--Select--</option>
                                                        <option *ngFor="let item of listMaster['payment_method']" [ngValue]="item.id">{{item.name}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <ng-container *ngIf="!generalForm.value.electronic">
                                                <div *ngIf="generalForm.value.payment_method == 4" class="form-group row">
                                                    <label class='col-6'> Check Number
                                                        <span class="text-danger">(*)</span>
                                                    </label>
                                                    <div class='col-6'>
                                                        <div class="input-group">
                                                            <input [ngClass]="{'border border-danger': (this.data['showError'] && this.generalForm.get('check_no').errors?.required) || false   }" type="text" class="form-control" formControlName="check_no">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div *ngIf="[4,5,6].indexOf(generalForm.value.payment_method)== -1" class="form-group row">
                                                    <label class='col-6'> Reference Number
                                                        <!-- <span class="text-danger">(*)</span> -->
                                                    </label>
                                                    <div class='col-6'>
                                                        <div class="input-group">
                                                            <input [ngClass]="{'border border-danger': (this.data['showError'] && this.generalForm.get('ref_no').errors?.required) || false   }" type="text" class="form-control" formControlName="ref_no">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class='col-6'> Amount Received
                                                        <span class="text-danger">(*)</span>
                                                    </label>
                                                    <div class='col-6'>
                                                        <div class="input-group">
                                                            <input numberDirective [isDecimal]="true" (blur)="updateAmountReceived()" [min]="0"
                                                            [ngClass]="{'border border-danger': (this.data['showError'] && this.generalForm.get('price_received').errors?.required) || false }"
                                                            type="number" class="form-control" formControlName="price_received">
                                                            <input numberDirective [isDecimal]="true" (changeValue)="updateTotal()" [min]="0" [ngClass]="{'border border-danger': (this.data['showError'] && this.generalForm.get('price_received').errors?.required) || false   }" type="number" class="form-control"
                                                                formControlName="price_received">
                                                            <div class="input-group-append">
                                                                <span class="input-group-text" id="basic-addon2">$</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- <div *ngIf="generalForm.value.payment_method == 4" class="form-group row">
                                                    <label class='col-6'> Remaining Amount
                                                        <span class="text-danger">(*)</span>
                                                    </label>
                                                    <div class='col-6'>
                                                        <div class="input-group">
                                                            <input [ngClass]="{'border border-danger': (this.data['showError'] && this.generalForm.get('remain_amt').errors?.required) || false   }" readonly type="number" class="form-control" formControlName="remain_amt">
                                                            <div class="input-group-append">
                                                                <span class="input-group-text" id="basic-addon2">$</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div> -->
                                            </ng-container>
                                            <div class="form-group row">
                                                <label class='col-6'>Deposit G/L Account
                                                        <span class="text-danger">(*)</span>
                                                </label>
                                                <div class='col-6'>
                                                    <ng-select [ngClass]="{'border border-danger': (this.data['showError'] && this.generalForm.get('gl_account').errors?.required) || false   }" [items]="listMaster['account']" formControlName="gl_account" bindLabel="name" bindValue="id">
                                                        <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                                                            <span [ngClass]="{'pl-3': item.level != undefined}">{{ item.name}}
                                                            </span>
                                                        </ng-template>
                                                    </ng-select>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="col-md-3 customer-infomation bolder  ">
                                        <form [formGroup]="generalForm">
                                            <div class="form-group row">
                                                <label class='col-6'>Status</label>
                                                <div class='col-6 text-success'>
                                                    <strong>1-NEW</strong>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class='col-6'>Created By</label>
                                                <div class='col-6'>
                                                    <strong>{{generalForm.value.created_by }}</strong>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class='col-6'>Approver
                                                    <span class="text-danger">(*)</span>
                                                </label>
                                                <div class='col-6'>
                                                    <select [ngClass]="{'border border-danger': (this.data['showError'] && this.generalForm.get('approver_id').errors?.required) || false   }" class="form-control" id="approver_id" name="approver_id" formControlName="approver_id">
                                                        <option [hidden]="true" [disabled]="true"  [ngValue]="null">--Select--</option>
                                                        <option *ngFor="let item of listMaster['sale_mans']" [ngValue]="item.id">{{item.full_name}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class='col-6'>Last Updated Date</label>
                                                <div class='col-6'>
                                                    <strong>{{generalForm.value.updated_date }}</strong>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class='col-6'>Last Updated By</label>
                                                <div class='col-6'>
                                                    <strong>{{generalForm.value.updated_by }}</strong>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mg-top-10">
            <div class="col-12 p-l-5 p-r-5 ">
                <div class="card no-border">
                    <div class="card-header">
                        <strong>Outstanding Invoices & Debit Memo</strong>
                    </div>
                    <div class="card-body no-padding">
                        <div class="search-invoice">
                            <div>
                                <i class="fa fa-search"></i>
                                <input (keyup.enter)="refreshSavedItems(false); tableService.searchAction()" [(ngModel)]="data['search']" type="text" placeholder="Search Invoice & Debit Memo">
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered table-order" cdArrowTable [collection]="list.items" [(selectedIndex)]="selectedIndex" (onEnter)="selectData($event)">
                                <thead>
                                    <tr>
                                        <th>
                                            <label class="css-input css-checkbox css-checkbox-default">
                                                <input class="cb-all" type="checkbox" [(ngModel)]="checkAllItem" (change)="checkAll($event)">
                                                <span></span>
                                            </label>
                                        </th>
                                        <!-- <th translate>No.</th> -->
                                        <th style="width:150px" translate>Document No</th>
                                        <th translate>Issue Date</th>
                                        <th translate>Due Date</th>
                                        <th translate>Payment Term</th>
                                        <th translate>Status</th>
                                        <th translate>Total Amount</th>
                                        <th translate>Current Balance</th>
                                        <th translate>Awaiting Approval Payment</th>
                                        <th translate>Balance Due</th>
                                        <th translate style="width: 100px;">Applied Amount</th>
                                    </tr>
                                </thead>
                                <tbody *ngIf="list['items'].length === 0">
                                    <tr>
                                        <td colspan="100%" class="text-center" translate>No data.</td>
                                    </tr>
                                </tbody>
                                <ng-container *ngIf="list['items'].length > 0">
                                    <tbody *ngFor="let item of list['items']; let $index = index;">
                                        <tr [ngClass]="{'row-selected': $index == selectedIndex}">
                                            <td class="text-center">
                                                <label class="css-input css-checkbox css-checkbox-default">
                                                    <input class="cb-element" type="checkbox" [(ngModel)]="item.is_checked" (change)="isAllChecked()">
                                                    <span></span>
                                                </label>
                                            </td>
                                            <!-- <td>
                                                {{$index + 1}}
                                            </td> -->
                                            <td><a class="text-primary" target="_blank" [routerLink]="[(item.doc_type == 1)?'/financial/invoice/view': '/financial/debit-memo/view', item.id || item.line_item_id]">{{item.code }}</a></td>
                                            <td>{{item.issue_date }}</td>
                                            <td>{{item.due_date }}</td>
                                            <td>{{item.payment_term_name }}</td>
                                            <td>{{item.status_name }}</td>
                                            <td>{{item.total_price | currency }}</td>
                                            <td>{{item.balance_price | currency }}</td>
                                            <td>
                                                <a href="javascript:void(0)">
                                                    {{ (item.awaiting || 0) | currency }}
                                                </a>
                                            </td>
                                            <td>{{ (item.balance_price - item.applied_amt)| currency }}</td>
                                            <td>
                                                <input (blur)='fillAppliedAmountToAllItem($index, true)' [isDecimal]="true" numberDirective [min]="0"
                                                class="form-control input-sm" type="number" [(ngModel)]="item.applied_amt" [disabled]="!item.is_checked">
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tbody>
                                        <tr>
                                            <td colspan="6" class="font-weight-bold text-right">TOTAL</td>
                                            <td class="text-primary">{{ data['summary']?.price_total | currency }}</td>
                                            <td class="text-primary">{{ data['summary']?.balance_total | currency }}</td>
                                            <td></td>
                                            <td></td>
                                            <!-- <td class="text-danger">{{ data['summary']?.balance_due_total | currency }}</td> -->
                                            <td class="text-success">{{ data['summary']?.applied_amt_total | currency }}</td>
                                        </tr>
                                    </tbody>
                                </ng-container>
                            </table>
                        </div>
                        <div class="row normal-pagination mg-top-10" *ngIf="list.items.length > 0 && data['loadItem']">
                            <div class="col-md-6 padding-lr-0">
                                <div class="text-left">
                                    <div class="col-md-6" style="padding-left: 0px;">
                                        <span style="float: left; padding-right: 10px;">{{list.items.length}}/{{tableService.pagination.total_record}} items </span>
                                        <select style="width: 50px; float: left;" class="form-control" [(ngModel)]="tableService.pagination.length" (change)="tableService.changeLength()">
                                                     <option *ngFor="let option of tableService.itemPerPageOptions" [ngValue]="option">{{option}}</option>
                                                 </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 padding-lr-0">
                                <div class="text-right">
                                    <ngb-pagination class="d-flex justify-content-end" (pageChange)="tableService.changePage($event)" [pageSize]="tableService.pagination.length" [collectionSize]="tableService.pagination.total_record || 120" [(page)]="tableService.pagination.page" [maxSize]="tableService.maxSize"
                                        [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
                                </div>
                            </div>
                        </div>
                        <button (click)="clearPayment()" class="btn btn-secondary mt-2">Clear Payment</button>
                        <p class="text-danger mt-2">
                            (*) For the invoice document, the Current Balance is including the early payment incentive if any.
                            <br> (**) If you enter a partial payment for an invoice on which an Early Payment Incentive is active you will remove the discount opportunity.
                        </p>

                    </div>
                </div>
            </div>
        </div>

        <div class="row mg-top-10 padding-child-5 justify-content-end">
            <div class="col-md-3">
                <div class="card height-100">
                    <div class="card-header">
                        <strong>Notes</strong>
                    </div>
                    <div class="card-body no-padding">
                        <form [formGroup]="generalForm">
                            <div>
                                <textarea class="form-control border-0" formControlName="description" rows="7" style="resize:none"></textarea>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card height-100">
                    <div class="card-header">
                        <strong>Summary</strong>
                    </div>
                    <div class="card-body p-17">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group row">
                                    <label class='col-5 control-label'>
                                        <strong >Amount Received</strong>
                                    </label>
                                    <div class='col-6 offset-md-1 padding-lr-10 text-success'>
                                        <strong>{{ (generalForm.value.price_received || 0) | currency}}</strong>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class='col-5 control-label'>
                                        <strong>Applied Amount</strong>
                                    </label>
                                    <div class='col-6 offset-md-1 padding-lr-10'>
                                        <!-- <strong class="text-success">{{(data['summary']?.total || 0) | currency}}</strong> -->
                                        <strong class="text-success">{{(calculateTotalUsedAmount() || 0) | currency}}</strong>
                                    </div>
                                </div>
                                <div *ngIf="!generalForm.value.electronic && generalForm.value.payment_method == 5" class="form-group row">
                                    <label class='col-5 control-label'>
                                            <strong>Change</strong>
                                        </label>
                                    <div class='col-6 offset-md-1 padding-lr-10'>
                                        <strong>{{(data['summary']?.change || 0) | currency}}</strong>
                                    </div>
                                </div>
                                <ng-container *ngIf="!generalForm.value.electronic && generalForm.value.payment_method != 5">
                                    <div class="form-group row">
                                        <label class='col-5 control-label'>
                                                <strong>Remaining Amount</strong>
                                            </label>
                                        <div class='col-6 offset-md-1 padding-lr-10'>
                                            <!-- <strong>{{(data['summary']?.change ||0) | currency}}</strong> -->
                                            <strong>{{((savedItems['totalAmount'] - calculateTotalUsedAmount()) || 0) | currency}}</strong>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class='col-5 control-label'>
                                                <strong>Amount to Credit</strong>
                                            </label>
                                        <div class='col-6 offset-md-1 padding-lr-10'>
                                            <strong>{{(data['amount_to_credit'] || 0) | currency}}</strong>
                                        </div>
                                    </div>
                                </ng-container>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mg-top-15 text-center">
                <button type="button" class="btn btn-outline-info" (click)="updateVoucher(1, 1)" translate>Save As Draft</button>
                <ng-container *ngIf="!generalForm.value.electronic">
                    <button type="button" class="btn btn-outline-danger" (click)="confirmModal((data['summary']?.change > 0 && !generalForm.value.electronic && generalForm.value.payment_method != 5)? 'overpayment': 2)" translate>Submit</button>
                    <button type="button" class="btn btn-outline-success" (click)="confirmModal((data['summary']?.change > 0 && !generalForm.value.electronic && generalForm.value.payment_method != 5)? 'overpayment-approve': 3)" translate>Save & Validate</button>
                </ng-container>
                <button *ngIf="generalForm.value.electronic" type="button" class="btn btn-outline-danger" (click)="confirmElectricModal()" translate>Save & Payment</button>
                <!-- <button *ngIf="!data['voucher_id']" type="button" class="btn btn-outline-dark" (click)="updateVoucher(1, 1, 1); resetVoucher();" translate>Save & Create New Receipt Voucher</button> -->
                <button type="button" class="btn btn-default" (click)="confirmModal(0)" translate>Back To List</button>
            </div>
        </div>
    </section>
</div>
