<section class="rma-page block">
    <app-page-header [heading]="'CREATE NEW PRODUCT'" [icon]="'fa-th-list'"></app-page-header>
    <div class="row" style="padding-top:15px">
        <div class="col-sm-12">
            <div class="block-header bg-gray-lighter">
                <h3 class="block-title" translate>GENERAL INFORMATION</h3>
            </div>
        </div>
    </div>
    <div>
        <form [formGroup]="generalForm" class="form-search full-width form-horizontal">
            <div class="row col-md-12">
                <div class="row col-md-9">
                    <div class="col-md-3">
                        <label for="campaign_name" class="control-label" translate>Product Type</label>
                        <span class="text-danger">( * )</span>
                        <select name="product_type" formControlName="product_type" class="form-control" (change)="changeProductType(this.generalForm.value.product_type)">
                            <option *ngFor="let item of listMaster['productType']" [value]="item.id">{{ item.name }}</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="sts" class="control-label" translate>Product Name </label>
                        <span class="text-danger">( * )</span>
                        <input type="text" class="form-control" name="campaign_name" formControlName="name">
                    </div>
                    <div class="col-md-3">
                        <label for="category_id" class="control-label" translate>Product Category </label>
                        <span class="text-danger">( * )</span>
                        <select name="category_id" formControlName="category_id" class="form-control">
                            <option *ngFor="let item of listMaster['productCategory']" [value]="item.id">{{ item.name }}</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="is_quotable" class="control-label" translate>Quotable </label>
                        <span class="text-danger">( * )</span>
                        <select name="is_quotable" formControlName="is_quotable" class="form-control">
                            <option *ngFor="let item of listMaster['quotable']" [value]="item.id">{{ item.name }}</option>
                        </select>
                    </div>
                </div>
                <div class="row col-md-9">
                    <div class="col-md-3">
                        <label for="supplier_id" class="control-label" translate>Supplier</label>
                        <span class="text-danger">( * )</span>
                        <select name="supplier_id" formControlName="supplier_id" class="form-control">
                            <option *ngFor="let item of listMaster['supplier']" [value]="item.id">{{ item.company_name }}</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="supp_prod_cd" class="control-label" translate>Supplier Product Code</label>
                        <span class="text-danger">( * )</span>
                        <input type="text" class="form-control" name="supp_prod_cd" formControlName="supp_prod_cd">

                    </div>
                    <div class="col-md-3">
                        <label for="volumne" class="control-label" translate>Volume (mL)</label>
                        <span class="text-danger">( * )</span>
                        <input type="text" class="form-control" name="volumne" formControlName="volumne">
                    </div>
                    <div class="col-md-3">
                        <label for="country_code" class="control-label" translate>Country</label>
                        <span class="text-danger">( * )</span>
                        <select name="country_code" formControlName="country_code" class="form-control" (change)="changeCountry()">
                            <option *ngFor="let item of listMaster['countries']" [value]="item.country_code">{{ item.name }}</option>
                        </select>
                    </div>
                </div>
                <div class="row col-md-9">
                    <div class="col-md-3">
                        <label for="price" class="control-label" translate>Cost Price</label>
                        <span class="text-danger">( * )</span>
                        <input type="text" class="form-control" name="price" formControlName="price">
                    </div>
                    <div class="col-md-3">
                        <label for="resale_price" class="control-label" translate>Sales Price</label>
                        <span class="text-danger">( * )</span>
                        <input type="text" class="form-control" name="resale_price" formControlName="resale_price">

                    </div>
                    <div class="col-md-3">
                        <label for="alcohol" class="control-label" translate>Alcohol (%)</label>
                        <span class="text-danger">( * )</span>
                        <input type="text" class="form-control" name="alcohol" formControlName="alcohol">
                    </div>
                    <div class="col-md-3">
                        <label for="brand_id" class="control-label" translate>Brand </label>
                        <span class="text-danger">( * )</span>
                        <select name="brand_id" formControlName="brand_id" class="form-control">
                            <option *ngFor="let item of listMaster['listBrand']" [value]="item.id">{{ item.name }}</option>
                        </select>
                    </div>
                </div>
                <div class="row col-md-9">
                    <div class="col-md-3">
                        <label for="grape_varieties" class="control-label" translate>Grape Varieties</label>
                        <span class="text-danger">( * )</span>
                        <ng-select [multiple]="true" [items]="listMaster['grapeVarieties']" bindLabel="name" bindValue="id" formControlName="grape_varieties">
                        </ng-select>                       
                    </div>
                    <div class="col-md-3">
                        <label for="year" class="control-label" translate>Year</label>
                        <span class="text-danger">( * )</span>
                        <input type="text" class="form-control" name="year" formControlName="year">

                    </div>
                    <div class="col-md-3">
                        <label for="state_id" class="control-label" translate>Region</label>
                        <span class="text-danger">( * )</span>
                        <select name="state_id" formControlName="state_id" class="form-control">
                            <option *ngFor="let item of listMaster['states']" [value]="item.id">{{ item.name }}</option>
                        </select>
                    </div>
                </div>
                <div class="row col-md-3 ">
                    <div class="col-md-12 products">
                        <div style="margin-top: 15px;" class="dropzone dz-clickable">
                            <label class="btn btn-block btn-primary btn-upload">
                                Select files here to upload&hellip;
                                <input type='file' accept="image/*" class="hidden" id="import-product" (change)="setFiles($event)"
                                    multiple />
                            </label>
                        </div>
                        <div ngShow="listPreview.length > 0" class="thumbnail-img">
                            <div class="show-image">
                                <img src="{{listPreview[selectedImage]}}" alt="">
                            </div>
                            <ul class="list-img clearfix">
                                <li *ngFor="let step of listPreview" (click)="selectedImages($index)" [ngClass]="{'active': selectedImage==$index}">
                                    <img class="thumb" src="{{step}}" />
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="block-content block-content-full text-right">
        <button type="button" class="btn btn-default" [routerLink]="['/product-management/bundle']" translate>Cancel</button>
        <button [disabled]="!generalForm.valid" type="button" class="btn btn-primary" (click)="createProduct()" translate>Save</button>
    </div>
</section>
