<div [@routerTransition]>
    <app-page-header [heading]="'VIEW DISCOUNT & RETURN RATE'" [icon]="'fa-th-list'"></app-page-header>
    <section class="rma-page block">
        <fieldset class="custom-border">
            <legend class="custom-border">GENETAL INFORMATION</legend>
            <div class="row pl-3 pr-3">
                <div class="col-md-2">
                    <label for="" class="control-label mb-2">ID</label>
                    <div>
                        <span>{{discount.id}}</span>
                    </div>
                </div>
                <div class="col-md-2">
                    <label for="" class="control-label mb-2">Name</label>
                    <div>
                        <span>{{discount.name}}</span>
                    </div>
                </div>
                <div class="col-md-2">
                    <label for="" class="control-label mb-2">Start Date</label>
                    <div>
                        <span>{{discount.start_dt}}</span>
                    </div>
                </div>
                <div class="col-md-2">
                    <label for="" class="control-label mb-2">Start Time</label>
                    <div>
                        <span>{{discount.start_time}}</span>
                    </div>
                </div>
                <div class="col-md-2" *ngIf="discount.status">
                    <label for="" class="control-label mb-2">Status</label>
                    <div>
                        <span>{{convertStatus(discount.status)}}</span>
                    </div>
                </div>
            </div>

        </fieldset>
        <div class="row mt-3">
            <div class="col-sm-12 pt-3">
                <div class="custom-header">
                    <h3 class="custom-header">BASE DISCOUNT RATE TABLE
                    </h3>
                    <div class="wrap-keyboard right-toggle-button" (click)="flagBaseDiscount = !flagBaseDiscount">
                        <span class="fa" [ngClass]="{'fa-minus': flagBaseDiscount,'fa-plus': !flagBaseDiscount}"></span>
                    </div>
                </div>
                <div [ngClass]="{'show': flagBaseDiscount,'hidden': !flagBaseDiscount}">
                    <div class="customer-content-toggle ">
                        <table class="table table-striped table-vcenter table-hover custom-table">
                            <thead>
                                <tr>
                                    <th> Base Discount Level </th>
                                    <th> Discount % </th>
                                    <th> Min. Gross Purchase </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of list['base_discount']; let i = index">
                                    <td>{{item.base_discount_levels}}</td>
                                    <td>{{item.discount}} %</td>
                                    <td>{{item.min_gross_purchase | currency}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
        <div class="row mt-3" >
            <div class="col-sm-12 pt-3">
                <div class="custom-header">
                    <h3 class="custom-header">RETURN RATE TABLE
                    </h3>
                    <div class="wrap-keyboard right-toggle-button" (click)="flagReturnRate = !flagReturnRate">
                        <span class="fa" [ngClass]="{'fa-minus': flagReturnRate,'fa-plus': !flagReturnRate}"></span>
                    </div>
                </div>
                <div [ngClass]="{'show': flagReturnRate,'hidden': !flagReturnRate}">
                    <div class="customer-content-toggle ">
                        <table class="table table-striped table-vcenter table-hover custom-table">
                            <thead>
                                <tr>
                                    <th> Return Rate Level </th>
                                    <th> Discount Adjustment </th>
                                    <th> From Return Rate </th>
                                    <th> To Return Rate </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of list['return_rate']; let i = index">
                                    <td>{{item.return_rate_level}}</td>
                                    <td>{{item.discount_adjustment}} %</td>
                                    <td>{{item.from_return_rate }} %</td>
                                    <td>{{item.to_return_rate }} %</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-sm-12 pt-3">
                <div class="custom-header">
                    <h3 class="custom-header">CONSOLIDATED DISCOUNT RATE TABLE
                    </h3>
                    <div class="wrap-keyboard right-toggle-button" (click)="flagConsolidatedDiscount = !flagConsolidatedDiscount">
                        <span class="fa" [ngClass]="{'fa-minus': flagConsolidatedDiscount,'fa-plus': !flagConsolidatedDiscount}"></span>
                    </div>
                </div>
                <div [ngClass]="{'show': flagConsolidatedDiscount,'hidden': !flagConsolidatedDiscount}">
                    <div class="customer-content-toggle ">
                        <table class="table table-striped table-vcenter table-hover custom-table">
                            <thead>
                                <tr>
                                    <th> Discount Level </th>
                                    <th> Discount Adjustment </th>
                                    <th> Min. Gross Purchase </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of list['consolidated_discount_rate']; let i = index">
                                    <td>{{item.discount_level}}</td>
                                    <td>{{item.discount_adjustment}} %</td>
                                    <td>{{item.min_gross_purchase | currency}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
        <div class="block-content block-content-full text-center mt-3 mb-3">
            <button type="button" class="btn btn-default" [routerLink]="['/admin-panel/discount']">Back</button>
        </div>
    </section>
</div>
