<div class="block anchor-scroll block-order">
    <div class="block-content pd-bottom bg-gray-light short-width">
        <div class="row">
            <form class="form-horizontal form-search" role="form" [formGroup]="searchForm">
                <div class="block-search" *ngIf="listReference['subsidiary'].length>0">
                    <label for="purchase_quote_cd" class="control-label">Subsidiary</label>
                    <ng-select [items]="listReference['subsidiary']" bindLabel="name" bindValue="id" formControlName="subsidiary">
                    </ng-select>
                </div>
                <div class="block-search">
                    <label for="purchase_quote_cd" class="control-label">Year</label>
                    <ng-select [items]="listReference['year']" bindLabel="year" bindValue="year" formControlName="year">
                    </ng-select>
                </div>

            </form>
            <div class="block-btn-search">
                <label class="control-label">&nbsp;</label>
                <div class="group-btn-search">
                    <button type="button" class="btn-default-custom" (click)="tableService.searchAction()">Search</button>
                    <button type="button" class="btn-default-custom" (click)="tableService.resetAction(this.searchForm)">Reset</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 ml-2 mg-top-10 customer-balance-custom-border">
    <div class="row">

            <div class="col-4">
                <label class="control-label font-weight-bold">Total Debit</label>
                <span>{{list.total[0].total_debit | currency}}</span>
            </div>
            <div class="col-4">
                <label class="control-label font-weight-bold">Total Credit</label>
                <span>{{list.total[0].total_credit | currency}}</span>
            </div>
            <div class="col-4">
                <label class="control-label font-weight-bold">Total Balance</label>
                <span  [ngClass]="{'text-red': list.total[0].total_balance > 0,'text-green':  list.total[0].total_balance  < 0}">{{list.total[0].total_balance | currency}}</span>
            </div>
        </div>
    </div>
    <div class="row mg-top-10">
        <div class="col-12">
            <div class="card no-border">
                <div class="card-header">
                    <strong>Line Items</strong>
                </div>
                <div class="card-body no-padding">
                    <div class="table-responsive list">
                        <table class='table table-bordered table-order'>
                            <thead class="bg-white">
                                <tr>
                                        <th>Company / Site Name</th>
                                        <th>Date</th>
                                        <th>Document Date</th>
                                        <th>Transaction Type</th>
                                        <th>Document No</th>
                                        <th>Related Document</th>
                                        <th>Debit</th>
                                        <th>Credit</th>
                                        <th>Balance</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let item of  list.content; let i = index;" [ngClass]="{'row-selected': i == selectedIndex}">
                                <tr>
                                    <td class="text-center">{{item.customer_name}}</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr *ngFor="let subItem of  item.items; let i1 = index;" [ngClass]="{'row-selected': i1 == selectedIndex}">
                                        <td>&nbsp;</td>
                                        <td>{{subItem.date_created | date:'MM/dd/yyyy'}}</td>
                                        <td>{{subItem.issue_date | date:'MM/dd/yyyy'}}</td>
                                        <td>{{subItem.transaction_type}}</td>
                                        <td>
                                          <!-- <a class="text-blue"
                                              [routerLink]="['/account/profile/receipt-voucher/', subItem.doc_id]">
                                              {{subItem.doc_no}}</a>               
                                          -->
                                          <a *ngIf="subItem.doc_type == '1'" class="text-blue" [routerLink]="['/financial/invoice/view/',subItem.doc_id]">{{subItem.doc_no}}
                                          </a>
                                          <a *ngIf="subItem.doc_type == '2'" class="text-blue" [routerLink]="['/financial/debit-memo/view/',subItem.doc_id]">{{subItem.doc_no}}
                                          </a>
                                          <a *ngIf="subItem.doc_type == '3'" class="text-blue" [routerLink]="['/financial/credit-memo/view/', subItem.doc_id]">{{subItem.doc_no}}</a>
                                          <a *ngIf="subItem.doc_type == '4'" class="text-blue" [routerLink]="['/financial/receipt-voucher/view/', subItem.doc_id]">{{subItem.doc_no}}</a>
                                          <a *ngIf="subItem.doc_type == '5'" class="text-blue" [routerLink]="['/order-management/sale-order/detail/',subItem.doc_id]">{{subItem.doc_no}}</a>
                                          <a *ngIf="subItem.doc_type == '6'" class="text-blue" [routerLink]="['/order-management/return-order/detail/', subItem.doc_id]">{{subItem.doc_no}}</a>
                                        </td>
                                        <td *ngIf="!checkRelated(subItem.doc_related)">
                                          <a *ngIf="subItem.doc_related?.doc_type == '1'" class="text-blue"
                                            [routerLink]="['/financial/invoice/view/', subItem.doc_related?.id]">{{subItem.doc_related?.code}}
                                          </a>
                                          <a *ngIf="subItem.doc_related?.doc_type == '2'"class="text-blue"
                                            [routerLink]="['/financial/debit-memo/view/',subItem.doc_related?.id]">{{subItem.doc_related?.code}}
                                          </a>
                                          <a *ngIf="subItem.doc_related?.doc_type == '3'"class="text-blue"
                                            [routerLink]="['/financial/credit-memo/view/', subItem.doc_related?.id]">{{subItem.doc_related?.code}}</a>
                                          <a *ngIf="subItem.doc_related?.doc_type == '4'" class="text-blue"
                                            [routerLink]="['/financial/receipt-voucher/view/', subItem.doc_related?.id]">{{subItem.doc_related?.code}}</a>
                                          <a *ngIf="subItem.doc_related?.doc_type == '5'" class="text-blue"
                                            [routerLink]="['/order-management/sale-order/detail/', subItem.doc_related?.id]">{{subItem.doc_related?.code}}</a>
                                          <a *ngIf="subItem.doc_related?.doc_type == '6'"  class="text-blue"
                                            [routerLink]="['/order-management/return-order/detail/', subItem.doc_related?.id]">{{subItem.doc_related?.code}}</a>
                              
                                        </td>
                                        <td *ngIf="checkRelated(subItem.doc_related)">
                                                <a class="text-blue" (click)="openVerticallyCentered(contenlink)">
                                                  View Details</a>
                                                <ng-template #contenlink class="modal1-content" let-c="close" let-d="dismiss">
                                                  <div class="modal-header">
                                                    <h4 class="modal-title">Related Documents of {{subItem.doc_related[0].code}}</h4>
                                                    <button type="button" class="close" aria-label="Close" (click)="c('Cross click')">
                                                      <span aria-hidden="true">&times;</span>
                                                    </button>
                                                  </div>
                                                  <div class="modal-body">
                                                    <div class="row pl-3 mb-1" *ngFor=" let doc of subItem.doc_related">
                                                      <a *ngIf="doc.doc_type == '1'" style="text-decoration:underline;font-size:0.9rem" (click)="c('Cross click')"
                                                        class="text-blue" [routerLink]="['/financial/invoice/view/', doc.id]">{{doc.code}}</a>
                                                      <a *ngIf="doc.doc_type == '2'" style="text-decoration:underline;font-size:0.9rem" (click)="c('Cross click')"
                                                        class="text-blue" [routerLink]="['/financial/debit-memo/view/', doc.id]">{{doc.code}}</a>
                                                      <a *ngIf="doc.doc_type == '3'" style="text-decoration:underline;font-size:0.9rem" (click)="c('Cross click')"
                                                        class="text-blue" [routerLink]="['/account/profile/credit-memo/', doc.id]">{{doc.code}}</a>
                                                      <a *ngIf="doc.doc_type == '4'" style="text-decoration:underline;font-size:0.9rem" (click)="c('Cross click')"
                                                        class="text-blue" [routerLink]="['/financial/receipt-voucher/view/', doc.id]">{{doc.code}}</a>
                                                      <a *ngIf="doc.doc_type == '5'" style="text-decoration:underline;font-size:0.9rem" (click)="c('Cross click')"
                                                        class="text-blue" [routerLink]="['/order-management/sale-order/detail/', doc.id]">{{doc.code}}</a>
                                                      <a *ngIf="doc.doc_type == '6'" style="text-decoration:underline;font-size:0.9rem" (click)="c('Cross click')"
                                                        class="text-blue" [routerLink]="['/order-management/return-order/detail/', doc.id]">{{doc.code}}</a>
                                                    </div>
                                                  </div>
                                                </ng-template>
                                              </td>
                                              <td>{{(subItem.transaction_type == 'Invoice' || subItem.transaction_type == 'Debit Memo') ? (subItem.total_price | currency) : '' }}</td>
                                              <td>{{(subItem.transaction_type == 'Receipt Voucher' || subItem.transaction_type == 'Credit Memo') ? (subItem.total_price | currency) : '' }}</td>
                                              <td></td>
                                </tr>
                                <tr class="border-left">
                                        <td colspan="6" class="font-weight-bold">{{item.customer_name}} Total</td>
                                        <td>{{item.customer_debit | currency}}</td>
                                        <td>{{item.customer_credit | currency}}</td>
                                        <td class="border-right" [ngClass]="{'text-red': item.customer_balance > 0, 'text-green': item.customer_balance < 0}">{{item.customer_balance
                                          | currency}}</td>
                                      </tr>
                            </tbody>
                            <tbody *ngIf="list.length == 0">
                                <tr>
                                    <td colspan="100%" class="text-center" translate>No data.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>