.information-tab {
    margin-top: 10px;
    border: 1px solid #dee2e6;
    border-top: none;
}

.scroll-container {
    table {
        thead tr {
            display: table;
            width: 100%;
            table-layout: fixed;
        }

        tbody {
            display: block;
            height: 145px;
            overflow-y: auto;
            overflow-x: hidden;
            tr {
                display: table;
                table-layout: fixed;
                width: calc( 100% + 16px);
            }
        }
      
    }
}

.table-custom {
    thead th {
        padding: 5px 10px;
        border: none;
        background-color: #d2d2d2;
        word-break: break-word;
    }
    tbody td {
        padding: 10px;
        word-break: break-word;        
    }
}

.address-tab {
    padding: 15px 15px 0 15px;
    .block-search {
        max-width: 125px;
    }
}

.customer-infomation {
    padding: 15px;
    padding-bottom: 5px;
    background-color: #ededed;
    label {
        font-weight: bold;
    }
    &.bolder {
        background-color: #dbdbdb;
    }
}