.information-tab {
    margin-top: 10px;
    border: 1px solid #dee2e6;
    border-top: none;
}

.scroll-container {
    height: 223px;
    overflow: auto;
}

.table-custom {
    thead th {
        padding: 5px 10px;
        border: none;
        background-color: #d2d2d2;
    }
    tbody td {
        padding: 10px;
    }
}

.address-tab {
    padding: 15px 15px 0 15px;
    .block-search {
        max-width: 125px;
    }
}

.customer-infomation {
    padding: 15px;
    padding-bottom: 5px;
    background-color: #ededed;
    label {
        font-weight: bold;
    }
    &.bolder {
        background-color: #dbdbdb;
    }
}