<div class='address-tab'>
    <div class="block-content pd-bottom bg-gray-light mb-2">
        <div class="row">
            <form class="form-horizontal form-search" role="form" [formGroup]="searchForm">
                <div class="block-search">
                    <label for="buyer_name" class="control-label">Payment No</label>
                    <input type="text" name="buyer_name" formControlName="buyer_name" class="form-control">
                </div>
                <div class="block-search">
                    <label for="buyer_name" class="control-label">Invoice No</label>
                    <input type="text" name="buyer_name" formControlName="buyer_name" class="form-control">
                </div>
                <div class="block-search">
                    <label for="buyer_name" class="control-label">Method</label>
                    <input type="text" name="buyer_name" formControlName="buyer_name" class="form-control">
                </div>
                <div class="block-search">
                    <label for="buyer_type" class="control-label">Status</label>
                    <select class="form-control" formControlName="buyer_type">
                                <option value="null" selected="true">--Select--</option>
                                <option *ngFor="let item of listMaster['statusSO']" [ngValue]="item.id">{{item.name}}</option>
                            </select>
                </div>
                <div class="block-search">
                    <label for="buyer_type" class="control-label">Date Type</label>
                    <select class="form-control" formControlName="buyer_type">
                            <option value="null" selected="true">--Select--</option>
                            <option *ngFor="let item of listMaster['dateType']" [ngValue]="item.id">{{item.name}}</option>
                        </select>
                </div>
                <div class="block-search">
                    <label for="buyer_type" class="control-label">From</label>
                    <div class="input-group">
                        <input class="form-control" placeholder="yyyy-mm-dd" name="dp" formControlName="from" ngbDatepicker #d1="ngbDatepicker">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" (click)="d1.toggle()" type="button">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                </button>
                        </div>
                    </div>
                </div>
                <div class="block-search">
                    <label for="buyer_type" class="control-label">To</label>
                    <div class="input-group">
                        <input class="form-control" placeholder="yyyy-mm-dd" name="dp" formControlName="to" ngbDatepicker #t1="ngbDatepicker">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" (click)="t1.toggle()" type="button">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                </button>
                        </div>
                    </div>
                </div>
            </form>
            <div class="block-btn-search">
                <label class="control-label">&nbsp;</label>
                <div class="group-btn-search">
                    <button type="button" class="btn btn-primary" (click)="tableService.searchAction()">Search</button>
                    <button type="button" class="btn btn-default" (click)="tableService.resetAction(searchForm)">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <div class='scroll-container'>
        <table class='table table-custom'>
            <thead>
                <tr>
                    <th>No</th>
                    <th>Payment No</th>
                    <th>Payment Date</th>
                    <th>Invoice No</th>
                    <th>Type</th>
                    <th>Method</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of list.items">
                    <td>{{ item.id }}</td>
                    <td>{{ item.id }}</td>
                    <td>{{ item.id }}</td>
                    <td>{{ item.id }}</td>
                    <td>{{ item.id }}</td>
                    <td>{{ item.id }}</td>
                    <td>{{ item.id }}</td>                    
                </tr>
                <tr *ngIf="list.items.length == 0">
                    <td class="text-center" colspan="100%">No data.</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>