<div class='address-tab'>
    <div class='scroll-container'>
        <table class='table table-custom'>
            <thead>
                <tr>
                    <th>No</th>
                    <th>Site Code</th>
                    <th>Site Name</th>
                    <th>Address 1</th>
                    <th>Address 2</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Zip Code</th>
                    <th>Country</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of list.items">
                    <td>{{ item.id }}</td>
                    <td>{{ item.code }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.address_line }}</td>
                    <td>{{ item.address_line2 }}</td>
                    <td>{{ item.city_name }}</td>
                    <td>{{ item.state_name }}</td>
                    <td>{{ item.zip_code }}</td>
                    <td>{{ item.country_name }}</td>
                </tr>
                <tr *ngIf="list.items.length == 0">
                    <td class="text-center" colspan="100%">No data.</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>