<div [@routerTransition]>
    <app-page-header [heading]="'CREATE NEW SALES QUOTATION'" [icon]="'fa-th-list'"></app-page-header>
    <app-shortcut [listShortcut]='keyService.getKeys()'></app-shortcut>
    <section class="rma-page block main-container block-order">
        <div class="row">
            <div class="col-md-12 mg-top-15">
                <div class="block-border">
                    <h5 class="title-border" translate>GENERAL INFORMATION</h5>
                    <div class="row informaion">
                        <div class="col-md-12">
                            <form [formGroup]="generalForm" class="form-search full-width form-inline">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="code" class="control-label" translate>Customer Name</label>
                                        <span class="text-danger">(*)</span>
                                        <div>
                                            <ng-select #inp style="width: 150px;" (change)="changeCustomer()" [items]="listMaster['customer']" bindLabel="company_name" bindValue="id"
                                                formControlName="company_id">
                                            </ng-select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    Last Sales Date: {{customer.last_sales_order}}
                                </div>
                                <div class="col-md-2" *ngIf="customer.buyer_type">
                                    <button type="button" (click)="showViewOrderHistory()" class="btn btn-link">View Order History</button>
                                </div>
                                <div class="col-md-2">
                                    Current Debt: {{customer.current_dept |currency}}
                                </div>
                                <!-- <div class="col-md-2">
                                    Current Credit: {{customer.current_dept |currency}}
                                </div> -->
                            </form>
                        </div>
                        <div class="col-md-12 fix-padding">
                            <div class="row">
                                <div class="col-md-3 customer-infomation">
                                    <div class="form-group row">
                                        <label class='col-4 control-label'>Address</label>
                                        <div class='col-8'>
                                            {{customer.primary[0].address_line}}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class='col-4 control-label'>City</label>
                                        <div class='col-8'>
                                            {{customer.primary[0].city_name}}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class='col-4 control-label'>State</label>
                                        <div class='col-8'>
                                            {{customer.primary[0].state_name}}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class='col-4 control-label'>Zip</label>
                                        <div class='col-8'>
                                            {{customer.primary[0].zip_code}}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class='col-4 control-label'>Country</label>
                                        <div class='col-8'>
                                            {{customer.primary[0].country_name}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 customer-infomation bolder">
                                    <div class="form-group row" *ngIf="customer.buyer_type =='CP'">
                                        <label class='col-4 control-label'>Contact</label>
                                        <div class='col-8 text-primary'>
                                            <form [formGroup]="generalForm">
                                                <select class="form-control" id="contact" formControlName="contact_user_id" name="contact" (change)="selectContact()">
                                                    <option *ngFor="let item of customer.contact" [ngValue]="item.id">{{item.full_name}}</option>
                                                </select>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="form-group row" *ngIf="customer.buyer_type =='CP'">
                                        <label class='col-4'>Contact Phone</label>
                                        <div class='col-8'>
                                            {{addr_select.contact.phone}}
                                        </div>
                                    </div>
                                    <div class="form-group row" *ngIf="customer.buyer_type =='CP'">
                                        <label class='col-4'>Contact Email</label>
                                        <div class='col-8'>
                                            {{addr_select.contact.email}}
                                        </div>
                                    </div>
                                    <!-- <div class="form-group row">
                                        <label class='col-4'>Item In Quote</label>
                                        <div class='col-8 text-success'>
                                            <a (click)="showSaleQuoteList()"><strong>{{customer.items_in_quote}}</strong></a>
                                        </div>
                                    </div> -->
                                    <div class="form-group row">
                                        <label class='col-4'>Discount Level</label>
                                        <div class='col-8 text-success'>
                                            {{customer.discount_level}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 customer-infomation ">
                                    <form [formGroup]="generalForm">
                                        <div class="form-group row">
                                            <label class='col-5'>Sales Quote No
                                                <span class="text-danger">(*)</span>
                                            </label>
                                            <div class='col-7 text-primary'>
                                                <input type="text" class="form-control" formControlName="sale_quote_no" readonly>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class='col-5'>Quote Date
                                                <span class="text-danger">(*)</span>
                                            </label>
                                            <div class='col-7 text-danger'>
                                                <div clickOutside (clickOutside)="d.close()" class="input-group">
                                                    <input class="form-control" placeholder="yyyy-mm-dd" name="dp" formControlName="quote_date" ngbDatepicker #d="ngbDatepicker">
                                                    <div class="input-group-append">
                                                        <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                                                            <i class="fa fa-calendar" aria-hidden="true"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class='col-5'>Expiry Date
                                                <span class="text-danger">(*)</span>
                                            </label>
                                            <div class='col-7 text-danger'>
                                                <div clickOutside (clickOutside)="d1.close()" class="input-group">
                                                    <input class="form-control" placeholder="yyyy-mm-dd" name="dp" formControlName="expiry_date" ngbDatepicker #d1="ngbDatepicker">
                                                    <div class="input-group-append">
                                                        <button class="btn btn-outline-secondary" (click)="d1.toggle()" type="button">
                                                            <i class="fa fa-calendar" aria-hidden="true"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class='col-5'>Expiry Delivery Date
                                            </label>
                                            <div class='col-7 text-danger'>
                                                <div clickOutside (clickOutside)="d2.close()" class="input-group">
                                                    <input class="form-control" placeholder="yyyy-mm-dd" name="dp" formControlName="delivery_date" ngbDatepicker #d2="ngbDatepicker">
                                                    <div class="input-group-append">
                                                        <button class="btn btn-outline-secondary" (click)="d2.toggle()" type="button">
                                                            <i class="fa fa-calendar" aria-hidden="true"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class='col-5'>Quote Status</label>
                                            <div class='col-7 text-success'>
                                                <strong>1-NEW</strong>
                                            </div>
                                        </div>


                                    </form>
                                </div>
                                <div class="col-md-3 customer-infomation bolder">
                                    <form [formGroup]="generalForm">
                                        <div class="form-group row">
                                            <label class='col-4'>Payment Method</label>
                                            <div class='col-8 text-primary'>
                                                <select  class="form-control" id="payment_method" name="payment_method" formControlName="payment_method">
                                                    <option *ngFor="let item of listMaster['payment_methods']" [ngValue]="item.code">{{item.value}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class='col-4'>Salesperson</label>
                                            <div class='col-8 text-primary'>
                                                <select  class="form-control" id="sales_person" name="sales_person" formControlName="sales_person">
                                                    <option *ngFor="let item of listMaster['sale_mans']" [ngValue]="item.id">{{item.full_name}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class='col-4'>Approver</label>
                                            <div class='col-8 text-primary'>
                                                <select  class="form-control" id="sales_person" name="sales_person" formControlName="approver_id">
                                                    <option *ngFor="let item of listMaster['sale_mans']" [ngValue]="item.id">{{item.full_name}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <!-- <div class="form-group row">
                                            <label class='col-4'>Multi Ship Addr</label>
                                            <div class='col-8 text-danger'>
                                                <select [attr.disabled]="true"  class="form-control" id="is_multi_shp_addr" name="is_multi_shp_addr" formControlName="is_multi_shp_addr">
                                                    <option *ngFor="let item of listMaster['multi_ship']" [ngValue]="item.id">{{item.label}}</option>
                                                </select>
                                            </div>
                                        </div> -->
                                        <!-- <div class="form-group row">
                                            <label class='col-4'>Warehouse</label>
                                            <div class='col-8'>
                                                <select  class="form-control" id="warehouse_id" name="warehouse_id" formControlName="warehouse_id">
                                                    <option *ngFor="let item of listMaster['warehouses']" [ngValue]="item.id">{{item.name}}</option>
                                                </select>
                                            </div>
                                        </div> -->
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 mg-top-15">
                <div class="block-border">
                    <h5 class="title-border" translate>PRODUCTS DETAILS</h5>
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-style table-order custom-table table-bg" cdArrowTable [collection]="list.items" [(selectedIndex)]="selectedIndex"
                                (onEnter)="selectData($event)">
                                <thead>
                                    <tr>
                                        <th translate>Action</th>
                                        <th translate>Product Code</th>
                                        <th translate>Description</th>
                                          <th translate>Condition</th>
                                        <th class="text-nowrap" translate>Order QTY</th>
                                        <!-- <th class="text-nowrap text-center" translate *ngIf="generalForm.value.is_multi_shp_addr == 1">Ship To</th> -->
                                        <th class="text-center" translate>Unit Price</th>
                                        <th translate>Discount %</th>
                                        <th translate>Amount</th>
                                    </tr>
                                </thead>
                                <tr *ngIf="list['items'].length === 0">
                                    <td colspan="100%" class="text-center" translate>No data.</td>
                                </tr>
                                <tbody *ngFor="let item of list.items; let $index = index;">
                                    <tr>
                                        <td>
                                            <button class="btn btn-danger btn-xs" type="button" (click)="deleteAction(item.item_id)">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                            <!-- <button *ngIf="generalForm.value.is_multi_shp_addr == 1" class="btn btn-primary btn-xs" type="button" (click)="cloneRecord(item, list.items)"
                                                [disabled]="!checkCloneRecord(item, list.items[$index])" title="Add new shipping address">
                                                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                            </button> -->
                                        </td>
                                        <td>{{item.sku}}</td>
                                        <td>{{item.des}}</td>
                                        <td>{{item.condition_name}}</td>
                                        <td>
                                            <input style="width: 60px;" class="form-control input-sm" type="number" [(ngModel)]="item.quantity"
                                                (change)="updateTotal()" (keypress)="_keyPress($event)">
                                        </td>

                                        <!-- <td *ngIf="generalForm.value.is_multi_shp_addr == 1">
                                            <select class="form-control" name="search_type" [(ngModel)]="item.shipping_address_id">
                                                <option value="undefined" selected="true" hidden="true" translate>Please select</option>
                                                <option *ngFor="let item of customer.shipping" [ngValue]="item.address_id">{{((item.address_line+', '+item.city_name+', '+item.state_name+', '+item.zip_code+',
                                                    '+item.country_name) | uppercase)}}</option>
                                            </select>
                                        </td> -->
                                        <td>
                                            <div>
                                                <span>$</span>
                                                <div style="display:inline-block;width:80%">
                                                    <input [textMask]="{mask: numberMaskObject()}" class="form-control input-sm" type="number" [(ngModel)]="item.sale_price" (change)="updateTotal();changeFromSource(item)">
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <input  [textMask]="{mask: numberMaskObject()}"  class="form-control input-sm" type="number" [(ngModel)]="item.discount" (change)="updateTotal();changeFromSource(item)">
                                        </td>
                                        <td class="text-center">
                                            <span>{{item.totalItem | currency}}</span>
                                        </td>

                                    </tr>
                                    <tr *ngFor="let product of item.products">
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>
                                            <input style="width: 60px;" class="form-control input-sm" type="number" [(ngModel)]="product.quantity" min="0" max="1000"
                                                (change)="updateTotal()" (keypress)="_keyPress($event)">
                                        </td>
                                        <td>
                                            <select class="form-control" name="search_type" [(ngModel)]="product.shipping_address_id">
                                                <option value="undefined" selected="true" hidden="true" translate>Please select</option>
                                                <option *ngFor="let item of customer.shipping" [ngValue]="item.address_id">{{((item.address_line+', '+item.city_name+', '+tate_name+', '+item.zip_code+',
                                                    '+item.country_name) | uppercase)}}</option>
                                            </select>
                                        </td>
                                        <td>
                                            <button class="btn btn-danger btn-xs" type="button" (click)="removeSubProduct(product, item.products, list.items)" style="line-height: 18px;">
                                                <i class="fa fa-times" aria-hidden="true"></i>
                                            </button>
                                        </td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <button (click)="addNewItem(list.items,1, order_info.company_id )" class="btn btn-outline-dark" translate>
                            <i class="fa fa-plus"></i>Add New Item</button>
                    </div>
                    <div class="col-md-12 mg-top-15">
                        <div class="row">
                            <div class="col-md-4">
                                <label for="">Note</label>
                                <form [formGroup]="generalForm">
                                    <div>
                                        <textarea class="form-control" formControlName="note" name="" id="" rows="5" style="resize:none"></textarea>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-4">
                            </div>
                            <div class="col-md-4 clearfix">
                                <table class="table table-sub-product">
                                    <tr>
                                        <td>Sub Total:</td>
                                        <td></td>
                                        <td>{{order_info.sub_total | currency}}</td>
                                    </tr>
                                    <tr>
                                        <td>- Discount (%):</td>
                                        <td>
                                            <input [textMask]="{mask: numberMaskObject()}"  class="form-control" [(ngModel)]="order_info.discount_percent" class="form-control"
                                                type="text" (change)="updateTotal()">
                                        </td>
                                        <td>
                                            <input class="form-control" readonly="true" [(ngModel)]="order_info.total_discount"
                                                class="form-control" value="0" type="number">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>+ TAX/VAT (%):</td>
                                        <td>
                                            <input [textMask]="{mask: numberMaskObject()}" class="form-control" [(ngModel)]="order_info.vat_percent" class="form-control"
                                                type="text" (change)="updateTotal()">
                                        </td>
                                        <td>
                                            <input class="form-control" readonly="true" [(ngModel)]="order_info['vat_percent_amount']"
                                                class="form-control" value="0" type="number">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>+ Shipping cost ($):</td>
                                        <td></td>
                                        <td>
                                            <input [textMask]="{mask: numberMaskObject()}" class="form-control" [(ngModel)]="order_info.shipping_cost" class="form-control"
                                                type="text" (change)="updateTotal()">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Grand Total:</td>
                                        <td colspan="2">{{order_info.total | currency}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mg-top-15 text-center">               
                <button type="button" class="btn btn-outline-primary" (click)="createOrder('validate')" translate>Save & Validate</button>
                <button type="button" class="btn btn-outline-primary" (click)="createOrder('submit')" translate>Save & Submit</button>
                <button type="button" class="btn btn-default" [routerLink]="['/order-management/sale-order']" translate>Cancel</button>
            </div>
        </div>
    </section>
</div>
