<div [@routerTransition]>
    <app-page-header [heading]="'LIST OF ORDERS'" [icon]="'fa-th-list'"></app-page-header>
    <section class="main-container">
        <ngb-tabset>
            <ngb-tab title="Information">
                <ng-template ngbTabContent>
                    <app-order-info-tab [orderId]="orderId"></app-order-info-tab>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Invoices">
                <ng-template ngbTabContent>
                    <app-order-invoice-tab [orderId]="orderId"></app-order-invoice-tab>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Payments">
                <ng-template ngbTabContent>
                    <app-order-payment-tab [orderId]="orderId"></app-order-payment-tab>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Shipments">
                <ng-template ngbTabContent>
                    <app-order-shipment-tab [orderId]="orderId"></app-order-shipment-tab>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Order Timeline">
                <ng-template ngbTabContent>
                    <app-order-timeline-tab [orderId]="orderId"></app-order-timeline-tab>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
    </section>
</div>