<div [@routerTransition]>
    <app-page-header [heading]="'LIST OF ORDERS'" [icon]="'fa-th-list'"></app-page-header>
    <app-shortcut [listShortcut]='keyService.getKeys()'></app-shortcut>
    <div class="block anchor-scroll block-order">
        <section id="statusIndicator" class="status-indicator-section">
            <ul class="status-ctn dashboard-content">
                <li style="cursor: pointer;" (click)="filter(item.status)" *ngFor="let item of countStatus" class="status-item dashboard-stat {{item.color}}">
                    <img *ngIf="item.img" [src]="item.img" alt="">
                    <div class="status-count">{{ item.count || 0 }}</div>
                    <div class="status-lbl text-uppercase">{{ item.name }}</div>
                </li>
            </ul>
        </section>
        <div class="block-content pd-bottom bg-gray-light short-width">
            <div class="row">
                <form class="form-horizontal form-search" role="form" [formGroup]="searchForm">
                    <div class="block-search">
                        <label for="cd" class="control-label" translate>SO #</label>
                        <input [keyConfig]="keyService.getKeyConfig()" appKeyNavigate="code" type="text" name="cd"
                            formControlName="code" class="form-control" id="cd" placeholder="" capitalize>
                    </div>
                    <div class="block-search">
                        <label for="purchase_quote_cd" class="control-label">Cust PO #</label>
                        <input type="text" name="purchase_quote_cd" formControlName="cus_po" class="form-control" id="purchase_quote_cd"
                            placeholder="">
                    </div>
                    <div class="block-search">
                        <label for="contract_no" class="control-label">Sales Quote #</label>
                        <input type="text" name="contract_no" formControlName="quote_no" class="form-control" id="contract_no"
                            placeholder="">
                    </div>
                    <div class="block-search">
                        <label for="part" class="control-label">Type</label>
                        <ng-select [multiple]="true" [items]="listMaster['type']" bindLabel="name" bindValue="id"
                            formControlName="type">
                        </ng-select>
                    </div>
                    <div class="block-search">
                        <label for="po_status_id" class="control-label">Status</label>
                        <ng-select [multiple]="true" [items]="listMaster['status']" bindLabel="name" bindValue="id"
                            formControlName="sts">
                        </ng-select>
                    </div>
                    <div class="block-search">
                        <label for="cd" class="control-label" translate>Customer</label>
                        <input type="text" name="cd" formControlName="buyer_name" class="form-control" id="cd"
                            placeholder="" capitalize>
                    </div>
                    <div class="block-search">
                        <label for="type" class="control-label" translate>Date Type</label>
                        <select class="form-control" formControlName="date_type">
                            <option value="null" selected="true">--Select--</option>
                            <option *ngFor="let item of listMaster['dateType']" [ngValue]="item.id">{{item.name}}</option>
                        </select>
                    </div>
                    <div class="block-search">
                        <label for="" class="control-label" translate> From</label>
                        <div clickOutside (clickOutside)="d.close()" class="input-group">
                            <input [maxDate]="searchForm.value.date_to | dateObj" class="form-control" placeholder="mm/dd/yyyy"
                                name="d" formControlName="date_from" ngbDatepicker #d="ngbDatepicker">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="block-search">
                        <label for="" class="control-label" translate> To</label>
                        <div clickOutside (clickOutside)="dt.close()" class="input-group">
                            <input [minDate]="searchForm.value.date_from | dateObj" class="form-control" placeholder="mm/dd/yyyy"
                                name="dt" formControlName="date_to" ngbDatepicker #dt="ngbDatepicker">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" (click)="dt.toggle()" type="button">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="block-btn-search">
                    <label class="control-label">&nbsp;</label>
                    <div class="group-btn-search">
                        <button type="button" class="btn-default-custom" (click)="tableService.searchAction()">Search</button>
                        <button type="button" class="btn-default-custom" (click)="tableService.resetAction(this.searchForm)">Reset</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mg-top-10">
            <div class="col-12">
                <div class="card no-border">
                    <div class="card-header">
                        <strong>Line Items</strong>
                        <button (click)="createOrder()" style="margin:0; float:right" class="btn btn-link"> <i class="fa fa-plus text-success"></i>
                            Create Order</button>
                    </div>
                    <div class="card-body no-padding">
                        <div class="table-responsive list">
                            <table class="table table-bordered table-order" cdArrowTable [collection]="list.items"
                                [(selectedIndex)]="selectedIndex" (onEnter)="selectData($event)">
                                <thead class="bg-white">
                                    <tr>
                                        <!-- <th style="width:50px"></th> -->
                                        <th translate>SO #</th>
                                        <th translate>Cust PO #</th>
                                        <th translate>Sales Quote #</th>
                                        <th translate>Customer</th>
                                        <th class="text-center " translate>Type</th>
                                        <th class="text-center" translate>Order date</th>
                                        <th translate>Status</th>
                                        <!-- <th class="text-center" translate>Delivery date</th> -->
                                        <th class="text-center" translate>Total Amount</th>
                                        <th class="text-center" translate>Total Paid</th>
                                        <th class="text-center" translate>Total Refunded</th>
                                        <th translate>Salesperson</th>
                                        <th translate>Last Update On</th>
                                        <th translate>Last Update By</th>
                                        <th translate>Action</th>
                                    </tr>
                                </thead>
                                <tbody *ngFor="let item of  list.items; let i = index;" [ngClass]="{'row-selected': i == selectedIndex}">
                                    <tr>
                                        <!-- <td>
                                            <img *ngIf="item.sts_code!='CP'" src="assets/img/qbicon-gray.png" width="20px" height="20px">
                                            <a *ngIf="item.sts_code=='CP'" href="https://sandbox.qbo.intuit.com/app/sales" target="_blank">
                                                <img placement="top" ngbTooltip="Sent Invoice To QuickBooks {{item.updated_at}}" src="../../assets/img/qbicons.png" width="20px" height="20px">
                                            </a>
                                        </td> -->
                                        <td><a class="text-primary" [routerLink]="['detail', item.id]">{{item.code}}</a></td>
                                        <td>{{item.cus_po}}</td>
                                        <td>{{item.quote_no}}</td>
                                        <td>{{item.buyer_name}}</td>
                                        <td class="text-center">
                                            <span *ngIf="item.type == 'PKU'">Pickup</span>
                                            <span *ngIf="item.type == 'ONL'">Ecommerce</span>
                                            <span *ngIf="item.type == 'NO'">Regular Order</span>
                                            <span *ngIf="item.type == 'XD'">X-Docks</span>
                                        </td>
                                        <td class="text-center">{{item.order_date | date:'MM/dd/yyy'}}</td>
                                        <td>
                                            <span class="label blue" *ngIf="item.sts_code == 'NW'">{{item.sts}}</span>
                                            <span class="label texas-rose" *ngIf="item.sts_code == 'SM'">{{item.sts}}</span>
                                            <!-- <span class="label texas-rose" *ngIf="item.sts_code == 'RV'">{{item.sts}}</span>                                             -->
                                            <span class="label strong-green" *ngIf="item.sts_code == 'AP'">{{item.sts}}</span>
                                            <span class="label rock-blue" *ngIf="item.sts_code == 'IP'">{{item.sts}}</span>
                                            <span class="label green" *ngIf="item.sts_code == 'PP'">{{item.sts}}</span>
                                            <span class="label darkblue" *ngIf="item.sts_code == 'RS'">{{item.sts}}</span>
                                            <span class="label pink" *ngIf="item.sts_code == 'DL'">{{item.sts}}</span>
                                            <span class="label bright-grey" *ngIf="item.sts_code == 'PD'">{{item.sts}}</span>
                                            <span class="label lemon" *ngIf="item.sts_code == 'CP'">{{item.sts}}</span>
                                            <span class="label magenta" *ngIf="item.sts_code == 'RJ'">{{item.sts}}</span>
                                            <span class="label red" *ngIf="item.sts_code == 'CC'">{{item.sts}}</span>
                                        </td>
                                        <!-- <td class="text-center">{{item.delivery_date | date:'MM/dd/yyyy'}}</td> -->

                                        <td class="text-center">{{(item.total_price || 0) | currency}}</td>
                                        <td class="text-center">{{(item.total_paid || 0) | currency}}</td>
                                        <td class="text-center">{{(item.total_refunded || 0) | currency}}</td>
                                        <td>{{item.sale_person_name}}</td>
                                        <td class="text-center">{{item.last_update_on | date:'MM/dd/yyyy'}}</td>
                                        <td class="text-center">{{item.last_update_by }}</td>
                                        <td class="text-nowrap">
                                            <a href="javascript:void(0)" ngbTooltip="Submit" *ngIf="item['sts_code'] == 'NW'" class="btn btn-default" (click)="confirmModal(item, 'SM')"><i class="fa fa-caret-square-o-right" aria-hidden="true"></i></a>
                                            <a href="javascript:void(0)" ngbTooltip="Approve" *ngIf="item['sts_code'] == 'SM'" class="btn btn-default" (click)="confirmModal(item, 'AP')"><i class="fa fa-check-square" aria-hidden="true"></i></a>
                                            <a href="javascript:void(0)" ngbTooltip="Reject" *ngIf="item['sts_code'] == 'SM'" class="btn btn-default" (click)="confirmModal(item, 'RJ')"><i class="fa fa-ban"></i></a>
                                            <a href="javascript:void(0)" ngbTooltip="Cancel" *ngIf="item['sts_code'] == 'NW'" class="btn btn-default" (click)="confirmModal(item, 'CC')"><i class="fa fa-times-circle"></i></a>
                                            <a href="javascript:void(0)" ngbTooltip="Re Open" *ngIf="item['sts_code'] == 'RJ'" class="btn btn-default" (click)="confirmModal(item, 'RO')"><i class="fa fa-repeat"></i></a>
                                            <!-- <a href="javascript:void(0)" ngbTooltip="Create Return Order" *ngIf="item['sts_code'] == 'RS'" class="btn btn-default" (click)="confirmModal(item, 'RS')"><i class="fa fa-file"></i></a> -->
                                            <a href="javascript:void(0)" ngbTooltip="Copy" class="btn btn-default" (click)="confirmModal(item, 'CLONE')"><i class="fa fa-clone"></i></a>

                                            <a href="javascript:void(0)" ngbTooltip="Edit" *ngIf="item['sts_code'] == 'NW' || item['sts_code'] == 'RV' || !item['total_paid'] && (item['sts_code'] == 'AP' || item['sts_code'] == 'IP' || item['sts_code'] == 'PP' || item['sts_code'] == 'RS') " class="btn btn-default" (click)="edit(item)"><i class="fa fa-pencil-square"></i></a>
                                            <a ngbTooltip="View" class="btn btn-default" [routerLink]="['/order-management/sale-order/detail', item.id]"><i class="fa fa-eye"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                                <tbody *ngIf="list.items.length == 0">
                                    <tr>
                                        <td colspan="100%" class="text-center" translate>No data.</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-12 no-padding">

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row normal-pagination mg-top-10" *ngIf="list.items.length > 0">
            <div class="col-md-6 padding-lr-0">
                <div class="text-left">
                    <div class="col-md-6" style="padding-left: 0px;">
                        <span style="float: left; padding-right: 10px;">{{list.items.length}}/{{tableService.pagination.total_record}}
                            items </span>
                        <select style="width: 50px; float: left;" class="form-control" [(ngModel)]="tableService.pagination.length"
                            (change)="tableService.changeLength()">
                            <option *ngFor="let option of tableService.itemPerPageOptions" [ngValue]="option">{{option}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-6 padding-lr-0">
                <div class="text-right">
                    <ngb-pagination class="d-flex justify-content-end" (pageChange)="tableService.changePage($event)"
                        [pageSize]="tableService.pagination.length" [collectionSize]="tableService.pagination.total_record || 120"
                        [(page)]="tableService.pagination.page" [maxSize]="tableService.maxSize" [rotate]="true"
                        [boundaryLinks]="true"></ngb-pagination>
                </div>
            </div>
        </div>

    </div>
</div>
