<section>
    <div class="block-header bg-red-dark text-white">
        <h3 class="block-title-lg" translate>CREATE NEW SALES ORDER</h3>
        <div class="wrap-keyboard">
            <span class="fa fa-keyboard-o my-own-cheatsheet"></span>
        </div>
    </div>
</section>
<section class="rma-page block">
    <div class="row">
        <div class="col-md-12 mg-top-15">
            <div class="block-border">
                <h5 class="title-border" translate>GENERAL INFORMATION</h5>
                <div class="row">
                    <div class="col-md-12">
                        <form [formGroup]="generalForm" class="form-search full-width form-horizontal">
                            <div class="col-md-4">
                                <label for="code" class="control-label" translate>Customer Name</label>
                                <span class="text-danger">(*)</span>
                                <input type="text" class="form-control" name="code" formControlName="customer_po">
                            </div>
                        </form>
                    </div>
                    <div class="col-md-3">

                    </div>
                    <div class="col-md-3">

                    </div>
                    <div class="col-md-3">

                    </div>
                    <div class="col-md-3">

                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mg-top-15">
            <div class="block-border">
                <h5 class="title-border" translate>BILLING INFORMATION</h5>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-horizontal form-search">
                            <div class="form-group">
                                <label class=" control-label" for="billing_to" translate> Billing To
                                    <span class="text-danger">(*)</span>
                                </label>
                                <div>
                                    <select required class="form-control" id="billing_to" name="search_type" [(ngModel)]="billing" (change)="selectAddress(billing,'billing')">
                                        <option value="" selected="true" hidden="true" translate>Please select</option>
                                        <option *ngFor="let item of order.billing" [ngValue]="item.address_id">{{item.label}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class=" control-label" translate>Name</label>
                                <div>
                                    <input class="form-control" [(ngModel)]="bill['address_name']" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class=" control-label" translate>Address Line</label>
                                <div>
                                    <textarea cols="3" class="form-control" style=" resize: none;" disabled>{{bill['address_line']}}</textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label" translate>Country</label>
                                <div>
                                    <input class="form-control" [(ngModel)]="bill['country_name']" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class=" control-label" translate>City</label>
                                <div>
                                    <input class="form-control" [(ngModel)]="bill['city_name']" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class=" control-label" translate>State/Province</label>
                                <div>
                                    <input class="form-control" [(ngModel)]="bill['state_name']" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class=" control-label" translate>Zip Code</label>
                                <div>
                                    <input [(ngModel)]="bill['zip_code']" class="form-control" disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 mg-top-15">
            <div class="block-border">
                <h5 class="title-border" translate>SHIPPING INFORMATION</h5>
                <div class="row">
                    <div class="col-md-12">
                        <p>This order ships to 2 shipping addresses.</p>
                        <a href="javascript:void(0)"> View detail below</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mg-top-15">
            <div class="block-border">
                <h5 class="title-border" translate>PRODUCTS DETAILS</h5>
                <div class="col-md-12 mg-top-15">
                    <div class="table-responsive">
                        <table class="table table-style table-order custom-table" cdArrowTable [collection]="list.items" [(selectedIndex)]="selectedIndex"
                            (onEnter)="selectData($event)">
                            <thead>
                                <tr>
                                    <th style="width:100px" translate>Action</th>
                                    <th style="width:150px" translate>Part #</th>
                                    <th translate>Product Name</th>
                                    <th class="text-nowrap" style="width:100px" translate>Order QTY</th>
                                    <th class="text-nowrap text-center" translate>Ship To</th>
                                    <th class="text-center" style="width:100px" translate>Cost</th>
                                    <th style="width:100px" translate>Discount</th>
                                    <th translate>Amount</th>
                                </tr>
                            </thead>
                            <tr *ngIf="list['items'].length === 0">
                                <td colspan="100%" class="text-center" translate>No data.</td>
                            </tr>
                            <tbody *ngFor="let item of list.items; let $index = index;">
                                <tr>
                                    <td>
                                        <button class="btn btn-danger btn-xs" type="button" (click)="deleteAction(item.item_id)">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                        <button class="btn btn-primary btn-xs" type="button" (click)="cloneRecord(item, list.items)" [disabled]="!checkCloneRecord(item, list.items[$index])"
                                            title="Add new shipping address">
                                            <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                        </button>
                                    </td>
                                    <td>{{item.part_no}}</td>
                                    <td>{{item.des}}</td>
                                    <td>
                                        <input style="width: 60px;" class="form-control input-sm" type="number" [(ngModel)]="item.order_quantity" min="0" max="1000"
                                            (change)="updateTotal()">
                                    </td>

                                    <td>
                                        <select class="form-control" name="search_type" [(ngModel)]="item.shipping_address_id">
                                            <option value="undefined" selected="true" hidden="true" translate>Please select</option>
                                            <option *ngFor="let item of order.shipping" [ngValue]="item.address_id">{{((item.address_line+', '+item.city_name+', '+item.state_name+', '+item.zip_code+',
                                                '+item.country_name) | uppercase)}}</option>
                                        </select>
                                    </td>
                                    <td>

                                        <div>
                                            <span>$</span>
                                            <div style="display:inline-block;width:80%">
                                                <input class="form-control input-sm" type="number" [(ngModel)]="item.sell_price" (change)="updateTotal()">
                                            </div>
                                        </div>

                                    </td>
                                    <td>
                                        <input class="form-control input-sm" type="number" [(ngModel)]="item.discount" (change)="updateTotal()">
                                    </td>
                                    <td class="text-center">
                                        <span>{{item.totalItem | currency}}</span>

                                    </td>
                                </tr>
                                <tr *ngFor="let product of item.products">
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <input style="width: 60px;" class="form-control input-sm" type="number" [(ngModel)]="product.order_quantity" min="0" max="1000"
                                            (change)="updateTotal()">
                                    </td>
                                    <td>
                                        <select class="form-control" name="search_type" [(ngModel)]="product.shipping_address_id">
                                            <option value="undefined" selected="true" hidden="true" translate>Please select</option>
                                            <option *ngFor="let item of order.shipping" [ngValue]="item.address_id">{{((item.address_line+', '+item.city_name+', '+tate_name+', '+item.zip_code+',
                                                '+item.country_name) | uppercase)}}</option>
                                        </select>
                                    </td>
                                    <td>
                                        <button class="btn btn-danger btn-xs" type="button" (click)="removeSubProduct(product, item.products, list.items)" style="line-height: 18px;">
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                        </button>
                                    </td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-12 mg-top-15">
                    <a href="javascript:void(0)" (click)="addNewItem(list.items,1, order_info.company_id )" translate>Add New Item</a>
                </div>
                <div class="col-md-12 mg-top-15">
                    <div class="row">
                        <div class="col-md-4">
                            <label for="">Note</label>
                            <div>
                                <textarea class="form-control" name="" id="" rows="5"></textarea>
                            </div>
                        </div>
                        <div class="col-md-4">
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-4 col-sm-4 col-xs-4">
                                    <label class="control-label" translate>Sub Total:</label>
                                </div>
                                <div class="col-md-8 col-sm-8 col-xs-8">
                                    <label class="pull-right">{{order_info.sub_total | currency}}</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <label class="control-label" style="font-weight: 400" translate>+ Shipping cost ($):</label>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <input class="form-control" [(ngModel)]="order_info.shipping_cost" class="form-control" type="text" (change)="updateTotal()">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 col-sm-3 col-xs-3">
                                    <label class="control-label" style="font-weight: 400" translate>- Discount (%):</label>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-3">
                                    <input class="form-control" [(ngModel)]="order_info.discount_percent" class="form-control" type="text" (change)="updateTotal()">
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <input class="form-control" readonly="true" [(ngModel)]="order_info.total_discount" class="form-control" value="0" type="number">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 col-sm-3 col-xs-3">
                                    <label class="control-label" style="font-weight: 400" translate>+ TAX/VAT (%):</label>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-3">
                                    <input class="form-control" [(ngModel)]="order_info.vat_percent" class="form-control" type="text" (change)="updateTotal()">
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <input class="form-control" readonly="true" [(ngModel)]="order_info['vat_percent_amount']" class="form-control" value="0"
                                        type="number">
                                </div>
                            </div>
                            <div class="row" style="margin-top: 10px;">
                                <div class="col-md-4 col-sm-4 col-xs-4">
                                    <label class="control-label" style="font-weight: 800;" translate>Total:</label>
                                </div>
                                <div class="col-md-8 col-sm-8 col-xs-8">
                                    <label class="pull-right" style="font-weight: 800; text-align: right">{{order_info.total | currency}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mg-top-15 text-center">
            <button [disabled]="!generalForm.valid || !bill || !order_info['payment_method']" type="button" class="btn btn-primary" (click)="createOrder()"
                translate>Save As Draff</button>
            <button [disabled]="!generalForm.valid || !bill || !order_info['payment_method']" type="button" class="btn btn-primary" (click)="createOrder()"
                translate>Save</button>
            <button [disabled]="!generalForm.valid || !bill || !order_info['payment_method']" type="button" class="btn btn-primary" (click)="createOrder()"
                translate>Save & Submit</button>
            <button type="button" class="btn btn-default" [routerLink]="['/order-management/sale-order']" translate>Cancel</button>
        </div>
    </div>
</section>