<div [@routerTransition]>
    <app-page-header [heading]="'LIST OF ORDERS'" [icon]="'fa-th-list'"></app-page-header>

    <div class="block anchor-scroll">

        <div class="block-content pd-bottom bg-gray-light">
            <div class="row">
                <div class="col-9">
                    <form class="row form-horizontal form-search filter-order-group" role="form" [formGroup]="searchForm">
                        <div class="col-md-2">
                            <label for="cd" class="control-label" translate>SO #</label>
                            <input type="text" name="cd" formControlName="code" class="form-control" id="cd" placeholder="" capitalize>
                        </div>
                        <div class="col-md-2">
                            <label for="purchase_quote_cd" class="control-label">Cust PO #</label>
                            <input type="text" name="purchase_quote_cd" formControlName="cus_po" class="form-control" id="purchase_quote_cd" placeholder=""
                                >
                        </div>
                        <!-- <div class="col-md-2">
                            <label for="contract_no" class="control-label">Sales Quote #</label>
                            <input type="text" name="contract_no" formControlName="sale_quote_num" class="form-control" id="contract_no" placeholder=""
                                >
                        </div> -->
                        <div class="col-md-2">
                            <label for="part" class="control-label">Type</label>
                            <ng-select [multiple]="true" [items]="listMaster['type']" bindLabel="name" bindValue="id" formControlName="type">
                            </ng-select>
                        </div>
                        <div class="col-md-2">
                            <label for="po_status_id" class="control-label">Status</label>
                            <ng-select [multiple]="true" [items]="listMaster['status']" bindLabel="name" bindValue="id" formControlName="sts">
                            </ng-select>
                        </div>
                        <div class="col-md-2">
                            <label for="cd" class="control-label" translate>Customer</label>
                            <input type="text" name="cd" formControlName="buyer_name" class="form-control" id="cd" placeholder="" capitalize>
                        </div>

                        <ng-container *ngIf="listMoreFilter[0].value">
                            <div class="col-md-2">
                                <label for="" class="control-label" translate> Order Date</label>
                                <div clickOutside (clickOutside)="d.close()" class="input-group">
                                    <input [maxDate]="searchForm.value.date_to | dateObj" class="form-control" placeholder="yyyy-mm-dd" name="dp" formControlName="date_from"
                                        [autoClose]="true" ngbDatepicker #d="ngbDatepicker">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                                            <i class="fa fa-calendar" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label for="" class="control-label" translate> &nbsp;</label>
                                <div clickOutside (clickOutside)="dt.close()" class="input-group">
                                    <input [minDate]="searchForm.value.date_from | dateObj" class="form-control" placeholder="yyyy-mm-dd" name="dp" formControlName="date_to"
                                        [autoClose]="true" ngbDatepicker #dt="ngbDatepicker">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" (click)="dt.toggle()" type="button">
                                            <i class="fa fa-calendar" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label for="" class="control-label" translate> Delivery Date</label>
                                <div clickOutside (clickOutside)="d1.close()" class="input-group">
                                    <input [maxDate]="searchForm.value.ship_date_to | dateObj" class="form-control" placeholder="yyyy-mm-dd" name="dp" formControlName="ship_date_from"
                                        [autoClose]="true" ngbDatepicker #d1="ngbDatepicker">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" (click)="d1.toggle()" type="button">
                                            <i class="fa fa-calendar" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label for="" class="control-label" translate> &nbsp;</label>
                                <div clickOutside (clickOutside)="dt1.close()" class="input-group">
                                    <input [minDate]="searchForm.value.ship_date_from | dateObj" class="form-control" placeholder="yyyy-mm-dd" name="dp" formControlName="date_to"
                                        [autoClose]="true" ngbDatepicker #dt1="ngbDatepicker">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" (click)="dt1.toggle()" type="button">
                                            <i class="fa fa-calendar" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </form>
                </div>
                <div class="col-3">
                    <div class="block-btn-search">
                        <label class="control-label">&nbsp;</label>
                        <div class="group-btn-search">
                            <button type="button" class="btn btn-primary" (click)="onoffFilter = !onoffFilter">More Filter</button>
                            <div class="show-more" *ngIf="onoffFilter">
                                <ul>
                                    <li *ngFor="let item of listMoreFilter; let i = index;">
                                        <label for="{{i}}">
                                            <input type="checkbox" value="item.value" [(ngModel)]="item.value"> {{item.name}}
                                        </label>
                                    </li>
                                </ul>
                            </div>
                            <button type="button" class="btn btn-primary" (click)="tableService.searchAction()">Search</button>
                            <button type="button" class="btn btn-default" (click)="tableService.resetAction(this.searchForm)">Reset</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="block-content list-order-table">
            <button [routerLink]="['create']" style="margin: 10px 0;" class="btn btn-primary">Create Order</button>

            <div class="table-responsive">
                <table class="table table-striped table-vcenter custom-table" cdArrowTable [collection]="list.items" [(selectedIndex)]="selectedIndex"
                    (onEnter)="selectData($event)">
                    <thead class="bg-white">
                        <tr>
                            <th style="width:50px"></th>
                            <th translate>SO #</th>
                            <th translate>Cust PO #</th>
                            <!-- <th translate>Sales Quote #</th> -->
                            <th translate>Customer</th>
                            <th class="text-center " translate>Type</th>
                            <th class="text-center" translate>Order date</th>
                            <th class="text-center" translate>Delivery date</th>
                            <th class="text-center" translate>Total</th>
                            <th translate>Status</th>
                            <!-- <th translate>Action</th> -->
                        </tr>
                    </thead>
                    <tbody *ngFor="let item of  list.items; let i = index;" [ngClass]="{'row-selected': i == selectedIndex}">
                        <tr>
                            <td>
                                <img *ngIf="item.sts_code!='CP'" src="assets/img/qbicon-gray.png" width="20px" height="20px">
                                <a *ngIf="item.sts_code=='CP'" href="https://sandbox.qbo.intuit.com/app/sales" target="_blank">
                                    <img placement="top" ngbTooltip="Sent Invoice To QuickBooks {{item.updated_at}}" src="../../assets/img/qbicons.png"
                                        width="20px" height="20px">
                                </a>
                            </td>
                            <td>
                                <a [routerLink]="['detail', item.id]">#{{item.code}}</a>
                                <!-- #{{item.code}} -->
                            </td>
                            <td>{{item.cus_po}}</td>
                            <!-- <td>{{item.sale_quote_num}}</td> -->
                            <td>{{item.buyer_name}}</td>
                            <td class="text-center">
                                <span *ngIf="item.type == 'PKU'">Pickup</span>
                                <span *ngIf="item.type == 'ONL'">Ecommerce</span>
                                <span *ngIf="item.type == 'NO'">Regular Order</span>
                            </td>
                            <td class="text-center">{{item.order_date | date:'yyyy-MM-dd'}}</td>
                            <td class="text-center">{{item.ship_date | date:'yyyy-MM-dd'}}</td>

                            <td class="text-center">{{item.total_price | currency}}</td>
                            <td>
                                <span class="label label-info" *ngIf="item.sts_code == 'NW'">{{item.sts}}</span>
                                <span class="label label-warning" *ngIf="item.sts_code == 'IP'">{{item.sts}}</span>
                                <span class="label label-danger" *ngIf="item.sts_code == 'PD'">{{item.sts}}</span>
                                <span class="label  label-success" *ngIf="item.sts_code == 'CP'">{{item.sts}}</span>
                                <span class="label  label-success" *ngIf="item.sts_code == 'AP'">{{item.sts}}</span>
                                <span class="label  label-draft" *ngIf="item.sts_code == 'Draft'">{{item.sts}}</span>
                            </td>
                            <!-- <td class="text-nowrap">
                                <button placement="top" ngbTooltip="Approve" *ngIf="item.sts_code == 'NW'" type="button" class="btn btn-default" (click)="putApproveOrder(item.id)"><i class="fa fa-check-square"></i></button>
                                <button placement="top" ngbTooltip="Clone Order" type="button" class="btn btn-default" (click)="cloneOrder(item.id)"><i class="fa fa-clone"></i></button>
                            </td> -->
                        </tr>
                    </tbody>
                    <tbody *ngIf="list.items.length == 0">
                        <tr>
                            <td colspan="100%" class="text-center" translate>No data.</td>
                        </tr>
                    </tbody>
                </table>
            </div>


            <div class="row normal-pagination" *ngIf="list.items.length > 0">
                <div class="col-md-6">
                    <div class="text-left">
                        <div class="col-md-6" style="padding-left: 0px;">
                            <span style="float: left; padding-right: 10px;">{{list.items.length}}/{{tableService.pagination.total_record}} items </span>
                            <select style="width: 50px; float: left;" class="form-control" [(ngModel)]="tableService.pagination.length" (change)="tableService.changeLength()">
                                <option *ngFor="let option of tableService.itemPerPageOptions" [ngValue]="option">{{option}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="text-right">
                        <ngb-pagination class="d-flex justify-content-end" (pageChange)="tableService.changePage($event)" [pageSize]="tableService.pagination.length"
                            [collectionSize]="tableService.pagination.total_record || 120" [(page)]="tableService.pagination.page"
                            [maxSize]="tableService.maxSize" [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
