<div [@routerTransition]>
    <app-page-header [heading]="'LIST OF DISCOUNT CATEGORY'" [icon]="'fa-th-list'"></app-page-header>
    <app-shortcut [listShortcut]='keyService.getKeys()'></app-shortcut>
    <div class="block anchor-scroll block-order">
        <div class="row mg-top-10">
            <div class="col-12">
                <div class="card no-border">
                    <div class="card-header">
                        <strong>Line Items</strong>
                        <button *ngIf="listMaster['permission'].create" (click)="createDiscountCategory()" style="margin:0; float:right" class="btn btn-link">
                            <i class="fa fa-plus text-success"></i> Add New</button>
                    </div>
                    <div class="card-body no-padding">
                        <div class="table-responsive list">
                            <table class="table table-bordered table-order"
                            cdArrowTable [collection]="list.items" [(selectedIndex)]="selectedIndex" (onEnter)="selectData($event)">
                                <thead class="bg-white">
                                    <tr>
                                        <th>ID</th>
                                        <th>Code</th>
                                        <th>Description</th>
                                        <th>Status</th>
                                        <th>Created On</th>
                                        <th>Updated On</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody *ngFor="let item of  list.items; let i = index;" [ngClass]="{'row-selected': i == selectedIndex}">
                                    <tr>
                                        <td>{{i+1}}</td>
                                        <td>{{item.code }}</td>
                                        <td>{{item.des}}</td>
                                        <td class="text-center">
                                          <span *ngIf="item.ac">Active</span>
                                          <span *ngIf="!item.ac">In-Active</span>
                                        </td>
                                        <td class="text-center">{{item.created_dt}}</td>
                                        <td class="text-center">{{item.updated_dt}}</td>
                                        <td>
                                          <button *ngIf="listMaster['permission'].edit" type="button" class="btn btn-link" [routerLink]="['/admin-panel/discount-category/edit/', item.id]">
                                              <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                          </button>
                                        </td>
                                    </tr>
                                </tbody>
                                <tbody *ngIf="list.items.length == 0">
                                    <tr>
                                        <td colspan="100%" class="text-center" translate>No data.</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-12 no-padding">

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row normal-pagination" *ngIf="list.items.length > 0">
            <div class="col-md-6">
                <div class="text-left">
                    <div class="col-md-6" style="padding-left: 0px;">
                        <span style="float: left; padding-right: 10px;">{{list.items.length}}/{{tableService.pagination.total_record}} items </span>
                        <select style="width: 50px; float: left;" class="form-control" [(ngModel)]="tableService.pagination.length" (change)="tableService.changeLength()">
                            <option *ngFor="let option of tableService.itemPerPageOptions" [ngValue]="option">{{option}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="text-right">
                    <ngb-pagination class="d-flex justify-content-end" (pageChange)="tableService.changePage($event)" [pageSize]="tableService.pagination.length"
                        [collectionSize]="tableService.pagination.total_record || 120" [(page)]="tableService.pagination.page"
                        [maxSize]="tableService.maxSize" [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
                </div>
            </div>
        </div>
    </div>
</div>
