<div [@routerTransition]>
    <app-page-header [heading]="'DETAIL DISCOUNT BY CATEGORY'" [icon]="'fa-th-list'"></app-page-header>
    <app-shortcut [listShortcut]='keyService.getKeys()'></app-shortcut>
    <section class="rma-page block">
        <div class="bd-example text-right mg-t-15">
            <button class="btn btn-outline-dark" [routerLink]="['/admin-panel/discount-category']">Back To List</button>
        </div>
        <div class="custom-border card height-100 mg-bt-15 mg-t-15">
            <div class="card-header">
                <strong>GENERAL INFORMATION</strong>
            </div>
            <div class="card-body">
                <form [formGroup]="generalForm" class="form-search full-width form-horizontal">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group row">
                                <label for="code" class="col-sm-4 col-form-label">Code
                                    <span class="text-danger">(*)</span>
                                </label>
                                <div class="col-sm-8">
                                    <input type="text" readonly class="form-control-plaintext" name="code" formControlName="code">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group row">
                                <label for="description" class="col-sm-4 col-form-label">Description
                                </label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="description" formControlName="description" [keyConfig]="keyService.getKeyConfig()" appKeyNavigate="description">
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-md-3">
                            <div class="form-group row">
                                <label for="start_date" class="col-sm-4 col-form-label">Start Date</label>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <input class="form-control" placeholder="mm/dd/yyyy" name="dp" formControlName="start_date" ngbDatepicker #d1="ngbDatepicker">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary" (click)="d1.toggle()" type="button">
                                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <div class="col-md-3">
                            <div class="form-group row">
                                <label for="ac" class="col-sm-4 col-form-label">Status
                                    <span class="text-danger">(*)</span>
                                </label>
                                <div class="col-sm-8">
                                    <select class="form-control" name="ac" formControlName="ac">
                                        <option value="null" selected="true">--Select--</option>
                                        <option *ngFor="let item of listMaster['status']" [ngValue]="item.code">{{item.name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="w-100"></div>
                        <div class="col-md-3">
                            <div class="form-group row">
                                <label for="create_by" class="col-sm-4 col-form-label">Created By
                                </label>
                                <div class="col-sm-8">
                                    <input type="text" readonly class="form-control-plaintext" name="create_by" formControlName="create_by">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group row">
                                <label for="create_dt" class="col-sm-4 col-form-label">Create Date
                                </label>
                                <div class="col-sm-8">
                                    <input type="text" readonly class="form-control-plaintext" name="create_dt" formControlName="create_dt">
                                </div>
                            </div>
                        </div> -->
                    </div>
                </form>
            </div>
        </div>

        <div class="row mg-top-10 mg-t-15">
            <div class="col-12 padding-lr-5">
                <div class="card no-border">
                    <div class="card-header">
                        <strong>CATEGORIES:</strong>
                        <strong class="text-danger">{{data['products'].length}}</strong>
                        <span *ngIf="data['products'].length > 1">Records</span>
                        <span *ngIf="data['products'].length <= 1">Record</span>
                        <div class="wrap-keyboard right-toggle-button" (click)="flagAddress = !flagAddress">
                            <span class="fa" [ngClass]="{'fa-minus': flagAddress,'fa-plus': !flagAddress}"></span>
                        </div>
                    </div>
                    <div [hidden]="!flagAddress" class="card-body no-padding">
                        <div class="customer-content-toggle table-responsive mg-bt-15">
                            <form #myForm="ngForm">
                                <table class="table table-bordered table-order">
                                    <thead>
                                        <tr>
                                            <th> Product Category <span class="text-danger">(*)</span></th>
                                            <th> Apply For SubCategory <span class="text-danger">(*)</span></th>
                                            <th> Sub Category <span class="text-danger">(*)</span></th>
                                            <th> Discount Value % <span class="text-danger">(*)</span></th>
                                            <th> Action </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of data['products']; let i = index">
                                            <td>
                                                <ng-select (change)="changeCategory(item.category_id, item)" [items]="listMaster['category']" [disabled]="disabled" bindLabel="name" bindValue="category_id" [(ngModel)]="item.category_id" name="category_id{{i}}" required #category_id="ngModel">
                                                </ng-select>
                                                <div class="text-danger" *ngIf="category_id.invalid"> This field is required </div>
                                            </td>
                                            <td>
                                                <ng-select (change)="changeType(item.apply_for, item)" [items]="item.listType" [disabled]="disabled" bindLabel="value" bindValue="id" [(ngModel)]="item.apply_for" name="apply_for{{i}}" required #apply_for="ngModel">
                                                </ng-select>
                                                <div class="text-danger" *ngIf="apply_for.invalid"> This field is required </div>
                                            </td>
                                            <td>
                                                <ng-container *ngIf="item.apply_for == '2'">
                                                    <ng-select class="sub-category" (change)="changeToGetSubCategory(item.sub_category_id, item)" (remove)="removeSelected($event, item.sub_category_id, item)" [multiple]="true" [items]="item.listSubCategory" [disabled]="disabled" bindLabel="name" bindValue="category_id" [(ngModel)]="item.sub_category_id" name="sub_category_id{{i}}" required #sub_category_id="ngModel">
                                                    </ng-select>
                                                    <div class="text-danger" *ngIf="sub_category_id.invalid"> This field is required </div>
                                                </ng-container>
                                                <ng-container *ngIf="item.apply_for == '1'">All Sub Categories</ng-container>
                                            </td>
                                            <td>
                                                <input type="number" OnlyNumber="true" class="form-control" [(ngModel)]="item.discount" name="discount{{i}}" required #discount="ngModel">
                                                <div class="text-danger" *ngIf="discount.invalid"> This field is required </div>
                                            </td>
                                            <td class="text-center">
                                                <button type="button" class="btn btn-default" (click)="removeLine(i, item)">
                                                    <i class="fa fa-times" aria-hidden="true"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </form>
                        </div>
                        <button type="button" class="btn btn-outline-dark" (click)="addNewLine()">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                            Add new line
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="block-content block-content-full text-center" style="margin-top:15px;">
            <button type="button" class="btn btn-default" [routerLink]="['/admin-panel/discount-category']">Cancel</button>
            <button type="button" [disabled]="(generalForm.invalid) || (data['products'].length <= 0) || myForm.invalid" class="btn btn-outline-primary" (click)="createDiscountCategory()">Save</button>
        </div>
    </section>
</div>
