.block-header {
    padding: 4px 15px;
    transition: opacity 0.2s ease-out;
    background-color: #dc3545;
    color: #ffffff;

    .parent-company {
        margin-left: 15px;
        font-size: 11px;
        font-weight: normal;
        text-transform: initial;
    }

    .block-title-lg {
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase;
        line-height: 1.2;
        display: inline;
        display: inline-block;
        padding-top: 3px;
        margin-bottom: 0;
    }
}

.right-toggle-button {
    // margin-top: -20px;
}

.customer-content-toggle {
    // max-height: 140px;
    // overflow-x: auto;
}

fieldset.custom-border {
    border: 1px solid #e0e0e0;
    padding: 10px;
    margin-top: 15px;

    legend.custom-border {
        font-size: 1.2em;
        font-weight: bold;
        text-align: left;
        width: auto;
        padding: 0 10px;
        border-bottom: none;
    }

    .form-group {
        margin-bottom: 0;

        .col-form-label {
            font-size: 12px;
        }
    }
}

div.custom-header {
    border-bottom: 1px solid #ddd;

    h3.custom-header {
        font-size: 13px;
        font-weight: 600;
        text-transform: uppercase;
        line-height: 1.2;
        display: inline;
        color: #4f5050;

        span {
            text-transform: capitalize;
            color: #7b7a7a;
            font-weight: 400;
        }
    }

    .wrap-keyboard {
        span {
            font-size: 13px;
            cursor: pointer;
            color: #dc3545;
        }
    }
}

.main-container {
    padding: 10px 8px;

    .information-tab {
        margin-top: 10px;
        border: 1px solid #dee2e6;
        border-top: none;
    }

    .scroll-container {
        height: 238px;
        overflow: auto;
    }

    .table-custom {
        thead th {
            padding: 5px 10px;
            border: none;
            background-color: #d2d2d2;
        }

        tbody td {
            padding: 10px;
        }
    }

    .address-tab {
        padding: 15px 15px 0;

        .block-search {
            max-width: 125px;
        }
    }

    .customer-infomation {
        padding: 15px 15px 5px;
        background-color: #ededed;

        label {
            font-weight: bold;
        }

        &.bolder {
            background-color: #dbdbdb;
        }
    }
}
