<div [@routerTransition]>
    <app-page-header [heading]="'CREATE NEW RECEIPT VOUCHER'"></app-page-header>
    <app-shortcut [listShortcut]='keyService.getKeys()'></app-shortcut>
    <section class="rma-page block main-container block-order">
        <div class="row block-info">
            <div class="col-md-12 p-l-5 p-r-2">
                <div class="card height-100">
                    <div class="card-header">
                        <strong>Information</strong>
                    </div>
                    <div class="card-body">
                        <div class="row information  height-100">
                            <div class="col-md-12 fix-padding">
                                <div class="row">
                                    <div class="col-md-3 bolder ">
                                        <form [formGroup]="generalForm">
                                            <div class="form-group row">
                                                <label class='col-6 control-label'>Payer 
                                                <span class="text-danger">(*)</span>                                                
                                                </label>
                                                <div class='col-6 text-primary'>
                                                    <ng-select [ngClass]="{'border border-danger': (this.data['showError'] && this.generalForm.get('payer_id').errors?.required) || false   }" [keyConfig]="keyService.getKeyConfig()" appKeyNavigate="company_id" [typeahead]="searchKey" (scrollToEnd)="fetchMoreCustomer($event)"
                                                        [virtualScroll]="true" style="min-width: 100%;" [items]="listMaster['customer']" bindLabel="company_name" bindValue="id" formControlName="payer_id">
                                                    </ng-select>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class='col-6'>Voucher No
                                                    <span class="text-danger">(*)</span>
                                                </label>
                                                <div class='col-6 text-primary'>
                                                    <input readonly type="text" class="form-control" formControlName="voucher_no">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class='col-6'>Payment Date
                                                    <span class="text-danger">(*)</span>
                                                </label>
                                                <div class='col-6 text-primary'>
                                                    <div [ngClass]="{'border border-danger': (this.data['showError'] && this.generalForm.get('payment_dt').errors?.required) || false   }" clickOutside (clickOutside)="paymentDate.close()" class="input-group">
                                                        <input [maxDate]="generalForm.value.payment_dt | dateObj" class="form-control" placeholder="mm/dd/yyyy" name="dp" formControlName="payment_dt" ngbDatepicker #paymentDate="ngbDatepicker">
                                                        <div class="input-group-append">
                                                            <button class="btn btn-outline-secondary" (click)="paymentDate.toggle()" type="button">
                                                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class='col-6'>Warehouse
                                                    <span class="text-danger">(*)</span>
                                                </label>
                                                <div class='col-6'>
                                                    <select [ngClass]="{'border border-danger': (this.data['showError'] && this.generalForm.get('warehouse_id').errors?.required) || false   }" class="form-control" name="warehouse_id" formControlName="warehouse_id">
                                                        <option [hidden]="true" [disabled]="true"  [ngValue]="null">--Select--</option>
                                                        <option *ngFor="let item of listMaster['warehouses']" [ngValue]="item.id">{{item.name}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="col-md-3 customer-infomation  ">
                                        <form [formGroup]="generalForm">
                                            <div class="form-group row">
                                                <label class='col-6'>Electronic Payment
                                                        <span class="text-danger">(*)</span>
                                                </label>
                                                <div class='col-6'>
                                                    <select [ngClass]="{'border border-danger': (this.data['showError'] && this.generalForm.get('is_electronic').errors?.required) || false   }" class="form-control" formControlName="is_electronic">
                                                        <option [hidden]="true" [disabled]="true"  [ngValue]="null">--Select--</option>                                                        
                                                        <option *ngFor="let item of listMaster['yes_no_options']" [ngValue]="item.value">{{item.label}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class='col-6'>Payment Method<span class="text-danger">(*)</span></label>
                                                <div class='col-6 text-primary'>
                                                    <select [ngClass]="{'border border-danger': (this.data['showError'] && this.generalForm.get('payment_method_id').errors?.required) || false   }" class="form-control" id="payment_method_id" name="payment_method_id" formControlName="payment_method_id">
                                                        <option [hidden]="true" [disabled]="true"  [ngValue]="null">--Select--</option>
                                                        <option *ngFor="let item of listMaster['payment_method']" [ngValue]="item.id">{{item.name}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div *ngIf="generalForm.value.payment_method_id == 'manual'" class="form-group row">
                                                <label class='col-6'> Check Number 
                                                    <span class="text-danger">(*)</span>
                                                </label>
                                                <div class='col-6'>
                                                    <div class="input-group">
                                                        <input [ngClass]="{'border border-danger': (this.data['showError'] && this.generalForm.get('check_no').errors?.required) || false   }" type="number" class="form-control" formControlName="check_no">
                                                    </div>
                                                </div>
                                            </div>
                                            <div *ngIf="generalForm.value.payment_method_id == 'check'" class="form-group row">
                                                <label class='col-6'> Reference Number 
                                                    <span class="text-danger">(*)</span>
                                                </label>
                                                <div class='col-6'>
                                                    <div class="input-group">
                                                        <input [ngClass]="{'border border-danger': (this.data['showError'] && this.generalForm.get('ref_no').errors?.required) || false   }" type="number" class="form-control" formControlName="ref_no">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class='col-6'> Account Received
                                                    <span class="text-danger">(*)</span>
                                                </label>
                                                <div class='col-6'>
                                                    <div class="input-group">
                                                        <input [ngClass]="{'border border-danger': (this.data['showError'] && this.generalForm.get('amount_received').errors?.required) || false   }" type="number" class="form-control" formControlName="amount_received">
                                                        <div class="input-group-append">
                                                            <span class="input-group-text" id="basic-addon2">$</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div *ngIf="generalForm.value.payment_method_id == 'check'" class="form-group row">
                                                <label class='col-6'> Remaining Amount
                                                    <span class="text-danger">(*)</span>
                                                </label>
                                                <div class='col-6'>
                                                    <div class="input-group">
                                                        <input [ngClass]="{'border border-danger': (this.data['showError'] && this.generalForm.get('remain_amt').errors?.required) || false   }" readonly type="number" class="form-control" formControlName="remain_amt">
                                                        <div class="input-group-append">
                                                            <span class="input-group-text" id="basic-addon2">$</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class='col-6'>Deposit G/L Account
                                                        <span class="text-danger">(*)</span>                                                        
                                                </label>
                                                <div class='col-6'>
                                                    <ng-select [ngClass]="{'border border-danger': (this.data['showError'] && this.generalForm.get('parent_id').errors?.required) || false   }" [items]="listMaster['parents']" formControlName="parent_id" bindLabel="des" bindValue="id">
                                                        <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                                                            <span [ngClass]="{'pl-3': item.level == 1, 'pl-5': item.level == 2}">{{ item.des }}</span>
                                                        </ng-template>
                                                    </ng-select>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="col-md-3 customer-infomation bolder  ">
                                        <form [formGroup]="generalForm">
                                            <div class="form-group row">
                                                <label class='col-6'>Status</label>
                                                <div class='col-6 text-success'>
                                                    <strong>1-NEW</strong>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class='col-6'>Created By</label>
                                                <div class='col-6'>
                                                    <strong>{{generalForm.value.created_by }}</strong>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class='col-6'>Approver
                                                    <span class="text-danger">(*)</span>
                                                </label>
                                                <div class='col-6'>
                                                    <select [ngClass]="{'border border-danger': (this.data['showError'] && this.generalForm.get('approver_id').errors?.required) || false   }" class="form-control" id="approver_id" name="approver_id" formControlName="approver_id">
                                                        <option [hidden]="true" [disabled]="true"  [ngValue]="null">--Select--</option>
                                                        <option *ngFor="let item of listMaster['sale_mans']" [ngValue]="item.id">{{item.full_name}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class='col-6'>Last Updated Date</label>
                                                <div class='col-6'>
                                                    <strong>{{generalForm.value.updated_date }}</strong>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class='col-6'>Last Updated By</label>
                                                <div class='col-6'>
                                                    <strong>{{generalForm.value.updated_by }}</strong>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mg-top-10">
            <div class="col-12 p-l-5 p-r-5 ">
                <div class="card no-border">
                    <div class="card-header">
                        <strong>Outstanding Invoices & Debit Memo</strong>
                    </div>
                    <div class="card-body no-padding">
                        <div class="search-invoice">
                            <div>
                                <i class="fa fa-search"></i>
                                <input (keyup.enter)="getListInvoiceAndMemo()" [(ngModel)]="data['search']" type="text" placeholder="Search Invoice & Debit Memo">
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered table-order" cdArrowTable [collection]="list.items" [(selectedIndex)]="selectedIndex" (onEnter)="selectData($event)">
                                <thead>
                                    <tr>
                                        <th>
                                            <label class="css-input css-checkbox css-checkbox-default">
                                                <input class="cb-all" type="checkbox" [(ngModel)]="checkAllItem" (change)="checkAll($event)">
                                                <span></span>
                                            </label>
                                        </th>
                                        <th translate>No.</th>
                                        <th style="width:150px" translate>Document No</th>
                                        <th translate>Issue Date</th>
                                        <th translate>Due Date</th>
                                        <th translate>Payment Term</th>
                                        <th translate>Status</th>
                                        <th translate>Current Balance</th>
                                        <th translate>Awaiting Approval Payment</th>
                                        <th translate>Balance Due</th>
                                        <th translate style="width: 100px;">Applied Amount</th>
                                    </tr>
                                </thead>
                                <tbody *ngIf="list['items'].length === 0">
                                    <tr>
                                        <td colspan="100%" class="text-center" translate>No data.</td>
                                    </tr>
                                </tbody>
                                <ng-container *ngIf="list['items'].length > 0">
                                    <tbody *ngFor="let item of list['items']; let $index = index;">
                                        <tr>
                                            <td class="text-center">
                                                <label class="css-input css-checkbox css-checkbox-default">
                                                    <input class="cb-element" type="checkbox" [(ngModel)]="item.is_checked" (change)="isAllChecked()">
                                                    <span></span>
                                                </label>
                                            </td>
                                            <td>
                                                {{$index + 1}}
                                            </td>
                                            <td>{{item.sku }}</td>
                                            <td>{{item.sku }}</td>
                                            <td>{{item.sku }}</td>
                                            <td>{{item.sku }}</td>
                                            <td>{{item.sku }}</td>
                                            <td>{{item.sku | currency }}</td>
                                            <td>
                                                <a href="javascript:void(0)">
                                                    {{ item.sku | currency }}
                                                </a>
                                            </td>
                                            <td>{{item.sku | currency }}</td>
                                            <td>
                                                <input (changeValue)='updateTotal(item)' [isDecimal]="true" numberDirective  [min]="0" class="form-control input-sm" type="number" [(ngModel)]="item.applied_amt">
                                            </td>
                                        </tr>
                                    </tbody>
                                </ng-container>

                            </table>
                        </div>
                        <div>
                            <button (click)="clearPayment()" class="btn btn-secondary mt-2">Clear Payment</button>
                            <p class="text-danger mt-2">
                                (*) For the invoice document, the Current Balance is including the early payment incentive if any.
                                <br> (**) If you enter a partial payment for an invoice on which an Early Payment Incentive is active you will remove the discount opportunity.
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mg-top-10 padding-child-5 justify-content-end">
            <div class="col-md-3">
                <div class="card height-100">
                    <div class="card-header">
                        <strong>Notes</strong>
                    </div>
                    <div class="card-body no-padding">
                        <form [formGroup]="generalForm">
                            <div>
                                <textarea class="form-control border-0" formControlName="note" rows="7" style="resize:none"></textarea>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card height-100">
                    <div class="card-header">
                        <strong>Summary</strong>
                    </div>
                    <div class="card-body p-17">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group row">
                                    <label class='col-5 control-label'>
                                        <strong >Amount Received</strong>
                                    </label>
                                    <div class='col-6 offset-md-1 padding-lr-10 text-primary'>
                                        <strong>{{ generalForm.value.amount_received | currency}}</strong>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class='col-5 control-label'>
                                        <strong>Applied Amount</strong>
                                    </label>
                                    <div class='col-6 offset-md-1 padding-lr-10'>
                                        <strong class="text-success">{{data['summary']?.total | currency}}</strong>
                                    </div>
                                </div>
                                <div  class="form-group row">
                                    <label class='col-5 control-label'>
                                            <strong>Change</strong>
                                        </label>
                                    <div class='col-6 offset-md-1 padding-lr-10'>
                                        <strong>{{data['summary']?.change | currency}}</strong>
                                    </div>
                                </div>
                                <ng-container *ngIf="generalForm.value.payment_method_id == 'manual'">
                                    <div class="form-group row">
                                        <label class='col-5 control-label'>
                                                <strong>Remaining Amount</strong>
                                            </label>
                                        <div class='col-6 offset-md-1 padding-lr-10'>
                                            <strong>{{data['summary']?.change | currency}}</strong>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class='col-5 control-label'>
                                                <strong>Amount to Credit</strong>
                                            </label>
                                        <div class='col-6 offset-md-1 padding-lr-10'>
                                            <strong>{{data['amount_to_credit'] | currency}}</strong>
                                        </div>
                                    </div>
                                </ng-container>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mg-top-15 text-center">
                <button type="button" class="btn btn-outline-info" (click)="createVoucher(1, 1)" translate>Save As Draft</button>
                <button type="button" class="btn btn-outline-danger" (click)="confirmModal((data['summary']?.change > 0)? 'overpayment': 2)" translate>Submit</button>
                <button type="button" class="btn btn-outline-success" (click)="confirmModal((data['summary']?.change > 0)? 'overpayment-approve': 4)" translate>Save & Validate</button>
                <button type="button" class="btn btn-outline-dark" (click)="createVoucher(1, 1, 1); resetVoucher();" translate>Save & Create New Receipt Voucher</button>
                <button type="button" class="btn btn-default" (click)="confirmModal(0)" translate>Back To List</button>
            </div>
        </div>
    </section>
</div>