<div [@routerTransition]>
    <h2 class="text-muted">Dashboard <small>Statistics Overview</small></h2>

    <div class="row">
        <div class="col-sm-12">
            <table class="table table-striped custom-table-single">
                <thead>
                    <tr>
                        <th class="text-nowrap" role="button"> Ship. No </th>
                        <th role="button"> Issue Date </th>
                        <th role="button"> SO # </th>
                        <th role="button"> ETD </th>
                        <th role="button"> ETA </th>
                        <th role="button"> Trucker </th>
                        <th role="button"> Freight Forwarder</th>
                        <th role="button"> Total Cartons </th>
                        <th role="button"> Total Conts. </th>
                        <th role="button"> Buyer </th>
                        <th role="button"> Status </th>
                        <th role="button"> Last Updated By </th>
                        <th role="button"> Last Updated On </th>
                        <th class="">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let truck of list.items">
                        <td>{{truck.cd}}</td>
                        <td>{{truck.issue_date}}</td>
                        <td>{{truck.sale_order_num}}</td>
                        <td>{{truck.estimated_departure_date}}</td>
                        <td>{{truck.estimated_arrival_date}}</td>
                        <td>{{truck.carrier_name}}</td>
                        <td>{{truck.freight_forwarder_name}}</td>
                        <td>{{truck.total_cartons}}</td>
                        <td>{{truck.total_container}}</td>
                        <td>{{truck.buyer_name}}</td>
                        <td>{{truck.sts_name}}</td>
                        <td>{{truck.updated_name}}</td>
                        <td>{{truck.updated_dt}}</td>
                        <td>
                            <!-- <button tooltip="View" placement="top" type="button" (click)="goToView(item.shipment_id)" class="btn btn-secondary"><i class="fa fa-eye"></i></button> -->
                            <button tooltip="Edit" placement="top" title="Edit" type="button" (click)="updateCarrier(truck.shipment_id)" class="btn btn-secondary"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                            <!-- <button tooltip="Delete" placement="top" title="Delete" type="button" (click)="deleteStyle(item.shipment_id)" class="btn btn-secondary" *ngIf="style.sts=='NW'"><i class="fa fa-trash-o" aria-hidden="true"></i></button> -->
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="row normal-pagination">
                <div class="col-md-6">
                    <div class="select-limit">
                        <span>1/2 items </span>
                        <select class="form-control" [(ngModel)]="tableService.pagination.length" (change)="tableService.changeLength()">
                                            <option *ngFor="let option of tableService.itemPerPageOptions" [ngValue]="option">{{option}}</option>
                                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                        <ngb-pagination (pageChange)="tableService.changePage($event)" [pageSize]="tableService.pagination.length" [collectionSize]="tableService.pagination.total_record || 120" [(page)]="tableService.pagination.page" [maxSize]="tableService.maxSize" [rotate]="true"
                        [boundaryLinks]="true"></ngb-pagination>
                </div>
            </div>
        </div>
    </div>

  

    <div class="test table">
        {{"index: " +selectedIndex}}
        <table class="table table-borderd" cdArrowTable [collection]="list.items" [(selectedIndex)]="selectedIndex" (onEnter)="selectData($event)">
            <thead>
                <tr>
                    <th sortColumn="test" [(sortParam)]="sortParams" (sortFn)="sortAction($event)">TEST</th>
                    <th sortColumn="test2" [(sortParam)]="sortParams" (sortFn)="sortAction($event)">TEST</th>
                    <th sortColumn="test3" [(sortParam)]="sortParams" (sortFn)="sortAction($event)">TEST</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of list.items; let i = index"  [ngClass]="{'row-selected': i == selectedIndex}">
                    <td>tets 1</td>
                    <td>tets 1</td>
                    <td>tets 1</td>
                </tr>

            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'primary'" [icon]="'fa-comments'" [count]="26" [label]="'New Comments!'"></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'warning'" [icon]="'fa-tasks'" [count]="12" [label]="'New task!'"></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'success'" [icon]="'fa-shopping-cart'" [count]="124" [label]="'New Orders!'"></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'danger'" [icon]="'fa-support'" [count]="13" [label]="'New Tickets!'"></app-stat>
        </div>
    </div>
    <hr />
    <ngb-alert [type]="alert.type" (close)="closeAlert(alert)" *ngFor="let alert of alerts">{{ alert.message }}</ngb-alert>
    <hr />
    <div class="row">
        <div class="col-lg-8">
            <div class="card card-default">
                <div class="card-header">
                    <i class="fa fa-clock-o fa-fw"></i> Responsive Timeline
                </div>
                <!-- /.card-header -->
                <app-timeline></app-timeline>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-4">
            <div class="card card-default mb-3">
                <div class="card-header">
                    <i class="fa fa-bell fa-fw"></i> Notifications card
                </div>
                <!-- /.card-header -->
                <app-notification></app-notification>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->

            <app-chat></app-chat>
            <!-- /.card .chat-card -->
        </div>
        <!-- /.col-lg-4 -->
    </div>
</div>