<nav id="topbar" class="custom">
    <div class="topbar-content">
        <div class="top-content">
            <ul class="nav-main main-menu">
                <ng-container *ngFor="let item of MENU_CONSTANT">
                    <li routerLinkActive="active"  *ngIf="!item.sub">
                        <a routerLink="{{item.link}}" [routerLinkActive]="['router-link-active']">
                        <i class="{{item.icon}}"></i>
                    </a>
                    </li>
                    <li routerLinkActive="active"  *ngIf="item.sub">
                        <a class="nav-submenu" [class.active]="showMenu === item.flag" (click)="addExpandClass(item.flag)">
                        <span class="topbar-mini-hide" >{{item.main_name}}</span>
                    </a>
                        <ul *ngIf="item.sub" class="dropdown-content" routerLinkActive="active-ul" [class.expand]="showMenu === item.flag">
                            <li routerLinkActive="active-li" *ngFor="let it of item.child">
                                <a routerLink="{{it.link}}" [routerLinkActive]="['router-link-active']">
                                <span class="topbar-mini-hide">{{it.name}}</span>
                            </a>
                            </li>
                        </ul>
                    </li>
                </ng-container>
            </ul>
        </div>
    </div>
</nav>


<!-- <nav id="topbar" class="custom">

    <div class="topbar-content" style="background:#fff">

        <div class="top-content">
            <ul class="nav-main main-menu">
                <li  routerLinkActive="active">
                    <a routerLink="/home" [routerLinkActive]="['router-link-active']">
                        <i class="fa fa-home"></i>
                    </a>
                </li>

                <li routerLinkActive="active">
                    <a class="nav-submenu" [class.active]="showMenu === 'dashboard'" (click)="addExpandClass('dashboard')">
                        <span class="topbar-mini-hide" >Dashboard</span>
                    </a>
                    <ul class="dropdown-content" routerLinkActive="active-ul" [class.expand]="showMenu === 'dashboard'">
                        <li routerLinkActive="active-li">
                            <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']">
                                <span class="topbar-mini-hide">Promotion Dashboard</span>
                            </a>

                        </li>
                        <li routerLinkActive="active-li">
                            <a routerLink="/blank-pages" [routerLinkActive]="['router-link-active']">
                                <span class="topbar-mini-hide">Overall Dashboard</span>
                            </a>

                        </li>
                    </ul>
                </li>

                <li routerLinkActive="active">
                    <a class="nav-submenu" [class.active]="showMenu === 'purchase'" (click)="addExpandClass('purchase')">
                        <span class="topbar-mini-hide" >Purchasing Management</span>
                    </a>
                    <ul class="dropdown-content" routerLinkActive="active-ul" [class.expand]="showMenu === 'purchase'">
                        <li routerLinkActive="active-li">
                            <a routerLink="/dashboards" [routerLinkActive]="['router-link-active']">
                                <span class="topbar-mini-hide">Purchase Quotation</span>
                            </a>

                        </li>
                        <li routerLinkActive="active-li">
                            <a routerLink="/blank-page" [routerLinkActive]="['router-link-active']">
                                <span class="topbar-mini-hide">Purchase Orders</span>
                            </a>

                        </li>
                    </ul>
                </li>

            </ul>
        </div>

    </div>

</nav> -->
