@import "~styles/bootstrap/bootstrap";

#topbar.custom {
    border-top: 1px solid #ccc;
    width: 100%;
    height: 51px;
    top: 0;
    border-bottom: 1px solid #ccc;
    background: #ddd;

    .topbar-content {
        background: $white;
    }

    .nav-main {
        margin: 0 -20px;
        padding: 0;
        list-style: none;

        li.active {
            a {
                &.nav-submenu {
                    &:before {
                        position: absolute;
                        top: 50%;
                        -webkit-transform: translateY(-50%);
                        -ms-transform: translateY(-50%);
                        transform: translateY(-50%);
                        right: 4px;
                        display: inline-block;
                        font-family: 'FontAwesome';
                        color: $white;
                        content: "\f104";
                    }
                }
            }

            ul.active-ul.expand {
                li.active-li {
                    a {
                        &:before {
                            position: absolute;
                            top: 50%;
                            -webkit-transform: translateY(-50%);
                            -ms-transform: translateY(-50%);
                            transform: translateY(-50%);
                            right: 4px;
                            display: inline-block;
                            font-family: 'FontAwesome';
                            color: $white;
                            content: "";
                        }
                    }
                }
            }
        }

        .nav-main-heading {
            padding: 22px 20px 6px;
            font-size: 12px;
            font-weight: 600;
            text-transform: uppercase;
            color: rgba(255, 255, 255, 0.3);
        }

        a {
            display: block;
            padding: 3px 12px;
            color: $black;
            font-size: 12px;

            &:focus,
            &:hover {
                background-color: $red-menu;
                color: $white !important;
                text-decoration: none;
            }

            &:focus > i,
            &:hover > i {
                color: $white !important;
            }

            &.active {
                &:hover,&:focus {
                    background-color: $red-menu;
                    color: $white !important;
                    text-decoration: none;
                    > i {
                        color: $white;
                    }
                }

                > i {
                    color: $white;
                }
            }

            > i {
                display: inline-block;
                min-width: 14px;
                color: $black;
            }

            &.nav-submenu {
                position: relative;
                padding-right: 13px;

                &:before {
                    position: absolute;
                    top: 50%;
                    -webkit-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    transform: translateY(-50%);
                    right: 4px;
                    display: inline-block;
                    font-family: 'FontAwesome';
                    color: $black;
                    content: "\f104";
                }
            }

            &.nav-submenu.active {
                position: relative;
                padding-right: 13px;

                &:before {
                    position: absolute;
                    top: 50%;
                    -webkit-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    transform: translateY(-50%);
                    right: 2px;
                    display: inline-block;
                    font-family: 'FontAwesome';
                    color: $white;
                    content: "\f107";
                }
            }
        }

        ul.active-ul.expand {
            li.active-li {
                a {
                    &:before {
                        position: absolute;
                        top: 50%;
                        -webkit-transform: translateY(-50%);
                        -ms-transform: translateY(-50%);
                        transform: translateY(-50%);
                        right: 4px;
                        display: inline-block;
                        font-family: 'FontAwesome';
                        color: $white;
                        content: "\f104";
                    }
                }
            }
        }
    }

    .nav-main {
        ul.active-ul.expand {
            height: auto;
            padding-left: 15px;
            margin-top: 1px;
        }

        ul {

            > li {
                -webkit-transition: all 0.25s ease-out;
                transition: all 0.25s ease-out;
                -webkit-transform: translateX(-0);
                -ms-transform: translateX(-0);
                transform: translateX(-0);
            }

            .nav-main-heading {
                padding-left: 0;
                padding-right: 0;
                color: rgba(255, 255, 255, 0.65);
            }

            a {
                font-size: 12px;
                color: $black;
                padding-left: 12px;

                &:focus,
                &:hover {
                    color: $white !important;
                    background-color: transparent;
                }

                > i {
                    margin-right: 10px;
                }
            }

            ul {
                padding-left: 12px;
            }
        }

        li.open > {
            a.nav-submenu {
                > i {
                    color: $white;
                }

                &:before {
                    content: "\f107";
                }
            }

            ul {
                height: auto;

                > li {
                    opacity: 1;
                    -webkit-transform: translateX(0);
                    -ms-transform: translateX(0);
                    transform: translateX(0);
                }
            }
        }
    }

    ul {
        list-style: none;
    }

    .top-content {
        margin: 0 auto;
        padding: 0 20px 1px;
        max-width: 100%;
        overflow-x: hidden;

        ul.nav-main {
            li.active {
                background: $red-menu;

                a {
                    color: $white;
                }

                ul.active-ul {
                    display: none;
                    height: auto;
                    margin: 1px 0 0 0;
                    padding: 0 0 0 0;


                    li.active-li {
                        background: $red-menu;
                        // margin-right: -15px;
                        a,
                        span {
                            color: $white;
                        }
                    }

                    li {
                        margin-right: 1px;
                        a,
                        span {
                            color: $black;
                        }

                    }
                }

                ul.active-ul.expand {
                    li.active {
                        background-color: $red-menu;
                        text-decoration: none;

                        a,
                        span {
                            color: $white;
                        }
                    }

                    li {
                        a,
                        span {
                            color: $black;
                        }
                    }

                    li.active-li {
                        background-color: $red-menu;

                        a,
                        span {
                            color: $white;
                        }
                    }
                }
            }

        }
    }

    .top-content {
        ul.nav-main {
            li {
                display: inline-block;
                cursor: pointer;
                // margin-left: 1px;
                margin-right: -2px;
                &:hover,&:focus {
                    background-color: $red-menu;
                    font-size: 12px;
                    text-decoration: none;
                    a {
                        color: $white;
                    }
                    ul.expand {
                        li {
                            color: $black;
                            a {
                                color: $black;
                            }
                            &:hover {
                                color: $white;
                                a {
                                    color: $white;
                                }
                            }
                        }
                    }
                }
                a {
                    color: $black;
                }
            }
        }
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        z-index: 1000;
    }

    .dropdown-content.expand {
        display: block !important;
        z-index: 1000;
        margin:1px 0 0 0;
        padding: 0;
        &:hover {
            li {
                a {
                    color: $black;
                }
            }
        }
    };
}
