<div [@routerTransition]>
    <app-page-header [heading]="'DETAIL INVOICE'" [icon]="'fa-th-list'"></app-page-header>
    <app-shortcut [listShortcut]='keyService.getKeys()'></app-shortcut>
    <section class="main-container block-order-detail">
        <div class="block-button">
            <ul class="list-btn-custom">
                <li *ngIf="detail['invoice_status_id'] == 1">
                    <button ngbTooltip="Click to Edit" data-toggle="tooltip" type="button" class="btn btn-default" (click)="editInvoice(invoiceId)">
                        <i class="fa fa-edit"></i>Edit
                    </button>
                </li>
                <li *ngIf="detail['invoice_status_id'] == 1">
                    <button ngbTooltip="Click to Submit" data-toggle="tooltip" type="button" class="btn btn-default" (click)="updateInvoiceStatus('SB')">
                        <i class="fa fa-envelope"></i>Submit
                    </button>
                </li>
                <li *ngIf="detail['invoice_status_id'] == 1">
                    <button ngbTooltip="Click to Cancel" data-toggle="tooltip" type="button" class="btn btn-default" (click)="cancelInvoice()">
                        <i class="fa fa-ban"></i>Cancel
                    </button>
                </li>
                <li *ngIf="detail['invoice_status_id'] == 2">
                    <button ngbTooltip="Click to Approved" data-toggle="tooltip" type="button" class="btn btn-default" (click)="updateInvoiceStatus('AP')">
                        <i class="fa fa-check-square"></i>Approved
                    </button>
                </li>
                <li *ngIf="detail['invoice_status_id'] == 2">
                    <button ngbTooltip="Click to Reject" data-toggle="tooltip" type="button" class="btn btn-default" (click)="updateInvoiceStatus('RJ')">
                        <i class="fa fa-times-circle"></i>Reject
                    </button>
                </li>
                <li *ngIf="detail['invoice_status_id'] == 3">
                    <button ngbTooltip="Click to Reopen" data-toggle="tooltip" type="button" class="btn btn-default" (click)="updateInvoiceStatus('NW')">
                        <i class="fa fa-folder-open"></i>Reopen
                    </button>
                </li>
                <li>
                    <button class="btn btn-outline-dark" (click)="back()">
                        <i class="fa fa-arrow-left"></i>Back
                    </button>
                </li>
            </ul>
        </div>
        <ngb-tabset>
            <ngb-tab title="Information">
                <ng-template ngbTabContent *ngIf="detail">
                    <app-invoice-info-tab [invoiceId]="invoiceId" [orderDetail]="detail"></app-invoice-info-tab>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Credit Memo">
                <ng-template ngbTabContent>
                    <app-invoice-credit-memo-tab></app-invoice-credit-memo-tab>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Debit Memo">
                <ng-template ngbTabContent>
                    <app-invoice-debit-memo-tab></app-invoice-debit-memo-tab>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Payment">
                <ng-template ngbTabContent>
                    <app-invoice-payment-tab></app-invoice-payment-tab>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Document">
                <ng-template ngbTabContent>
                    <app-invoice-document-tab></app-invoice-document-tab>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
    </section>
</div>
