<div [@routerTransition]>
    <app-page-header [heading]="headerTitle" [icon]="'fa-th-list'" *ngIf="isCreate"></app-page-header>
    <app-page-header [heading]="headerTitle" [icon]="'fa-th-list'" *ngIf="!isCreate"></app-page-header>
    <!-- <app-shortcut [listShortcut]='keyService.getKeys()'></app-shortcut> -->
    <section class="rma-page block main-container block-order">
        <div class="row">
            <div class="col-md-12 mg-top-15">
                <div class="block-border">
                    <h5 class="title-border" translate>GENERAL INFORMATION</h5>
                    <div class="row informaion">
                        <div class="col-md-12">
                            <form [formGroup]="generalForm" class="form-search full-width form-inline">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="code" class="control-label" translate>Customer</label>
                                        <span class="text-danger">(*)</span>
                                        <div>
                                            <ng-select style="width: 150px;" (change)="changeCustomer($event)" [items]="listMaster['customer']" bindLabel="customer.name" bindValue="customer.id" formControlName="company_id">
                                            </ng-select>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-12 fix-padding">
                            <div class="row">
                                <div class="col-md-3 customer-infomation">
                                    <div class="form-group row">
                                        <label class='col-4 control-label'>Address</label>
                                        <div class='col-8'>
                                            {{customer.primary[0]?.address_line}}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class='col-4 control-label'>City</label>
                                        <div class='col-8'>
                                            {{customer.primary[0]?.city_name}}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class='col-4 control-label'>State</label>
                                        <div class='col-8'>
                                            {{customer.primary[0]?.state_name}}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class='col-4 control-label'>Zip</label>
                                        <div class='col-8'>
                                            {{customer.primary[0]?.zip_code}}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class='col-4 control-label'>Country</label>
                                        <div class='col-8'>
                                            {{customer.primary[0]?.country_name}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 customer-infomation bolder">
                                    <form [formGroup]="generalForm">
                                        <div class="form-group row">
                                            <label class='col-4'>Invoice #
                                                <span class="text-danger">(*)</span>
                                            </label>
                                            <div class='col-8'>
                                                <strong>{{generalForm.value['inv_num']}}</strong>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class='col-4'>Issue Date
                                                <span class="text-danger">(*)</span>
                                            </label>
                                            <div class='col-8 text-danger'>
                                                <div clickOutside (clickOutside)="d.close()" class="input-group">
                                                    <input class="form-control" formControlName="inv_dt" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #d="ngbDatepicker" style="pointer-events: none;">
                                                    <div class="input-group-append">
                                                        <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                                                            <i class="fa fa-calendar" aria-hidden="true"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class='col-4'>Sales Order
                                                <span class="text-danger">(*)</span>
                                            </label>
                                            <div class='col-8 text-primary'>
                                                <!-- <select required class="form-control" id="order_type" name="order-type" (change)="changeSalesOrder(item)" formControlName="order_id">
                                                    <option *ngFor="let item of list_sales_order" [ngValue]="item.order.id">{{item.order.code}}</option>
                                                </select> -->
                                                <ng-select (change)="changeSalesOrder($event)" [items]="list_sales_order" bindLabel="order.code" bindValue="order.id" formControlName="order_id">
                                                </ng-select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class='col-4'>Invoice Type</label>
                                            <div class='col-8'>
                                                <!-- <strong *ngIf="isCreate">Sales Invoice</strong>
                                                <strong *ngIf="!isCreate">{{generalForm.value['inv_type']}}</strong> -->
                                                <strong>Sales Invoice</strong>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class='col-4'>Status</label>
                                            <div class='col-8 text-success' *ngIf="isCreate">
                                                <strong>1-NEW</strong>
                                            </div>
                                            <div class='col-8 text-success' *ngIf="!isCreate">
                                                <strong>{{generalForm.value['invoice_status_name']}}</strong>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-md-3 customer-infomation ">
                                    <form [formGroup]="generalForm">
                                        <div class="form-group row">
                                            <label class='col-4'>Payment Method
                                                <span class="text-danger">(*)</span>
                                            </label>
                                            <div class='col-8 text-primary'>
                                                <select class="form-control" id="payment_method" name="payment_method" formControlName="payment_method_id">
                                                    <!-- Workaround for IE 11 to prevent auto select first value -->
                                                    <option *ngIf="!generalForm.value.payment_method_id" [ngValue]="null" selected></option>
                                                    <option *ngFor="let item of listMaster['payment_method']" [ngValue]="item.id">{{item.name}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class='col-4'>Payment Term
                                                <span class="text-danger">(*)</span>
                                            </label>
                                            <div class='col-8 text-primary'>
                                                <select required class="form-control" formControlName="payment_term_id" (change)="changePaymentTerms()">
                                                    <!-- Workaround for IE 11 to prevent auto select first value -->
                                                    <option *ngIf="!generalForm.value.payment_term_id" [ngValue]="null" selected></option>
                                                    <option *ngFor="let item of listMaster['payment_terms']" [ngValue]="item.id">{{item.des}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class='col-4'>Due Date
                                                <span class="text-danger">(*)</span>
                                            </label>
                                            <div class='col-8'>
                                                <strong>{{generalForm.value['due_dt']}}</strong>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class='col-4'>Approver
                                                <span class="text-danger">(*)</span>
                                            </label>
                                            <div class='col-8 text-danger'>
                                                <!-- <select required class="form-control" id="priority" name="priority">
                                                    <option *ngFor="let item of listMaster['priority']" [ngValue]="item.code">{{item.value}}</option>
                                                </select> -->
                                                <ng-select [items]="listMaster['customer']" bindLabel="customer.name" bindValue="customer.id" formControlName="aprvr_id">
                                                </ng-select>
                                                <!-- <ng-select style="width: 150px;" (change)="changeCustomer($event)" [items]="listMaster['customer']" bindLabel="customer.name" bindValue="customer.id" formControlName="company_id">
                                                </ng-select> -->
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-md-3 customer-infomation bolder">
                                    <form [formGroup]="generalForm">
                                        <div class="form-group row">
                                            <label class='col-4'>Early Payment Incentive</label>
                                            <div class='col-8 text-danger'>
                                                <select class="form-control" formControlName="ear_payment_incentive">
                                                    <option *ngFor="let item of listMaster['yes_no_options']" [ngValue]="item.value">{{item.label}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class='col-4'>Apply Late Fee</label>
                                            <div class='col-8 text-danger'>
                                                <select class="form-control" formControlName="apply_late_fee">
                                                    <option *ngFor="let item of listMaster['yes_no_options']" [ngValue]="item.value">{{item.label}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mg-top-15">
                <div class="block-border full-block">
                    <h5 class="title-border" translate>CUSTOMER BILLING INFORMATION</h5>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="">
                                <div class="col-12">
                                    <div class="form-group row">
                                        <label class="control-label col-3" for="billing_to" translate> Name
                                            <span class="text-danger">(*)</span>
                                        </label>
                                        <div class="col-5">
                                            <form [formGroup]="generalForm">
                                                <select required class="form-control" formControlName="billing_address_id" id="billing_to" name="search_type" (change)="selectAddress('billing')">
                                                    <option *ngFor="let item of customer.billing" [ngValue]="item.address_id">{{item.label}}</option>
                                                </select>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group row">
                                        <label class="control-label col-3" translate>Address Line</label>
                                        <div class="col-8">
                                            {{addr_select.billing.address_line}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group row">
                                        <label class="control-label col-3" translate>Country</label>
                                        <div class="col-8">
                                            {{addr_select.billing.country_name}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group row">
                                        <label class=" control-label col-3" translate>State/Province</label>
                                        <div class="col-8">
                                            {{addr_select.billing.state_name}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group row">
                                        <label class=" control-label col-3" translate>City</label>
                                        <div class="col-8">
                                            {{addr_select.billing.city_name}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group row">
                                        <label class="control-label col-3" translate>Zip Code</label>
                                        <div class="col-8">
                                            {{addr_select.billing.zip_code}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mg-top-15">
                <div class="block-border full-block">
                    <h5 class="title-border" translate>CUSTOMER SHIPPING INFORMATION</h5>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="">
                                <div class="col-12">
                                    <div class="form-group row">
                                        <label class=" control-label col-3" for="shiping_to" translate> Name
                                            <span class="text-danger">(*)</span>
                                        </label>
                                        <div class="col-5">
                                            {{addr_select.shipping.address_name}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group row">
                                        <label class=" control-label col-3" translate>Address Line</label>
                                        <div class="col-8">
                                            {{addr_select.shipping.address_line}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group row">
                                        <label class="control-label col-3" translate>Country</label>
                                        <div class="col-8">
                                            {{addr_select.shipping.country_name}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group row">
                                        <label class=" control-label col-3" translate>State/Province</label>
                                        <div class="col-8">
                                            {{addr_select.shipping.state_name}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group row">
                                        <label class=" control-label col-3" translate>City</label>
                                        <div class="col-8">
                                            {{addr_select.shipping.city_name}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group row">
                                        <label class=" control-label col-3" translate>Zip Code</label>
                                        <div class="col-8">
                                            {{addr_select.shipping.zip_code}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mg-top-15">
                <div class="block-border">
                    <h5 class="title-border" translate>ITEMS INFORMATION</h5>
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-style table-order custom-table table-bg" cdArrowTable [collection]="list.items" [(selectedIndex)]="selectedIndex" (onEnter)="selectData($event)">
                                <thead>
                                    <tr>
                                        <th translate>No.</th>
                                        <th style="width:150px" translate>Item #</th>
                                        <th translate>Description</th>
                                        <th translate>Condition</th>
                                        <th translate>Order QTY</th>
                                        <th translate>UOM</th>
                                        <th translate>Invoice QTY</th>
                                        <th translate>Unit Price</th>
                                        <th translate>Price Source</th>
                                        <th translate>Discount %</th>
                                        <th translate>Final Price</th>
                                    </tr>
                                </thead>
                                <tr *ngIf="list['items'].length === 0">
                                    <td colspan="100%" class="text-center" translate>No data.</td>
                                </tr>
                                <tbody *ngFor="let item of list.items; let $index = index;">
                                    <tr>
                                        <td>{{$index+1}}</td>
                                        <td>{{item.sku}}</td>
                                        <td>{{item.des}}</td>
                                        <td></td>
                                        <td>{{item.qty}}</td>
                                        <td>{{item.uom_name}}</td>
                                        <td>{{item.qty}}</td>
                                        <td>{{item.price | currency:'$'}}</td>
                                        <td></td>
                                        <td>{{item.discount_percent}}</td>
                                        <td>{{item.total_price| currency:'$'}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-12 mg-top-15">
                        <div class="row">
                            <div class="col-md-4">
                                <label for="">Note</label>
                                <form [formGroup]="generalForm">
                                    <div>
                                        <textarea class="form-control" formControlName="note" name="" id="" rows="5" style="resize:none"></textarea>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-4">
                            </div>
                            <div class="col-md-4 clearfix">
                                <table class="table table-sub-product">
                                    <tr>
                                        <td>Sub Total:</td>
                                        <td></td>
                                        <!-- <td>{{generalForm.value['sub_tot'] | currency}}</td> -->
                                        <td>{{order_details['sub_total_price']|currency}}</td>
                                    </tr>
                                    <tr>
                                        <td>- Discount (%):</td>
                                        <!-- <td>{{generalForm.value['dsct_pct']}}%</td>
                                        <td>{{generalForm.value['dsct_amt'] | currency}}</td> -->
                                        <td>{{order_details['discount_percent']}}%</td>
                                        <td>{{order_details['discount'] | currency}}</td>
                                    </tr>
                                    <tr>
                                        <td>+ TAX/VAT (%):</td>
                                        <!-- <td>{{generalForm.value['tax_pct']}}%</td>
                                        <td>{{generalForm.value['tax_amt'] | currency}}</td> -->
                                        <td>{{order_details['vat_percent']}}%</td>
                                        <td>{{order_details['vat'] | currency}}</td>
                                    </tr>
                                    <tr>
                                        <td>+ Shipping cost ($):</td>
                                        <td></td>
                                        <!-- <td>{{generalForm.value['shp_cost'] | currency}}</td> -->
                                        <td>{{order_details['shipping'] | currency}}</td>
                                    </tr>
                                    <tr>
                                        <td>Total Due:</td>
                                        <td></td>
                                        <!-- <td>{{generalForm.value['tot_amt'] | currency}}</td> -->
                                        <td>{{order_details['total_price'] | currency}}</td>
                                    </tr>
                                    <tr>
                                        <td>- Early Payment Incentive:</td>
                                        <td>
                                            <input [textMask]="{mask: numberMaskObject()}" class="form-control" [(ngModel)]="order_info.discount_percent" class="form-control" type="text" (change)="updateTotal()">
                                        </td>
                                        <td>
                                            <input class="form-control" readonly="true" [(ngModel)]="order_info.total_discount" class="form-control" value="0" type="number">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" class="expire-warning">Expires YYYY-MM-DD</td>
                                    </tr>
                                    <tr>
                                        <td>Adjusted Total Due:</td>
                                        <td colspan="2">{{order_details['total_price'] | currency}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mg-top-15 text-center">
                <button type="button" class="btn btn-default" [routerLink]="['/financial/invoice']" translate>Back To List</button>
                <button type="button" class="btn btn-outline-warning" (click)="payloadData('draft')" [disabled]="!generalForm.valid || list.items.length == 0" *ngIf="generalForm.value['inv_status'] < 2" translate>Save As Draft</button>
                <button type="button" class="btn btn-outline-primary" (click)="payloadData('submit')" [disabled]="!generalForm.valid || list.items.length == 0" *ngIf="generalForm.value['inv_status'] < 2" translate>Save & Submit</button>
                <button type="button" class="btn btn-outline-info" (click)="payloadData('createnew')" [disabled]="!generalForm.valid || list.items.length == 0" *ngIf="generalForm.value['inv_status'] < 2" translate>Save & Create New Invoice</button>
            </div>
        </div>
    </section>
</div>
