<div [@routerTransition]>
    <app-page-header [heading]="'DETAIL INVOICE'" [icon]="'fa-th-list'"></app-page-header>
    <app-shortcut [listShortcut]='keyService.getKeys()'></app-shortcut>
    <section class="main-container block-order-detail">
        <!-- <div class="block-button">
            <ul class="list-btn-custom">
                <li *ngIf="orderDetail['order_sts_short_name'] == 'NW'"><button class="btn btn-outline-dark"><i class="fa fa-check-square"></i>Approve</button></li>
                <li><button class="btn btn-outline-dark"><i class="fa fa-edit"></i>Edit</button></li>
                <li><button class="btn btn-outline-dark"><i class="fa fa-clone"></i>Clone</button></li>
                <li><button class="btn btn-outline-dark" (click)="cancel()"><i class="fa fa-share-square" ></i>Cancel</button></li>
                <li><button class="btn btn-outline-dark"><i class="fa fa-trash"></i>Delete</button></li>
                <li><button class="btn btn-outline-dark"><i class="fa fa-print"></i>Print</button></li>
            </ul>
        </div> -->
        <ngb-tabset>
            <ngb-tab title="Information">
                <ng-template ngbTabContent>
                    <app-invoice-info-tab [invoiceId]="invoiceId"></app-invoice-info-tab>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Credit Memo">
                <ng-template ngbTabContent>
                    <app-invoice-credit-memo-tab></app-invoice-credit-memo-tab>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Debit Memo">
                <ng-template ngbTabContent>
                    <app-invoice-debit-memo-tab></app-invoice-debit-memo-tab>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Payment">
                <ng-template ngbTabContent>
                    <app-invoice-payment-tab></app-invoice-payment-tab>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Document">
                <ng-template ngbTabContent>
                    <app-invoice-document-tab></app-invoice-document-tab>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
    </section>
</div>
