<div [@routerTransition]>
        <app-page-header [heading]="'DETAIL CREDIT MEMO'" [icon]="'fa-th-list'"></app-page-header>
        <app-shortcut [listShortcut]="data['shortcut']"></app-shortcut>
        <section class="main-container block-order-detail">
            <ngb-tabset #tabSet class="tabs-order full-width">
                <ngb-tab id='0' title="Information">
                    <ng-template ngbTabContent>
                        <app-credit-info-tab [creditId]="creditId"></app-credit-info-tab>
                    </ng-template>
                </ngb-tab>
                <ngb-tab id='1' title="Payment">
                    <ng-template ngbTabContent>
                        <app-invoice-payment-tab></app-invoice-payment-tab>
                    </ng-template>
                </ngb-tab>
                <ngb-tab id='2' title="History">
                    <ng-template ngbTabContent>
                        <app-credit-history-tab [creditId]= "creditId"></app-credit-history-tab>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
        </section>
    </div>
