.report-table {
    thead {
        th {
            border-bottom-width: 1px !important;
        }
    }
    .report-row {
        > td {
            padding: 0 !important;
            border: none;
            table {
                width: 100%;
                thead {
                    visibility: collapse;
                    th {
                       border: none;
                    }
                }
                tbody {
                    tr:last-child {
                        td {
                            border: none;
                        }
                    }
                }
                // td, th {
                //     border: none;
                // }
            }
        }
    }
    table {
        thead {
            tr {
                th {
                    color: #000000 !important;
                    font-size: 12px !important;
                }
            }
        }

        tbody {
            tr {
                td {
                    color: #757575;
                    &:not(:last-child) {
                        border-right: none;
                    }
                    &:not(:first-child) {
                        border-left: none;
                    }
                }
            }
        }
    }
}

.summary-table {
    table {
        tbody {
            tr {
                td {
                    // border-top: none;
                    &:not(:last-child) {
                        border-right: none;
                    }
                    &:not(:first-child) {
                        border-left: none;
                    }
                }

                &:not(:last-child) {
                    td {
                        // border-bottom: none;
                    }
                }
            }
        }
    }
}

.font-bold {
    color: #000000 !important;
    font-size: 12px !important;
}

.show-more {
    width: auto;
    border: 1px solid #ccc;
    position: absolute;
    background: #ffffff;
    z-index: 5001;
    padding: 10px 0px;
    top: 0;
    right: 0;
    margin-top: 25px;
    text-align: left;
    min-width: 150px;
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            a {
                padding: 0px 10px;
            }
        }
    }
}

.selected-row {
    tr:hover {
        background: #eaeaea !important;
    }
}
